{% extends 'base.html' %}
{% load urlname_tags organilab_tags i18n static %}

{% block pre_head %}
	{% define_urlname_action 'platform_systemparameter' %}
{% endblock %}

{% block title %}{% trans 'System parameters' %}{% endblock %}
{% block content %}
	<input type="hidden" value="{{ org_pk }}" id="org">
	<div class="card mt-2">
		<div class="card-body">
			<div class="card-title titles">
				<h1 class="text-center">{% trans 'System parameters' %}</h1>
				<p class="text-center text-muted">
					{% trans 'A value set here applies to this organization and its children, unless a child sets its own. Restore to use the inherited value again.' %}
				</p>
			</div>
			<div class="row mt-3">
				<div class="col-12">
					<table class="table table-hover table-striped w-100 table-responsive" id="table-systemparameter"></table>
				</div>
			</div>
		</div>
	</div>

	{% url "platform:api-systemparameter-detail" org_pk "0" as detail_obj_url %}
	{% trans 'Update parameter' as update_obj_title %}
	{% include 'gentelella/blocks/modal_template.html' with form=form_update form_id="update_obj_form" id="update_obj_modal" title=update_obj_title principal_class='modal-md' url=detail_obj_url %}
{% endblock %}

{% block js %}
	{{ block.super }}
	<script>
		const object_urls = {
			list_url: "{% url 'platform:api-systemparameter-list' org_pk %}",
			get_values_for_update_url: "{% url 'platform:api-systemparameter-get-values-for-update' org_pk '0' %}",
			update_url: "{% url 'platform:api-systemparameter-detail' org_pk '0' %}",
		};
		const restore_url = "{% url 'platform:api-systemparameter-restore' org_pk '0' %}";
	</script>
	<script src="{% static 'presentation/platform/systemparameter.js' %}?v={% get_organilab_version %}"></script>
{% endblock %}
