{% load static i18n %}

<div id="wizard" class="form_wizard wizard_horizontal">
    <ul class="wizard_steps anchor">
        <li>
            <a href="{% url 'sga:sgalabel_step_one' organilabcontext org_pk sgalabel.pk %}" class="{% if step == 1 %}selected{%else%}disabled{% endif %}" isdone="0" rel="1">
                <span class="step_no">1</span>
                <span class="step_descr">{% trans 'Label Components' %}</span>
            </a>
        </li>

        <li>
            <a href="{% url 'sga:sgalabel_step_two' organilabcontext org_pk sgalabel.pk %}" class="{% if step == 2 %}selected{%else%}disabled{% endif %}" isdone="0" rel="3">
                <span class="step_no">2</span>
                <span class="step_descr">{% trans 'Label editor' %}</span>
            </a>
        </li>
    </ul>
</div>