{% extends 'base.html' %}
{% load static i18n %}
{% block extra_css %}
 <link rel="stylesheet" href="{% static 'formio/formio.full.min.css' %}">
{% endblock %}

{% block content %}
    <div class="container text-center">
        <h1 id="form_name"> </h1>
        <a title="{% trans 'Rename' %}" onclick="editForm()" class="btn btn-sm btn-secondary edit_name_btn" ><span class="fa fa-edit"></span> {% trans 'Rename' %}</a>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-md-12 d-grid pt-5 text-center">
                <button class="btn btn-primary btn-block" id="save_btn" name="" onclick="save_form_schema()">{% trans 'Save' %}</button>
            </div>
        </div>
        <div class="row pt-2">
            <div id='formio' class="col-md-12 pt-2"></div>
        </div>

        <br>
        <button class="btn btn-sm btn-primary" onclick="save()" title="Form List" style="float: right;">{% trans 'Return to Form List' %}</button>
    </div>
    {% endblock %}

    {% block js %}
<script>
const translations_form = {
    update_title: "{% trans 'Update Form Name' %}",
    btn_update: "{% trans 'Update' %}",
    btn_cancel: "{% trans 'Cancel' %}",
    update_text: "{% trans 'Name' %}",
    update_error_text: "{% trans 'The form could not be updated.' %}",
    update_success_text: "{% trans 'The form name has been updated.' %}",
    update_success_title: "{% trans 'Updated!' %}",
    return_title: "{% trans 'Save or discard your changes to proceed' %}",
    return_text: "{% trans 'Discarding cannot be undone.' %}",
    return_save: "{% trans 'Save' %}",
    return_discard: "{% trans 'Discard' %}",
    return_success_title: "{% trans 'Saved!' %}",
    return_success_text: "{% trans 'The form name has been saved!' %}",
}
</script>
    <script type="text/javascript" src="{% static 'formio/formio.full.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'formio/CustomSection.js' %}"></script>
    <script type="text/javascript" src="{% static 'formio/CustomTextInput.js' %}"></script>

<script>
    window.urls = {
    editview: "{% url 'derb:edit_view' %}",
    formlist: "{% url 'derb:form_list' %}"
    }
</script>
    <script type="text/javascript">
        var form_schema;
        var saved = {{ saved_schema | safe }};    
        document.getElementById("form_name").textContent = saved.name;

        function save() {
            saved.name = document.getElementById("form_name").textContent;
            redirectSave();
        }

    </script>
    <script src="{% static 'js/edit_view.js' %}"></script>
    <script src="{% static 'formio/FormioController.js' %}"></script>
    <script>
$( window ).on( "load", function() {
});
    </script>
    {% endblock %}

</html>