{% extends 'base.html' %}
{% load static i18n %}
{% load gtsettings %}
{% block pre_head %}
    {% define_true "use_datatables" as use_datatables %}
{% endblock %}

{% block title %}{% trans 'Report Template List' %}{% endblock %}

{% block content %}

<div class="card-title titles">
    <div  class="row" >
        <div  class="col-md-9" >
            <h1 >
                My Forms
            </h1>
        </div>
        <div class="col-md-3 align-self-center">
            <button title="Create form"
                    type="button"
                    class="btn btn-sm btn-primary create_btn" >Create Form</button>
        </div>
    </div>
</div>
<br>

<div align="center">
    <div id="forms" style="width: 90%;">
        {% csrf_token %}
        <script>
                    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
                </script>
        <table class="table table-hover table" id="form_table">
            <thead>
            <tr>
                <th>
                    Form Name
                </th>

                <th>
                    Status
                </th>

                <th>
                    &nbsp;
                </th>
            </tr>
            </thead>
            <tbody>

            {% for form in forms %}

            <tr id="tr_{{ form.id }}">

                <td>
                    {{form.name}}
                </td>

                <td id="n">
                    {{ form.status}}
                </td>

                <td style="width: 120px">
                    <a title="Preview form" class="btn btn-sm btn-default preview_btn" form_id="{{ form.id }}" href="{% url 'derb:preview_form' form.id %}"><span class="glyphicon glyphicon-eye-open"></span></a>
                    <a title="Edit form" class="btn btn-sm btn-default edit_btn" form_id="{{ form.id }}"><span class="glyphicon glyphicon-pencil"></span> </a>
                    <a title="Delete form" class="btn btn-sm btn-default delete_btn" form_id="{{ form.id }}" form_name="{{form.name}}"><span class="glyphicon glyphicon-trash"></span> </a>

                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}


{% block js %}
<script src="{% static 'js/list.js' %}"></script>
<script>
window.urls = {
    delete: "{% url 'derb:delete_form' '0' %}",
    editview: "{% url 'derb:edit_view' %}",
    formlist: "{% url 'derb:form_list' %}",
    edit: "{% url 'derb:edit_view' 0 %}",
    create: "{% url 'derb:create_form' %}"
}
</script>
<script>
        $(document).ready(loadDataTable);
        $('body').on('click', '.delete_btn', deleteForm);
        $('body').on('click', '.create_btn', createForm);
        $('body').on('click', '.edit_btn', editForm);
</script>
{% endblock %}