{% extends 'base.html' %}
{% load static i18n %}
{% load organilab_tags %}

{% block extra_css %}
    <link rel="stylesheet" href="https://cdn.form.io/formiojs/formio.full.min.css">
{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <h1 id="form_name"> </h1>
    </div>
    
    <div class="page-content">
        <div class="container">
          <div id="formio">
          </div>
          <button class="btn btn-primary" title="Return to Form List" onclick="window.location='{% url 'derb:form_list' org_pk %}';" style="float: right;">
              {% trans 'Return to Form List' %}</button>
        </div>
      </div>  
                                
{% endblock %}

{% block js %}
    <script src="https://cdn.form.io/formiojs/formio.full.min.js"></script>
    <script type="text/javascript" src="{% static 'formio/CustomSection.js' %}?v={% get_organilab_version %}"></script>
    <script type="text/javascript">
        var schema = {{ schema | safe }};

        document.getElementById("form_name").textContent = schema.name;
        var components = { components: schema["components"] };
        
        window.onload = function(schema) {
            Formio.createForm(document.getElementById('formio'), components);
        }

    </script>
{% endblock %}

</html>