{% extends 'formBuilder/base.html' %}
{% load static %}
<!DOCTYPE html>

<html lang="en">
    {% block head %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.form.io/formiojs/formio.full.min.css">
    <script src="https://cdn.form.io/formiojs/formio.full.min.js"></script>
    <script type="text/javascript" src="{% static 'formio/CustomSection.js' %}"></script>

    {% endblock %}

    {% block content %}
    <div class="row justify-content-center">
        <h1 id="form_name"> </h1>
    </div>
    
    <div class="page-content">
        <div class="container">
          <div id="formio"></div>
          <button class="btn btn-default" title="Return to Form List" onclick="window.location='{% url 'derb:form_list' %}';" style="float: right;">Return to Form List</button>
        </div>
      </div>  
                                
    {% endblock %}

    {% block javascript %}
    <script type="text/javascript">
        var schema = {{ schema | safe }};    
        document.getElementById("form_name").textContent = schema.name;

        var components = { components: schema["components"] };
        
        window.onload = function(schema) {
            Formio.createForm(document.getElementById('formio'), components);
        }

    </script>
    {% endblock %}

</html>