{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load urlname_tags %}
{% load gtsettings %}
{% block pre_head %}
	{% define_urlname_action 'objectview_list' %}
	{% define_urlname_action 'equipment_manager' %}
{% endblock %}

{% block title %}{% trans 'Equipment List' %}{% endblock %}

{% block content %}
	<h1 class="text-center">{% trans 'Equipment List' %}</h1>

	<div class="row">

		<div class="btn-toolbar justify-content-between" aria-label="Control button">
			<div class="btn-group" role="group">
				{% if perms.laboratory.view_provider %}
					<a target="_blank" class="btn btn-outline-primary"
								href="{% url 'laboratory:provider_view' org_pk=org_pk lab_pk=lab_pk %}">{% trans 'Provider' %}</a>
				{% endif %}

				{% if perms.laboratory.view_objectfeatures %}
					<a target="_blank" class="btn btn-outline-primary"
								href="{% url 'laboratory:objectfeatures_view' org_pk=org_pk lab_pk=lab_pk %}">{% trans 'Object features' %}</a>
				{% endif %}

				{% if perms.laboratory.view_catalog %}
					<a target="_blank" href="{% url 'laboratory:instrumentalfamily_list' org_pk=org_pk lab_pk=lab_pk %}"
								class="btn btn-outline-primary">{% trans 'Instrumental family' %}</a>
				{% endif %}

				{% if perms.laboratory.view_equipmenttype %}
					<a target="_blank" href="{% url 'laboratory:equipmenttype_list' org_pk=org_pk lab_pk=lab_pk %}"
								class="btn btn-outline-primary">{% trans 'Equipment type' %}</a>
				{% endif %}
			</div>
		</div>
		<table class="table table-striped w-100 table-responsive" id="equipment_table"></table>
	</div>

	{% url "laboratory:api-equipment-list" org_pk lab_pk as list_obj_url %}
	{% trans 'Create equipment' as create_obj_tittle %}
	{% include 'gentelella/blocks/modal_template.html' with form=create_form id="create_obj_modal" title=create_obj_tittle form_id="create_obj_form" url=list_obj_url principal_class="modal-lg" %}

	{% url "laboratory:api-equipment-detail" org_pk lab_pk 0 as detail_obj_url %}
	{% trans 'Update equipment' as update_obj_tittle %}
	{% include 'gentelella/blocks/modal_template.html' with form=update_form id="update_obj_modal" title=update_obj_tittle form_id="update_obj_form" url=detail_obj_url principal_class="modal-lg" %}

	{% include 'gentelella/blocks/modal_template_delete.html' with form=delete_form id="delete_obj_modal" form_id="delete_obj_form" url=detail_obj_url %}

	<!-- Modal de Detalle de Equipo -->
	<div class="modal fade" id="equipment_detail_modal" tabindex="-1" role="dialog" aria-labelledby="equipment_detail_modalLabel" aria-hidden="true">
		<div class="modal-dialog modal-xl" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="equipment_detail_modalLabel">{% trans 'Equipment Detail' %}</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{% trans 'Close' %}"></button>
				</div>
				<div class="modal-body" id="equipment_detail_modal_body">
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans 'Close' %}</button>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
{% block js %}
	{{ block.super }}
	<script>
		window.name = "equipmentlistview";

		const selects2_api_urls = {
			equipmenttype: "{% url 'equipmenttype-list' %}" + "?organization=" + "{{org_pk}}" + "&laboratory=" + "{{lab_pk}}"+"&lab_pk="+"{{lab_pk}}"+"&org_pk="+"{{org_pk}}"
		}

		var object_urls = {
			list_url: "{% url 'laboratory:api-equipment-list' org_pk lab_pk %}",
			create_url: "{% url 'laboratory:api-equipment-list' org_pk lab_pk %}",
			destroy_url: "{% url "laboratory:api-equipment-detail" org_pk lab_pk 0 %}",
			update_url: "{% url "laboratory:api-equipment-detail" org_pk lab_pk 0 %}",
			detail_url: "{% url "laboratory:api-equipment-detail" org_pk lab_pk 0 %}"
		}

		datatable_inits = {
			columns: [
				{data: "id", name: "id", title: gettext("Id"), type: "string", visible: false},
				{data: "code", name: "code", title: gettext("Code"), type: "string", visible: true},
				{data: "name", name: "name", title: gettext("Name"), type: "string", visible: true},
				{
					data: "equipment_type",
					name: "equipmentcharacteristics__equipment_type",
					title: gettext("Equipment Type"),
					type: "select2",
					visible: true,
					url: selects2_api_urls['equipmenttype'],
					render: selectobjprint({display_name: "text"})
				},
				{data: "actions", name: "actions", title: gettext("Actions"), type: "string", visible: true}
			],
			addfilter: true
		}
		let has_perm = {{ perms.laboratory.add_object|yesno:"true,false" }};
		var equipment_modalids = {
			destroy: "#delete_obj_modal",
			update: "#update_obj_modal"
		}
		if (has_perm) {
			equipment_modalids.create = "#create_obj_modal";
		}

		var equipment_actions = {
			table_actions: [],  //table_actions
			object_actions: [
				{
					'name': 'view_detail',
					'action': 'view_detail',
					'title': gettext('View Detail'),
					'in_action_column': true,
					'i_class': 'fa fa-eye',
				}
			],
			title: gettext('Actions'),
			className: "no-export-col"
		}

		icons = {
			create: '<i class="fa fa-plus" aria-hidden="true"></i>',
			clear: '<i class="fa fa-eraser" aria-hidden="true"></i>',
			detail: 'fa fa-eye',
			update: 'fa fa-edit me-1 fa-lg',
			destroy: 'fa fa-trash fa-lg'
		}

		let objconfig = {
			urls: object_urls,
			datatable_element: "#equipment_table",
			modal_ids: equipment_modalids,
			actions: equipment_actions,
			datatable_inits: datatable_inits,
			add_filter: true,
			relation_render: {'field_autocomplete': 'text'},
			delete_display: data => data['name'],
			create: "btn-success",
			icons: icons
		}


		let ocrud = ObjectCRUD("equipmentcrudobj", objconfig)

		ocrud.view_detail = function(obj, action) {
			let detail_url = object_urls.detail_url.replace('/0/', '/' + obj.id + '/');
			fetch(detail_url, {
				method: 'GET',
				headers: {
					'Content-Type': 'application/json',
					'X-CSRFToken': getCookie('csrftoken')
				}
			})
			.then(response => response.json())
			.then(data => {
				buildEquipmentDetailModal(data);
				$('#equipment_detail_modal').modal('show');
			})
			.catch(error => {
				console.error('Error fetching equipment detail:', error);
			});
		}

		function buildEquipmentDetailModal(data) {
			const modalBody = document.getElementById('equipment_detail_modal_body');
			modalBody.innerHTML = '';

			const modalLabel = document.getElementById('equipment_detail_modalLabel');
			modalLabel.textContent = data.name || gettext('Equipment Detail');

			let html = '<div class="container-fluid">';
			html += '<div class="row">';

			// Columna izquierda - Datos del Object
			html += '<div class="col-md-6">';
			html += '<h5 class="border-bottom pb-2 mb-3">' + gettext('General Information') + '</h5>';
			html += '<table class="table table-sm table-striped">';
			html += '<tbody>';
			html += buildTableRow(gettext('Code'), data.code);
			html += buildTableRow(gettext('Name'), data.name);
			html += buildTableRow(gettext('Synonym'), data.synonym);
			html += buildTableRow(gettext('Description'), data.description);
			html += buildTableRow(gettext('Model'), data.model);
			html += buildTableRow(gettext('Serie'), data.serie);
			html += buildTableRow(gettext('Plaque'), data.plaque);
			html += '</tbody></table>';

			// Features
			if (data.features && data.features.length > 0) {
				html += '<h6 class="mt-3">' + gettext('Features') + '</h6>';
				html += '<ul class="list-group list-group-flush">';
				data.features.forEach(function(feature) {
					html += '<li class="list-group-item py-1">' + feature.name + '</li>';
				});
				html += '</ul>';
			}
			html += '</div>';

			// Columna derecha - Equipment Characteristics
			html += '<div class="col-md-6">';
			html += '<h5 class="border-bottom pb-2 mb-3">' + gettext('Equipment Characteristics') + '</h5>';

			if (data.equipment_characteristics) {
				const ec = data.equipment_characteristics;
				html += '<table class="table table-sm table-striped">';
				html += '<tbody>';
				html += buildTableRow(gettext('Calibration Required'), ec.calibration_required ? gettext('Yes') : gettext('No'));
				html += buildTableRow(gettext('Operation Voltage'), ec.operation_voltage);
				html += buildTableRow(gettext('Operation Amperage'), ec.operation_amperage);
				html += buildTableRow(gettext('Use Specials Conditions'), ec.use_specials_conditions);
				html += buildTableRow(gettext('Generate Pathological Waste'), ec.generate_pathological_waste ? gettext('Yes') : gettext('No'));
				html += buildTableRow(gettext('Clean Period According to Provider'), ec.clean_period_according_to_provider);
				if (ec.instrumental_family) {
					html += buildTableRow(gettext('Instrumental Family'), ec.instrumental_family.description);
				}
				if (ec.equipment_type) {
					html += buildTableRow(gettext('Equipment Type'), ec.equipment_type.name);
				}
				html += '</tbody></table>';

				// Providers
				if (ec.providers && ec.providers.length > 0) {
					html += '<h6 class="mt-3">' + gettext('Providers') + '</h6>';
					html += '<ul class="list-group list-group-flush">';
					ec.providers.forEach(function(provider) {
						html += '<li class="list-group-item py-1">' + provider.name + '</li>';
					});
					html += '</ul>';
				}

				// Use Manual Link
				if (ec.use_manual && ec.use_manual.url) {
					html += '<div class="mt-3">';
					html += '<a href="' + ec.use_manual.url + '" target="_blank" class="btn btn-outline-primary btn-sm">';
					html += '<i class="fa fa-file-pdf-o"></i> ' + gettext('Download Use Manual');
					html += '</a></div>';
				}
			} else {
				html += '<p class="text-muted">' + gettext('No equipment characteristics available') + '</p>';
			}

			html += '</div>';
			html += '</div>';
			html += '</div>';

			modalBody.innerHTML = html;
		}

		function buildTableRow(label, value) {
			return '<tr><td class="fw-bold" style="width: 40%;">' + label + '</td><td>' + (value || '-') + '</td></tr>';
		}

		function getCookie(name) {
			let cookieValue = null;
			if (document.cookie && document.cookie !== '') {
				const cookies = document.cookie.split(';');
				for (let i = 0; i < cookies.length; i++) {
					const cookie = cookies[i].trim();
					if (cookie.substring(0, name.length + 1) === (name + '=')) {
						cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
						break;
					}
				}
			}
			return cookieValue;
		}

		ocrud.init();


	</script>
{% endblock %}
