{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load urlname_tags %}
{% load gtsettings %}
{% block pre_head %}
    {% define_urlname_action 'objectview_list' %}
    {% define_urlname_action 'equipment_manager' %}
{% endblock %}

{% block title %}{% trans 'Equipment List' %}{% endblock %}

{% block content %}
<h1 class="text-center">{% trans 'Equipment List' %}</h1>

<div class="row">

<div class="btn-toolbar justify-content-between"  aria-label="Control button">
	<div class="btn-group" role="group">
		 {% if perms.laboratory.add_provider %}
  <a target="_blank" href="{% url 'laboratory:list_provider'  org_pk=org_pk lab_pk=lab_pk %}" class="btn btn-outline-primary">{% trans 'Provider' %}</a>
  	{% endif %}
		{% if perms.laboratory.add_objectfeatures %}
		<a  target="_blank" href="{% url 'laboratory:object_feature_create' org_pk=org_pk lab_pk=lab_pk %}" class="btn btn-outline-primary">{% trans 'Object features' %}</a>
		{% endif %}
		{% if perms.laboratory.view_catalog %}
  <a  target="_blank" href="{% url 'laboratory:instrumentalfamily_list' org_pk=org_pk lab_pk=lab_pk %}" class="btn btn-outline-primary">{% trans 'Instrumental family' %}</a>
  {% endif %}
		{% if perms.laboratory.view_equipmenttype %}
		<a  target="_blank" href="{% url 'laboratory:equipmenttype_list' org_pk=org_pk lab_pk=lab_pk %}" class="btn btn-outline-primary">{% trans 'Equipment type' %}</a>
		{% endif %}
	</div>
</div>
	<table class="table table-striped w-100 table-responsive" id="equipment_table"></table>
</div>

{% url "laboratory:api-equipment-list" org_pk lab_pk as list_obj_url %}
{% trans 'Create equipment' as create_obj_tittle %}
{% include 'gentelella/blocks/modal_template.html' with form=create_form id="create_obj_modal" title=create_obj_tittle form_id="create_obj_form" url=list_obj_url %}

{% url "laboratory:api-equipment-detail" org_pk lab_pk 0 as detail_obj_url %}
{% trans 'Update equipment' as update_obj_tittle %}
{% include 'gentelella/blocks/modal_template.html' with form=update_form id="update_obj_modal" title=update_obj_tittle form_id="update_obj_form" url=detail_obj_url %}

{% include 'gentelella/blocks/modal_template_delete.html' with form=delete_form id="delete_obj_modal" form_id="delete_obj_form" url=detail_obj_url %}

{% endblock %}
{% block js %}
{{block.super}}
<script>
window.name = "equipmentlistview";

	const selects2_api_urls = {
					equipmenttype : "{% url 'equipmenttype-list' %}"+"?organization="+"{{org_pk}}"+"&laboratory="+"{{lab_pk}}"
	}

var object_urls = {
	list_url: "{% url 'laboratory:api-equipment-list' org_pk lab_pk %}",
	create_url: "{% url 'laboratory:api-equipment-list' org_pk lab_pk %}",
	destroy_url: "{% url "laboratory:api-equipment-detail" org_pk lab_pk 0 %}",
	update_url: "{% url "laboratory:api-equipment-detail" org_pk lab_pk 0 %}"
}

table_default_dom = "<'row mb-1'<'col-sm-4 col-md-4 d-flex align-items-center justify-content-start'f>" +
                 "<'col-sm-4 col-md-4 d-flex align-items-center justify-content-center'B>" +
                 "<'col-sm-3 col-md-3 d-flex align-items-center justify-content-end 'l>>" +
                 "<'row'<'col-sm-12'tr>><'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>";

datatable_inits = {
			columns: [
							{data: "id", name: "id", title: gettext("Id"), type: "string", visible: false},
							{data: "code", name: "code", title: gettext("Code"), type: "string", visible: true},
							{data: "name", name: "name", title: gettext("Name"), type: "string", visible: true},
							{data: "equipment_type", name: "equipmentcharacteristics__equipment_type", title: gettext("Equipment Type"),
						 type: "select2", visible: true, url: selects2_api_urls['equipmenttype'], render: selectobjprint({display_name: "text"})},
							{data: "actions", name: "actions", title: gettext("Actions"), type: "string", visible: true}
		],
		addfilter: true,
		dom: table_default_dom
}
var equipment_modalids = {
	create: "#create_obj_modal",
	destroy: "#delete_obj_modal",
	update: "#update_obj_modal"
}

var equipment_actions = {
	 table_actions: [],  //table_actions
	 object_actions: [],
		title: gettext('Actions'),
		className:  "no-export-col"
}

icons= {
				create: '<i class="fa fa-plus" aria-hidden="true"></i>',
				clear: '<i class="fa fa-eraser" aria-hidden="true"></i>',
				detail: 'fa fa-eye',
				update: 'fa fa-edit me-1 fa-lg',
				destroy: 'fa fa-trash fa-lg'
}

let objconfig={
	urls: object_urls,
	datatable_element: "#equipment_table",
	modal_ids: equipment_modalids,
	actions: equipment_actions,
	datatable_inits: datatable_inits,
	add_filter: true,
	relation_render: {'field_autocomplete': 'text' },
	delete_display: data => data['name'],
	create: "btn-success",
	icons: icons
}


let ocrud=ObjectCRUD("equipmentcrudobj", objconfig)
ocrud.init();


</script>
{% endblock %}
