{% extends 'base.html' %}

{% load i18n static %}
{% load zinnia %}

   	{% block extrameta%}
    <link rel="index" href="{% url 'zinnia:entry_archive_index' %}" />
    <link rel="author" type="text/plain" href="{% url 'zinnia:humans' %}" />
    <link rel="EditURI" type="application/rsd+xml" href="{% url 'zinnia:rsd' %}" />
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="{% url 'zinnia:wlwmanifest' %}" />
    <link rel="search" type="application/opensearchdescription+xml" title="Zinnia's Weblog" href="{% url 'zinnia:opensearch' %}" />
    <link rel="alternate" type="application/rss+xml" title="{% trans "RSS feed of last entries" %}" href="{% url 'zinnia:entry_feed' %}" />
    <link rel="alternate" type="application/rss+xml" title="{% trans "RSS feed of last discussions" %}" href="{% url 'zinnia:discussion_feed' %}" />
    <link rel="home" href="{% url 'zinnia:entry_archive_index' %}" />
    <link rel="stylesheet" type="text/css" media="print" href="{% static "zinnia/theme/css/print.css" %}" />
    <!--[if lt IE 8]>
        <link rel="stylesheet" type="text/css" media="screen, projection" href="{% static "zinnia/theme/css/ie.css" %}" />
    <![endif]-->
	{% endblock %}

{% block bodyklss %}
class="zinnia default"
{% endblock %}

  {% block wrapcontent %}
  
<div id="site_content">
  <div class="{% block container %}container{% endblock %}">
<div class="row">
  <div class="col-xs-12 col-md-8">
  	<div class="row">
         <form class="form-inline" method="get" action="{% url 'zinnia:entry_search' %}">
          <div class="form-group">
            <input class="form-control" type="text" name="pattern" placeholder="{% trans "Keywords..." %}" {% if pattern %}value="{{ pattern }}"{% endif %} />
          </div>
            <input type="submit" class="btn btn-default" value="{% trans 'Search' %}" />
       
        </form>
      </div>
   <div class="row">
       {% block content %}
    	{% endblock %}
   </div>
  
  </div>
  <div class="col-xs-6 col-md-4">
 
<aside id="widget-recents" class="widget panel panel-default">
<div class="panel-body">
  <h3>{% trans "Recent entries" %}</h3>
  {% get_recent_entries %}
</div>
</aside> 
 <aside id="widget-categories" class="widget panel panel-default">
<div class="panel-body">
  <h3>
    <a href="{% url 'zinnia:category_list' %}">{% trans "Categories" %}</a>
  </h3>
  {% get_categories %}
</div>
</aside>

<aside id="widget-tags" class="widget panel panel-default">
<div class="panel-body">
  <h3>
    <a href="{% url 'zinnia:tag_list' %}">{% trans "Tags" %}</a>
  </h3>
  {% get_tag_cloud %}
</div>
</aside>
{% if user.is_authenticated %}
<aside id="widget-tools" class="widget panel panel-default">
<div class="panel-body">
  <h3>{% trans "Tools" %}</h3>
  <ul>
    {% if perms.zinnia %}
    <li>
      <a href="{% url 'admin:app_list' 'zinnia' %}" title="{% trans "Dashboard" %}">
        {% trans "Dashboard" %}
      </a>
    </li>
    {% endif %}
    {% if perms.zinnia.add_entry %}
    <li>
      <a href="{% url 'admin:zinnia_entry_add' %}" title="{% trans "Post an entry" %}">
        {% trans "Post an entry" %}
      </a>
    </li>
    {% endif %}
    {% block admin-tools %}
    {% endblock admin-tools %}
  </ul>
 </div>
</aside>
{% endif %}
 </div>
</div>
  </div>
</div>  
  {% endblock %}