{% load static i18n %}

{% url "laboratory:api-shelfobject-reserve" lab_pk=laboratory org_pk=org_pk as reserve_so_url %}
{% trans 'Reserve' as reserve_so_tittle %}
{% include 'modal_template.html' with add_shelf_info=True shelf_info_position="top" form=reserve_object_form id="reservesomodal" title=reserve_so_tittle form_id="reservesoform" url=reserve_so_url %}


{% url "laboratory:api-shelfobject-fill-increase-shelfobject" lab_pk=laboratory org_pk=org_pk as increase_so_url %}
{% trans 'Add' as increase_so_tittle %}
{% include 'modal_template.html' with add_shelf_info=True shelf_info_position="top" form=increase_object_form id="increasesomodal" title=increase_so_tittle form_id="increasesoform" url=increase_so_url %}


{% url "laboratory:api-shelfobject-fill-decrease-shelfobject" lab_pk=laboratory org_pk=org_pk as decrease_so_url %}
{% trans 'Substract' as decrease_so_tittle %}
{% include 'modal_template.html' with add_shelf_info=True shelf_info_position="top" form=decrease_object_form id="decreasesomodal" title=decrease_so_tittle form_id="decreasesoform" url=decrease_so_url %}


{% url "laboratory:api-shelfobject-move-shelfobject-to-shelf" lab_pk=laboratory org_pk=org_pk as move_so_url %}
{% trans 'Move to other shelf' as move_so_tittle %}
{% include 'modal_template.html' with add_shelf_info=True shelf_info_position="top" form=move_object_form id="movesomodal" title=move_so_tittle form_id="movesoform" url=move_so_url %}
{% include 'modal_template.html' with add_shelf_info=True shelf_info_position="top" form=move_object_container_form id="movesocontainermodal" title=move_so_tittle form_id="movesocontainerform" url=move_so_url %}

{% url "laboratory:api-shelfobject-manage-shelfobject-container" lab_pk=laboratory org_pk=org_pk as manage_container_url %}
{% trans 'Manage reactive container' as manage_container_tittle %}
{% include 'modal_template.html' with add_shelf_info=True shelf_info_position="top" form=manage_container_form id="managecontainermodal" title=manage_container_tittle form_id="manageconteinerform" url=manage_container_url %}


<div aria-hidden="true" id="transfer-list-modal" class="modal fade" aria-labelledby="transfer-listmodal-title" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="transfer-listmodal-title">{% trans 'Transfer In' %}</h5>
                <button aria-label="{% trans 'Close' %}" class="btn-close" data-bs-dismiss="modal" type="button">
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-striped w-100" id="transfer-list-datatable"></table>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">{% trans 'Close' %}</button>
            </div>
        </div>
    </div>
</div>

{% url "laboratory:api-shelfobject-transfer-out" lab_pk=laboratory org_pk=org_pk as transfer_out_url %}
{% trans "Transfer Out" as transfer_out_title %}
{% include 'modal_template.html' with add_shelf_info=True shelf_info_position='top' form=transfer_out_object_form id="transfer_out_obj_id_modal" title=transfer_out_title form_id="transfer_out_form" url=transfer_out_url %}

{% url 'laboratory:api-shelfobject-create-shelfobject' lab_pk=laboratory org_pk=org_pk  as create_shelfobject_url %}

{% url 'laboratory:api-shelfobject-transfer-out-shelfobjects' lab_pk=laboratory org_pk=org_pk  as transfer_out_shelfobjects_url %}
{% trans "Create Reactive" as reactive_title %}
{% trans "Create Equipment" as equipment_title %}
{% trans "Create Material" as material_title %}
{% trans "Transfer all Shelfobjects" as transfer_shelfobjects_title %}

{% include 'modal_template.html' with add_shelf_info=True shelf_info_position='left' id='reactive_modal' form_id='reactive_form' title=reactive_title form=reactive_form url=create_shelfobject_url %}
{% include 'modal_template.html' with add_shelf_info=True shelf_info_position='left' id='reactive_refuse_modal' form_id='reactive_refuse_form' title=reactive_title form=reactive_refuse_form url=create_shelfobject_url %}
{% include 'modal_template.html' with add_shelf_info=True shelf_info_position='left' id='equipment_modal' form_id='equipment_form' title=equipment_title form=equipment_form url=create_shelfobject_url %}
{% include 'modal_template.html' with add_shelf_info=True shelf_info_position='left' id='equipment_refuse_modal' form_id='equipment_refuse_form' title=equipment_title  form=equipment_refuse_form url=create_shelfobject_url %}
{% include 'modal_template.html' with add_shelf_info=True shelf_info_position='left' id='material_modal' form_id='material_form' title=material_title form=material_form url=create_shelfobject_url %}
{% include 'modal_template.html' with add_shelf_info=True shelf_info_position='left' id='material_refuse_modal' form_id='material_refuse_form' title=material_title form=material_refuse_form url=create_shelfobject_url %}
{% include 'modal_template.html' with add_shelf_info=True shelf_info_position='top' id='transfer_shelfobjects_form' form_id='transfer_shelfobjects_form' title=transfer_shelfobjects_title form=transfer_shelfobjects_form url=transfer_out_shelfobjects_url %}

{% url "laboratory:api-shelfobject-transfer-in-approve" lab_pk=laboratory org_pk=org_pk as transfer_in_approve_url %}
{% trans "Approve Transfer In - Container" as transfer_in_approve_with_container_title %}
{% include 'modal_template.html' with form=transfer_in_approve_with_container_form id="transfer_in_approve_with_container_id_modal" title=transfer_in_approve_with_container_title form_id="transfer_in_approve_with_container_form" url=transfer_in_approve_url %}
