{% load static i18n %}

<div aria-hidden="true" id="reservemodal" class="modal fade actionshelfobjmodal" aria-labelledby="reservemodal_form_title" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="reservemodal_form_title">{% trans 'Reserve' %}</h5>
                <button aria-label="{% trans 'Close' %}" class="btn-close" data-bs-dismiss="modal" type="button">
                </button>
            </div>
            <div class="modal-body">
                <form id="reserveform" method="POST" autocomplete="off" action="{% url 'laboratory:api-shelfobject-reserve' lab_pk=laboratory org_pk=org_pk %}">
                {% csrf_token %}
                <input type="hidden" name="shelf_object">
                {{modal_form_reservation.as_horizontal}}
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">{% trans 'Close' %}</button>
                <button class="btn btn-primary actionshelfobjectsave" type="button">{% trans 'Save changes' %}</button>
            </div>
        </div>
    </div>
</div>

<div aria-hidden="true" id="addmodal" class="modal fade actionshelfobjmodal" aria-labelledby="addmodal_form_title" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addmodal_form_title">{% trans 'Add' %}</h5>
                <button aria-label="{% trans 'Close' %}" class="btn-close" data-bs-dismiss="modal" type="button">
                </button>
            </div>
            <div class="modal-body">
                <form id="addform" method="POST" autocomplete="off" action="{% url 'laboratory:api-shelfobject-fill-increase-shelfobject' lab_pk=laboratory org_pk=org_pk %}">
                    {% csrf_token %}
                    <input type="hidden" name="shelf_object">
                    {{add_object_form.as_horizontal}}
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">{% trans 'Close' %}</button>
                <button class="btn btn-primary actionshelfobjectsave" type="button">{% trans 'Save changes' %}</button>
            </div>
        </div>
    </div>
</div>

<div aria-hidden="true" id="transferoutmodal" class="modal fade actionshelfobjmodal" aria-labelledby="transferoutmodal_form_title" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="transferoutmodal_form_title">{% trans 'Transfer Out' %}</h5>
                <button aria-label="{% trans 'Close' %}" class="btn-close" data-bs-dismiss="modal" type="button">
                </button>
            </div>
            <div class="modal-body">
                <form id="transferoutform" method="POST" autocomplete="off" action="{% url 'laboratory:api-shelfobject-transfer-out' lab_pk=laboratory org_pk=org_pk %}">
                    {% csrf_token %}
                    <input type="hidden" name="shelf_object">
                    {{tranfer_out_object_form.as_horizontal}}
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">{% trans 'Close' %}</button>
                <button class="btn btn-primary actionshelfobjectsave" type="button">{% trans 'Save changes' %}</button>
            </div>
        </div>
    </div>
</div>

<div aria-hidden="true" id="substractmodal" class="modal fade actionshelfobjmodal" aria-labelledby="substractmodal_form_title" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="substractmodal_form_title">{% trans 'Sustract' %}</h5>
                <button aria-label="{% trans 'Close' %}" class="btn-close" data-bs-dismiss="modal" type="button">
                </button>
            </div>
            <div class="modal-body">
                <form id="substractform" method="POST" autocomplete="off" action="{% url 'laboratory:api-shelfobject-fill-decrease-shelfobject' lab_pk=laboratory org_pk=org_pk %}">
                    {% csrf_token %}
                    <input type="hidden" name="shelf_object">
                    {{subtract_object_form.as_horizontal}}
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">{% trans 'Close' %}</button>
                <button class="btn btn-primary actionshelfobjectsave" type="button">{% trans 'Save changes' %}</button>
            </div>
        </div>
    </div>
</div>


{% include 'laboratory/shelfobject/shelfobject_create_modal.html' with id='reactive_form' arial_title='arial_reactive' id_title='reactive_title' title='Create Reactive' form=reactive_form %}
{% include 'laboratory/shelfobject/shelfobject_create_modal.html' with id='reactive_refuse_form' arial_title='arial_reactive_refuse' id_title='reactive_refuse_title' title='Create Reactive' form=reactive_refuse_form %}
{% include 'laboratory/shelfobject/shelfobject_create_modal.html' with id='equipment_form' arial_title='arial_equiment' id_title='equiment_title' title='Create Equipment' form=equipment_form %}
{% include 'laboratory/shelfobject/shelfobject_create_modal.html' with id='equipment_refuse_form' arial_title='arial_equiment_refuse' id_title='equiment_refuse_title' title='Create Equipment'  form=equipment_refuse_form %}
{% include 'laboratory/shelfobject/shelfobject_create_modal.html' with id='material_form' arial_title='arial_material' id_title='material_title' title='Create Material' form=material_form %}
{% include 'laboratory/shelfobject/shelfobject_create_modal.html' with id='material_refuse_form' arial_title='arial_material' id_title='material_title' title='Create Material' form=material_refuse_form %}