{% load i18n %}
<ul class='colors_list fs-6'>
    <li>
    <div class='representation_obj labroom_color' title='{% trans 'Laboratory Room' %}'>
    </div>
    {% trans 'Laboratory Room' %}
    </li>
<li>
    <div class='representation_obj furniture_color' title='{% trans 'Furniture' %}'>
    </div>
    {% trans 'Furniture' %}
</li>
<li>
    <div class='representation_obj shelf_color' title='{% trans 'Shelf' %}'>
    </div>
    {% trans 'Shelf' %}
</li>
<li>
    <div class='representation_obj shelfobject_color' title='{% trans 'Shelf Object' %}'></div>
    {% trans 'Shelf Object' %}
</li>
<li>
    <div class='representation_obj object_color' title='{% trans 'Object' %}'></div>
    {% trans 'Object' %}
</li>