{% load i18n %}
{% load humanformat %}
<div class="modal-dialog modal-dialog-scrollable modal-lg" id="shelfobject_detail">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title" id="detail_modalLabel">
          {{ object.object_detail }}
      </h4>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">

        {% if object.shelf_object_qr %}
            <div class="form-group row">
                <img src="data:image/png;base64, {{qr}}" alt="" style="width: 60%; display: block; margin-left: auto; margin-right: auto;">
            </div>
            <div class="form-group row justify-content-center">
                <div class="col-5 text-center">
                    <a href="{% url 'laboratory:download_shelfobject_qr' lab_pk=lab_pk org_pk=org_pk pk=object.id %}" class="btn btn-success"><i class="fa fa-download" ></i> {%  trans 'Download QR' %}</a>
                </div>
            </div>
        {% endif %}

        <table class="table table-striped">
            <tbody>
                <tr>
                    <td class="shelfobject_titles">{% trans 'Code' %}</td>
                    <td>{{object.object_inst.code|default:"" }} </td>
                </tr>
                <tr>
                    <td class="shelfobject_titles">{% trans 'Name' %}</td>
                    <td>{{object.object_inst.name|default:"" }} </td>
                </tr>
                <tr>
                    <td class="shelfobject_titles">{% trans 'Synonym' %}</td>
                    <td>{{object.object_inst.synonym|default:""}} </td>
                </tr>
                <tr>
                    <td class="shelfobject_titles">{% trans 'Description' %}</td>
                    <td>{{object.object_inst.description|default:""}} </td>
                </tr>
                <tr>
                    <td class="shelfobject_titles">{% trans 'Unit' %}</td>
                    <td>{{object.unit|default:""}} </td>
                </tr>
                {% if object.object_features %}
                    <tr>
                        <td class="shelfobject_titles">{% trans 'Features' %}</td>
                        <td>
                            <ul class="shelfobjectfeatures shelfobject_list_elem">
                                {% for features in object.object_features %}
                                <li> {{ features  }} </li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                {% endif %}
                <tr>
                    <td class="shelfobject_titles">{% trans 'Model' %}</td>
                    <td>{{object.object_inst.model|default:"" }} </td>
                </tr>
                <tr>
                    <td class="shelfobject_titles">{% trans 'Serie' %}</td>
                    <td>{{object.object_inst.serie|default:"" }} </td>
                </tr>
                <tr>
                    <td class="shelfobject_titles">{% trans 'Plaque' %}</td>
                    <td>{{object.object_inst.plaque|default:"" }} </td>
                </tr>

                {% with sustancecharacteristics=object.object_inst.sustancecharacteristics %}
                    {% if sustancecharacteristics %}
                        <tr>
                            <td class="shelfobject_titles">{% trans 'Cas Number' %}</td>
                            <td>{{sustancecharacteristics.cas_id_number|default:""}} </td>
                        </tr>
                        <tr>
                            <td class="shelfobject_titles">{% trans 'Is Precursor' %}</td>
                            <td>{{sustancecharacteristics.is_precursor|yesno}} </td>
                        </tr>
                    {% if sustancecharacteristics.is_precursor %}
                        <tr>
                            <td class="shelfobject_titles">{% trans 'Precursor Type' %}</td>
                            <td>{{sustancecharacteristics.precursor_type}} </td>
                        </tr>
                    {% endif %}
                    <tr>
                        <td class="shelfobject_titles">{% trans 'IARC' %}</td>
                        <td>{{sustancecharacteristics.iarc|default:""}} </td>
                    </tr>
                    <tr>
                        <td class="shelfobject_titles">{% trans 'IMDG' %}</td>
                        <td>{{sustancecharacteristics.imdg|default:""}} </td>
                    </tr>
                    {% if sustancecharacteristics.white_organ.exists %}
                    <tr>
                        <td class="shelfobject_titles">{% trans 'White Organ' %}</td>
                        <td>
                            <ul class="shelfobject_list_elem">
                                {% for  white_organ in sustancecharacteristics.white_organ.all %}
                                <li>{{white_organ }} </li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                    {% endif %}
                    <tr>
                        <td class="shelfobject_titles">{% trans 'Bio Accumulable' %}</td>
                        <td>{{sustancecharacteristics.bioaccumulable|yesno }} </td>
                    </tr>
                    <tr>
                        <td class="shelfobject_titles">{% trans 'Is Seveso list III?' %}</td>
                        <td>{{sustancecharacteristics.seveso_list|yesno }} </td>
                    </tr>
                    <tr>
                        <td class="shelfobject_titles">{% trans 'Molecular Formula' %}</td>
                        <td>{{sustancecharacteristics.molecular_formula|default:""}} </td>
                    </tr>
                    {% if sustancecharacteristics.security_sheet %}
                        <tr>
                            <td class="shelfobject_titles">{% trans 'Security Sheet' %}</td>
                            <td>
                                <a href="{{sustancecharacteristics.security_sheet.url}}" target="_blank"> {% trans 'Download' %} </a>
                            </td>
                        </tr>
                    {%endif %}
                    <tr>
                        <td class="shelfobject_titles">{% trans 'H Codes' %}</td>
                        <td>
                            <ul class="shelfobjecthcode shelfobject_list_elem">
                            {% for di in sustancecharacteristics.h_code.all %}
                                    <li>{{di}}</li>
                            {% endfor%}
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td class="shelfobject_titles">{% trans 'UE codes' %}</td>
                        <td>
                            <ul class="shelfobjectue_code shelfobject_list_elem">
                            {% for di in sustancecharacteristics.ue_code.all %}
                                    <li>{{di}}</li>
                            {% endfor%}
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td class="shelfobject_titles">{% trans 'NFPA codes' %}</td>
                        <td>
                            <ul class="shelfobjectnfpa shelfobject_list_elem">
                            {% for di in sustancecharacteristics.nfpa.all %}
                                    <li>{{di}}</li>
                            {% endfor%}
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td class="shelfobject_titles">{% trans 'Storage class' %}</td>
                        <td>
                            <ul class="shelfobjectstorage_class shelfobject_list_elem">
                            {% for di in sustancecharacteristics.storage_class.all %}
                                    <li>{{di}}</li>
                            {% endfor%}
                            </ul>
                        </td>
                    </tr>
                      {% if sustancecharacteristics.img_representation %}
                    <tr>
                        <td class="shelfobject_titles">{% trans 'Sustance Representation' %}</td>
                        <td>
                            <img href="{{sustancecharacteristics.img_representation.url}}" width="200px" height="200px" />
                        </td>
                    </tr>
                      {%endif %}
                    {% endif %}
                {% endwith %}
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" data-bs-dismiss="modal">{% trans "Exit" %}</button>
    </div>
  </div>
</div>