{% extends 'base.html' %}
{% load static i18n gtsettings %}
{% load urlname_tags %}
{% load organilab_tags %}
{% block pre_head %}
    {% define_true  "use_datatables" %}
    {% define_urlname_action 'shelfobject_edit' %}
{% endblock %}
{% block title %}{% trans 'Logs' %} {{object.object.name}}{% endblock %}

{% block content %}
<input type="hidden" name="shelf" id="id_shelf" value="{{object.shelf.pk}}">
<input type="hidden" name="shelf" id="id_laboratory" value="{{laboratory}}">
<input type="hidden" name="shelf" id="id_organization" value="{{org_pk}}">
<div class="row">
    <div class=" mb-3 col-md-12">
      <div class="row g-0" >
        <div class="col-md-4 d-flex align-content-center bd-highlight flex-wrap">
            <img src="data:image/svg+xml;base64,{{qr.b64_image}}" class="img-fluid rounded-start m-auto" alt="{% trans 'QR object' %}" >
        </div>
        <div class="col-md-8">
          <div class="card-body">
              {% if object.marked_as_discard %}
              <div class="d-flex justify-content-end ">  <i class="fa fa-trash fa-lg text-danger" aria-hidden="true" title="{% trans 'Is discard' %}"></i></div>
              {% endif %}
            <h5 class="card-title text-success">{{ object.object.code }} -- {{ object.object.name }}
                <div class="d-flex justify-content-evenly"></div>
            </h5>
            <p class="d-flex justify-content-start" style="text-align: justify">{{ object.object.description }}</p>
            <div class="card-text">
                <hr>
                <div class="d-flex justify-content-between bd-highlight mb-3">
    <div class="p-2 bd-highlight"><span class="fw-bold">{% trans "Quantity"%}:</span><br>
        {{object.quantity}} {{object.measurement_unit|default_if_none:"" }}</div>
    <div class="p-2 bd-highlight"><span class="fw-bold">{% trans 'Status' %}:</span>
        <a class="btn btn-sm btn-secondary ms-2" onclick="return show_update_status_modal(this, event);" data-modalid="status_modal"><i class="fa fa-edit" title="{% trans 'Update Status' %}"></i></a> <br><p id="shelfobject_status">
            {% trans "No status" as no_state %}
            {{ object.status|default_if_none:no_state }}</p>
        </div>

    <div class="p-2 bd-highlight"><span class="fw-bold">{% trans 'Type' %}:</span><br>{{object.object.get_type_display}} </div>
  </div>

                </div>
          </div>
        </div>
      </div>
    </div>

</div>
<div class="row">
<div class="offset-md-2 col-md-8">
        <div class="page-header" align="center">
          <h3 class="heading-1" ><span> {% trans 'Observations' %} </span></h3>
        </div>
</div>
</div>

<div class="row">
        <div class="col-md-12">
            <div class="add-container float-end">
            <a class="btn btn-success" onclick="return show_me_modal(this, event);" data-modalid="observation_modal"><i class="fa fa-plus" title="{% trans 'Add new Observation' %}"></i> {% trans 'Add' %}</a>
        </div>
        <br>
      <table id="observationTable" class="table table-striped table-bordered" style="width:100%"></table>
    </div>
</div>

{% url 'laboratory:api-shelfobject-create-comments' lab_pk=laboratory org_pk=org_pk pk=object.pk as create_comments_url %}
{% trans "Object Observation" as obj_title %}
{% include 'modal_template.html' with id='observation_modal' form_id='observation_form' title=obj_title form=observation_form url=create_comments_url%}

{% url 'laboratory:api-shelfobject-update-status' lab_pk=laboratory org_pk=org_pk pk=object.pk as update_status_url %}
{% trans "Update Status" as obj_title %}
{% include 'modal_template.html' with id='status_modal' form_id='status_form' title=obj_title form=status_form url=update_status_url %}


{% endblock %}
{% block js %}
{{block.super}}

<script>

document.urls={
    observation_table: '{% url 'laboratory:api-shelfobject-list-comments' org_pk=org_pk lab_pk=laboratory pk=pk %}',
    shelf_availability_information: '{% url "laboratory:api-shelfobject-shelf-availability-information" lab_pk=laboratory org_pk=org_pk %}',
    change_status: '{% url "laboratory:api-shelfobject-create-status" org_pk=org_pk lab_pk=laboratory %}'

};
</script>
<script type="text/javascript" src="{% static 'laboratory/js/shelfobject_utils.js' %}?v={% get_organilab_version %}"></script>
<script type="text/javascript" src="{% static 'laboratory/js/shelfobject_management.js' %}?v={% get_organilab_version %}"></script>
<script type="text/javascript" src="{% static 'laboratory/js/base_modal_management.js'%}?v={% get_organilab_version %}"></script>

{% endblock %}