{% extends 'pdf/base_pdf.html' %}
{% load i18n %} 

{% block verbose_name %}{% trans "Organilab Laboratory Report" %}{% endblock %}

{% block pdf_content %}
    {% for laboratory_room in object_list %}
        <h3 id="h3-1">
            {{ laboratory_room.name }}
        </h3>
            <table >
        {% for furniture in laboratory_room.furniture_set.all %}
            <tr id="h5-1" >
                <th colspan="3" >{% trans "Furniture:" %} {{ furniture.name }}</th>
            </tr>
            <tr  >
                <th >{% trans "Code" %} </th>
                <th >{% trans "Name" %} </th>
                <th >{% trans "Quantity" %} </th>
                <th >{% trans "Shelf" %} </th>
            </tr>
                {% for obj in furniture.get_objects %}
                        <tr>
                            <td>{{obj.object.code }}</td>
                            <td>{{obj.object.name }}</td>
                            <td>{{obj.quantity}} {{obj.get_measurement_unit_display}}</td>
                            <td>{{obj.shelf.name}}</td>
                         </tr>

                {% empty %}
                    {% trans "No Shelf Elements" %}
                {% endfor %}
        {% endfor %}
    </table>
        <br />
    {% empty %} 
        {% trans "No Labs" %}   
    {% endfor %}
{% endblock %}