{% extends 'pdf/base_pdf.html' %}
{% load i18n %}

{% block verbose_name %}{% trans "Organilab Objects Report" %}{% endblock %}

{% block pdf_content %}
    {% for obj in object_list %}
            <h3> 
                {% trans "Object Code:" %} {{ obj.code }} 
            </h3>
            <ul>
                <li>{% trans "Name:" %} {{ obj.name }}</li>
                <li>{% trans "Type:" %}
                    {{ obj.get_type_display }}
                </li>
                
                <li>{% trans "Features:" %}
                    {% for features in obj.features.all %}
                    <ul>
                        <li>
                            {{ features.get_name_display }}
                        </li>
                    </ul>   
                    {% empty %}
                        {% trans "No Object Features" %}
                    {% endfor %}
                </li>
                
                <li>{% trans "Quantity:" %} 
                    {% for shelfobj in obj.shelfobject_set.all %}
                    <ul>
                        <li>
                            {{ shelfobj.shelf }}:
                            {{ shelfobj.quantity }} 
                            {{ shelfobj.get_measurement_unit_display }}
                        </li>   
                    </ul>
                    {% empty %}
                        {% trans "No Data" %}
                    {% endfor %}
                </li>

                <li>{% trans "Description:" %} {{ obj.description }}</li>
            </ul>
        {% empty %}
            {% trans "No Objects Elements" %}
        {% endfor %}
{% endblock %}