{% load static %}
{% load i18n %}
{% load shelf_position %}
<!DOCTYPE html>
<html lang="en">
<head>
  {# METADATA  #}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {# TITLE #}
  <title>Organilab | {% block title %}Index{% endblock %}</title>

  {# CSS #}
  <link href="{% static 'laboratory/css/organilab.css' %}" rel="stylesheet">
  <link href="{% static 'laboratory/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'laboratory/css/furniture-table-css.css' %}" rel="stylesheet">

  {% block css %}{% endblock %}
  
<script src="{% static 'laboratory/js/jquery.min.js' %}"></script>
<script src="{% static 'laboratory/js/bootstrap.min.js' %}"></script>
</head>
<body>
{# NAV #}
{% include 'laboratory/partials/navbar.html' %}

{# MESSAGES #}
{% include 'laboratory/partials/messages.html' %}

{# CONTENT #}
<div id="site_content">
  <div class="{% block container %}container{% endblock %}">
    {% block content %}
    {% endblock %}
  </div>
</div>

{# FOOTER #}
{% include 'laboratory/partials/footer.html' %}

<div class="jsmessage"></div>
{# JS #}

<script type="text/javascript" src="{% static 'django_ajax/js/jquery.ajax.min.js' %}"></script>
<script type="text/javascript" src="{% static 'django_ajax/js/jquery.ajax-plugin.min.js' %}"></script>
{% block js %}{% endblock %}
</body>
</html>
