{% extends 'base.html' %}
{% load static i18n datasets %}

{% block css %}
<link href="{% static 'css/jquery.dataTables.min.css' %}" rel="stylesheet">
{% endblock %}


{% block content %}
<h1 class="header text-center"> {% trans 'Search Printers' %}
	<a class="btn btn-success pull-right" href="{% url 'printOrderManager:printOrderManager_printobject_create' %}">
		{% trans 'Register your Print' %}
	</a>

</h1>
<table id="example" class="display" style="width: 100%">
	<thead>
		<tr>
			<th>{% trans 'ID' %}</th>
			<th>{% trans 'Name' %}</th>
			<th>{% trans 'Email' %}</th>

		</tr>
	</thead>
	<tfoot>
		<tr>
			<th>{% trans 'ID' %}</th>
			<th>{% trans 'Name' %}</th>
			<th>{% trans 'Email' %}</th>
		</tr>
	</tfoot>
</table>

{% endblock %}
{% block js %}
<!-- JQuery No conflict -->
<script src="{% static 'js/jquery-3.3.1.js' %}"></script>
<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>

<script>
	$(document).ready(function () {
		$('#example').DataTable({
			"ajax": '{% url "printOrderManager:list_printObject" %}',
			// "processing" : true,
			"serverSide": true,
			"language": {
				"url": "{% get_dataset_translation %}"
			}

		});
	});
</script>
{% endblock %}