async-notifications==0.1.19
chardet==3.0.4
coreschema==0.0.4
defusedxml==0.6.0
Django==2.2.12
django-datatables-view==1.19.1
django-ajax-selects==1.9.1
django-blog-zinnia==0.20
django-bootstrap-form==3.4
django-ckeditor==5.6.1
django-constance==2.6.0
django-contrib-comments==1.9.1
django-excel==0.0.10
django-fontawesome==1.0
django-guardian==1.5.0
django-js-asset==1.2.2
django-json-rpc==0.7.2
django-location-field==2.1.0
django-map-widgets==0.2.2
django-recaptcha2==1.4.1
django-reservation==0.2.9
django-xmlrpc==0.1.8
djangorestframework==3.11.0
djangorestframework-jwt==1.11.0
et-xmlfile==1.0.1
html5lib==1.0.1
jdcal==1.4.1
openpyxl==3.0.3
pathtools==0.1.2
Pillow>=7.1.2
Pint==0.12
port-for==0.4
psycopg2-binary==2.8.5
pycparser==2.20
pyEQL>=0.5
pyexcel==0.6.1
pyexcel-ezodf==0.3.4
pyexcel-io==0.5.20
pyexcel-ods3==0.5.3
pyexcel-webio==0.1.4
pyexcel-xls==0.5.8
pyexcel-xlsx==0.5.8
PyJWT==1.7.1
PyPDF2==1.26.0
Pyphen==0.9.5
PyYAML==5.1
reportlab==3.5.20
scipy==1.4.1
six
Sphinx==3.0.4
sphinx-rtd-theme==0.4.3
webencodings==0.5.1
xhtml2pdf==0.2.4
xlrd==1.2.0
xlwt==1.3.0
zinnia-wysiwyg-ckeditor==1.3
django-markitup==4.0.0
git+https://github.com/luisza/django-gentelella-widgets.git#egg=djgentelella
django-picklefield==2.1.1
Markdown==3.2.2
coreapi==2.3.3
future==0.18.2