djgentelella==0.3.27
async-notifications==0.2
django==5.1
django-excel==0.0.10
django-location-field==2.1.0
django-reservation==0.2.10
djangorestframework==3.15.2
openpyxl==3.1.5
Pillow>=10.0.0
psycopg[binary]>=3.2.5
pyexcel==0.7.1
pyexcel-ezodf==0.3.4
pyexcel-io==0.6.7
pyexcel-ods3==0.6.1
pyexcel-webio==0.1.4
pyexcel-xls==0.7.0
pyexcel-xlsx==0.6.1
xlwt==1.3.0
Markdown==3.7
django-celery-beat==2.7.0
django-celery-results==2.5.1
celery==5.4.0
weasyprint==64.1
CairoSVG==2.7.1
pyfva==0.0.43
django-otp==1.5.4
python-barcode==0.15.1
qrcode==8.0
sentry-sdk==2.22.0
