{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% trans 'Donate Organilab' %}{% endblock title %}
{% block content %}

    <div class="row justify-content-center">
        <div class="col-md-12">
                <h3 class="text-center">{% trans 'Thank for support this project making your donation.' %}</h3>
        </div>
    </div>

<div class="row justify-content-center">
    {% if not pay %}
        {% if form %}
    <form action="" class="text-center" method="post">
        {% csrf_token %}
        <div class="row justify-content-center">
            <div class="col-md-6 col-sm-6">
                {{form.as_horizontal}}
                <a class="btn btn-secondary" href={% url 'index' %}>{% trans 'Cancel'%}</a>
                <button type="submit" class="btn btn-primary">{% trans 'Continue' %}</button>
            </div>
        </div>
    </form>
        {% endif %}
    {% else %}

        <div class="col-md-6">
              <h2 class="text-center mt-2">{% trans 'Donation Details'%}</h2>
            <div class="m-0 m-auto text-start">
                <table class="table">
                    <tr>
                        <td class="fw-bold">{% trans 'Name' %}:</td>
                        <td class="text-center">{{form.name.value}}</td>
                    </tr>
                    <tr>
                        <td class="fw-bold">{% trans 'Email' %}:</td>
                        <td class="text-center">{{form.email.value}}</td>
                    </tr>
                    <tr>
                        <td class="fw-bold">{% trans 'Amount' %}:</td>
                        <td class="text-center">${{form.amount.value}}</td>
                    </tr>
                    <tr>
                        <td class="fw-bold">{% trans 'Add to donators list?' %}</td>
                        <td class="text-center">{% if form.is_donator.value %} {% trans 'Yes' %} {% else %} {% trans 'No' %} {% endif %}</td>
                    </tr>
                </table>
            </div>
       <div class="d-flex justify-content-center mt-4">
                {{paypal_form.render}}
       </div>
        </div>
    {% endif %}
</div>
{% endblock content %}