{% extends 'gentelella/base.html' %}
{% load laboratory static i18n  %}
{% load static i18n %}
{% block content %}



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-body">

        <div class="gencrud">
          <div class="card-body">
            <div class="card-title titles">
              <ul class="nav navbar-left panel_toolbox">
              </ul>

              <h2 id='product_name' >{% trans 'Manage Product' %} </h2>

              <ul class="nav navbar-right panel_toolbox">

              </ul>
            </div>


            <form method="POST" class="mt-2 form-plain" id="modal_form">
              {% csrf_token %}
              {{product_form.as_plain }}

              <div class="card-footer mt-4">
                <div class="container" >
                  <small id="error_message" class="text-danger"></small>
                </div>
                <div class="form-group">
                  <div class="controls text-end">
                    <a data-bs-dismiss="modal" class="btn btn-danger" id="cancel-button"><i
                            class='fa fa-times'></i>
                      {% trans 'Cancel' %}</a>

                    <a onclick="validate_reservation()"
                       class="btn btn-success"><i class='fa fa-check'></i> {% trans 'Accept' %}</a>

                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}