{% load i18n %}

<a id="shelfobject_view_{{shelfobject.pk}}"
   class="ms-2"
   data-url="{% url 'laboratory:api-shelfobject-details' lab_pk=laboratory.pk org_pk=org_pk.pk pk=shelfobject.pk %}"
   onclick="shelfObjectDetail(this)"
   title="{% trans 'Detail' %}">
    <i class="fa fa-eye text-success" aria-hidden="true"></i>
</a>

<a class="ms-2" onclick="return show_me_modal(this, event);" data-modalid="reservesomodal" title="{% trans 'Reservation' %}" data-shelfobject="{{shelfobject.pk}}" data-shelf="{{shelfobject.shelf.pk}}"><i class="fa fa-shopping-basket" aria-hidden="true"></i></a>
<a class="ms-2" onclick="return show_me_modal(this, event);" data-modalid="increasesomodal" title="{% trans 'Add' %}" data-shelfobject="{{shelfobject.pk}}" data-shelf="{{shelfobject.shelf.pk}}"><i class="fa fa-plus text-success" aria-hidden="true"></i></a>
<a class="ms-2" data-bs-toggle="modal" onclick="return show_me_modal(this, event);" data-modalid="transfer_out_obj_id_modal" title="{% trans 'Transfer Out' %}" data-shelfobject="{{shelfobject.pk}}" data-shelf="{{shelfobject.shelf.pk}}"><i class="fa fa-window-restore" aria-hidden="true"></i></a>
<a class="ms-2" onclick="return show_me_modal(this, event);" data-modalid="decreasesomodal" title="{% trans 'Substract' %}" data-shelfobject="{{shelfobject.pk}}" data-shelf="{{shelfobject.shelf.pk}}"><i class="fa fa-minus text-danger" aria-hidden="true"></i></a>
<a class="ms-2" href="{% url 'laboratory:get_shelfobject_log' lab_pk=laboratory.pk org_pk=org_pk.pk pk=shelfobject.pk %}" target="_blank" title="{% trans 'Log' %}"><i class="fa fa-file-text-o" aria-hidden="true"></i></a>
<a class="ms-2" onclick="return show_me_modal(this, event);" data-modalid="movesomodal" title="{% trans 'Move' %}" data-shelfobject="{{shelfobject.pk}}" data-shelf="{{shelfobject.shelf.pk}}"><i class="fa fa-arrows" aria-hidden="true"></i></a>

{% if perms.laboratory.do_report %}
<a class="ms-2" target="_blank" href="{% url 'laboratory:reports_shelf_objects' lab_pk=laboratory.pk org_pk=org_pk.pk pk=shelfobject.pk %}" title="{% trans 'Download' %}">
   <i class="fa fa-download" aria-hidden="true"></i>
</a>
{% endif %}

{% if shelf.discard %}
    {% if perms.laboratory.can_manage_disposal %}
        <a class="float-end"
           onclick="shelfObjectDelete({{ shelfobject.pk }}, '{{shelfobject.object.name}}', '{{shelfobject.object.type}}',
            container={% if shelfobject.container %}true, container_name='{{shelfobject.container.object.name}}'{% else %}false{% endif %})"
           title="{% trans 'Delete' %}"
           style="margin-left: 10px; color:red">
           <i class="fa fa-close" aria-hidden="true"></i>
        </a>
    {% endif %}
{% elif perms.laboratory.delete_shelfobject %}
    <a class="ms-2"
       onclick="shelfObjectDelete({{ shelfobject.pk }}, '{{shelfobject.object.name}}', '{{shelfobject.object.type}}',
        container={% if shelfobject.container %}true, container_name='{{shelfobject.container.object.name}}'{% else %}false{% endif %})"
       title="{% trans 'Delete' %}">
       <i class="fa fa-close text-danger" aria-hidden="true"></i>
    </a>
{% endif %}

<div class="modal fade" id="detail_modal_container" tabindex="-1" aria-labelledby="detail_modalLabel" aria-hidden="true">
    {% include 'laboratory/shelfobject/detail_modal.html' %}
</div>
