{% extends 'gentelella/base.html' %}
{% load organilab_tags %}

{% load static i18n shelf_position %}

{% block title %}Organilab {% endblock %}

{% block extra_css %}
  <link href="{% static 'css/organilab.css' %}?v={% get_organilab_version %}" rel="stylesheet">
  <link href="{% static 'css/themify-icons.css' %}?v={% get_organilab_version %}" rel="stylesheet">
  {% block css %}{% endblock %}

{% endblock %}

{% block extra_head %}
  {% block link %}{% endblock link %}
  {% block script %}{% endblock script %}
{% endblock %}

{% block content_block_wrap %}
  <div class="card">
      <div class="card-body">
   {% block content %}
    <!-- {{ content }} -->
  {% endblock content %}
      </div>
  </div>
{% endblock content_block_wrap %}

{% block javascripts %}
  <script type="text/javascript" src="{% url 'javascript-catalog' %}?v={% get_organilab_version %}"></script>

  {{ block.super }}
  <script src="{% static 'js/organilab.js' %}?v={% get_organilab_version %}"></script>
  <script type="text/javascript" src="{% static 'django_ajax/js/jquery.ajax.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'django_ajax/js/jquery.ajax-plugin.min.js' %}"></script>
{% endblock %}
