{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load urlname_tags %}
{% block pre_head %}
    {% define_urlname_action 'index' %}
{% endblock %}
{% block title %}{% trans 'Welcome to Organilab' %}{% endblock title %}
{% block content %}

<div class="row justify-content-center">
    <div class="col-md-8 col-sm-8">
        <h1 class="text-center text-success">{% trans 'Welcome to Organilab' %}</h1>
    </div>
</div>
<div class="row justify-content-center">
    <div class="flex-grow-1 col-md-9" style="text-align: justify">
        <p>Organilab es una herrmanienta informatica basada y enfocada en estándares de software libre y código abierto para la virtualización de entornos laborales en los que se manipula sustancias químicas. Permite la administración de materias primas mediante el registro del flujo y clasifica las sustancias según su peligrosidad acorde con el Sistema Globalmente Armonizado de clasificación y etiquetado de productos químicos (SGA) de la ONU.
        </p>
        <p>El SGA es un acuerdo internacional de sistematización técnica, cuyo objetivo es estandarizar y armonizar el manejo de sustancias químicas con base en su uso y peligrosidad, lo cual facilita el acceso, comprensión e implementación de la información relacionada por parte de las personas que manipulan productos químicos.
</p><p>El código abierto es una técnica de desarrollo de software comunitaria ampliamente usada y respaldad por gigantes tecnológicos debido a las bondades que proporciona para las partes involucradas, tanto económicos como de seguridad, ya que permite compartir el desarrollo entre diferentes instituciones interesadas y compartir sus revisiones de partes aumentando fiabilidad de los mismos.
</p><p>Tanto SGA como el software libre permiten armonizar los entornos laborales, pueden ser constructores de estandarización y pueden aportar ampliamente a la población usuaria.
</p>
        <div class="text-center">
              <a type="button" class="btn btn-lg btn-outline-success" href="{% url 'login' %}"><i class="fa fa-sign-in" aria-hidden="true"></i> {% trans 'Login' %}</a>
								</div>
    </div>


</div>

{% endblock content %}
