{% extends 'gentelella/base.html' %}
{% load i18n %}
{% load urlname_tags %}
{% block pre_head %}
    {% define_urlname_action 'tutorials' %}
{% endblock %}
{% block content %}
<h2>Próximamente Manuales</h2>

<ul class="list-group">
    {% if org_pk %}
        <li><a class="list-group-item" href="{% url 'msds:index_msds' org_pk %}"> {% trans 'MSDS Files' %}</a></li>
    {% endif %}
    <li><a class="list-group-item"  href="{% url 'regulation_docs' %}{% if org_pk %}?org_pk={{org_pk}}{%endif%}"> {% trans 'Regulation documents' %}</a></li>
</ul>
{% endblock %}