{% extends 'pdf/base_pdf.html' %}
{% load i18n %}
{% block pdf_content %}
    <table>
        {% for reactive in object_list %}
            <tr>
                <td colspan="4"><h2 class="text-center">{{reactive.lab}}</h2></td>
            </tr>
            <tr>
                <th>{% trans 'Reactive'%}</th>
                <th>{% trans 'Room'%}</th>
                <th>{% trans 'Furniture'%}</th>
                <th>{% trans 'H Codes'%}</th>
                <th>{% trans 'Quantity'%}</th>
            </tr>
            {% for react in reactive.reactives %}
                <tr>
                    <td>{{react.reactive}}</td>
                    <td>{{react.room}}</td>
                    <td>{{react.furniture}}</td>
                    <td>
                        {% for h_code in react.h_codes %}
                            <button type="button" class="btn btn-default btn-xs"  title="{{h_code.1}}"> {{h_code.0}} </button>
                        {% endfor %}
                    </td>
                    <td>{{react.quantity}} {{react.unit}}</td>
                </tr>
            {% endfor %}
        {% empty %}
            <tr>
                <td colspan='4'>{% trans "You have not assigned laboratories yet, or there is no laboratories registered" %}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}