{% extends 'pdf/base_pdf.html' %}
{% load i18n %} 

{% block verbose_name %}{% trans "Organilab Laboratory Report" %}{% endblock %}

{% block pdf_content %}
    {% for laboratory_room in object_list %}
        <table >
        <tr>
            <th colspan="3"><h2>{{ laboratory_room.name }}</h2></th>
        </tr>
        {% for furniture in laboratory_room.furniture_set.all %}            
            <tr>
                <th colspan="3" >{% trans "Furniture:" %} {{ furniture.name }}</th>
            </tr>
            <tr>
                <th >{% trans "Code" %} </th>
                <th class="name" >{% trans "Name" %} </th>
                <th >{% trans "Quantity" %} </th>
                <th >{% trans "Shelf" %} </th>
            </tr>
            {% for obj in furniture.get_objects %}
                <tr>
                    <td>{{obj.object.code }}</td>
                    <td class="name">{{obj.object.name }}</td>
                    <td>{{obj.quantity}} {{obj.get_measurement_unit_display}}</td>
                    <td>{{obj.shelf.name}}</td>
                </tr>
            {% empty %}
                <tr>           
                    <td colspan="3">{% trans "No Shelf Elements" %}</td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="3">&nbsp;</td>
            </tr>
        {% empty %}
            <tr>           
                <td colspan="3">{% trans "No data" %}</td>
            </tr>
        {% endfor %}
    </table>
    <br />
    {% empty %}
        <table>
            <tr> 
                <th><h2>{% trans "No Labs" %}</h2><th>
            </tr>
        </table>
    {% endfor %}
{% endblock %}