{% extends 'pdf/base_organization_pdf.html' %}
{% load i18n %} 
{% block extra_css %}
.small {
    width: 15%;
}
{% endblock %}
{% block pdf_content %}
    {% for laboratory in object_list %}
        <!-- repeat allow us to repeat the header in each new page-->
        <table repeat="1">
            <tr>
                <th class="small">{% trans "Profiles" %} </th>
                <th class="small">{% trans "Phones" %} </th>
                <th>{% trans "Emails" %} </th>
            </tr>
            {% for profile in laboratory.profile_set.all %}
                <tr>
                    <td>{{ profile.user.name }}</td>
                    <td>{{ profile.phone_number }}</td>
                    <td>{{ profile.user.email }}</td>
                </tr>
            {% endfor %}
        </table>
        <br/>
    {% empty %} 
        {% trans "You have not assigned laboratories yet, or there is no laboratories registered" %} 
    {% endfor %}
{% endblock %}