{% extends 'pdf/new_base_pdf.html' %}
{% load i18n %}
{% block pdf_content %}
<table>
    <tr>
        <th style="text-align:center"><h2>{{title}}</h2></th>
    </tr>
    <tr>
        <th><h4>{{rel_obj_title}}: {{rel_obj_name}}</h4></th>
    </tr>
</table>
<table>
    <tr>{{rel_obj_msg }} {{rel_obj_name}}</tr>
    <br>
    <br>
</table>
<table>
    <br>
    <br>
    <tr>
        <img src="{{url_qr}}" alt="" style="width: 60%; display: block; margin-left: auto; margin-right: auto;">
    </tr>
</table>
{% endblock %}