{% extends 'pdf/base_pdf.html' %}
{% load i18n %}

{% block verbose_name %}{% trans "Organilab Objects Report" %}{% endblock %}

{% block pdf_content %}
    {% for obj in rpo %}
      <h3>
        {% trans "Object Code:" %} {{ obj.code }}
      </h3>
      <ul>
        <li>{% trans "Name:" %} {{ obj.name }}</li>
        <li>{% trans "Type:" %}
          {{ obj.get_type_display }}
        </li>
        <li>{% trans "Features:" %}
          {% for features in obj.features.all %}
            <ul>
              <li>
                {{ features.name }}
              </li>
            </ul>
          {% empty %}
            {% trans "No Object Features" %}
          {% endfor %}
        </li>
        <li>{% trans "Quantity:" %}
          {% for shelfobj in obj.shelfobject_set.all %}
            <ul>
              <li>
                {{ shelfobj.shelf }}:
                {{ shelfobj.quantity }}
                {{ shelfobj.get_measurement_unit_display }}
              </li>
            </ul>
          {% empty %}
            {% trans "No Data" %}
          {% endfor %}
        </li>
        {% if obj.h_code.exists %}
      <li>
        <p>{% trans "Danger indication:" %}</p>
        <ul>
        {% for code in obj.h_code.all %}
          <li>{{code}} </li>
        {% endfor %}
        </ul>
      </li>
        {% endif %}

        <li>{% trans "Description:" %} {{ obj.description }}</li>
        <li>{% trans 'Molecular formula:' %} <code>{{ obj.molecular_formula | default:'-' }}</code></li>
        <li>{% trans 'CAS ID Number:' %} {{ obj.cas_id_number | default:'Undefined' }}</li>
        {% if obj.clinventory_entry %}
          <li>{% trans 'Inventario C&L:' %} {{ obj.clinventory_entry.name | safe }} (<a
              href="{{ obj.clinventory_entry.url }}">{% trans 'Reference link' %}</a>)
          </li>
        {% endif %}


      </ul>
    {% empty %}
      {% trans "No Objects Elements" %}
    {% endfor %}
{% endblock %}