{% extends 'pdf/base_pdf.html' %}
{% load i18n %}

{% block pdf_content %}
  {% for obj in object_list %}
    <h3>{{ obj }}</h3>
    <ul>
    <li>{% trans "Shelf:" %} {{ obj.shelf }}</li>
    <li>{% trans "Object:" %}
      {{ obj.object }}
    </li>
    <li>{% trans "Quantity:" %}
      {{ obj.quantity }} {{ obj.get_measurement_unit_display }}
    </li>
    <li>{% trans "Limit quantity:" %}
      {{ obj.limit_quantity }} {{ obj.get_measurement_unit_display }}
    </li>
      {% if obj.object.h_code.exists %}
    <li>
      <p>{% trans "Danger indication:" %}</p>
      <ul>
      {% for code in obj.object.h_code.all %}
        <li>{{code}} </li>
      {% endfor %}
      </ul>
    </li>
      {% endif %}
  {% empty %}
    {% trans "No Objects Elements" %}
  {% endfor %}
{% endblock %}
