{% extends 'pdf/base_pdf.html' %}
{% load i18n %} 
{% block extra_css %}
    .name {
        width: 50%;
    }	
	body {
		text-align: justify
	}
	h3 {
		margin-right: 150px;
	}
	h5 {
		background-color: gainsboro; 
		margin-right: 150px;
		line-height:12px;
	}
</style>
{% endblock%}
{% block pdf_content %}
	{% for furniture in object_list %}
		<h3>
        	{% trans "Furniture:" %} {{ furniture.name }}
        </h3>
		{% for shelf in furniture.shelf_set.all %}
			<h5 style="text-align: center;"> {{ shelf.name }} -- {% trans 'Total' %}: {{shelf.count_objects}} {% trans 'objects' %} </h5>
            <ul>
            	{% for obj in shelf.shelfobject_set.all %}
                	<li>{{ obj.object.code }} {{ obj.object.name }}
                		{{ obj.quantity }} {{ obj.get_measurement_unit_display }}	
                	 </li>
               	{% empty %}
                	{% trans "No Object Elements" %}
                {% endfor %}
            </ul>
        {% empty %}
        	{% trans "No Shelf Elements" %}
		{% endfor %}
		<br />
	{% endfor %}
{% endblock %}