{% extends 'base.html' %}
{% load static i18n gtsettings %}

{% block extra_css %}
	<link href="{% static 'vendors/datatables/dataTables.bootstrap.min.css' %}" rel="stylesheet">
{% endblock %}

{% block content %} 
<h1 class="header text-center">  {% trans 'Search MSDS' %} 
<a class="btn btn-success pull-right" href="{% url 'msds:msds_msdsobject_create' %}">
{% trans 'Upload your MSDS' %}
</a>

</h1>
<table id="msdstable" class="display" style="width: 100%">
	<thead>
		<tr>
			<th>{% trans 'Provider' %}</th>
			<th>{% trans 'Product' %}</th>
			<th>{% trans 'Download' %}</th>

		</tr>
	</thead>
	<tfoot>
		<tr>
			<th>{% trans 'Provider' %}</th>
			<th>{% trans 'Product' %}</th>
			<th>{% trans 'Download' %}</th>
		</tr>
	</tfoot>
</table>

{% endblock %} 
{% block js %}

<script src="{% static 'vendors/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'vendors/datatables/dataTables.bootstrap.min.js' %}"></script>

<script>
$(document).ready(function() {
    $('#msdstable').DataTable( {
        "ajax": '{% url "msds:list_msds" %}',
       // "processing" : true,
        "serverSide" : true,
        "language": {
            "url": "{% get_datatables_translation %}"
        }
        
    } );
} );
</script>
{% endblock %}