{% extends 'base.html' %}
{% load static i18n gtsettings %}
{% load urlname_tags %}
{% block pre_head %}
    {% define_true  "use_datatables" %}
	{% define_urlname_action 'index_msds' %}
	{% define_urlname_action 'list_msds' %}
{% endblock %}
{% block content %}

<div class="text-center mb-3">
    <img src="{% url 'laboratory:sds_coverage_svg' org_pk %}" alt="{% trans 'FDS Coverage' %}" />
</div>

<h1 class="text-center">{% trans 'Search FDS' %}
{% if perms.msds.add_msdsobject %}
<a class="btn btn-success float-end" href="{% url 'msds:sds_create' org_pk %}">
{% trans 'Upload FDS' %}
</a>
{% endif %}
</h1>

<table id="msdstable" class="display table table-striped w-100"></table>

{% endblock %}
{% block js %}
<script>
$(document).ready(function() {
    createDataTable(
        '#msdstable',
        '{% url "msds:list_msds" org_pk %}',
        {
            columns: [
                {data: "0", name: "substance", title: gettext("Substance"), type: "string", visible: true},
                {data: "1", name: "cas_code", title: gettext("CAS Code"), type: "string", visible: true},
                {data: "2", name: "source", title: gettext("Source"), type: "select", visible: true,
                    choices: {{ source_choices_json|safe }}
                },
                {data: "3", name: "revision_date", title: gettext("Revision Date"), type: "date", visible: true},
                {data: "4", name: "last_update", title: gettext("Last Update"), type: "readonly", visible: true},
                {data: "5", name: "download", title: gettext("Download"), type: "readonly", visible: true, orderable: false, searchable: false}
            ],
            pageLength: 25,
            lengthMenu: [[10, 25, 50, 100, 500, 1000], [10, 25, 50, 100, 500, 1000]]
        },
        true
    );
} );
</script>
{% endblock %}
