{% load gtpermissions %}
{% load laboratory %}
{% any_permission_required 'laboratory.can_manage_disposal' 'laboratory.can_add_disposal' as admin_add_disposal_perm %}

<div style="background-color: {{data.color }};" class="shelfobjectcontainer" >
    <div class="whitebg container">
        <div class="clearfix border-bottom">
            <div class="float-start">
                {% get_qr_svg_img data width="16px" organization=org_pk %}
                    {% if admin_add_disposal_perm %}
                        <a data-ajax="true" data-success="processResponseshelfobjectCreate" href="{% url 'laboratory:shelfobject_create' org_pk=org_pk lab_pk=laboratory %}?shelf={{data.pk}}&row={{forloop.parentloop.parentloop.counter0}}&col={{forloop.parentloop.counter0}}">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                        </a>
                    {% endif %}
        {% if anyperm %}
                    <a id="shelf_view_{{data.pk}}" role="button" data-bs-toggle="collapse" href="#body_{{data.pk}}" aria-expanded="false" aria-controls="collapse{data.pk}">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                    </a>
                    <span> {{data.name}}</span>
            </div>

                    <span class="float-end fw-bold fc-nine">{{data.get_measurement_unit_display }} </span>
        </div>
                    {{data.description | safe }}
        {% else %}
            </div>
        </div>

        {% endif %}
        </div>
    </div>
    <div class="collapse" id="body_{{data.pk}}">
        <div class="listshelfobject" id="row_{{row}}_col_{{col}}_shelf_{{data.pk}}">
            {% include 'laboratory/shelfObject_list.html' with col=col row=row %}
        </div>
    </div>
</div>
