{% extends 'label_index.html' %}
{% load static i18n gtsettings %}
{% load urlname_tags %}
{% block pre_head %}
    {% define_true  "use_datatables" %}
    {% define_urlname_action 'danger_indications' %}
    {% define_urlname_action 'update_danger_indication' %}
{% endblock %}
{% block content %}
<div class="row">

    <div class="col-md-12">
        <h1>{% trans 'Danger Indication' %}</h1>
        <a href="{% url 'academic:add_danger_indication' org_pk %}" class="btn btn-success float-end">
            <i class="fa fa-plus" aria-hidden="true"></i> {% trans 'Add' %}</a>
        <table id="danger_table" class="table table-bordered text-center">
            <thead>
                <tr>
                    <th class="text-center">{% trans 'Code' %}</th>
                    <th class="text-center">{% trans 'Description' %}</th>
                    <th class="text-center">{% trans 'Warning Words' %}</th>
                    <th class="text-center">{% trans 'Actions' %}</th>
                </tr>
            </thead>
            <tbody>
            {% for elem in listado %}
                <tr>
                    <td>{{elem.code}}</td>
                    <td>{{elem.description}}</td>
                    <td>{{elem.warning_words}}</td>
                    <td>
                        <a class="btn btn-warning" title="{% trans 'Edit' %}" href="{% url 'update_danger_indication' elem.pk %}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block js %}
{{block.super}}

<script>

(function(){
    $("#danger_table").DataTable();
})(jQuery);
</script>

{% endblock %}