{% load static i18n gtsettings %}
{% trans "Unknown" as default_value %}
<div class="row p-3">
    <div class="col-sm-6">
        <div class="row">
            <div class="col-sm-5"><label>{% trans 'Creator' %}: </label></div>
            <div class="col-sm-7"><p>{% if object.creator %} {{object.creator}} {% else %} Desconocido {% endif %}</p></div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-5"><label>{% trans 'Name' %}: </label></div>
            <div class="col-sm-7"><p>{% if object.comercial_name %} {{object.comercial_name}} {% else %} Desconocido {% endif %}</p></div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-5"><label>{% trans 'Synonymous' %}: </label></div>
            <div class="col-sm-7"><p>{{object.synonymous|default:default_value}}</p></div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-5"><label>{% trans 'UIPA name' %}: </label></div>
            <div class="col-sm-7"><p>{{object.uipa_name|default:default_value}}</p></div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-5"><label>{% trans 'Brand' %}: </label></div>
            <div class="col-sm-7"><p>{{object.brand|default:default_value}}</p></div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-5"><label>{% trans 'Components' %}: </label></div>
            <div class="col-sm-7">
                {% if object.components %}
                <ul>
                    {% for component in object.components_sga.all %}
                    <li>{{component.name}}({{component.cas_number}})</li>
                    {% endfor %}
                </ul>
                {% else %}
                <p>{{default_value}}</p>
                {% endif %}
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-5"><label>{% trans 'Molecular Weight' %}: </label></div>
            <div class="col-sm-7"><p>{{object.molecular_weight|default:default_value}}</p></div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-5"><label>{% trans 'Concentration' %}: </label></div>
            <div class="col-sm-7"><p>{{object.concentration|default:default_value}}</p></div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-5"><label>{% trans 'Agrochemical' %}: </label></div>
            <div class="col-sm-7"><p>{% if object.agrochemical %} {% trans 'Yes' %} {% else %}No {% endif %}</p></div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-5"><label>{% trans 'Is Seveso list III?' %}: </label></div>
            <div class="col-sm-7"><p>{% if object.seveso_list %} {% trans 'Yes' %} {% else %}No {% endif %}</p></div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-5"><label>{% trans 'Description' %}: </label></div>
            <div class="col-sm-7"><p>{{object.description|default:default_value}}</p></div>
        </div>
        <hr>
    </div>
    <div class="col-sm-6">
        <div class="row">
            <div class="col-sm-5"><label>IARC: </label></div>
            <div class="col-sm-7">
                {% if object.sustancecharacteristicssga.iarc %}
                <p>{{object.sustancecharacteristicssga.iarc}}</p>
                {% else %}
                <p>{{default_value}}</p>
                {% endif %}
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-5"><label>IMDG: </label></div>
            <div class="col-sm-7">
                {% if object.sustancecharacteristicssga.imdg %}
                <p>{{object.sustancecharacteristicssga.imdg}}</p>
                {% else %}
                <p>{{default_value}}</p>
                {% endif %}
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-5"><label>{% trans 'White Organ' %}: </label></div>
            <div class="col-sm-7">
                {% if object.sustancecharacteristicssga.white_organ %}
                <ul>
                    {% for organ in object.sustancecharacteristicssga.white_organ.all %}
                    <li>{{organ}}</li>
                    {% endfor %}
                </ul>
                {% else %}
                <p>{{default_value}}</p>
                {% endif %}
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-5"><label>{% trans 'Bioaccomulable' %}: </label></div>
            <div class="col-sm-7"><p>{{object.bioaccumulable|default:default_value}}</p></div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-5"><label>{% trans 'Molecular formula' %}: </label></div>
            <div class="col-sm-7"><p>{{object.molecular_formula|default:default_value}}</p></div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-5"><label>{% trans 'CAS number' %}: </label></div>
            <div class="col-sm-7"><p>{{object.cas_id_number|default:default_value}}</p></div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-5"><label>{% trans 'Number Index' %}: </label></div>
            <div class="col-sm-7"><p>{{object.number_index|default:default_value}}</p></div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-5"><label>{% trans 'Number CE' %}: </label></div>
            <div class="col-sm-7"><p>{{object.number_ce|default:default_value}}</p></div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-5"><label>{% trans 'Danger Indication' %}: </label></div>
            <div class="col-sm-7">
                {% if object.sustancecharacteristicssga.h_code %}
                <ul>
                    {% for h_code in object.sustancecharacteristicssga.h_code.all %}
                    <li>{{h_code}}</li>
                    {% endfor %}
                </ul>
                {% else %}
                <p>{{default_value}}</p>
                {% endif %}
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-5"><label>{% trans 'UE codes' %}: </label></div>
            <div class="col-sm-7">
                {% if object.sustancecharacteristicssga.ue_code %}
                <ul>
                    {% for ue_code in object.sustancecharacteristicssga.ue_code.all %}
                    <li>{{ue_code}}</li>
                    {% endfor %}
                </ul>
                {% else %}
                <p>{{default_value}}</p>
                {% endif %}
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-5"><label>{% trans 'NFPA codes' %}: </label></div>
            <div class="col-sm-7">
                {% if object.sustancecharacteristicssga.nfpa %}
                <ul>
                    {% for nfpa in object.sustancecharacteristicssga.nfpa.all %}
                    <li>{{nfpa}}</li>
                    {% endfor %}
                </ul>
                {% else %}
                <p>{{default_value}}</p>
                {% endif %}
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-5"><label>{% trans 'Storage class' %}: </label></div>
            <div class="col-sm-7">
                {% if object.sustancecharacteristicssga.storage_class %}
                <ul>
                    {% for storage_class in object.sustancecharacteristicssga.storage_class.all %}
                    <li>{{storage_class}}</li>
                    {% endfor %}
                </ul>
                {% else %}
                <p>{{default_value}}</p>
                {% endif %}
            </div>
        </div>
        <hr>
    </div>
</div>