{% extends 'base.html' %}
{% load static i18n gtsettings label_tags %}
{% load urlname_tags %}
{% load organilab_tags %}
{% block pre_head %}
    {% define_true  "use_datatables" %}
    {% define_urlname_action 'security_leaf_pdf' %}
    {% define_urlname_action 'create_sustance' %}
    {% define_urlname_action 'update_substance' %}
    {% define_urlname_action 'detail_substance' %}
    {% define_urlname_action 'delete_substance' %}
    {% define_urlname_action 'get_preview' %}
{% endblock %}

{% block content %}
<div class="row">
<div class="offset-md-2 col-md-8">
        <div class="page-header" align="center">
          <h3 class="heading-1" ><span> {% trans 'List of Substances' %}  </span></h3>
        </div>
</div>
</div>

<div class="row">
<div class="col-md-12">
    <div class="add-container float-end">
        <a class="btn btn-outline-success" href="{% url 'academic:create_sustance' org_pk %}"  title="{% trans 'Add new Substance' %}">
            <i class="fa fa-plus" aria-hidden="true"></i> {% trans 'Add' %}</a>
    </div>
    <br>
  <table id="sustancetable" class="table table-striped table-bordered text-center" style="width:100%">
        <thead>
            <tr>
                <th>{% trans 'Name' %}</th>
                <th>{% trans 'Cas code' %}</th>
                <th>{% trans 'State' %}</th>
                <th>{% trans 'Actions' %}</th>
            </tr>
        </thead>
        <tbody>
            {% for substance in substances %}
               {% get_personal_template substance.pk as template %}
                <tr class="text-center">
                    <td>{{substance.comercial_name}}</td>
                    <td>{{substance.substancecharacteristics.cas_id_number|default_if_none:""}}</td>
                    <td><p class="text-center"> No</p></td>
                    <td><a href="{% url 'sga:update_substance' substance.organization.pk substance.pk  %}" class="btn btn-warning" title="{% trans 'Edit' %}"><i class="icons fa fa-edit"></i></a>
                        <a class="btn btn-info text-white" href="{% url 'sga:detail_substance' org_pk substance.pk %}" title="{% trans 'Review' %}" }><i class="icons fa fa-eye"></i></a>
                        <a data-bs-target="#delete_modal" data-bs-toggle="modal" data-substance="{{substance.pk}}" class="btn btn-danger remove" title="{% trans 'Remove' %}"><i class="icons fa fa-trash"></i></a>
                        {% if template %}
                        <a class="btn  btn-md  btn-info text-white" title="{% trans 'Generate PDF' %}" href="{% url 'academic:security_leaf_pdf' org_pk substance.pk %}"><i class="icons fa fa-file-pdf-o" aria-hidden="true"></i></a>
                        {% endif %}
                       </td>
                </tr>
            {% endfor %}
        </tbody>
  </table>
</div>
</div>


<div aria-hidden="true"  class="modal fade" id="delete_modal" role="dialog"
     tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content modal-sm">
            <div class="modal-header">
                <h5 class="modal-title pull-left" id="model_reservation_form_title">{% trans 'Delete Substance' %}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <label>{% trans '¿You want to remove the substance?' %}</label>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" data-dismiss="modal" type="button">{% trans 'Close' %}</button>
                <a class="btn btn-success" id="remove_substance">{% trans 'Delete' %}</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bs-example-modal-lg" id="svgtemplate" tabindex="-1"
        role="dialog" aria-hidden="true" data-backdrop="static">
        <div class="stylo modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">{% trans 'Preview' %}</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-center">
                    <img>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
{{block.super}}

<script>

function escapeRegExp(str) {
  return str.replace(/[\-\[\]\/\{\}\(\)\*\+\?\.\\\^\$\|]/g, "\\$&");
}

function replaceLast(obj, search, replace) {
    return obj.replace(new RegExp(search+"([^"+search+"]*)$"), replace+"");
}

(function(){
    $("#sustancetable").DataTable();
    $(".remove").on('click', function(){
        $("#remove_substance").removeAttr('href');
        var id = $(this).data('substance')
        var url = "{% url 'sga:delete_substance' org_pk 0 %}";

        if(id){
            url = replaceLast(url, '0', id);
            document.querySelector("#remove_substance").setAttribute('href',url)
        }

    });
})(jQuery);
</script>
<script>
    document.url_get_preview = "{% url 'sga:get_preview' org_pk 0 %}";
</script>
<script type="text/javascript" src="{% static 'sga/js/personal_template.js' %}?v={% get_organilab_version %}"></script>


{% endblock %}