{% extends 'label_index.html' %}
{% load static i18n gtsettings %}
{% load urlname_tags %}
{% block pre_head %}
    {% define_true  "use_datatables" %}
    {% define_urlname_action 'prudence_advices' %}
{% endblock %}
{% block content %}
<div class="row">

    <div class="col-sm-12">
        <h1>{% trans 'Prudence Advices' %}</h1>
        <a href="{% url 'add_prudence_advice' %}" class="btn btn-success float-end">
            {% trans 'Add' %}
            <i class="fa fa-plus" aria-hidden="true"></i></a>
        <table id="prudence_table" class="table table-bordered text-center">
            <thead>
                <tr>
                    <th class="text-center">Código</th>
                    <th class="text-center">Nombre</th>
                    <th class="text-center">Mensaje de Ayuda</th>
                    <th class="text-center">Acciones</th>
                </tr>
            </thead>
            <tbody>
            {% for elem in listado %}
                <tr>
                    <td>{{elem.code}}</td>
                    <td>{{elem.name}}</td>
                    <td>{% if elem.prudence_advice_help %}{{elem.prudence_advice_help}}{% else %} {% trans 'Unknown' %}{% endif %}</td>
                    <td>
                        <a class="btn btn-warning" title="{% trans 'Edit' %}" href="{% url 'update_prudence_advice' elem.pk %}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
{% block js %}
{{block.super}}

<script>

(function(){
    $("#prudence_table").DataTable();
})(jQuery);
</script>

{% endblock %}