
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<style>
section{
    font-family: Arial !important;
    }
ol{list-style-type: lower-alpha;}

</style>
<body>
{% load static i18n %}
<section id="product">
    {% include 'academic/substance/pdf/section_one.html' %}
</section>

<section id="two">
    {% include 'academic/substance/pdf/section_two.html' %}
</section>
<section id="three">
    {% include 'academic/substance/pdf/section_three.html' %}
</section>
<section id="four">
    {% include 'academic/substance/pdf/section_four.html' %}
</section>
<section id="five">
    {% include 'academic/substance/pdf/section_five.html' %}
</section>
<section id="six">
    {% include 'academic/substance/pdf/section_six.html' %}
</section>
<section id="seven">
    {% include 'academic/substance/pdf/section_seven.html' %}
</section>
<section id="eight">
    {% include 'academic/substance/pdf/section_eight.html' %}
</section>
<section id="nine">
    {% include 'academic/substance/pdf/section_nine.html' %}
</section>
<section id="ten">
    {% include 'academic/substance/pdf/section_ten.html' %}
</section>
<section id="eleven">
    {% include 'academic/substance/pdf/section_eleven.html' %}
</section>
<section id="twelve">
    {% include 'academic/substance/pdf/section_twelve.html' %}
</section>
<section id="thirdteen">
    {% include 'academic/substance/pdf/section_thirdteen.html' %}
</section>
<section id="fourteen">
    {% include 'academic/substance/pdf/section_fourteen.html' %}
</section>
<section id="fifthteen">
    {% include 'academic/substance/pdf/section_fifthteen.html' %}
</section>
<section id="sixteen">
    {% include 'academic/substance/pdf/section_sixteen.html' %}
</section>
</body>
</html>