{% extends 'base.html' %}
{% load static i18n %}
{% load urlname_tags %}
{% block pre_head %}
    {% define_urlname_action 'step_one' %}
    {% define_urlname_action 'step_two' %}
    {% define_urlname_action 'step_three' %}
    {% define_urlname_action 'step_four' %}
    {% define_urlname_action 'add_sga_provider' %}
    {% define_urlname_action 'update_substance' %}
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
                {% include 'academic/substance/steps.html' %}
            <br>
        </div>
    </div>
    <form id="leaf_form" action="{% url 'step_four' organilabcontext org_pk substance %}" method="POST">
    {% csrf_token %}

    <div class="row " style="justify-content: center">
        <div class="col-md-offset-2 col-md-8" >
            <div class = "container">
                <div class="accordion " id="accordionExample" >
                    <div class="accordion-item">
                            <h4 class="accordion-header" id="heading">
                                <button class="accordion-button " type="button" data-bs-toggle="collapse" data-bs-target="#collapseZero" aria-expanded="true" aria-controls="collapseZero">
                                    {% trans 'Product Identifiers' %}
                                </button>
                            </h4>

                        <div id="collapseZero" class="accordion-collapse collapse show" role="tabpanel" aria-labelledby="headingZero" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                               <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">{{ form.register_number.label_tag }} {{ form.register_number }}</div>
                                        <div class="form-group">{{ form.reach_number.label_tag }} {{ form.reach_number }}</div>
                                        <div class="form-group">{{ form.reference.label_tag }} {{ form.reference }}</div>
                                        <div class="form-group">
                                            {{ form.provider.label_tag }}
                                            <br>
                                            <div class="input-group">
                                                <span class="input-group-btn " >
                                                    <button class="btn btn-success text-white" type="button" title="{% trans 'Add' %}" data-bs-toggle="modal" data-bs-target="#provider_modal">
                                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                                    </button>
                                                </span>
                                                {{ form.provider }}
                                            </div>
                                        </div>
                                        <div class="form-group">{{ form.identified_uses.label_tag }} {{ form.identified_uses }}</div>
                                    </div>
                               </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h4 class="accordion-header" id="headingOne">
                            <button class="accordion-button " type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                {% trans 'First aid' %}
                            </button>
                        </h4>
                        <div id="collapseOne" class="accordion-collapse collapse " role="tabpanel" aria-labelledby="headingOne" >
                            <div class="accordion-body">
                                <div class="row">
                                    <div class="col-sm-6">
                                         <div class="form-group">
                                            {{ form.general.label_tag }} {{ form.general }}
                                         </div>
                                         <div class="form-group">
                                            {{ form.inhalation.label_tag }} {{ form.inhalation }}
                                         </div>
                                         <div class="form-group">
                                            {{ form.skin_contact.label_tag }} {{ form.skin_contact }}
                                         </div>
                                         <div class="form-group">
                                            {{ form.eye_contact.label_tag }} {{ form.eye_contact }}
                                         </div>
                                    </div>
                                    <div class="col-sm-6">
                                         <div class="form-group">
                                            {{ form.ingestion.label_tag }} {{ form.ingestion }}
                                         </div>
                                         <div class="form-group">
                                            {{ form.symptoms.label_tag }} {{ form.symptoms }}
                                         </div>
                                         <div class="form-group">
                                            {{ form.other_causes.label_tag }} {{ form.other_causes }}
                                         </div>
                                         <div class="form-group">
                                            {{ form.medical_indication.label_tag }} {{ form.medical_indication }}
                                         </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h4 class="accordion-header" id="headingTwo">
                            <button class="accordion-button " type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                {% trans 'Fire-fighting measures' %}
                            </button>
                        </h4>
                        <div id="collapseTwo" class="accordion-collapse collapse " role="tabpanel" aria-labelledby="headingTwo" >
                            <div class="accordion-body">
                               <div class="row">
                                    <div class="col-sm-6">
                                         <div class="form-group">{{ form.appropriate.label_tag }} {{ form.appropriate }}</div>
                                         <div class="form-group">{{ form.no_appropriate.label_tag }} {{ form.no_appropriate }}</div>
                                         <div class="form-group">{{ form.specific_dangers.label_tag }} {{ form.specific_dangers }}</div>
                                    </div>
                                    <div class="col-sm-6">
                                         <div class="form-group">{{ form.combustion_products.label_tag }} {{ form.combustion_products }}</div>
                                         <div class="form-group">{{ form.recomendations.label_tag }} {{ form.recomendations }}</div>
                                         <div class="form-group">{{ form.other_info.label_tag }} {{ form.other_info }}</div>
                                    </div>

                               </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h4 class="accordion-header" id="headingThree">
                            <button class="accordion-button " type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                {% trans 'Measures in case of accidental spill' %}
                            </button>
                        </h4>
                        <div id="collapseThree" class="accordion-collapse collapse " role="tabpanel" aria-labelledby="headingThree" >
                            <div class="accordion-body">
                               <div class="row">
                                    <div class="col-sm-6">
                                         <div class="form-group">{{ form.personal_caution.label_tag }} {{ form.personal_caution }}</div>
                                         <div class="form-group">{{ form.environmental_caution.label_tag }} {{ form.environmental_caution }}</div>
                                    </div>
                                    <div class="col-sm-6">
                                         <div class="form-group">{{ form.methods_material_contention.label_tag }} {{ form.methods_material_contention }}</div>
                                         <div class="form-group">{{ form.references_sections.label_tag }} {{ form.references_sections }}</div>
                                    </div>
                               </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h4 class="accordion-header" id="headingFour">
                            <button class="accordion-button " type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                {% trans 'Handling Storage' %}
                            </button>
                        </h4>
                        <div id="collapseFour" class="accordion-collapse collapse " role="tabpanel" aria-labelledby="headingFour" >
                            <div class="accordion-body">
                               <div class="row">
                                    <div class="col-sm-12">
                                         <div class="form-group">{{ form.safe_handling.label_tag }} {{ form.safe_handling }}</div>
                                         <div class="form-group">{{ form.storage_conditions.label_tag }} {{ form.storage_conditions }}</div>
                                         <div class="form-group">{{ form.specific_end_uses.label_tag }} {{ form.specific_end_uses }}</div>
                                    </div>
                               </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h4 class="accordion-header" id="headingFive">
                            <button class="accordion-button " type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                {% trans 'Exposure controls/personal protection' %}
                            </button>
                        </h4>
                        <div id="collapseFive" class="accordion-collapse collapse " role="tabpanel" aria-labelledby="headingFive" >
                            <div class="accordion-body">
                               <div class="row">
                                    <div class="col-sm-6">
                                         <div class="form-group">{{ form.vla_ed_pp.label_tag }} {{ form.vla_ed_pp }}</div>
                                         <div class="form-group">{{ form.vla_ed_mg.label_tag }} {{ form.vla_ed_mg }}</div>
                                         <div class="form-group">{{ form.vla_ec_pp.label_tag }} {{ form.vla_ec_pp }}</div>
                                         <div class="form-group">{{ form.vla_ec_mg.label_tag }} {{ form.vla_ec_mg }}</div>
                                         <div class="form-group">{{ form.vla_vm_pp.label_tag }} {{ form.vla_vm_pp }}</div>
                                         <div class="form-group">{{ form.vla_vm_mg.label_tag }} {{ form.vla_vm_mg }}</div>
                                         <div class="form-group">{{ form.annotation.label_tag }} {{ form.annotation }}</div>
                                    </div>
                                    <div class="col-sm-6">
                                         <div class="form-group">{{ form.approppiate_control.label_tag }} {{ form.approppiate_control }}</div>
                                         <div class="form-group">{{ form.eye_face_protection.label_tag }} {{ form.eye_face_protection }}</div>
                                         <div class="form-group">{{ form.skin_protection.label_tag }} {{ form.skin_protection }}</div>
                                         <div class="form-group">{{ form.corporal_protection.label_tag }} {{ form.corporal_protection }}</div>
                                         <div class="form-group">{{ form.breath_protection.label_tag }} {{ form.breath_protection }}</div>
                                         <div class="form-group">{{ form.environmental_exposition.label_tag }} {{ form.environmental_exposition }}</div>
                                         <div class="form-group">{{ form.font.label_tag }} {{ form.font }}</div>
                                    </div>

                               </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">

                         <h4 class="accordion-header" id="headingSix">
                            <button class="accordion-button " type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                {% trans 'Physical and chemical properties' %}
                            </button>
                        </h4>
                        <div id="collapseSix" class="accordion-collapse collapse " role="tabpanel" aria-labelledby="headingSix"  >
                            <div class="accordion-body">
                               <div class="row">
                                    <div class="col-sm-6">
                                         <div class="form-group">{{ form.aspect.label_tag }} {{ form.aspect }}</div>
                                         <div class="form-group">{{ form.smell.label_tag }} {{ form.smell }}</div>
                                         <div class="form-group">{{ form.olfactory_threshold.label_tag }} {{ form.olfactory_threshold }}</div>
                                         <div class="form-group">{{ form.pH.label_tag }} {{ form.pH }}</div>
                                         <div class="form-group">{{ form.melting_point.label_tag }} {{ form.melting_point }}</div>
                                         <div class="form-group">{{ form.starting_point_boiling.label_tag }} {{ form.starting_point_boiling }}</div>
                                         <div class="form-group">{{ form.flashpoint.label_tag }} {{ form.flashpoint }}</div>
                                         <div class="form-group">{{ form.evaporation_rate.label_tag }} {{ form.evaporation_rate }}</div>
                                         <div class="form-group">{{ form.inflammability_solid_gas.label_tag }} {{ form.inflammability_solid_gas }}</div>
                                         <div class="form-group">{{ form.Inflammability_top_bottom.label_tag }} {{ form.Inflammability_top_bottom }}</div>
                                    </div>
                                    <div class="col-sm-6">
                                         <div class="form-group">{{ form.vapor_pressure.label_tag }} {{ form.vapor_pressure }}</div>
                                         <div class="form-group">{{ form.vapor_density.label_tag }} {{ form.vapor_density }}</div>
                                         <div class="form-group">{{ form.relative_density.label_tag }} {{ form.relative_density }}</div>
                                         <div class="form-group">{{ form.water_solubility.label_tag }} {{ form.water_solubility }}</div>
                                         <div class="form-group">{{ form.partition_coefficient.label_tag }} {{ form.partition_coefficient }}</div>
                                         <div class="form-group">{{ form.auto_temperature_inflammation.label_tag }} {{ form.auto_temperature_inflammation }}</div>
                                         <div class="form-group">{{ form.temperature_decomposition.label_tag }} {{ form.temperature_decomposition }}</div>
                                         <div class="form-group">{{ form.viscosity.label_tag }} {{ form.viscosity }}</div>
                                         <div class="form-group">{{ form.explosive_properties.label_tag }} {{ form.explosive_properties }}</div>
                                         <div class="form-group">{{ form.properties_oxidising.label_tag }} {{ form.properties_oxidising }}</div>
                                         <div class="form-group">{{ form.other_security_information.label_tag }} {{ form.other_security_information }}</div>
                                    </div>

                               </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h4 class="accordion-header" id="headingSeven">
                            <button class="accordion-button " type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                               {% trans 'Stability and Reactivity' %}
                            </button>
                        </h4>
                        <div id="collapseSeven" class="accordion-collapse collapse " role="tabpanel" aria-labelledby="headingSeven" >
                            <div class="accordion-body">
                               <div class="row">
                                    <div class="col-sm-6">
                                         <div class="form-group">{{ form.reactivity.label_tag }} {{ form.reactivity }}</div>
                                         <div class="form-group">{{ form.chemical_stability.label_tag }} {{ form.chemical_stability }}</div>
                                         <div class="form-group">{{ form.dangerous_reactions.label_tag }} {{ form.dangerous_reactions }}</div>
                                    </div>
                                    <div class="col-sm-6">
                                         <div class="form-group">{{ form.conditions_avoid.label_tag }} {{ form.conditions_avoid }}</div>
                                         <div class="form-group">{{ form.incompatible_materials.label_tag }} {{ form.incompatible_materials }}</div>
                                         <div class="form-group">{{ form.dangerous_decomposition_products.label_tag }} {{ form.dangerous_decomposition_products }}</div>
                                    </div>
                               </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h4 class="accordion-header" id="headingEight">
                            <button class="accordion-button " type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                               {% trans 'Toxicological informacion' %}
                            </button>
                        </h4>
                        <div id="collapseEight" class="accordion-collapse collapse " role="tabpanel" aria-labelledby="headingEight" >
                            <div class="accordion-body">
                               <div class="row">
                                    <div class="col-sm-6">
                                         <div class="form-group">{{ form.acute_toxicity.label_tag }} {{ form.acute_toxicity }}</div>
                                         <div class="form-group">{{ form.skin_irritation.label_tag }} {{ form.skin_irritation }}</div>
                                         <div class="form-group">{{ form.eye_irritation.label_tag }} {{ form.eye_irritation }}</div>
                                         <div class="form-group">{{ form.respiratory_sensitization.label_tag }} {{ form.respiratory_sensitization }}</div>
                                         <div class="form-group">{{ form.germ_mutagenicity.label_tag }} {{ form.germ_mutagenicity }}</div>
                                         <div class="form-group">{{ form.carcinogenicity.label_tag }} {{ form.carcinogenicity }}</div>
                                    </div>
                                    <div class="col-sm-6">
                                         <div class="form-group">{{ form.reproductive_toxicity.label_tag }} {{ form.reproductive_toxicity }}</div>
                                         <div class="form-group">{{ form.unique_exhibition.label_tag }} {{ form.unique_exhibition }}</div>
                                         <div class="form-group">{{ form.repeated_exposures.label_tag }} {{ form.repeated_exposures }}</div>
                                         <div class="form-group">{{ form.aspiration_hazard.label_tag }} {{ form.aspiration_hazard }}</div>
                                         <div class="form-group">{{ form.additional_information.label_tag }} {{ form.additional_information }}</div>
                                    </div>
                               </div>
                            </div>
                        </div>
                    </div>
                <div class="accordion-item">
                      <h4 class="accordion-header" id="headingNine">
                            <button class="accordion-button " type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                                {% trans 'Ecological Information' %}
                            </button>
                        </h4>
                    <div id="collapseNine" class="accordion-collapse collapse " role="tabpanel" aria-labelledby="headingNine" >
                        <div class="accordion-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">{{ form.toxicity.label_tag }} {{ form.toxicity }}</div>
                                    <div class="form-group">{{ form.Persistence_degradability.label_tag }} {{ form.Persistence_degradability }}</div>
                                    <div class="form-group">{{ form.bioaccumulative_potential.label_tag }} {{ form.bioaccumulative_potential }}</div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">{{ form.soil_mobility.label_tag }} {{ form.soil_mobility }}</div>
                                    <div class="form-group">{{ form.assessment_result.label_tag }} {{ form.assessment_result }}</div>
                                    <div class="form-group">{{ form.other_adverse_effects.label_tag }} {{ form.other_adverse_effects }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h4 class="accordion-header" id="headingTen">
                            <button class="accordion-button " type="button" data-bs-toggle="collapse" data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                               {% trans 'Relative Considerations Disposal' %}
                            </button>
                        </h4>
                    <div id="collapseTen" class="accordion-collapse collapse " role="tabpanel" aria-labelledby="headingTen" >
                        <div class="accordion-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">{{ form.product.label_tag }} {{ form.product }}</div>
                                    <div class="form-group">{{ form.contaminated_packaging.label_tag }} {{ form.contaminated_packaging }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h4 class="accordion-header" id="headingTwelve">
                            <button class="accordion-button " type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">
                              {% trans 'Regulatory information'%}
                            </button>
                        </h4>
                    <div id="collapseTwelve" class="accordion-collapse collapse " role="tabpanel" aria-labelledby="headingEleven">
                        <div class="accordion-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">{{ form.regulatory_information.label_tag }} {{ form.regulatory_information }}</div>
                                    <div class="form-group">{{ form.regulations_legislation.label_tag }} {{ form.regulations_legislation }}</div>
                                    <div class="form-group">{{ form.chemical_safety_assessment.label_tag }} {{ form.chemical_safety_assessment }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                     <h4 class="accordion-header" id="headingzz">
                            <button class="accordion-button " type="button" data-bs-toggle="collapse" data-bs-target="#collapsezz" aria-expanded="false" aria-controls="collapsezz">
                              {% trans 'Transport information' %}
                            </button>
                        </h4>
                    <div id="collapsezz" class="accordion-collapse collapse " role="tabpanel" aria-labelledby="headingzz" >
                        <div class="accordion-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">{{ form.onu_number.label_tag }} {{ form.onu_number }}</div>
                                    <div class="form-group">{{ form.proper_shipping_name.label_tag }} {{ form.proper_shipping_name }}</div>
                                    <div class="form-group">{{ form.transport_hazard_class.label_tag }} {{ form.transport_hazard_class }}</div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">{{ form.packaging_group.label_tag }} {{ form.packaging_group }}</div>
                                    <div class="form-group">{{ form.environmental_hazards.label_tag }} {{ form.environmental_hazards }}</div>
                                    <div class="form-group">{{ form.special_precautions.label_tag }} {{ form.special_precautions }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h4 class="accordion-header" id="headingThirteen">
                            <button class="accordion-button " type="button" data-bs-toggle="collapse" data-bs-target="#collapseThirteen" aria-expanded="false" aria-controls="collapseThirteen">
                              {% trans 'Other information'%}
                            </button>
                        </h4>
                    <div id="collapseThirteen" class="accordion-collapse collapse " role="tabpanel" aria-labelledby="headingThirteen" >
                        <div class="accordion-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">{{ form.full_text_statements.label_tag }} {{ form.full_text_statements }}</div>
                                    <div class="form-group">{{ form.full_text_phrases.label_tag }} {{ form.full_text_phrases }}</div>
                                    <div class="form-group">{{ form.other_data_text.label_tag }} {{ form.other_data_text }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
        <div class="col-md-12 text-center mt-2 " style="display:inline-block">
            <button type="submit" class="btn btn-outline-success">{% trans 'Continue' %}</button>
        </div>
    </form>
</div>
<div id="provider_modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{% trans 'Add Provider' %}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="provider_form">
                    {{provider_form.as_inline}}
                </form>
            </div>
            <div class="modal-footer">
                <button id="provider_add" type="button" class="btn btn-success" data-bs-dismiss="modal">{% trans 'Add' %}</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans 'Close' %}</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block js %}
{{block.super}}
<script>

    $("#provider_add").click(()=>{
    const formEntries = new FormData(document.querySelector('#provider_form')).entries();
    const json = Object.assign(...Array.from(formEntries, ([x,y]) => ({[x]:y})));

    $.ajax({
      method: "POST",
      url: "{% url 'add_sga_provider' %}",
      headers: {'X-CSRFToken': getCookie('csrftoken')},
      data: json
    }).done(function(data){
        if(data.result){
            var opt = document.createElement('option');
            opt.value=data.provider_pk;
            opt.text= data.provider
            let select_provider=document.querySelector("#leaf_form #id_provider")
            select_provider.appendChild(opt)
            select_provider.selectedIndex=select_provider.length-1;
            document.getElementById("provider_form").reset();
        }

    })
   })
    </script>
{% endblock %}