{% extends 'base.html' %}
{% load static i18n %}
{% load urlname_tags %}
{% block pre_head %}
    {% define_urlname_action 'step_one' %}
    {% define_urlname_action 'step_two' %}
    {% define_urlname_action 'step_three' %}
    {% define_urlname_action 'step_four' %}
    {% define_urlname_action 'update_substance' %}
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
                {% include 'academic/substance/steps.html' %}
            <br>
        </div>
    </div>
<form class="form-horizontal" action="{% url 'step_two' organilabcontext complement %}" enctype="multipart/form-data" method="POST">
    {% csrf_token %}
    <div class="container text-center">
<div class="row">
    <div class="col">
       <h2 style="color:#337ab7">{% trans 'SGA Components' %}</h2>

        <div class="card">
  <div class="card-body">
           {{ form.as_horizontal }}
  </div></div>
    <div class="col-md-12 text-center mt-2" style="display:inline-block">
        <button type="submit" class="btn btn-success">{% trans 'Continue' %}</button>
    </div>

    </div>
    <div class="col">
       <h2 style="color:#337ab7">{% trans 'Commercial information' %}</h2>
        <div class="card">
  <div class="card-body">
        {{ builderinformationform.as_horizontal }}
        {{ pesonalform.as_horizontal }}
  </div></div>
    </div>
  </div>
</div>

 </form>

</div>

{% endblock %}

