{% extends 'label_index.html' %}
{% load i18n %}
{% load static %}
{% load urlname_tags %}
{% block pre_head %}
    {% define_urlname_action 'step_one' %}
    {% define_urlname_action 'step_two' %}
    {% define_urlname_action 'step_three' %}
    {% define_urlname_action 'step_four' %}
    {% define_urlname_action 'update_substance' %}
    {% define_urlname_action 'get_recipient_size' %}
    {% define_urlname_action 'get_danger_indication' %}
    {% define_urlname_action 'prudence' %}
{% endblock %}
{# CSS #}
{% block css %}
<link href="{% static 'editor/svgedit.css' %}" rel="stylesheet" media="all">
{% endblock css %}
{% block js %}
{{block.super}}
    <script>
        document.url_get_recipient_size = "{% url 'sga:get_recipient_size' organilabcontext 0 %}";
        document.clean_canvas_editor = true;
        document.urls={
            'danger_indication_url': '{% url 'sga:get_danger_indication' organilabcontext %}',
            'prudence_advice_url': '{% url 'sga:prudence' organilabcontext %}',

        };
    </script>
    <script type="module">import SvgCanvas  from '/static/svgcanvas/svgcanvas.js';
    window.SvgCanvas=SvgCanvas;
    </script>
    <script src="{% static 'sga/sga-bundle.js' %}" type="module"> </script>
    <script src="{% static 'sga/js/canvas_editor.js' %}"> </script>
{{form.media}}
{% endblock %}

{% block extrameta%}{% endblock extrameta %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
          {% include 'academic/substance/steps.html' %}
            <div class="row">
                <div class="col-md-3">
                    <div class="text-center">

{% trans 'Use save before finish' %}<br><br>
 <button id="editor_save" type="submit" class="btn btn-outline-success text-center" > <i class="fa fa-send"></i> {% trans 'Save' %} </button>
<br><br>
                    </div>
                    {% include 'editor/sga_live.html' with complement=sga_elements %}
                </div>
                <div class="col-md-9">
<div class="m-3">
    <form id="sgaform" method="post" >{% csrf_token %}
                    {{editorform}}
    </form>
</div>
                    {% include 'editor/canvas_and_utils.html' %}
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock content %}