{% extends 'label_index.html' %}
{% load static i18n gtsettings %}

{% block content %}
<div class="row">

    <div class="col-sm-12">
        <a href="{% url 'add_warning_word' organilabcontext %}" class="btn btn-success pull-right">{% trans 'Add' %}</a>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Peso</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
            {% for elem in listado %}
                <tr>
                    <td>{{elem.name}}</td>
                    <td>{{elem.weigth}}</td>
                    <td>
                        <a class="btn btn-warning" title="{% trans 'Edit' %}" href="{% url 'update_warning_word' organilabcontext elem.pk %}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}