{% extends "base.html" %}
{% load i18n static laboratory%}
{% block content %}

     <div class="container">
        <div class="row">
        <div class='col-md-6 col-md-offset-1 '><form action="" method="POST">
            <h2 class="text-center">{% trans 'New User' %} </h2>
            {{ form.as_horizontal }}
             {% csrf_token %}
            <div class="form-group">
            <input type="submit" class="btn btn-success text-center" value="{% trans 'Create' %}" name="btnsubmit" />
        </div> </form>
								</div>
									<div class='col-md-4 col-md-offset-2 '>
										<div class="card  border-primary mb-3" >
											<div class="card-header">{% trans "Help" %}</div>
											<div class="card-body">
													<h5 class="card-title">{% trans "What happen with the user you will create" %}</h5>
													<p class="card-text">{% trans  "To the created user, an email will be sent with instructions on how to change their password. Please contact them to check their email. Some emails might go to the SPAM folder, so please also check the SPAM mailbox." %}</p>
												 <p class="card-text">{% trans  "The email is used as username." %}</p>
												 <p class="card-text">{% blocktranslate %}The user is created with the default role of Student, so they will be ready to be added to the desired laboratory. You can add an administrative role by adding the user to the organization in the organization tab. In both cases, the user should be assigned roles in each laboratory.
Remember, you can use the user creation functionality via QR code provided in the laboratory administration to simplify the role assignment for a large number of users.{% endblocktranslate %}</p>
											</div>
									</div>
									</div>
								</div>

     </div>

{% endblock %}
