{% extends "base.html" %}
{% load bootstrap i18n static laboratory%}
{% block content %}

     <div class="container">
        <div class="row">
        <div class='col-md-6 col-md-offset-1 '><form action="" method="POST">
            <h2 class="text-center">{% trans 'New User' %}</h2>
            {{ form.as_horizontal }}
             {% csrf_token %}
            <div class="form-group">
            <input type="submit" class="btn btn-success text-center" value="{% trans 'Create' %}" name="btnsubmit" />
        </div> </form>

            </div>
        </div>
     </div>

{% endblock %}