{% extends 'gentelella/registration/email_base.html' %}
{% load i18n %}
{% block content %}
Dear {{user.get_full_name|default_if_none:user.username}},
<br><br>
We inform you that your account {{user.username}} has been deleted. The reason for deletion is:
<br><br>
According to the policies of Organilab platform usage, accounts that have been inactive on the organilab.org website for more than 12 months are automatically deleted.
<br><br>
<br><br>
To regain access to our services, you will have to create a new user.
<br><br>
Important: if your user is an organization administrator, deleting your account could also delete the organization, if there is no other administrator user within the organization.
<br><br>
If you have any questions or require further assistance, please don't hesitate to contact our support team. We will be glad to assist you. We appreciate your understanding and value your trust in our services, and we strive to provide you with an optimal experience.
<br><br>
Sincerely,
<br><br>
Organilab
{% endblock %}
