{% extends 'base_without_sidebar.html' %}
{% load static i18n %}
{% block title %}{% trans 'Register with new organization' %}{% endblock %}

 {% block extra_nav %}
<div class="nav-item">
          <h4  class="text-white">{% trans 'Configure your profile' %}</h4>
</div>
{% endblock %}

{% block body_class %}login{% endblock body_class %}
{% block content %}
<div class="center-container">
  <div class="row vertical-center hp-75">
     <div class="col-xs-12 col-md-6 offset-1">

             <form action="" method="post">
              {{form.as_horizontal}}
               {% csrf_token %}
                 <button class="btn btn-sx btn-success float-end"><i class="fa fa-user-plus"></i> {% trans 'Validate user' %}</button>
             </form>
     </div>
      <div class="col-xs-12 col-md-4 text-center">
            <div class="card">
                <div class="card-body">
                    <h4>{% trans 'Your OTP Seed' %}</h4>

                    <div class="text">
                       {% trans 'This image will not available in the future, please save it' %}
                        <img src="{% url 'auth_and_perms:show_qr_img' user%}">
                    </div>
                </div>
            </div>
      </div>

  </div>
</div>

{% endblock %}