{% extends 'base.html' %}
{% load i18n static %}
{% load user_rol_tags %}

{# CSS #}
{% block css %}
<link href="{% static 'css/permission_table_style.css' %}" rel="stylesheet" media="all">
{% endblock css %}

{% block content %}

{% for node in nodes %}
    <div class="row">
        <div class="{{node.1}}">
            <div class="bs-callout bs-callout-{{node.2}}">
                <h4>{{node.0.node}}</h4>
                <div class="row" id="rols">
                    <div class="col-xs-12 col-md-6">
                        <ul>
                            <li class="rolcontainer"  rol="{{node.0.node.pk}}" title="{% trans 'Add new rol' %}"   confirmbtntext="{% trans 'Add' %}" data-addbtn="1"><span class="btn btn-success rolbtnadd" >+</span></li>
                            </ul>
                    </div>

                </div>

                <div class="row">
                    <div class="wrapper" style="overflow: auto;">
                        <table id="permissionTable" class="table table-bordered table-hover table-striped w-100">
                        <thead>
                            <tr>
                                <th>{% trans "Administrators users"%}</th>
                                {% for rol in node.0.node.rol.all %}
                                    <th>{{rol.name}}</th>
                                {% endfor %}

                            </tr>
                        </thead>
                        <tbody>
                            {% for user in node.0.users %}
                                <tr>
                                    <td>
                                        {% if user.get_full_name %}{{user.get_full_name}}{% else %}{{user}}{% endif %}
                                    </td>
                                    {% for rol in node.0.node.rol.all %}
                                        <td>
                                            {% check_user_rol user rol as checkrol %}
                                                <input type="checkbox" autocomplete="off" data-widget="CheckboxInput"  class="flat {% if checkrol %}checkrol{% endif %}" data-url="{% url 'auth_and_perms:updateuserrol' user.pk rol.pk %}" style="position: absolute; opacity: 0;">
                                                <ins class="iCheck-helper"></ins>
                                        </td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div id="addrolform" title="{% trans 'Please enter a valid name' %}"
     url="{% url 'auth_and_perms:api-rol-list' %}"
     class="hidden" style="display:none">
    <input type="text" id="rolname" class="swal2-input" placeholder="{% trans 'Rol name' %}" />
</div>
{% endfor %}

{% endblock %}

{% block js %}
{{block.super}}

<script src="{% static 'js/auth_and_perms/organization_manager.js' %}"></script>

{% endblock%}