{% extends 'base.html' %}
{% load gtsettings i18n static laboratory %}
{% load urlname_tags %}
{% load organilab_tags %}

{% block pre_head %}

	{% define_urlname_action 'riskzone_map' %}
{% endblock %}

{% block content %}
	<div class="row mt-4">
		<h4> {% trans "Laboratories" %} </h4>
		<div class="col-12">
			<div id="org-map" style="height: 600px; border-radius: 8px; border: 1px solid #ccc;"></div>
		</div>
	</div>


{% endblock %}
{% block js %}
	{{ block.super }}
	<script>
		 const laboratory_geolocations_url = "{% url 'auth_and_perms:api_laboratory_geolocations' %}";
		 const leaflet_images_path = "{% static 'vendors/leaflet/images/' %}";
	</script>
	<script src="{% static 'js/auth_and_perms/map_of_laboratories.js' %}?v={% get_organilab_version %}"></script>
{% endblock %}
