{% extends 'base.html' %}
{% load i18n static laboratory %}
{% load urlname_tags %}
{% load gtpermissions %}
{% load user_rol_tags %}

{% block pre_head %}
    {% define_urlname_action 'organizationManager' %}
	{% define_urlname_action 'view_disposal' %}

{% endblock %}
{% block content %}


{% for node in nodes %}

{% has_perm_in_org node.0.pk 'laboratory.view_laboratory' as can_laboratory%}
{% has_perm_in_org node.0.pk 'laboratory.do_report' as can_report %}
{% has_perm_in_org node.0.pk 'risk_management.view_riskzone' as can_riskzone %}
{% has_perm_in_org node.0.pk 'derb.view_customform' as can_inform %}
{% has_perm_in_org node.0.pk 'msds.view_msdsobject' as can_msds %}
{% has_perm_in_org node.0.pk 'sga.view_substance' as can_sustance %}

{% organization_any_permission_required node.0.pk 'laboratory.can_manage_disposal' 'laboratory.can_view_disposal' as disposal_perms %}


<div class="row">
    <div class="{{node.1.0}}">
        <div class="bs-callout bs-callout-{{node.1.1}}">
            <h4 class="w-100" >{{node.0.pk}} -- {{node.0}}</h4>
             {% if can_laboratory %}
            <a class="btn btn-success btn-sm" title="{% trans 'My laboratories' %}" href="{% url 'laboratory:mylabs'  node.0.pk  %}"><i class="fa fa-flask"></i> {% trans 'My laboratories' %}</a>
            {% endif %}
            {% if can_report %}
            <a class="btn btn-primary btn-sm" data-bs-toggle="tooltip" title="{% trans 'Reports' %}" href="{% url 'laboratory:reports' node.0.pk %}"><i class="fa fa-medkit"></i> {% trans 'Reports' %}</a>
            {% endif %}
            {% if can_riskzone %}
            <a class="btn btn-secondary btn-sm" href="{% url 'riskmanagement:riskzone_list' node.0.pk %}"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
 {% trans 'Risk Zones' %}</a>
            {% endif %}
            {% if can_inform %}
            <a class="btn btn-info btn-sm" href="{% url 'laboratory:inform_index' node.0.pk %}">
                <i class="fa fa-calendar-check-o" aria-hidden="true"></i> {% trans 'Informs' %}</a>
            {% endif %}
            {% if can_msds %}
            <a class="btn btn-danger btn-sm" href="{% url 'msds:index_msds' node.0.pk %}"><i class="fa fa-file-text-o" aria-hidden="true"></i>
{% trans 'MSDS' %}</a>
            {% endif %}
            {% if can_sustance %}
            <a class="btn btn-secondary btn-sm" href="{% url 'sga:add_personal' node.0.pk  %}"><i class="fa fa-tags" aria-hidden="true"></i> {% trans 'SGA' %}</a>
            {% endif %}
            {% if disposal_perms %}
                <a class="btn btn-dark btn-sm" href="{% url 'laboratory:disposal_substance' node.0.pk %}"><i class="fa fa-tags" aria-hidden="true"></i> {% trans 'Disposal' %}</a>
            {% endif %}
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}