{% extends 'base.html' %}
{% load i18n static laboratory %}
{% load urlname_tags %}
{% block pre_head %}
    {% define_urlname_action 'organizationManager' %}
{% endblock %}
{% block content %}
{% for node in nodes %}
<div class="row">
    <div class="{{node.1.0}}">
        <div class="bs-callout bs-callout-{{node.1.1}}">
            <h4 class="w-100" >{{node.0}}</h4>
             {% if perms.laboratory.view_laboratory %}
            <a class="btn btn-success btn-sm" title="{% trans 'My laboratories' %}" href="{% url 'laboratory:mylabs'  node.0.pk  %}"><i class="fa fa-flask"></i> {% trans 'My laboratories' %}</a>
            {% endif %}
            {% if perms.laboratory.do_report %}
            <a class="btn btn-primary btn-sm" data-bs-toggle="tooltip" title="{% trans 'Reports' %}" href="{% url 'laboratory:reports' node.0.pk %}"><i class="fa fa-medkit"></i> {% trans 'Reports' %}</a>
            {% endif %}
            {% if perms.risk_management.view_riskzone %}
            <a class="btn btn-secondary btn-sm" href="{% url 'riskmanagement:riskzone_list' node.0.pk %}"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
 {% trans 'Risk Zones' %}</a>
            {% endif %}
            {% if perms.derb.view_customform %}
            <a class="btn btn-info btn-sm" href="{% url 'laboratory:inform_index' node.0.pk %}">
                <i class="fa fa-calendar-check-o" aria-hidden="true"></i> {% trans 'Informs' %}</a>
            {% endif %}
            {% if perms.msds.view_msdsobject %}
            <a class="btn btn-danger btn-sm" href="{% url 'msds:index_msds' node.0.pk %}"><i class="fa fa-file-text-o" aria-hidden="true"></i>
{% trans 'MSDS' %}</a>
            {% endif %}
            {% if perms.sga.view_substance%}
            <a class="btn btn-secondary btn-sm" href="{% url 'sga:add_personal' node.0.pk 'laboratory' %}"><i class="fa fa-tags" aria-hidden="true"></i> {% trans 'SGA' %}</a>
            {% endif %}
            {% if perms.shelf.can_manage_disposal %}
                <a class="btn btn-dark btn-sm" href="{% url 'laboratory:disposal_substance' node.0.pk %}"><i class="fa fa-tags" aria-hidden="true"></i> {% trans 'Disposal' %}</a>
            {% endif %}
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}