{% load i18n %}
{% load user_rol_tags %}
<table class="table table{{object.pk}}">
    {% get_organization_table object %}
</table>

<div class="modal fade addprofilerol" id="modal{{object.pk}}" data-id="{{object.pk}}" tabindex="-1"
     aria-labelledby="rolModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form method="POST" action="{% url 'auth_and_perms:api-rolbyorg-detail' object.pk %}">
            {% csrf_token %}
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="rolModalLabel">{% trans 'Manage Rol' %}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {{addrolform.as_horizontal}}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans 'Close' %}</button>
                    <button type="button"  class="btn btn-primary btnsaverole" >{% trans 'Save changes' %}</button>
                </div>
            </div>
        </form>
    </div>
</div>