{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load urlname_tags %}
{% load gtsettings %}
{% block pre_head %}
{% define_urlname_action 'manage_users' %}
{% endblock %}

{% block title %}{% trans 'Users List' %}{% endblock %}

{% block content %}
<h1 class="text-center">{% trans 'Users List' %}</h1>

<div class="row">
	<table class="table table-striped w-100 table-responsive" id="users_table"></table>
</div>

{% trans 'Merge users' as mergemodaltitle %}
{% trans 'Continue' as btn_save_text %}
{% url "auth_and_perms:api-users-merge" as merge_obj_url %}
{% include 'gentelella/blocks/modal_template.html' with form=merge_form id="merge_obj_modal" form_id="merge_obj_form" url=merge_obj_url title=mergemodaltitle btn_save_text=btn_save_text %}

{% url "auth_and_perms:api-users-detail" 0 as delete_obj_url %}
{% include 'gentelella/blocks/modal_template_delete.html' with form=delete_form id="delete_obj_modal" form_id="delete_obj_form" url=delete_obj_url %}


{% endblock %}
{% block js %}
{{block.super}}
<script>
window.name = "userlistview";

const selects2_api_urls = {}

var object_urls = {
	list_url: "{% url 'auth_and_perms:api-users-list' %}",
	destroy_url: "{% url "auth_and_perms:api-users-detail" 0 %}",
	merge_url: "{% url "auth_and_perms:api-users-merge" %}",
}

datatable_inits = {
			columns: [
							{data: "id", name: "id", title: gettext("Id"), type: "string", visible: false},
							{data: "username", name: "username", title: gettext("Username"), type: "string", visible: true},
							{data: "first_name", name: "first_name", title: gettext("First Name"), type: "string", visible: true},
							{data: "last_name", name: "last_name", title: gettext("Last Name"), type: "string", visible: true},
							{data: "email", name: "email", title: gettext("Email"), type: "string", visible: true},
						 {data: "actions", name: "actions", title: gettext("Actions"), type: "string", visible: true}
		],
		addfilter: true
}
var users_modalids = {
	destroy: "#delete_obj_modal",
	merge: "#merge_obj_modal",
}


var users_actions = {
	 table_actions: [],  //table_actions
	 object_actions: [
	 	{
    'name': "merge",
    'action': "merge",
    'in_action_column': true,
    'i_class': 'fa fa-user-circle-o',
    'method': 'POST',
    'title': gettext("Merge"),
    'data_fn': function(data){ return data; },
    'error_fn': function(errors) {}
  	}
	 ],
		title: gettext('Actions'),
		className:  "no-export-col"
}

let objconfig={
	urls: object_urls,
	datatable_element: "#users_table",
	modal_ids: users_modalids,
	actions: users_actions,
	datatable_inits: datatable_inits,
	add_filter: true,
	relation_render: {'field_autocomplete': 'text' },
	delete_display: data => data['delete_msg'],
	create: "btn-success",
 can_merge: users_modalids.hasOwnProperty("merge")

}

let ocrud=ObjectCRUD("userscrudobj", objconfig)

ocrud.merge = function(obj, action){
	let merge_conf = Object.assign({}, {}, ocrud.config.modal_ids.merge);
	ocrud.merge_form = GTBaseFormModal(ocrud.config.modal_ids.merge, ocrud.datatable, merge_conf);
	ocrud.merge_form.fn_success = function(instance){
		return function(data){
					if(data !== false){
							window.location = data.success_url;
					}
		}
	};

	ocrud.merge_form.init();
	ocrud.merge_form.url = ocrud.config.urls.merge_url;
$("#merge_obj_form  #id_user_base").val(obj.id);
	ocrud.merge_form.show_modal();
}
ocrud.init();


</script>
{% endblock %}
