{% extends 'gentelella/registration/email_base.html' %}
{% load i18n %}
{% block content %}
<p>
	{% if action != "merge" %}
	{% trans 'Dear' %} {{user_base.get_full_name}},
	<br><br>
		{% trans 'We would like to inform you that an update has been made to your account information. The reason for this update is as follows:' %}
		<br><br>
		{% trans 'Account consolidation by an administrator: An administrator from your organization has decided to consolidate the accounts that belong to you in order to centralize access. This action aims to simplify account management and provide you with a smoother experience when accessing our resources.' %}
 	<br><br>
	{% trans 'From now on, you can log in to your account using the following username:' %} {{user_base.username}}
 	<br><br>
 	{% trans 'If you do not remember your password, you can use the following link to recover it:' %} <a href="{{domain}}{% url 'password_reset' %}" target="_blank">{% trans 'Click here' %}</a>
 	<br><br>
	{% trans 'We appreciate your understanding and cooperation during this account update process. We value your trust in our services and strive to provide you with an optimal experience.' %}
	{% else %}
	{% trans 'Dear' %} {{user_delete.get_full_name}},
	<br><br>
	{% trans 'We would like to inform you that the user' %} <b>{{user_delete.username}}</b> {% trans 'was deleted. The reasons for this delete are as follows:' %}
		<br><br>
		1) {% trans 'Account inactive for a long time.' %}
	<br>
	 2) {% trans 'System purification.' %}
	<br><br>
	{% trans 'This measure has been taken to optimize our resources, ensure more efficient management, and enhance the security of our services.' %}
	{% endif %}
	<br><br>
	{% trans 'If you have any questions or require further assistance, please do not hesitate to contact our support team. We will be glad to assist you.' %}
	<br><br>
	{% trans 'Sincerely,' %}
<br><br>
	Organilab
</p>
{% endblock %}
