{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load urlname_tags %}
{% load organilab_tags %}
{% load gtsettings %}
{% block pre_head %}
	{% define_urlname_action 'objectview_list' %}
{% endblock %}

{% block title %}{% trans 'User List' %}{% endblock %}

{% block content %}
	<h1 class="text-center">{% trans 'User List' %}</h1>
<div class="row">
<div class="offset-md-2 col-md-8">
<form id="formFiltro" >
	{{ form }}
	</form>
	<button class="btn btn-sm btn-outline-success" id="btn-clear-filters">
      <i class="fa fa-eraser" aria-hidden="true"></i>
    {% trans 'Clear filters' %}
    </button>
</div>
</div>
	<div class="row">
		<table class="table table-striped w-100 table-responsive" id="user_table"></table>
	</div>

	<div id="user_org_details"  class="modal fade" tabindex="-1" aria-labelledby="user_org_details_label" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="user_org_details_label">{% trans 'User roles in organization' %}</h4>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body" id="user_org_body">

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger" data-bs-dismiss="modal">{% trans 'Close' %}</button>
				</div>
			</div>
		</div>
</div>

	<div id="user_lab_details"  class="modal fade" tabindex="-1" aria-labelledby="rol_details_label" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">{% trans 'User roles in laboratory' %}</h4>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body" id="user_lab_body">

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger" data-bs-dismiss="modal">{% trans 'Close' %}</button>
				</div>
			</div>
		</div>
</div>
{% endblock %}
{% block js %}
	{{ block.super }}
	<script>

		var user_roles_org_url = "{% url 'auth_and_perms:api-userroles-roles-in-organization' user_pk=0 %}";
		var user_roles_lab_url = "{% url 'auth_and_perms:api-userroles-roles-in-laboratory' user_pk=0 %}";

		var object_urls = {
			list_url: "{% url 'auth_and_perms:api-userlist-list' %}",
		}


	</script>
<script src="{% static 'js/auth_and_perms/user_roles.js' %}?v={% get_organilab_version %}"></script>
{% endblock %}
