html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.dropdown-submenu{
    position: relative;
}

.dropdown-submenu .dropdown-menu{
    top: 0;
    left: 100%;
    margin-top: -1px;
}

.dropdown-submenu .caret {
    transform: rotate(270deg);
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
}

.container {
    width: auto;
    padding: 0 15px;
}

.container .text-muted {
    margin: 20px 0;
}

.ui-autocomplete-input {
	background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}

ul.ui-autocomplete{
	z-index: 9999;
}
p.help-block{
	display: none;
}

.access_item{
	margin: 5px 0;
}