{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans 'Access List' %}{% endblock %}

{% block content %}

  <ul class="nav nav-tabs">
    <li id="tab_lab_admins"><a href="{% url 'laboratory:access_list_lab_admins' laboratory %}">Admins</a></li>
    <li id="tab_laboratorits"><a href="{% url 'laboratory:access_list_laboratorits' laboratory %}">Laboratorits</a></li>
    <li id="tab_students"><a href="{% url 'laboratory:access_list_students' laboratory %}">Students</a></li>
    <li id="tab_related_labs"><a href="{% url 'laboratory:access_list_related_labs' laboratory %}">Laboratories</a></li>
  </ul>

  <div class="container">
    <br>
    {% include 'laboratory/search_widget.html' %}
    <br>

    <ul class="list-group">
      {% for object in object_list %}
        <li class="list-group-item">
          {{ object }}
          <input type="checkbox">
        </li>
        {% empty %}
          <i>{% trans 'No solutions yet' %}</i>
        {% endfor %}
    </ul>

    {% if is_paginated %}
      <ul class="pagination">
        {% if page_obj.has_previous %}
          <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
        {% else %}
          <li class="disabled"><span>&laquo;</span></li>
        {% endif %}
        {% for i in paginator.page_range %}
          {% if page_obj.number == i %}
            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
          {% else %}
            <li><a href="?page={{ i }}">{{ i }}</a></li>
          {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
          <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
        {% else %}
          <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
      </ul>
    {% endif %}

  </div>

  <script>
    switch ({{active}}) {
      case 1:
        $('#tab_lab_admins').addClass('active');
        break;
      case 2:
        $('#tab_laboratorits').addClass('active');
        break;
      case 3:
        $('#tab_students').addClass('active');
        break;
      case 4:
        $('#tab_related_labs').addClass('active');
        break;
    }

  </script>

{% endblock %}
