{% load i18n %}


<div class="panel panel-default">
  <div class="panel-heading">
    {% trans 'Furniture' %}
  </div>

  <div class="list-group">
    {% for furniture in object_list %}
      <li class="list-group-item">
        <a onclick="function_name_shelf({{ furniture.id }})" href="#">
          {{ furniture.name }}
        </a>
        <a class=" pull-right"
           href="{% url 'laboratory:reports_furniture' laboratory %}?pk={{ furniture.pk }}">
          <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
          {% trans "PDF" %}
        </a>
      </li>
    {% endfor %}
  </div>
</div>