{% extends 'base.html' %}

{% block content %}
<div>
	<h1 align="center"> Furniture Management</h1>
	<form action="" method="post">
		{% csrf_token %}
		{{ form.as_p }}
		<!-- aqui va lo de la tabla-->
		<div>
			<table id="mytab">
				<tr>
					<td>
<a class="btn btn-info" style="margin: 3px;" data-ajax="true" data-success="processResponse"
				href="{% url 'laboratory:shelf_create' %}"> 
					<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
					Add Shelf 
				</a>
					</td>
				</tr>
			</table>
			<div>
				<input type="button" value="Add Row" onclick="addRow()">
				<input type="button" value="Add Column" onclick="addColumn()">
				<input type="button" value="Delete Row" onclick="deleteRows()">
				<input type="button" value="Delete Column" onclick="deleteColumns()">
			</div>
		</div>
		<div class="col-md-5" style="padding-top: 10%"></div>
		<!--	-->
		<input type="submit" value="Save">
	</form>
</div>

<div class="hidden" id="addshelfproto">
	<a class="btn btn-success" style="margin: 3px;" data-ajax="true" data-success="processResponse"
				href="{% url 'laboratory:shelf_create' %}"> 
					<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
					Add Shelf 
				</a>
</div>


<div id="createshelfmodal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Create shelf</h4>
      </div>
      <div id="shelfmodalbody">
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>

{% endblock %}

{% block js%}
<script>


	function processResponse(data) {
		$("#shelfmodalbody").html(data);
		$("#createshelfmodal").modal('show');
	}

	ajaxGet('{% url "laboratory:shelf_list" %}', function(content) {
	}); 
</script>
{% endblock %}