{% extends 'base.html' %} 

{% load i18n static shelf_position laboratory %} 
{% block title %} 
	{% if request.user.is_authenticated %}
		{% get_laboratory_name %}
	{% else %}
		{% trans 'Select laboratory' %}
	{% endif %} 
{% endblock %} 
{% block css %}
<link href="{% static 'laboratory/css/bootstrap-tour.css' %}"
	rel="stylesheet">
<link href="{% static 'laboratory/css/bootstrap-tour.docs.css' %}"
	rel="stylesheet">
{% endblock %} 
{% block js %}
<script type="text/javascript"
	src="{% static 'laboratory/js/bootstrap-tour.js' %}"></script>
<script type="text/javascript"
	src="{% static 'laboratory/js/tour.js' %}"></script>
{% endblock %} 

{% load i18n static %} 
{% block content %} 
{% if request.user.is_authenticated %} 
{% include 'laboratory/search_widget.html' %} 
{% has_laboratory_perm 'search' as perm_search %} 
{% has_laboratory_perm 'admin' as perm_admin %} 
{% has_laboratory_perm 'report' as perm_report %}

<div class="row">
        {% if perm_search %}
        <div id="index_labview_id" class="col-md-4">
        <h3 class="text-center">
          <strong>{% trans 'Laboratory view' %}</strong>
        </h3>
        </div>
		{% endif %}
		{% if perm_admin %}
      <div id="index_manage_id" class="col-md-4"><h3 class="text-center">
        <strong>{% trans 'Laboratory administration' %}</strong></h3></div>
        {% endif %}
        {% if perm_report %}
      <div id="index_report_id" class="col-md-4">
      <h3 class="text-center"><strong>{% trans 'Reports' %}</strong></h3>
      </div>
      {% endif %}
    </div>
    <br><br>
    <div class="row">
              {% if perm_search %}
        <div class="col-md-4 text-center">
          <div class="row">
            <img src="{% static 'images/laboratory.png' %}"
                 alt="{% trans 'Laboratory view' %}"
                 class="img-rounded" height="100">
          </div>
          <br>
          <div class="row">

            <ul class="list-group">
              <li class="list-group-item">
              <a href="{% url 'laboratory:rooms_list' laboratory %}">
                <strong>{% trans 'Laboratory view' %}</strong></a>
                </li>
              <li class="list-group-item">
              <a href="{% url 'academic_procedure_list' %}">
                <strong>{% trans 'Procedures' %}</strong></a>
              </li>

				<li class="list-group-item">
              <a href="{% url 'laboratory:solution_list' laboratory %}">
                <strong>{% trans 'Solution calculator' %}</strong></a>
                </li>

                
            </ul>
         
          </div>
        </div>
		 {% endif %}
        {% if perm_admin %}
      <div class="col-md-4 text-center">
        <div class="row">
          <img src="{% static 'images/management.png' %}"
               alt="{% trans 'Laboratory administration' %}"
               class="img-rounded" height="100">
        </div>
        <br>
        <div class="row">

          <ul class="list-group">
              <li class="list-group-item"><a
                href="{% url 'laboratory:rooms_create' laboratory %}"><strong>{% trans 'Laboratory' %}</strong></a></li>

              <li class="list-group-item"><a
                href="{% url 'laboratory:furniture_create' laboratory %}"><strong>{% trans 'Furniture' %}</strong></a>
              </li>
              <li class="list-group-item"><a
                href="{% url 'laboratory:objectview_create' laboratory %}"><strong>{% trans 'Objects' %}</strong></a>
              </li>
              <li class="list-group-item"><a
                href="{% url 'laboratory:object_feature_create' laboratory %}"><strong>{% trans 'Object features' %}</strong></a>
              </li>
          </ul>
         
        </div>
      </div>
 {% endif %}
         {% if perm_report %}
      <div class="col-md-4 text-center">
        <div class="row">
          <img src="{% static 'images/report.png' %}"
               alt="{% trans 'Reports' %}"
               class="img-rounded" height="100">
        </div>
        <br>
        <div class="row">

          <ul class="list-group">
              <li class="list-group-item"><a
                href="{% url 'laboratory:reports_laboratory' laboratory %}"><strong>{% trans 'Laboratory' %}</strong></a>
              </li>
              <li class="list-group-item"><a
                href="{% url 'laboratory:reports_furniture' laboratory %}"><strong>{% trans 'Furnitures' %}</strong></a>
              </li>
              <li class="list-group-item"><a
                href="{% url 'laboratory:reports_objects' laboratory %}"><strong>{% trans 'Objects' %}</strong></a></li>
          </ul>
        </div>
      </div>
       {% endif %}
    </div>
       

  {% else %}
    <div class="row">
      <div class="col-md-offset-2 col-md-8">
        <div class="jumbotron">
          <h1>ORGANILAB</h1>
          <p class="lead">
            {% trans "Welcome to the Simple laboratory organizer" %}
          </p>
          <br/>
          <p class="text-center">
            <a class="btn btn-lg btn-success" href="{% url 'laboratory:login' %}"
               role="button">{% trans "Login" %}</a>
          </p>
        </div>
      </div>
    </div>
  {% endif %}

{% endblock %}