{% load bootstrap i18n laboratory %}



{% block laboratory_create_form %}
  {%  has_perms "laboratory.add_laboratory" as perm_add_lab %}
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <center><h3 class="modal-title">{% trans 'Create laboratory' %}</h3></center>
  </div>

  {% if perm_add_lab %}
  <form method="POST" action="{% url 'laboratory:create_lab' %}" class="form-horizontal">{% csrf_token %}
    <div class="modal-body ">

      {{ form|bootstrap_horizontal}}

    </div>

    <div class="modal-footer">
      <button type="submit" name="action" value="createlab" class="save btn btn-danger">{% trans 'Create' %}</button>
      <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Close' %}</button>
    </div>
  </form>
  {% else %} 
       {% include 'laboratory/action_denied.html' %} 
  {% endif %}	
{% endblock%}
