{% extends 'base.html' %}

{% block content %}

<div>

<pre id="pre01">
<h3>	
 LABORATORYROOM INFORMATION
</h3>	
</pre>

	{% for laboratory_room in object_list %}
		<h3 id="h3-1">
        	Laboratory Room: {{ laboratory_room.name }}
        </h3>
		{% for furniture in laboratory_room.furniture_set.all %}
			<h5 id="h5-1">
				Furniture: {{ furniture }}
			</h5>
            <ul>
            	{% for shelf in furniture.shelf_set.all %}
                	<li>Shelf: {{ shelf }}</li>
                    <ul>
                    	{% for obj in shelf.object_set.all %}
                        	<li>Object: {{ obj }}</li>
                        {% endfor %}
                    </ul>
               	{% empty %}
                 	No shelf elements
                {% endfor %}
            </ul>
		{% endfor %}
		<br />
	{% endfor %}
</div>

<div>
	
	<a id="a01" class="btn btn-default"
	href="{% url 'report_building' %}"> Download PDF </a>
	
</div>

{% endblock %}