{% extends 'base.html' %}

{% load bootstrap i18n laboratory %}



{% block content %}

  {%  has_perms "laboratory.add_laboratory" as perm_add_lab %}
  <div class="header">
    <center><h3 class="modal-title">{% trans 'Create laboratory' %}</h3></center>
  </div>

  {% if perm_add_lab %}
  <form method="POST" action="{% url 'laboratory:create_lab' %}" class="form-horizontal">{% csrf_token %}
    <div class=" body ">

      {{ form|bootstrap_horizontal }}

    </div>

 
      <button type="submit" name="action" value="createlab" class="save btn btn-danger">{% trans 'Create' %}</button>
 
  </form>
  {% else %} 
       {% include 'laboratory/action_denied.html' %} 
  {% endif %}	
{% endblock%}


{% block js %}
<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
<script type="text/javascript" src="/static/admin/js/core.js"></script>
<script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.js"></script>

 {{ form.media }}
{% endblock %}