{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans 'Limited shelf objects' %}{% endblock %}

{% block content %}
  <div class="page-header"><h1>{% trans 'Limited shelf objects' %}</h1></div>
  <div>
    <a class="btn btn-primary pull-right" title="{% trans 'All objects' %}"
         href="{% url 'laboratory:reports_limited_shelf_objects' laboratory %}">
        <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
        {% trans "All objects in PDF" %}
    </a>
    <br> <br>
  </div>
  {{ lab }}

  {% for obj in object_list %}
    <h3 class="alert alert-info">
      {{ obj }}
      <a class="btn btn-sm btn-danger pull-right"
         title="{{ obj }}"
         href="{% url 'laboratory:reports_limited_shelf_objects' laboratory %}?pk={{ obj.pk }}">
        <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
        {% trans "PDF" %}</a>
    </h3>
    <ul>
      <li>{% trans "Shelf:" %} {{ obj.shelf }}</li>
      <li>{% trans "Object:" %}
        {{ obj.object }}
      </li>
      <li>{% trans "Quantity:" %}
        {{ obj.quantity }} {{ obj.get_measurement_unit_display }}
      </li>
      <li>{% trans "Limit quantity:" %}
        {{ obj.limit_quantity }} {{ obj.get_measurement_unit_display }}
      </li>
    </ul>
  {% empty %}
    <i>{% trans "No objects" %}</i>
  {% endfor %}

  <br>
  <div>
    <a class="btn btn-primary pull-right" title="{% trans 'All objects' %}"
         href="{% url 'laboratory:reports_limited_shelf_objects' laboratory %}">
        <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
        {% trans "All objects in PDF" %}
    </a>
    <br> <br>
  </div>
{% endblock %}
