{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-offset-4 col-md-4">
            <div class="page-header"><h1>{% trans "Log in" %}</h1></div>
            <form class="form-signin" method="post" action="{% url 'laboratory:login' %}">
                {% csrf_token %}
                {{ form.username.errors }}
                <label for="{{ form.username.id_for_label }}" class="sr-only">{{ form.username.name }}</label>
                <input type="text" id="{{ form.username.id_for_label }}" name="{{ form.username.name }}"
                       class="form-control"
                       placeholder="User" autofocus/>
                <br/>

                {{ form.password.errors }}
                <label for="{{ form.password.id_for_label }}" class="sr-only">{{ form.password.name }}</label>
                <input type="password" id="{{ form.password.id_for_label }}" class="form-control" placeholder="Password"
                       name="{{ form.password.name }}" />
                <br/>
                <button class="btn btn-lg btn-primary btn-block" type="submit">{% trans "Sign in" %}</button>
            </form>
        </div>
    </div>
{% endblock %}