{% extends 'base.html' %}

{% load bootstrap i18n static %}

{% block title %}{% if form.instance.type == "0" %} {% trans 'Reactive management' %}{% elif form.instance.type == "1" %}{% trans 'Material management' %}{% elif form.instance.type == "2" %}{% trans 'Equipment management' %}{% else %} {% trans 'Object management' %} {% endif %} {% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-6 col-md-offset-4">
      <h1 align="center">{% if form.instance.type == "0" %} {% trans 'Reactive management' %}{% elif form.instance.type == "1" %}{% trans 'Material management' %}{% elif form.instance.type == "2" %}{% trans 'Equipment management' %}{% else %} {% trans 'Object management' %} {% endif %}</h1>
      <form enctype="multipart/form-data" action="
        {% if form.instance.pk %}{% url 'laboratory:objectview_update' laboratory form.instance.pk %}{% else %}{% url 'laboratory:objectview_create' laboratory %} {% endif %}"
            method="post">{% csrf_token %}
        {{ form|bootstrap }}
        <input class="btn btn-info" type="submit" value="{% trans 'Save' %}">
      </form>
    </div>
  </div>
  <br> <br>
{% endblock %}

{% block js %}
  <script type="text/javascript" src="{% static 'laboratory/js/objectview.js' %}"></script>
{% endblock %}
