{% extends 'base.html' %}

{% load i18n %} 
{% block content %}

<div>

<pre id="pre01" >
<h3>	
 {% trans "OBJECTS INFORMATION" %}					
</h3>	
</pre>

	{% for obj in object_list %}
		<h3 id="h3-1">
        	{% trans "Object Code:" %} {{ obj.code }}
        	<a id="a02" class="btn btn-default" 
        	href="{% url 'laboratory:report_objects' %}?pk={{ obj.pk }}">{% trans "Download Object PDF" %}</a>
        </h3>
        <ul>
        	<li>{% trans "Name:" %} {{ obj.name }}</li>
        	<li>{% trans "Shelf:" %} {{ obj.shelf }}</li>
        	<li>{% trans "Type:" %}
        		{{ obj.get_type_display }}
        	</li>
        	
        	<li>{% trans "Features:" %}
        		{% for features in obj.features.all %}
        		<ul>
        			<li>
        				{{ features.get_name_display }}
        			</li>
        		</ul>	
        		{% empty %}
        			{% trans "No Object Features" %}
        		{% endfor %}
        	</li>
        	
        	<li>{% trans "Quantity:" %} 
        		{% for shelfobj in obj.shelfobject_set.all %}
        		<ul>
            		<li>{{ shelfobj.quantity }} 
               			{{ shelfobj.get_measurement_unit_display }}
					</li>	
				</ul>
				{% empty %}
					{% trans "No Data" %}
        	    {% endfor %}
            </li>
        			
        	<li>{% trans "Description:" %} {{ obj.description }}</li>
        </ul>
    {% empty %}
    	{% trans "No Objects Elements" %}
    {% endfor %}	    

</div>

<div>
	
	<a id="a01" class="btn btn-default"
	href="{% url 'laboratory:report_objects' %}">{% trans "Download PDF" %} </a>
	
</div>

{% endblock %}