{% extends 'base.html' %}
{% load i18n %}

{% block content %}

<a class="btn btn-info" 
  	href="{% url 'laboratory:objectview_create'  %}">
  	<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> {% trans 'Add' %} </a>
 
 <br> <br>
 <ul class="list-group">
{% for object in object_list %}
<li class="row list-group-item">
  <div class="col-md-9"> {{object}}</div>
  <div class="col-md-3">
  	<a class="btn btn-info" 
  	href="{% url 'laboratory:objectview_update' object.pk %}">
  	<span class="glyphicon glyphicon-edit" aria-hidden="true"></span> {% trans 'Edit' %}</a>
  	<a class="btn btn-danger" 
  	href="{% url 'laboratory:objectview_delete' object.pk %}"> 
  	<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>{% trans 'Delete' %}</a>
  </div>
</li>
{% endfor %}
</ul>

{% if is_paginated %}
	<nav aria-label="...">
		<ul class="pager">
			{% if page_obj.has_previous %}
			<li>
				<a href="?page={{ page_obj.previous_page_number }}">{% trans 'Previous' %}</a>
			</li>
			{% endif %}
	
			<li>
				{% trans 'Page' %} {{ page_obj.number }} -- {{ page_obj.paginator.num_pages }}.
			</li>
	
			{% if page_obj.has_next %}
			<li>
				<a href="?page={{ page_obj.next_page_number }}">{% trans 'Next' %}</a>
			</li>
			{% endif %}
		</ul>
	</nav>

{% endif %}

{% endblock %}
