{% extends 'base.html' %}

{% load i18n %} 
{% block content %}

<div>

<pre id="pre01" >
<h3>	
 {% trans "Furniture information" %}					
</h3>	
</pre>

	{% for furniture in object_list %}
		<h3 id="h3-1">
        	{{ furniture.name }}
			<a id="a02" class="btn btn-default"
			href="{% url 'laboratory:report_summaryfurniture' %}?pk={{ furniture.pk }}">
				{% trans "Summary Furniture PDF" %} 
			</a>
			<a id="a01" class="btn btn-default"
			href="{% url 'laboratory:report_furniture' %}?pk={{ furniture.pk }}">
				{% trans "Furniture PDF" %} 
			</a>
        </h3>
        <ul>
        	<li>{% trans "LaboratoryRoom:" %} {{ furniture.labroom }}</li>
        	<li>{% trans "Type:" %}
        		{{ furniture.get_type_display }}
        	</li>
          	{% for shelf in furniture.shelf_set.all %}
          	<li>
				<h5 id="h5-1">
					{% trans "Shelf:" %} {{ shelf }}
				</h5>
           		<ul>
           			<li>{% trans "Type:" %}
           				{{ shelf.get_type_display }}
           			</li>
            		{% for obj in shelf.object_set.all %}
                	<li>{% trans "Object Code:" %} {{ obj.code }}</li>
                	<ul>
                		<li>{% trans "Name:" %} {{ obj.name }}</li>
						<li>{% trans "Type:" %}
							{{ obj.get_type_display }}
						</li>
               			
        				<li>{% trans "Quantity:" %} 
        					{% for shelfobj in obj.shelfobject_set.all %}
        					<ul>
            					<li>{{ shelfobj.quantity }} 
               						{{ shelfobj.get_measurement_unit_display }}
								</li>	
							</ul>
							{% empty %}
								{% trans "No Data" %}
        	    			{% endfor %}
            			</li>
            			
                   	</ul>
          			{% empty %}
               			{% trans "No Object Elements" %}
               		{% endfor %}
            	</ul>
            </li>	
        	{% empty %}
        		{% trans "No Shelf Elements" %}
			{% endfor %}	
       	</ul>
    {% empty %}
    	{% trans "No Furniture Elements" %}   	
	{% endfor %}
	
</div>

<div>
	
	<a id="a01" class="btn btn-default"
	href="{% url 'laboratory:report_furniture' %}">{% trans "Download PDF" %} </a>
	
	<a id="a01" class="btn btn-default"
	href="{% url 'laboratory:report_summaryfurniture' %}">{% trans "Download Summary PDF" %} </a>
	
</div>

{% endblock %}
