{% extends 'base.html' %}

{% load i18n %}
{% block content %}

<div>
	<pre id="pre01" >
<h3>	
 {% trans "Furniture information" %}					
</h3>	
</pre>	
	

{% for furniture in object_list %}
 <h3 class="alert alert-info"> {{ furniture.name }} 
	<a  class="btn btn-default pull-right"	
	href="{% url 'laboratory:reports_furniture' laboratory %}?pk={{ furniture.pk }}"> 
	<span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
	{% trans "PDF" %} 
	
	</a>
	<br><br>
</h3>

		<div class="row text-center">
			{% trans "LaboratoryRoom:" %} {{ furniture.labroom }}<br>
		
			{% trans "Type:" %} {{ furniture.get_type_display }}
			<hr>
		</div>
	<ul style="list-style-type: none;">
		{% for shelf in furniture.shelf_set.all %}
		<li>
			<div class="panel panel-default">
				<div class="panel-heading">
					{% trans "Shelf:" %} {{ shelf.name }} <span class="badge pull-right"> {% trans 'Total' %}: {{shelf.count_objects}} {% trans 'objects' %}</span>
				</div>
				<div class="panel-body"> <p>
						{% trans "Type:" %} {{ shelf.get_type_display }}
				</p></div>

				<ul class="list-group">
				{% for obj in shelf.shelfobject_set.all %}
				
					<li class="list-group-item active">
						{{ obj.object.code }} -- {{ obj.object.name }}
					</li>
					<li class="list-group-item">
						{% trans "Type:" %}
						{{ obj.object.get_type_display }}
					</li>

					<li class="list-group-item">
						{% trans "Quantity:" %}
						{{ obj.quantity }} {{ obj.get_measurement_unit_display }}
					</li>

					{% empty %}
					<li class="list-group-item bg-success" >{% trans "No Object Elements" %}</li>
					{% endfor %}
				</ul>

			</div>

		</li>
		{% empty %}
		{% trans "No Shelf Elements" %}
		{% endfor %}
	</ul>
{% empty %}
		<div class="alert alert-info">{% trans "No Furniture Elements" %}</div>
{% endfor %}

</div>

<div class="pull-right">
	<a id="a01" class="btn btn-info"
	href="{% url 'laboratory:reports_furniture' laboratory %}">{% trans "Download PDF" %} </a>
</div>

{% endblock %}
