{% extends 'base.html' %}
{% load bootstrap i18n %}

{% block title %}{% trans 'Organization laboratory report' %}{% endblock %}

{% block content %}
  <div class="page-header"><h1>{% trans 'Organization laboratory report' %}</h1></div>

  <div>
  
 <form action="#" method="post">
        {% csrf_token %}
        <table>
        {{ form|bootstrap_horizontal }}
        </table>
        <input type="submit" value={% trans 'Submit' %} />
 </form>

  <div class="btn-group dropup pull-right">
  <button type="button" class="btn btn-danger">  <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
  {% trans 'Download'%}</button>
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu">
  <li>  <a  
       href="{% url 'laboratory:reports_organization_building' laboratory %}?format=pdf&organization={{ filter_organization.pk }}">{% trans "PDF" %} </a>
  </li><li>
     <a 
       href="{% url 'laboratory:reports_organization_building' laboratory %}?format=ods&organization={{ filter_organization.pk }}">{% trans "Ods" %} </a>
   </li>
   
   <li>
     <a 
       href="{% url 'laboratory:reports_organization_building' laboratory %}?format=xls&organization={{ filter_organization.pk }}">{% trans "Xls" %} </a>
   </li>
   
   <li>
     <a 
       href="{% url 'laboratory:reports_organization_building' laboratory %}?format=xlsx&organization={{ filter_organization.pk }}">{% trans "Xlsx" %} </a>
   </li>
    
  </ul>
</div>
<br><br>

  
  </div>

  {% for laboratory in object_list %}
    <div class="alert alert-info">
      <strong>{% trans 'Laboratory :' %}</strong> {{ laboratory.name }}
    </div>
    <table class="table">
      {% for furniture in laboratory.furniture_set.all %}
        <tr class="bg-success">
          <th colspan="4">{% trans "Furniture:" %} {{ furniture.name }}</th>
        </tr>
        <tr>
          <th>{% trans "Code" %} </th>
          <th>{% trans "Furniture" %} </th>
          <th>{% trans "Quantity" %} </th>
          <th>{% trans "Shelf" %} </th>
        </tr>
        {% for obj in furniture.get_objects %}
          <tr>
            <td>{{ obj.object.code }}</td>
            <td>{{ obj.object.name }}</td>
            <td>{{ obj.quantity }} {{ obj.get_measurement_unit_display }}</td>
            <td>{{ obj.shelf.name }}</td>
          </tr>
        {% endfor %}
      {% endfor %}
    </table>
    <br/>
  {% empty %}
    {% trans "No Labs" %}
  {% endfor %}

  <div>
 <div class="btn-group dropup pull-right">
  <button type="button" class="btn btn-danger">  <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
  {% trans 'Download'%}</button>
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu">
  <li>  <a  
       href="{% url 'laboratory:reports_organization_building' laboratory %}?format=pdf">{% trans "PDF" %} </a>
  </li><li>
     <a 
       href="{% url 'laboratory:reports_organization_building' laboratory %}?format=ods">{% trans "Ods" %} </a>
   </li>
   
   <li>
     <a 
       href="{% url 'laboratory:reports_organization_building' laboratory %}?format=xls">{% trans "Xls" %} </a>
   </li>
   
   <li>
     <a 
       href="{% url 'laboratory:reports_organization_building' laboratory %}?format=xlsx">{% trans "Xlsx" %} </a>
   </li>
    
  </ul>
</div>
  </div>
  <br><br>
{% endblock %}
