{% load i18n %}
<div class="row">
	<div class="col-md-7">
		<div class="col-md-12" style="padding-top: 3%; padding-bottom: 5%">
			<form method="get" action="{% url 'laboratory:search' %}">
				<div class="col-md-10">
					<input type="search" name="q" class="form-control" id="search">
				</div>
				<div  class="col-md-2">
					<button type="submit" class="btn btn-default">
						<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
						{% trans 'Search' %}
					</button>
				</div>
			</form>
		</div>
</div>
</div>