{% load bootstrap shelf_position i18n %}

<form data-ajax-submit="" onsubmit="return false;" data-success="function(){return true;}"
action="{% url 'laboratory:shelf_create'%}" method="post">
	<div class="modal-body">
	{% csrf_token %}
	{{ form|bootstrap }}
	<p>
		{% trans 'Position:' %} {% print_shelf form.row.value form.col.value %}
	</p>
	</div>
	
	 <div class="modal-footer">
        <button type="button" class="btn btn-default cdismiss" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" >Saves</button>
      </div>
</form>
