 <form data-ajax-submit="" onsubmit="return false;"
	data-success="processResponseshelfobject"
	action="{%if not form.instance.pk %}{% url 'laboratory:shelfobject_create' %}{%else%}{% url 'laboratory:shelfobject_edit' object.pk %}{% endif %}" method="post"
>

<div class="modal-body">
				{% csrf_token %}
				<p>
					{{form.as_p}}
				</p>
</div>

<div class="modal-footer">
	{%if not form.instance.pk %}<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>{%endif%}
	<button type="submit" class="btn btn-primary">Save changes</button>
</div>

</form>
  
  





 



