<!-- PRUEBA: asi se verian los muebles en la lista -->
{% load i18n %}
<div class="panel panel-default">
	<div class="panel-heading">
		{% trans 'Shelves' %}
	</div>

	<div class="panel-body">
		<table class="table table-bordered">
			{% for row in object_list %}
			<tr>
				{% for col in row%}
				<td> {% if col%}
				{% for data in col %} <a class="btn btn-success"
				data-ajax="true" data-success="processResponseshelfobjectCreate"
				href="{% url 'laboratory:shelfobject_create' %}?
				shelf={{data.pk}}&row={{forloop.parentloop.parentloop.counter0}}
				&col={{forloop.parentloop.counter0}}"> <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> </a><a class="btn btn-primary" role="button"
				data-toggle="collapse" href="#body_{{data.pk}}" aria-expanded="false" aria-controls="collapseExample"> <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> </a>
				<div class="collapse" id="body_{{data.pk}}">
					<div id="row_{{forloop.parentloop.parentloop.counter0}}_col_{{forloop.parentloop.counter0}}_shelf_{{data.pk}}">
						{% include 'laboratory/shelfObject_list.html' %}
					</div>

				</div> {%endfor%}
				{% endif %} </td>
				{% endfor %}
			</tr>
			{% endfor %}
		</table>
	</div>

</div>
<div id="closemodal"></div>