{% load i18n laboratory %}

{%  has_perms "laboratory.change_shelf" as perm_change_shelf %}
{%  has_perms "laboratory.delete_shelf" as perm_delete_shelf %}

<li id="shelf_{{data.pk}}" data-id="{{data.pk}}" class="list-group-item">
{% if perm_delete_shelf %}
	<a id="close" class="close" aria-label="Close"  
	href="{% url 'laboratory:shelf_delete' laboratory data.pk crow ccol %}"
	data-ajax="true" ><span aria-hidden="true">&times;</span></a>
{% endif %}

{{data.get_type_display}} 
<p>{% trans 'Position:' %} {{data.name}}</p>

{% if perm_change_shelf %}
	<a class="btn btn-xs btn-warning" data-ajax="true" data-success="processResponse"
	href="{% url 'laboratory:shelf_edit' laboratory data.pk crow ccol %}?furniture={{data.furniture.pk}}"> {% trans 'Edit' %}</a>
{% endif %}




</li>	