<form data-ajax-submit="" onsubmit="return false;"
data-success="processResponseshelfobject"
action="{% url 'laboratory:shelfobject_delete' object.pk %}" method="post"
>
	{% csrf_token %}
	
	<div class="modal-body">
	<p>
		Are you sure that do you want delete this object
		<br />
		{{object}} ?
	</p>
</div>
	<div class="modal-footer">

		
		<button type="submit" class="btn btn-primary">
			Delete
		</button>

		{%if not form.instance.pk %}
		<button type="button" class="btn btn-default" data-dismiss="modal">
			Close
		</button>{%endif%}
</div>
</form>
