{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans 'Dissolution list' %}{% endblock %}

{% block content %}
  <a class="btn btn-info"
     href="{% url 'laboratory:solution_calculator' lab_pk %}">
    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> {% trans 'Calculate new dissolution' %} </a>

  <br><br>
  <ul class="list-group">
    {% for object in object_list %}
      <li class="row list-group-item">
        <div class="col-md-9"> {{ object }}</div>
        <div class="col-md-3 text-right">
          <a class="btn btn-success" href="{% url 'laboratory:solution_detail' lab_pk object.pk %}">
            <span class="glyphicon glyphicon-check" aria-hidden="true"></span> {% trans 'Check dissolution' %}
          </a>
        </div>
      </li>
    {% empty %}
      <i>{% trans 'No solutions yet' %}</i>
    {% endfor %}
  </ul>
{% endblock %}