{% extends "base.html" %}
{% load static i18n%}
{% load urlname_tags %}
{% block pre_head %}
    {% define_urlname_action 'procedure_update' %}
    {% define_urlname_action 'delete_step' %}
    {% define_urlname_action 'procedure_detail' %}
    {% define_urlname_action 'update_step' %}
    {% define_urlname_action 'procedure_list' %}
{% endblock %}
{% block title %}{% trans 'Procedures' %}{% endblock %}
{% block content %}
<a href="{% url 'procedure_update' pk=procedure lab_pk=lab_pk%}" class="btn btn-primary">
    <i class="fa fa-edit"></i> {% trans 'Edit' %}</a>
<div class="card-body">


    <div class="card-title">
      <h1 class="text-center">{{object.title}}</h1>
    </div>
            {{object.description|safe}}

    <h2>{% trans 'Steps' %} </h2>

{% for step in object.procedurestep_set.all %}
<div class="card panel-{% cycle  'primary' 'success' 'info' 'warning' 'danger' 'default' %} mb-2">
  <div class="card-header">
    <h3 class="card-title">{{forloop.counter}} -- {{step.title}}

    <a class="btn float-end" title="{% trans 'remove' %}" onclick="delete_step({{step.pk}}, '{{step.title}}')">
    <span class="fa fa-trash" aria-hidden="true"></span> </a>

    <a class="btn float-end" title="{% trans 'Edit' %}" href="{% url 'update_step' pk=step.pk lab_pk=lab_pk %}">
    <span class="fa fa-edit" title="{% trans 'Edit' %}"aria-hidden="true"></span> </a>
    </h3>

  </div>
  <div class="card-body">

  	{{step.description|safe}}
     {% if step.procedurerequiredobject_set.all.count %}
    <hr>
    <h3>{% trans 'Required objects' %} </h3>
        	<ul class="list-group">
    {% for obj in step.procedurerequiredobject_set.all %}
		  <li class="list-group-item">
              {{obj.measurement_unit}}
		    <span class="badge">{{obj.quantity}}  </span>
		    {{obj.object}}
		  </li>
    {% endfor %}
    </ul>
  </div>
    {% if step.procedureobservations_set.all.count %}
        <div class="card-footer ">
        <h2>{% trans 'Observations' %}</h2>
        <ol>
        {% for observation in step.procedureobservations_set.all %}
            <li>{{observation}}</li>
        {%endfor%}
           </ol>
        </div>
    {% endif %}
	{% endif %}
</div>
{% endfor %}



</div>
<div class="d-flex justify-content-center">
      <a href="{% url 'procedure_list' pk=lab_pk %}" class="btn btn-primary">
          <i class="fa fa-undo"></i> {% trans "Back to list" %}</a>
    </div>

{% endblock %}

{% block js %}

    <script>
        document.remove_step="{% url 'delete_step' %}";
    </script>
    <script src="{% static 'js/procedures.js'%}"></script>


{% endblock %}