{% extends "base.html" %}
{% load i18n static%}
{% load urlname_tags %}
{% load organilab_tags %}
{% block pre_head %}
{% define_urlname_action 'procedure_step' %}
{% define_urlname_action 'save_object' %}
{% define_urlname_action 'add_observation_procedureobservations' %}
{% define_urlname_action 'remove_observation' %}
{% define_urlname_action 'remove_object' %}
{% define_urlname_action 'procedure_list' %}
{% endblock %}
{% block title %}{% trans "Procedures Steps" %}{% endblock %}
{% block content %}
<div class="card-body">
	<a class="btn btn-primary" href="{% url 'academic:procedure_list' org_pk=org_pk %}"
				title="{% trans 'Back to list' %}"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
	<h1 class="card-title text-center">{% trans 'Create Step' %}</h1>
	<div class="card">
		<div class="card-body">
			<form method="post" id="form_step">
				{% csrf_token %}
				{{form.as_p | safe}}
				{{ form.media }}
				<div class="text-center">
							<button class="btn btn-success step_save" type="submit"><i class="fa fa-floppy-o" aria-hidden="true"></i>
								{% trans 'Save' %}
							</button>
					</div>
			</form>
		</div>
	</div>
	<br>
	<div class="card">
		<div class="card-body">
			<div class="clearfix">
				<h3 class="card-title float-start">{% trans 'Object List'%}</h3>
				<span class="btn btn-success float-end open_modal" data-bs-target="#object_modal" data-bs-toggle="modal"
										title="{% trans 'Create Object' %}">
                    <i class="fa fa-plus"></i> {% trans 'Create Object' %}
                </span>
			</div>
			<table class="table table-bordered table-hover table-striped">
				<thead>
				<tr>
					<th width="60%">{% trans 'Name' %}</th>
					<th class="text-center" width="15%">{% trans 'Amount' %}</th>
					<th class="text-center" width="20%">{% trans 'Actions' %}</th>
				</tr>
				</thead>
				<tbody id="object_list">
				{% for obj in step.procedurerequiredobject_set.all %}
				<tr>
					<td>{{ obj.object }}</td>
					<td class="text-center">{{ obj.quantity }} {{obj.measurement_unit}}</td>
					<td class="text-center"><span onclick="delete_object({{obj.pk}}, '{{obj.object.name}}')"
																																			title="{% trans 'Delete' %}"><i class="fa fa-trash text-danger"></i></span></td>
				</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	<br>
	<div class="card">
		<div class="card-body">
			<div class="clearfix">
				<h3 class="card-title float-start">{% trans 'Observations'%}</h3>
				<span class="btn btn-success float-end open_modal" data-bs-target="#observation_modal"
										data-bs-toggle="modal" title="{% trans 'Create Observation' %}">
                    <i class="fa fa-plus"></i> {% trans 'Create Observation'%}
                </span>
			</div>
			<table class="table table-bordered table-hover table-striped">
				<thead>
				<tr>
					<th width="80%">{% trans 'Description' %}</th>
					<th class="text-center">{% trans 'Actions' %}</th>
				</tr>
				</thead>
				<tbody id="observation_list">
				{% for obs in step.procedureobservations_set.all %}
				<tr>
					<td>{{ obs.description }}</td>
					<td class="text-center"><span onclick="delete_observation({{obs.pk}})"
																																			title="{% trans 'Delete' %}"><i class="fa fa-trash text-danger"></i></span></td>
				</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
					<div class="text-center mt-2">
							<button class="btn btn-success" id="save_step"><i class="fa fa-floppy-o" aria-hidden="true"></i>
								{% trans 'Save' %}
							</button>
					</div>
</div>
{% include 'academic/step_modal.html'%}
{% endblock %}

{% block js %}
<script>
	document.urls = {
								save_object: "{% url 'academic:save_object' pk=step.id org_pk=org_pk %}",
								remove_object: "{% url 'academic:remove_object' pk=step.id org_pk=org_pk %}",
								save_observation: "{% url 'academic:add_observation' pk=step.id org_pk=org_pk %}",
								remove_observation: "{% url 'academic:remove_observation' pk=step.id org_pk=org_pk %}"
			}
</script>
<script src="{% static 'js/procedures.js' %}?v={% get_organilab_version %}"></script>
{% endblock %}
