{% extends "base.html" %}
{% load i18n %}
{% load urlname_tags %}
{% block pre_head %}
    {% define_urlname_action 'procedure_create' %}
{% endblock %}
{% block title %}{% trans "Procedure" %}{% endblock %}
{% block content %}

<div class="card-body">

    <a class="btn btn-primary" href="{% url 'academic:procedure_list' org_pk=org_pk %}" title="{% trans 'Back to list' %}"><i class="fa fa-arrow-left"></i></a>

    <div class="card-title">
  {% if 'update' in request.path %}
      <h1 class="text-center">{% trans 'Edit procedure' %}</h1>
     {% else %}
      <h1 class="text-center">{% trans 'Create procedure'%}</h1>
      {% endif %}
    </div>
      <div class="card-body">
     <form method="post">
          {% csrf_token %}
            {{form.as_p | safe}}
            {{ form.media }}
						<div class="text-center">
         <button class="btn btn-success" type="submit"><i class="fa fa-floppy-o" aria-hidden="true"></i> {% trans 'Save' %}</button>
					</div>
					</form>
      </div>
</div>
    {% endblock %}
