{% extends 'base.html' %}
{% load i18n laboratory static %}
{% load gtsettings %}
{% load urlname_tags %}
{% block pre_head %}
    {% define_true  "use_datatables" %}
    {% define_urlname_action 'procedure_list' %}
    {% define_urlname_action 'procedure_update' %}
    {% define_urlname_action 'delete_procedure' %}
    {% define_urlname_action 'add_steps_wrapper' %}
    {% define_urlname_action 'get_procedure' %}
    {% define_urlname_action 'procedure_create' %}
    {% define_urlname_action 'procedure_detail' %}
    {% define_urlname_action 'generate_reservation' %}
{% endblock %}
{% block title %}{% trans 'Procedure' %}{% endblock %}
{% block content %}
    <h2><a href="{% url 'academic:procedure_create' org_pk=org_pk lab_pk=laboratory %}" class="btn btn-primary">
        <i class="fa fa-plus"></i> {% trans 'Create New Procedure' %}</a></h2>

    <table  id="datatable" class="table table-bordered table-hover">
        <thead>
        <tr>
        <th style="display:none"></th>
        <th>{% trans 'Title' %}</th>
        <th>{% trans 'Description' %}</th>
        <th>{% trans 'Actions' %}</th>
        </tr>
        </thead>
        <tbody>
            {% for procedure in object_list %}
                <tr>
                    <td style="display:none">{{procedure.pk}}</td>
                    <td>{{procedure.title}}</td>
                    <td>{{ procedure.description | safe }}</td>
                    <td>
                        <div class="d-flex justify-content-center flex-column p-2">
                        <a class="btn btn-info btn-block" href="{% url 'academic:procedure_detail' pk=procedure.id lab_pk=laboratory org_pk=org_pk %}">
                            <i class="fa fa-eye"></i> {{procedure.procedurestep_set.all.count}} Detalle de pasos</a>
                        <a class="btn btn-success btn-block" href="{% url 'academic:add_steps_wrapper' pk=procedure.id lab_pk=laboratory org_pk=org_pk %}">
                            <i class="fa fa-plus"></i> {% trans 'New Step' %}</a>
                            {% show_reserve_button procedure as show_reserve_btn  %}
                            {% if show_reserve_btn  %}
                                <a class="btn btn-dark btn-block" data-bs-target="#reservation_modal" data-bs-toggle="modal" onclick="get_procedure({{procedure.pk}})">
                                    <i class="fa fa-book"></i> {% trans 'Reserve' %}</a>
                            {% endif %}
                        <a href="{% url 'academic:procedure_update' pk=procedure.id lab_pk=laboratory org_pk=org_pk %}" class="btn btn-primary btn-block">
                           <i class="fa fa-edit"></i> {% trans 'Edit' %}</a>
                        <a class="btn btn-danger btn-block" onclick="delete_procedure({{procedure.pk}},'{{procedure.title}}')">
                            <i class="fa fa-trash"></i> {% trans 'Remove' %}</a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

<div aria-hidden="true"  class="modal fade" id="reservation_modal" role="dialog"
     tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title " id="model_reservation_form_title">{% trans 'Reservation' %}</h5>
                <button aria-label="{% trans 'Close' %}" class="btn-close float-end" data-bs-dismiss="modal" type="button">

                </button>
            </div>
            <div class="modal-body">
                <div class="text-center">
                <label class="mb-2 " style="font-size: 20px; font-weight: bold;" id="procedure_title"></label>
                 </div>
                <form id="reservation_form">
                    {% csrf_token %}
                    {{ reservation_form.as_inline }}

                    <input type="hidden" id="procedure" name="procedure" value="">
                    <input type="hidden" id="lab" name="lab_pk" value="{{lab}}">
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" data-bs-dismiss="modal" type="button">{% trans 'Close' %}</button>
                <button class="btn btn-success" type="button" data-bs-dismiss="modal" onclick="add_reservation()">{% trans 'Save changes' %}</button>
            </div>
        </div>
    </div>
</div>
<div aria-hidden="true"  class="modal fade" id="error_reserved" role="dialog"
     tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title ">{% trans 'Error' %}</h5>
                <button aria-label="{% trans 'Close' %}" class="btn-close float-end" data-bs-dismiss="modal" type="button"></button>
            </div>
            <div class="modal-body">
                <label>{% trans 'The requested quantity of the material is not found in the inventory of the following materials:' %}</label>
                <ul id="list_errors" class="list-group">
                        <li class="list-group-item" title="{{feature.description}}">{{feature.name}}</li>
                </ul>
            </div>

            <div class="modal-footer">
                <button class="btn btn-danger" data-bs-dismiss="modal" type="button"><i class="fa fa-times-circle-o" aria-hidden="true"></i> {% trans 'Close' %}</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
	{{block.super}}
	<script>
	    document.getProcedure="{% url 'academic:get_procedure' lab_pk=laboratory org_pk=org_pk %}"
	    document.reservation="{% url 'academic:generate_reservation' lab_pk=laboratory org_pk=org_pk %}"
	    document.remove_procedure="{% url 'academic:delete_procedure' lab_pk=laboratory org_pk=org_pk %}"
		var table=$("#datatable").DataTable();
		table.order( [ 0, 'desc' ] ).draw();
		const reserved ="{% trans 'Reserved' %}";

		document.message = {
            'confirmprocedure': "{% trans 'Are you sure to delete the procedure' %}",
            'confirmobs': "{% trans 'Are you sure to delete this observation?' %}",
            'confirmobj': "{% trans 'Are you sure to delete this object ' %}",
            'deletemsg': "{% trans 'has been deleted' %}",
            'deleteobs': "{% trans 'Observation has been deleted' %}",
            'object': "{% trans 'Object' %}"
        }

	</script>
    <script src="{% static 'js/procedures.js'%}"></script>
{% endblock %}