{% extends 'base.html' %}
{% load i18n laboratory static %}
{% load gtsettings %}
{% load urlname_tags %}
{% load organilab_tags %}
{% block pre_head %}
    {% define_true  "use_datatables" %}
    {% define_urlname_action 'procedure_list' %}
    {% define_urlname_action 'procedure_update' %}
    {% define_urlname_action 'delete_procedure' %}
    {% define_urlname_action 'add_steps_wrapper' %}
    {% define_urlname_action 'get_procedure' %}
    {% define_urlname_action 'procedure_create' %}
    {% define_urlname_action 'procedure_detail' %}
    {% define_urlname_action 'generate_reservation' %}
{% endblock %}
{% block title %}{% trans 'Procedure' %}{% endblock %}
{% block content %}
<div class="clearfix">
    <a href="{% url 'academic:procedure_create' org_pk=org_pk lab_pk=laboratory %}" class="btn btn-success float-end">
        <i class="fa fa-plus"></i> {% trans 'Create procedure template' %}</a>
</div>
    <table  id="datatable" class="table table-bordered table-hover">
        <thead>
        <tr>
        <th width="30%">{% trans 'Title' %}</th>
        <th width="50%">{% trans 'Description' %}</th>
        <th width="20%">{% trans 'Actions' %}</th>
        </tr>
        </thead>
        <tbody>
            {% for procedure in object_list %}
                <tr>
                    <td class="text-center">{{procedure.title}}</td>
                    <td>{{ procedure.description | safe }}</td>
                    <td class="text-center">
                        <a href="{% url 'academic:procedure_detail' pk=procedure.id lab_pk=laboratory org_pk=org_pk %}" title="{{procedure.procedurestep_set.all.count}} {% trans 'Step detail' %}">
                            <i class="fa fa-eye  fa-sm p-2"></i></a>
                        <a href="{% url 'academic:add_steps_wrapper' pk=procedure.id lab_pk=laboratory org_pk=org_pk %}" title="{% trans 'New Step' %}">
                            <i class="fa fa-plus text-success p-2"></i></a>
                        <a href="{% url 'academic:procedure_update' pk=procedure.id lab_pk=laboratory org_pk=org_pk %}" title="{% trans 'Edit' %}">
                           <i class="fa fa-edit text-primary p-2"></i></a>
                        <a onclick="delete_procedure({{procedure.pk}},'{{procedure.title}}')" title=" {% trans 'Remove' %}">
                            <i class="fa fa-trash text-danger p-2"></i></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block js %}
	{{block.super}}
	<script>
	    document.remove_procedure="{% url 'academic:delete_procedure' lab_pk=laboratory org_pk=org_pk %}"
		var table=$("#datatable").DataTable();
		table.order( [ 0, 'desc' ] ).draw();

	</script>
    <script src="{% static 'js/procedures.js' %}?v={% get_organilab_version %}"></script>
{% endblock %}