{% extends "base.html" %}
{% load i18n %}
{% load urlname_tags %}
{% block pre_head %}
    {% define_urlname_action 'procedure_create' %}
{% endblock %}
{% block title %}{% trans "Detail of" %} {{ model_verbose_name|lower }}{% endblock %}
{% block content %}

<div class="box-body">

    <a class="btn btn-primary" href="{% url 'procedure_list' pk=lab_pk %}"><<</a>

    <div class="page-header">
  {% if 'update' in request.path %}
      <h1 class="text-center">Editar procedimiento</h1>
     {% else %}
      <h1 class="text-center">Crear procedimiento</h1>
      {% endif %}
    </div>
    <div class="panel panel-default">
      <div class="panel-body">
     <form method="post">
          {% csrf_token %}
            {{form.as_p | safe}}
            {{ form.media }}
          <input class="btn btn-success pull-right" type="submit" value="{% trans 'Save' %}">
    </form>
      </div>
    </div>
    {% endblock %}