{% extends 'base.html' %}
{% load i18n laboratory static %}
{% load gtsettings %}
{% load urlname_tags %}
{% block pre_head %}
    {% define_true  "use_datatables" %}
    {% define_urlname_action 'get_my_procedures' %}
    {% define_urlname_action 'add_my_procedures' %}
    {% define_urlname_action 'remove_my_procedure' %}
    {% define_urlname_action 'complete_inform' %}
{% endblock %}
{% block title %}{% trans 'Procedures' %}{% endblock %}
{% block content %}
<div class="row">
  <div class="offset-md-2 col-md-8">
    <div align="center">
      <h3 class="heading-1" ><span> {% trans 'Templates of procedure' %}</span></h3>
      <div class="card">
        <div class="card-header">
          <h2 class="float-start">{% trans 'Templates of procedure' %}</h2>
           <a class="btn btn-success float-end create_btn"  data-bs-toggle="modal"
            data-bs-target="#add_my_procedures" type="button"><i class="fa fa-plus" aria-hidden="true"></i></a>  <ul class="nav navbar-right panel_toolbox"></ul>
          <div class="clearfix"></div>
        </div>
        <div class="card-body">
          <table id="inform" class="table table-striped table-bordered text-center" style="width:100%">
            <thead>
            <tr>
              <th>{% trans 'Name' %}</th>
              <th>{% trans 'Template' %}</th>
              <th>{% trans 'State' %}</th>
              <th>{% trans 'Actions' %}</th>
            </tr>
            </thead>
            <tbody>
            {% for procedure in my_procedures %}
              <tr>
                <td>{{procedure.name}}</td>
                <td>{{procedure.custom_procedure.title}}</td>
                <td>{% trans procedure.status %}</td>
                <td><a class="btn btn-success" href="{% url 'academic:complete_my_procedure' lab_pk=laboratory org_pk=org_pk pk=procedure.pk %}"><i class="fa fa-check-circle" aria-hidden="true"></i></a>
                <a class="btn btn-danger" href="{% url 'academic:remove_my_procedure' lab_pk=laboratory pk=procedure.pk org_pk=org_pk %}"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
              </tr>

            <script>
              console.log({{ procedure }})
            </script>
            {% endfor %}

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="add_my_procedures" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" >{% trans 'Create Procedure' %}</h5>
           <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="{% url 'academic:add_my_procedures' lab_pk=laboratory content_type='laboratory' model='laboratory' org_pk=org_pk %}" method="POST">
            {% csrf_token %}
            {{form.as_horizontal}}
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans 'Cancel' %}</button>
        <button type="submit" class="btn btn-primary">{% trans 'Add' %}</button>
      </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block js %}
  <script>
    $(document).ready(function() {
      $('#inform').DataTable();
      });
  </script>
{% endblock %}
