{% load static %}
{% load i18n monitarize %}
{% load shelf_position %}
<!DOCTYPE html>
<html lang="en">

<head>
  {# METADATA #}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% block meta-keywords %} {% endblock %}
  {% block extrameta%} {% endblock %}
  {# TITLE #}
  <title>Organilab | {% block title %}Index{% endblock %}</title>

  {# CSS #}
  <link href="{% static 'laboratory/css/organilab.css' %}" rel="stylesheet">
  <link href="{% static 'laboratory/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'laboratory/css/furniture-table-css.css' %}" rel="stylesheet">


  {% block css %}{% endblock %}

  <script src="{% static 'laboratory/js/jquery.min.js' %}"></script>

  {# Sweetalert2 #}
  <link href="{% static 'laboratory/css/sweetalert2.min.css' %}" rel="stylesheet">

  {% adsense_header %}
  {% block link %}{% endblock link %}
  {% block script %}{% endblock script %}
</head>

<body {% block bodyklss %}{%endblock%}>
  {# NAV #}
  {% include 'laboratory/partials/navbar.html' %}

  {# MESSAGES #}
  {% include 'laboratory/partials/messages.html' %}

  {# CONTENT #}
  {% block wrapcontent %}
  <div id="site_content">
    <div class="{% block container %}container{% endblock %}">
      {% block content %}
      {% endblock %}
    </div>
  </div>
  {% endblock %}
  {# FOOTER #}
  {% include 'laboratory/partials/footer.html' %}

  <div class="jsmessage"></div>
  {# JS #}
  <!-- En la carpeta static, del repo , datetimepicker, copiar-->
  <script src="{% static 'laboratory/js/organilab.js' %}"></script>
  <script src="{% static 'laboratory/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'ckeditor/ckeditor.js' %}"></script>
  <script type="text/javascript" src="{% static 'django_ajax/js/jquery.ajax.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'django_ajax/js/jquery.ajax-plugin.min.js' %}"></script>
  <script src="{% static 'laboratory/js/sweetalert2.min.js' %}"></script>

  {% block js %}{% endblock %}
</body>

</html>