{% extends 'base.html' %}
{% load i18n recaptcha2 bootstrap %}

{% block title %}{% trans 'Login/SignUp' %}{% endblock %}
{% block css %} {% recaptcha_init 'es' %} {% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-offset-1 col-md-4">
        <div class="page-header" align="center">
            <h2>{% trans "Log in" %}</h2>
        </div>
        <form class="form-signin" method="post" action="{% url 'login' %}">
            {% csrf_token %}
            {{ form|bootstrap }}
            <br />
            <button class="btn btn-lg btn-primary btn-block" type="submit">{% trans "Sign in" %}</button>
        </form>
        <br>
        <div align="center">
            <a href="{% url 'password_reset' %}">{% trans "Forgot password?" %}</a>
        </div>
    </div>
    <div class="col-md-offset-2 col-md-4">
        <form class="form-signup" method="post" action="{% url 'signup' %}">
            <div class="page-header" align="center">
                <h2>{% trans 'Signup' %}</h2>
            </div>

            {% csrf_token %}
            {{ form_signup|bootstrap }}
            <div class="form-group">
                <button type="submit" class="btn btn-lg btn-primary btn-block">{% trans 'Signup' %}</button>
            </div>
        </form>

    </div>
</div>
{% endblock %}