{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans 'Reset password' %}{% endblock %}
{% block extra_css %}
    <style type="text/css">
        #footer {
          position: fixed;
          height: 50px;
          bottom: 0;
          background-color: white;
          width: 100%;
          line-height:50px;
        }
        body{
          height:auto;
        }
        .login_wrapper{
          max-width: 400px;
        }
        h1{
          color: #73879C;
        }
    </style>
{% endblock extra_css %}
{% block content_block_wrap %}{% endblock %}
{% block body_class %}login{% endblock body_class%}
{% block body %}
  <div>
    <div class="login_wrapper">
      <div class="animate form login_form">
        <section class="login_content">
          <form class="form-signin">
            <h1>{% trans 'Reset password' %}</h1>
            <div class="row">
              <p align="center">
                {% trans "We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly." %}
              </p></br>
              <p align="center">
                {% trans "If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder." %}
              </p>
              <center>
              <a href="/" class="btn btn-default"> Inicio </a> </center>
            </div>
          </form>
        </section>
      </div>
    </div>
  </div>
{% endblock %}
