{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans 'Reset password' %}{% endblock %}
{% block extra_css %}
    <style type="text/css">
        #footer {
            position: fixed;
            height: 50px;
            bottom: 0;
            background-color: white;
            width: 100%;
            line-height:50px;
        }
        body{
            height:auto;
        }
        h1{
          color: #73879C;
        }
    </style>
{% endblock extra_css %}
{% block content_block_wrap %}{% endblock %}
{% block body_class %}login{% endblock body_class%}
{% block body %}
  <div id="authentication">
    <div class="login_wrapper">
      <div class="animate form login_form">
        <section class="login_content">
          <div class="row">
            <div class="col-md-12">
              {% if validlink %}
                <form class="form-signin" method="post">
                  <h1>{% trans "Change password" %}</h1>
                  {% csrf_token %}
                  {{ form.new_password1.errors }}
                  <label for="{{ form.new_password1.id_for_label }}" class="sr-only">{{ form.new_password1.name }}</label>
                  <input type="password" id="{{ form.new_password1.id_for_label }}" name="{{ form.new_password1.name }}"
                        class="form-control"
                        placeholder="{% trans "Password" %}" />
                  <br/>

                  {{ form.new_password2.errors }}
                  <label for="{{ form.new_password2.id_for_label }}" class="sr-only">{{ form.new_password2.name }}</label>
                  <input type="password" id="{{ form.new_password2.id_for_label }}" name="{{ form.new_password2.name }}"
                        class="form-control"
                        placeholder="{% trans "Password confirm" %}" />
                  <br/>

                  <button class="btn btn-default" type="submit">{% trans "Change password" %}</button>
                </form>

              {% else %}
                <p>
                  
                  {% trans 'The password reset link was invalid, possibly because it has already been used.
                  Please request a new password reset.' %}

                </p>
              {% endif %}
              <br>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
  <div id="footer">
    {% include 'gentelella/app/footer.html' %}
  </div>
  <script>
    $(document).ready(function(){
      $('.pull-right').parent().addClass('fixed-bottom').addClass('text-center');
      $('.pull-right').removeClass('pull-right');
      $("#id_username").attr("placeholder", 'Username');
      $("#id_password").attr("placeholder", 'Password');
    });
</script>
{% endblock %}
