{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans 'Reset password' %}{% endblock %}
{% block extra_css %}
    <style type="text/css">
        #footer {
            position: fixed;
            height: 50px;
            bottom: 0;
            background-color: white;
            width: 100%;
            line-height:50px;
        }
        body{
            height:auto;
        }
        h1{
          color: #73879C;
        }
    </style>
{% endblock extra_css %}
{% block content_block_wrap %}{% endblock %}
{% block body_class %}login{% endblock body_class%}
{% block body %}
    <div>
        <div class="login_wrapper">
            <div class="animate form reset_password_form">
                <section class="login_content">
                    <form method="post">
                        <h1>{% trans "Forgot password" %}</h1>
                        {% csrf_token %}
                        {{ form.email.errors }}
                        <label for="{{ form.email.id_for_label }}" class="sr-only">{{ form.email.name }}</label>
                        <input type="text" id="{{ form.email.id_for_label }}" name="email"
                                class="form-control"
                                placeholder="E-mail" autofocus/>
                        <br/>

                        <button class="btn btn-default submit" type="submit">{% trans "Submit" %}</button>
                        <div class="clearfix"></div>
                            <div class="separator">
                                <p class="change_link">Already a member ?
                                    <a href="{% url 'login' %}" class="to_register"> Log in </a>
                                </p>
                                <div class="clearfix"></div>
                                <br />
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
{% endblock %}
