version: '2'

services:
  rabbitmq:
    image: "rabbitmq:3"
    container_name: "rabbitmq"
    env_file: organilab.env
    networks:
      - apps



  postgresdb:
    image: postgres:latest
    restart: always
    container_name: "postgresdb"
    env_file: organilab.env
    networks:
      - apps
    volumes:
      - db-data:/var/lib/postgresql/data
      - db-files:/files
    ports:
      - 5431:5432

  mail:
    image: mailhog/mailhog
    restart: always
    container_name: "mail"
    networks:
      - apps
    ports:
    - 1025:1025
    - 8025:8025

  organilab:
    image: organilab:1.4.0
    container_name: "organilab"
    networks:
      - apps
    env_file: organilab.env
    ports:
      - 8001:80
    volumes:
      - vol-organilab:/organilab/media/

    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

networks:
  apps:
    driver: bridge

volumes:
  db-data:
  db-files:
  db-backup:
  vol-organilab:

