{% load i18n shelf_position laboratory %}


{% has_laboratory_perm 'search' as perm_search %}
{% has_laboratory_perm 'admin' as perm_admin %}
{% has_laboratory_perm 'report' as perm_report %}

<nav class="navbar navbar-dark bg-inverse">
  <a class="navbar-brand" href="{% url 'laboratory:index' laboratory %}"><strong id="brand_id">ORGANILAB</strong></a>
  <ul class="nav navbar-nav">
    {% if request.user.is_authenticated %}
      <li><a id='select_id' href="{% url 'laboratory:select_lab' %}" title="Select Laboratory"><span
        class="glyphicon glyphicon-cog"></span></a></li>
      {% if laboratory %}
        {% if perm_search %}
          <li><a id='labview_id' href="{% url 'laboratory:rooms_list' laboratory %}">
            <strong>{% get_laboratory_name %}</strong>
          </a></li>
        {% endif %}
        {% if perm_admin %}
          <li class="dropdown">
            <a id='management_id' href="#" class="dropdown-toggle" data-toggle="dropdown"
               role="button" aria-haspopup="true" aria-expanded="false">
              {% trans 'Administration' %}<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="{% url 'laboratory:rooms_create' laboratory %}">
                {% trans 'Laboratory management' %} </a></li>
              <li><a href="{% url 'laboratory:furniture_create' laboratory %}">
                {% trans 'Furniture management' %}</a></li>
              <li class="dropdown-submenu">
                <a class="sub-menu" tabindex="-1" href="#">{% trans 'Object management' %}<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a tabindex="-1" href="{% url 'laboratory:objectview_list' laboratory %}?type_id=0" >{% trans 'Reactive' %}</a></li>
                  <li><a tabindex="-1" href="{% url 'laboratory:objectview_list' laboratory %}?type_id=1">{% trans 'Material' %}</a></li>
                  <li><a tabindex="-1" href="{% url 'laboratory:objectview_list' laboratory %}?type_id=2">{% trans 'Equipment' %}</a></li>
                </ul>
              </li>
              <li><a href="{% url 'laboratory:object_feature_create' laboratory %}">
                {% trans 'Object features management' %}</a></li>
              <li><a href="{% url 'laboratory:solution_list' laboratory %}">
                {% trans 'Dissolution management' %}</a></li>
            </ul>

          </li>
        {% endif %}
        {% if perm_report %}
          <li class="dropdown">
            <a id='reports_id' href="#" class="dropdown-toggle" data-toggle="dropdown"
               role="button" aria-haspopup="true" aria-expanded="false">
              {% trans 'Reports' %}<span class="caret"></span></a>
            <ul class="dropdown-menu">
               <li class="dropdown-submenu">
                <a class="sub-menu" tabindex="-1" href="#">{% trans 'Laboratory' %}<span class="caret"></span></a>
                <ul class="dropdown-menu">
                 <li><a tabindex="-1" href="{% url 'laboratory:reports_laboratory' laboratory %}">{% trans 'Objects' %}</a></li>
                 <li><a tabindex="-1" href="{% url 'laboratory:reports_organization' laboratory  %}">{% trans 'Principal Technician' %}</a></li>
               
                </ul>
              </li>
              <li><a href="{% url 'laboratory:reports_furniture_detail' laboratory %}">
                {% trans 'Furnitures' %}</a>
              </li>
              <li class="dropdown-submenu">
                <a class="sub-menu" tabindex="-1" href="#">{% trans 'Objects' %}<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a tabindex="-1" href="{% url 'laboratory:reports_objects_list' laboratory %}?type_id=0">{% trans 'Reactive' %}</a></li>
                  <li><a tabindex="-1" href="{% url 'laboratory:reports_objects_list' laboratory %}?type_id=1">{% trans 'Material' %}</a></li>
                  <li><a tabindex="-1" href="{% url 'laboratory:reports_objects_list' laboratory %}?type_id=2">{% trans 'Equipment' %}</a></li>
                </ul>
              </li>
              <li><a href="{% url 'laboratory:reactive_precursor_object_list' laboratory %}">
                {% trans 'Reactive precursor objects' %}</a></li>
              <li><a href="{% url 'laboratory:reports_limited_shelf_objects_list' laboratory %}">
                {% trans 'Limited shelf objects' %}</a></li>
            </ul>
          </li>
        {% endif %}

        <li id="reservation_list_id"><a
          href="{% url 'reservation_list' %}">{% trans 'My reservations' %}  </a>
        </li>
        <li id="reservation_admin_id">
        {% if request.reservation %}
          <a href="{% url 'finish_reservation' %}"> {% trans 'Finish reservation' %}  </a>
        {% else %}
          <a
            href="{% url 'add_user_reservation' %}?next={% url 'laboratory:index' laboratory %}"> {% trans 'Create a reservation' %} </a>
        {% endif %}
      {% endif %}
    </li>
    {% endif %}
  </ul>
  <ul class="nav navbar-nav pull-right">
    <li id='feedback_id' class="nav-item"><a class="nav-link"
                                             href="{% url 'laboratory:feedback' %}">{% trans 'Feedback' %}</a></li>
    {% if request.user.is_authenticated %}
      <li class="nav-item"><a class="nav-link" href="#">{% trans 'User:' %} {{ request.user.get_username }}</a></li>
      <li class="nav-item"><a class="nav-link" href="{% url 'laboratory:logout' %}">{% trans "Log out" %}</a></li>
    {% else %}
      <li class="nav-item"><a class="nav-link" href="{% url 'laboratory:login' %}">{% trans "Log in" %}</a></li>
    {% endif %}
  </ul>
</nav>
