{% extends 'base.html' %}
{% load i18n bootstrap %}
{% load static %}
{% block title %}{% trans 'SGA Search' %}{% endblock title %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <div class="page-header col-xs-13" align="center">
                <h3 class="heading-1" ><span> {% trans 'Danger Indication Information' %}</span></h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <div class="col-xs-13">
                {% for code in hcodes_list %}
                <h5 class="heading-1" ><span>{{ code }}</span></h5>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row" style="margin-top:20px;">
        <div class="col-md-offset-2 col-md-8">
            <div class="col-xs-13">
            <div class="col-md-6 text-center">
           <div class="card">
              <div class="card-header"><h5><strong>{% trans 'Pictograms' %}</strong></h5></div>
              <div class="card-body">
                  {% for pictogram in pictograms %}
                    <img src="{% static 'sga/img/pictograms/' %}{{pictogram}}" width="90px" height="90px" />
                  {% empty %}
                    <p>{% trans 'Without Pictograms' %}</p>
                  {% endfor %}
              </div>
            </div>
       </div>
            <div class="col-md-6 text-center">
           <div class="card">
              <div class="card-header"><h5><strong>{% trans 'Warning Words' %}</strong></h5></div>
              <div class="card-body">
                  {% for warning_word in warning_words %}
                    <p>{{ warning_word }}</p>
                  {% empty %}
                    <p>{% trans 'Without Warning Words' %}</p>
                {% endfor %}
              </div>
            </div>
       </div>
        </div>
        </div>
        </div>
    <div class="row" style="margin-top:30px;">
        <div class="col-md-offset-2 col-md-8">
            <div class="col-xs-13">
           <div class="card">
               <div class="card-header text-center"><h5><strong>{% trans 'Prudence Advices' %}</strong></h5></div>
              <div class="card-body">
                  {% for prudence_advice in prudence_advices %}
                    <p>{{ prudence_advice }}</p>
                  {% empty %}
                    <p>{% trans 'Without Prudence Advices' %}</p>
                {% endfor %}
              </div>
            </div>
            </div>
       </div>
    </div>
</div>
{% endblock content %}