{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load urlname_tags %}
{% block pre_head %}
    {% define_urlname_action 'index' %}
{% endblock %}
{% block title %}{% trans 'SGA Search' %}{% endblock title %}
{% block content %}

<div class="row justify-content-center">
    <div class="col-md-8 col-sm-8">
        <h3 class="text-center">{% trans 'SGA Information Searcher' %}</h3>
        <p class="text-center">{% trans 'Enter in the following searcher the danger indication codes (H-Codes).' %}</p>
    </div>
</div>
<div class="row justify-content-center">
    <form action="" method="post">
        {% csrf_token %}
        <div class="row justify-content-center">
            <div class="col-md-7">
                {{ form.as_horizontal }}
            </div>
            <div class="col-md-2">
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-success">
                        {% trans 'Search' %}
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
    </form>
    <div class="d-flex justify-content-center">
        <a type="button" class="btn btn-lg btn-primary" href="{% url 'donate' %}">{% trans 'Donate' %}</a>
    </div>
</div>

{% endblock content %}