{% extends 'label_index.html' %}
{% load i18n %}
{% load static %}
{% load urlname_tags %}
{% load organilab_tags %}

{% block pre_head %}
    {% define_urlname_action 'add_personal' %}
    {% define_urlname_action 'edit_personal' %}
    {% define_urlname_action 'template' %}
    {% define_urlname_action 'delete_sgalabel' %}
    {% define_urlname_action 'get_svgexport' %}
{% endblock %}
{# CSS #}
{% block css %}
<link href="{% static 'sga/css/label_template.css' %}?v={% get_organilab_version %}" rel="stylesheet">
{% endblock css %}
{% block js %}
<script>
    document.url_get_preview = "{% url 'sga:get_preview' org_pk organilabcontext 0 %}";
    document.url_delete_sgalabel = "{% url 'sga:delete_sgalabel' org_pk organilabcontext 0 %}";
</script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="{% static 'sga/js/personal_template.js' %}?v={% get_organilab_version %}"></script>
{% endblock %}


{% block extrameta%}{% endblock extrameta %}

{% block content %}

    <div class="">
        {% csrf_token %}
        <h2 class="titles">{% trans 'List of SGA Labels' %}</h2>
        <div class="float-end">
            <button type="button" class="btn btn-success" id="newsgalabel" data-bs-toggle="modal" data-bs-target="#newsgalabelmodal">{% trans 'New SGA Label' %}</button>
        </div>
        <div class="clearfix"></div>

        <table class="table table-bordered text-center" id="table_template_list">
            <thead>
            <tr>
                <th class="text-center">{% trans 'Name' %}</th>
                <th class="text-center">{% trans 'Actions' %}</th>
            </tr>
            </thead>
            <tbody id="template_list">
            {% for template in personal_templates %}
            <tr>
                <td>{{template.name}}</td>
                <td><a class="btn  btn-md  btn-success" title="{% trans 'Edit' %}" href="{% url 'sga:sgalabel_step_one' org_pk organilabcontext template.pk %}" ><i class="icons fa fa-edit"></i></a>
                    {% if template.json_representation %}
                        <a class="btn  btn-md  btn-info btnpreview" title="{% trans 'Preview' %}" data-id="{{template.pk}}"><i class="icons fa fa-eye"></i></a>
                        <a class="btn  btn-md  btn-primary" title="{% trans 'Generate PNG' %}" href="{% url 'sga:get_svgexport' org_pk 0 template.pk %}"><i class="icons fa fa-file-image-o" aria-hidden="true"></i></a>
                        <a class="btn  btn-md  btn-warning" title="{% trans 'Generate PDF' %}" href="{% url 'sga:get_svgexport' org_pk 1 template.pk %}"><i class="icons fa fa-file-pdf-o" aria-hidden="true"></i></a>
                    {% endif %}
                    <a class="btn  btn-md  btn-danger"  title="{% trans 'Delete' %}" onclick="delete_template(this)" data-id="{{template.pk}}" ><i class="icons fa fa-trash"></i></a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

<div id="svgtemplate" class="modal fade" tabindex="-1" aria-labelledby="previewmodalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="previewmodalLabel">{% trans 'Preview' %}</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                <img>
            </div>
        </div>
    </div>
</div>

    <div class="modal fade" id="newsgalabelmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title float-start" id="exampleModalLabel">{% trans 'New SGA Label' %}</h5>
                    <button type="button" class="btn-close float-end" data-bs-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                    <form id="newsgalabelform"  method="POST" action="{% url 'sga:sgalabel_create' organilabcontext='laboratory' org_pk=org_pk %}">
                        {% csrf_token %}
                        {{form.as_horizontal}}
                        <button type="submit" class="btn btn-success" style="margin-top: 3%;">{% trans 'Continue' %}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deletesgalabelmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="row">
                        <div class="col-sm-10">
                            <div class="row text-center">
                                <h5 class="modal-title">{% trans 'Are you sure?' %}</h5>
                            </div>
                            <div class="row text-center">
                                <span>{% trans 'This action is irreversible' %}</span>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <button type="button" class="btn-close float-end" data-dismiss="modal" aria-label="Close">
                            </button>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-info" data-bs-dismiss="modal" type="button">{% trans 'Cancel' %}</button>
                    <a class="btn btn-danger" type="button" id="btndeletesgalabel">{% trans 'Delete' %}</a>
                </div>
            </div>
        </div>
    </div>

  {% endblock content %}
