{% extends 'label_index.html' %}
{% load i18n %}
{% load static bootstrap %}

{# CSS #}
{% block css %}
<link href="{% static 'sga/css/label_template.css' %}" rel="stylesheet">
{% endblock css %}
{% block js %}
<script>
    document.url_get_preview = "{% url 'sga:get_preview' organilabcontext 0 %}";
    document.url_delete_sgalabel = "{% url 'sga:delete_sgalabel' organilabcontext 0 %}";
</script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="{% static 'sga/js/personal_template.js' %}"></script>
{% endblock %}


{% block extrameta%}{% endblock extrameta %}

{% block content %}


<div>
    <div class="x_title">
                    {% csrf_token %}
        <h2>{% trans 'List of SGA Labels' %}</h2>
        <div class="pull-right">
            <button type="button" class="btn btn-success form-control" id="newsgalabel">{% trans 'New SGA Label' %}</button>
        </div>
        <div class="clearfix"></div>
    </div>
        <table class="table table-bordered text-center" id="table_template_list">
        <thead>
            <tr>
                <th class="text-center">{% trans 'Name' %}</th>
                <th class="text-center">{% trans 'Actions' %}</th>
            </tr>
        </thead>
        <tbody id="template_list">
            {% for template in personal_templates %}
            <tr>
                <td>{{template.name}}</td>
                <td><a class="btn  btn-md  btn-success" title="{% trans 'Edit' %}" href="{% url 'sga:edit_personal' organilabcontext template.pk %}" ><i class="icons fa fa-edit"></i></a>
                    <a class="btn  btn-md  btn-info btnpreview" title="{% trans 'Preview' %}" data-id="{{template.pk}}"><i class="icons fa fa-eye"></i></a>
                    <a class="btn  btn-md  btn-primary" title="{% trans 'Generate PNG' %}" href="{% url 'sga:get_svgexport' 0 template.pk %}"><i class="icons fa fa-file-image-o" aria-hidden="true"></i></a>
                    <a class="btn  btn-md  btn-warning" title="{% trans 'Generate PDF' %}" href="{% url 'sga:get_svgexport' 1 template.pk %}"><i class="icons fa fa-file-pdf-o" aria-hidden="true"></i></a>
                    <a class="btn  btn-md  btn-danger"  title="{% trans 'Delete' %}" onclick="delete_template(this)" data-id="{{template.pk}}" ><i class="icons fa fa-trash"></i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
  </div>

    <div class="modal fade bs-example-modal-lg" id="svgtemplate" tabindex="-1"
        role="dialog" aria-hidden="true" data-backdrop="static">
        <div class="stylo modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">{% trans 'Preview' %}</h4>
                </div>
                <div class="modal-body text-center">
                    <img>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="newsgalabelmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title pull-left" id="exampleModalLabel">{% trans 'New SGA Label' %}</h5>
                    <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="newsgalabelform"  method="GET" action="{% url 'sga:template' organilabcontext='laboratory' %}">
                        {{form}}
                        <button type="submit" class="btn btn-success" style="margin-top: 3%;">{% trans 'Continue' %}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deletesgalabelmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="row">
                        <div class="col-sm-10">
                            <div class="row text-center">
                                <h5 class="modal-title">{% trans 'Are you sure?' %}</h5>
                            </div>
                            <div class="row text-center">
                                <span>{% trans 'This action is irreversible' %}</span>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-info" data-dismiss="modal" type="button">{% trans 'Cancel' %}</button>
                    <a class="btn btn-danger" type="button" id="btndeletesgalabel">{% trans 'Delete' %}</a>
                </div>
            </div>
        </div>
    </div>

  {% endblock content %}
