{% extends 'base.html' %}
{% load static i18n %}

{% block content %}
<div class="row">
<div class="col-md-offset-2 col-md-8">
        <div class="page-header col-xs-13" align="center">
          <h3 class="heading-1" ><span> {% trans 'Reactive management' %}  </span></h3>
        </div>
</div>
</div>

<div class="row">
<div class="col-md-12">
    <div class="add-container">
        <a href="{% url 'laboratory:sustance_manage'%}"><i class="glyphicon glyphicon-plus green"
                                                        title="{% trans 'Add new Substance' %}"></i></a>
    </div>
  <table id="sustancetable" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th> </th>
                <th>{% trans 'Name' %}</th>
                <th>{% trans 'Cas code' %}</th>
                <th>{% trans 'Actions' %}</th>

            </tr>
        </thead>
        <tbody>
        </tbody>
  </table>
</div>
</div>
{% endblock %}

{% block js %}
{{block.super}}

<link href="{% static 'vendor/datatables/css/dataTables.bootstrap.min.css' %}">
<script src="{% static 'vendor/datatables/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'vendor/datatables/js/dataTables.bootstrap.min.js' %}"></script>
<script>

(function(){
    $("#sustancetable").DataTable({
        "processing": true,
        "serverSide": true,
        "ajax": "{% url 'laboratory:sustance_list_json' %}",
    });
})(jQuery);
</script>



{% endblock %}