{% extends 'base.html' %}
{% load static i18n gtsettings %}
{% load urlname_tags %}
{% block pre_head %}
    {% define_true  "use_datatables" %}
    {% define_urlname_action 'objectview_list' %}
{% endblock %}


{% block content %}
<div class="row">
<div class="offset-md-2 col-md-8">
        <div class="page-header" align="center">
          <h3 class="heading-1" ><span> {% trans 'Reactive management' %}  </span></h3>
        </div>
</div>
</div>

	<div class="row">
    <table class="table table-striped w-100 table-responsive" id="reactive_table"></table>
</div>

{% url "laboratory:api-reactive-list" org_pk lab_pk as list_obj_url %}
	{% trans 'Create Reactive' as create_obj_tittle %}

{% include 'gentelella/blocks/modal_template.html' with form=create_form id="create_obj_modal" title=create_obj_tittle form_id="create_obj_form" url=list_obj_url principal_class='modal-xl' %}

{% url "laboratory:api-reactive-detail" org_pk lab_pk 0 as detail_obj_url %}
	{% trans 'Update Reactive' as update_obj_tittle %}
{% include 'gentelella/blocks/modal_template.html' with form=update_form id="update_obj_modal" title=update_obj_tittle form_id="update_obj_form" url=detail_obj_url principal_class='modal-xl' %}

{% include 'gentelella/blocks/modal_template_delete.html' with form=delete_form id="delete_obj_modal" form_id="delete_obj_form" url=detail_obj_url %}
{% trans 'Update Limits' as limit_obj_tittle %}

{% include 'gentelella/blocks/modal_template.html' with form=limit_form id="create_limit_modal" title=limit_obj_tittle form_id="create_reactive_limit_form" url=detail_obj_url principal_class='modal-xl' %}

<!-- Modal de Detalle de Reactivo -->
<div class="modal fade" id="reactive_detail_modal" tabindex="-1" role="dialog" aria-labelledby="reactive_detail_modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="reactive_detail_modalLabel">{% trans 'Reactive Detail' %}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{% trans 'Close' %}"></button>
            </div>
            <div class="modal-body" id="reactive_detail_modal_body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans 'Close' %}</button>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block js %}
{{block.super}}

<script>

var object_urls = {
    list_url: "{% url 'laboratory:api-reactive-list' org_pk lab_pk%}",
    create_url: "{% url 'laboratory:api-reactive-list' org_pk lab_pk%}",
    destroy_url: "{% url 'laboratory:api-reactive-detail' org_pk lab_pk 0 %}",
    update_url: "{% url 'laboratory:api-reactive-detail' org_pk lab_pk 0 %}",
    detail_url: "{% url 'laboratory:api-reactive-detail' org_pk lab_pk 0 %}"
}
var limit_urls = {
					get_limits: "{% url 'laboratory:api-reactive-get-reactive-limits' org_pk=org_pk lab_pk=lab_pk pk=0 %}",
					add_limits: "{% url 'laboratory:api-reactive-add-limits' org_pk=org_pk lab_pk=lab_pk %}"
					}
datatable_inits = {
    columns: [
                {data: "id", name: "id", title: "ID", type: "string", visible: false},
                {data: "combined_booleans", name: "combined_booleans", title: gettext("Status") , type: "boolean"},
                {data: "code", name: "code", title: gettext("Code"), type: "string", visible: true},
                {data: "name", name: "name", title: gettext("Name"), type: "string", visible: true},
                {data: "synonym", name: "synonym", title: gettext("Synonym"), type: "string", visible: true},
                {data: "maximum_limit_table", name: "maximum_limit_table", title: gettext("Maximum Limit"), type: "readonly", visible: true},
                {data: "minimum_limit_table", name: "minimum_limit_table", title: gettext("Minimum Limit"), type: "readonly", visible: true},
                {data: "measurement_unit_table", name: "measurement_unit_table", title: gettext("Measurement Unit"), type: "readonly", visible: true},
                {data: "actions", name: "actions", title: gettext("Actions"), type: "string", visible: true}

],
addfilter: true

}
let has_perm = {{ perms.laboratory.add_object|yesno:"true,false" }};

var reactive_modalids = {
    destroy: "#delete_obj_modal",
    update: "#update_obj_modal",
}

if (has_perm) {
    reactive_modalids.create = "#create_obj_modal";
}

var reactive_actions = {
    table_actions: [], // table_actions
    object_actions: [
					{
						'name' : 'view_detail',
						'action' : 'view_detail',
						'title' : gettext('View Detail'),
						'in_action_column' : true,
						'i_class' : 'fa fa-eye',
					},
					{
						'name' : 'download',
						'action' : 'download',
						'title' : gettext('Download'),
						'in_action_column' : true,
						'i_class' : 'fa fa-download',
					},
					{
						'name' : 'add_limits',
						'action' : 'add_limits',
						'title' : gettext('Limits'),
						'in_action_column' : true,
						'i_class' : 'fa fa-lock',
						'success' : function(instance, data){
							instance.datatable.ajax.reload();
						}
					}
				],
        title: gettext('Actions'),
        className: "no-export-col"
}

icons = {
    create: '<i class="fa fa-plus" aria-hidden="true"></i>',
    clear: '<i class="fa fa-eraser" aria-hidden="true"></i>',
    detail: 'fa fa-eye',
    update: 'fa fa-edit me-1 fa-lg',
    destroy: 'fa fa-trash fa-lg',

}

let objconfig={
    urls: object_urls,
    datatable_element: "#reactive_table",
    modal_ids: reactive_modalids,
    actions: reactive_actions,
    datatable_inits: datatable_inits,
    add_filters: true,
    relation_render: {'field_autocomplete': 'text'},
    delete_display: data => data['name'],
    icons: icons
}

let crud=ObjectCRUD("reactivecrudobj", objconfig)
crud.download = function(obj, action){
	if (obj.security_sheet && obj.security_sheet.url){
		const link = document.createElement('a');
		link.href = obj.security_sheet.url;
		link.download = obj.security_sheet.name
		document.body.appendChild(link);
		link.click();
		document.body.removeChild(link);
	}else{
		console.error("No security sheet available")
	}
}

crud.add_limits = function(obj, action){

	$('#create_limit_modal').modal('show')
	$("#create_limit_modal").find(".formadd").off("click")
	document.getElementById('id_limit-object').value = obj.id;
	add_url = limit_urls['add_limits']+"?reactive="+obj.id;
	document.getElementById('create_reactive_limit_form').action =add_url;
	document.getElementById('id_limit-maximum_limit').value = obj.maximum_limit;
	document.getElementById('id_limit-minimum_limit').value = obj.minimum_limit;
	$('#id_limit-measurement_unit').val(obj.measurement_unit).trigger('change');
	$("#create_limit_modal").modal('show');

	gtformequipment=GTBaseFormModal("#create_limit_modal", {},  {reload_table: false, type: "POST"});
	gtformequipment.hide_modal = function(){
					$(gtformequipment.form).find("ul.form_errors").remove();
	};
	gtformequipment.success = function(instance, data){
					$("#create_limit_modal").modal('hide');
	};
	gtformequipment.show_modal = function(){};
	gtformequipment.init();
}

crud.view_detail = function(obj, action){
	let detail_url = object_urls.detail_url.replace('/0/', '/' + obj.id + '/');
	fetch(detail_url, {
		method: 'GET',
		headers: {
			'Content-Type': 'application/json',
			'X-CSRFToken': getCookie('csrftoken')
		}
	})
	.then(response => response.json())
	.then(data => {
		buildReactiveDetailModal(data);
		$('#reactive_detail_modal').modal('show');
	})
	.catch(error => {
		console.error('Error fetching reactive detail:', error);
	});
}

function buildReactiveDetailModal(data) {
	const modalBody = document.getElementById('reactive_detail_modal_body');
	modalBody.innerHTML = '';

	const modalLabel = document.getElementById('reactive_detail_modalLabel');
	modalLabel.textContent = data.name || gettext('Reactive Detail');

	let html = '<div class="container-fluid">';
	html += '<div class="row">';

	// Columna izquierda - Datos del Object
	html += '<div class="col-md-6">';
	html += '<h5 class="border-bottom pb-2 mb-3">' + gettext('General Information') + '</h5>';
	html += '<table class="table table-sm table-striped">';
	html += '<tbody>';
	html += buildTableRow(gettext('Code'), data.code);
	html += buildTableRow(gettext('Name'), data.name);
	html += buildTableRow(gettext('Synonym'), data.synonym);
	html += buildTableRow(gettext('Description'), data.description);
	html += buildTableRow(gettext('Organization'), data.organization_name);
	html += buildTableRow(gettext('Is Dangerous'), data.is_dangerous ? gettext('Yes') : gettext('No'));
	html += buildTableRow(gettext('Is Pure'), data.is_pure ? gettext('Yes') : gettext('No'));
	html += buildTableRow(gettext('Has Threshold'), data.has_threshold ? gettext('Yes') : gettext('No'));
	if (data.has_threshold) {
		html += buildTableRow(gettext('Threshold'), data.threshold);
	}
	html += '</tbody></table>';

	// Features
	if (data.features && data.features.length > 0) {
		html += '<h6 class="mt-3">' + gettext('Features') + '</h6>';
		html += '<ul class="list-group list-group-flush">';
		data.features.forEach(function(feature) {
			html += '<li class="list-group-item py-1">' + feature.name + '</li>';
		});
		html += '</ul>';
	}
	html += '</div>';

	// Columna derecha - Sustance Characteristics
	html += '<div class="col-md-6">';
	html += '<h5 class="border-bottom pb-2 mb-3">' + gettext('Substance Characteristics') + '</h5>';

	if (data.sustance_characteristics) {
		const sc = data.sustance_characteristics;
		html += '<table class="table table-sm table-striped">';
		html += '<tbody>';
		html += buildTableRow(gettext('CAS Number'), sc.cas_id_number);
		html += buildTableRow(gettext('Molecular Formula'), sc.molecular_formula);
		html += buildTableRow(gettext('Is Precursor'), sc.is_precursor ? gettext('Yes') : gettext('No'));
		if (sc.precursor_type) {
			html += buildTableRow(gettext('Precursor Type'), sc.precursor_type.description);
		}
		html += buildTableRow(gettext('IARC'), sc.iarc ? sc.iarc.description : '');
		html += buildTableRow(gettext('IMDG'), sc.imdg ? sc.imdg.description : '');
		html += buildTableRow(gettext('Bioaccumulable'), sc.bioaccumulable ? gettext('Yes') : gettext('No'));
		html += buildTableRow(gettext('Seveso List III'), sc.seveso_list ? gettext('Yes') : gettext('No'));
		html += buildTableRow(gettext('Density'), sc.density);
		html += '</tbody></table>';

		// White Organs
		if (sc.white_organ && sc.white_organ.length > 0) {
			html += '<h6 class="mt-3">' + gettext('White Organs') + '</h6>';
			html += '<ul class="list-group list-group-flush">';
			sc.white_organ.forEach(function(wo) {
				html += '<li class="list-group-item py-1">' + wo.description + '</li>';
			});
			html += '</ul>';
		}

		// H Codes
		if (sc.h_code && sc.h_code.length > 0) {
			html += '<h6 class="mt-3">' + gettext('H Codes') + '</h6>';
			html += '<ul class="list-group list-group-flush">';
			sc.h_code.forEach(function(hc) {
				html += '<li class="list-group-item py-1">' + hc.code + ' - ' + hc.description + '</li>';
			});
			html += '</ul>';
		}

		// UE Codes
		if (sc.ue_code && sc.ue_code.length > 0) {
			html += '<h6 class="mt-3">' + gettext('UE Codes') + '</h6>';
			html += '<ul class="list-group list-group-flush">';
			sc.ue_code.forEach(function(ue) {
				html += '<li class="list-group-item py-1">' + ue.description + '</li>';
			});
			html += '</ul>';
		}

		// NFPA
		if (sc.nfpa && sc.nfpa.length > 0) {
			html += '<h6 class="mt-3">' + gettext('NFPA Codes') + '</h6>';
			html += '<ul class="list-group list-group-flush">';
			sc.nfpa.forEach(function(nfpa) {
				html += '<li class="list-group-item py-1">' + nfpa.description + '</li>';
			});
			html += '</ul>';
		}

		// Storage Class
		if (sc.storage_class && sc.storage_class.length > 0) {
			html += '<h6 class="mt-3">' + gettext('Storage Class') + '</h6>';
			html += '<ul class="list-group list-group-flush">';
			sc.storage_class.forEach(function(stc) {
				html += '<li class="list-group-item py-1">' + stc.description + '</li>';
			});
			html += '</ul>';
		}

		// Security Sheet Link
		if (sc.security_sheet && sc.security_sheet.url) {
			html += '<div class="mt-3">';
			html += '<a href="' + sc.security_sheet.url + '" target="_blank" class="btn btn-outline-primary btn-sm">';
			html += '<i class="fa fa-file-pdf-o"></i> ' + gettext('Download Security Sheet');
			html += '</a></div>';
		}

		// Image Representation
		if (sc.img_representation && sc.img_representation.url) {
			html += '<div class="mt-3">';
			html += '<h6>' + gettext('Substance Representation') + '</h6>';
			html += '<img src="' + sc.img_representation.url + '" class="img-fluid img-thumbnail" style="max-width: 200px;" />';
			html += '</div>';
		}
	} else {
		html += '<p class="text-muted">' + gettext('No substance characteristics available') + '</p>';
	}

	html += '</div>';
	html += '</div>';
	html += '</div>';

	modalBody.innerHTML = html;
}

function buildTableRow(label, value) {
	return '<tr><td class="fw-bold" style="width: 40%;">' + label + '</td><td>' + (value || '-') + '</td></tr>';
}

function getCookie(name) {
	let cookieValue = null;
	if (document.cookie && document.cookie !== '') {
		const cookies = document.cookie.split(';');
		for (let i = 0; i < cookies.length; i++) {
			const cookie = cookies[i].trim();
			if (cookie.substring(0, name.length + 1) === (name + '=')) {
				cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
				break;
			}
		}
	}
	return cookieValue;
}

crud.init();

$('#create_limit_modal').on('hidden.bs.modal', function (){
	crud.datatable.ajax.reload();
})
helptext_list = ["is_pure", "has_threshold", "is_dangerous", "threshold"]
helptext_list.forEach(function(helptext){
document.getElementById(`id_create-${helptext}_helptext`).classList.add("d-block");
document.getElementById(`id_update-${helptext}_helptext`).classList.add("d-block");
}
 );
</script>


{% endblock %}
