{% extends 'base.html' %}
{% load static i18n gtsettings %}
{% load urlname_tags %}
{% block pre_head %}
    {% define_true  "use_datatables" %}
    {% define_urlname_action 'objectview_list' %}
    {% define_urlname_action 'sustance_list_json' %}
    {% define_urlname_action 'sustance_manage' %}
{% endblock %}


{% block content %}
<div class="row">
<div class="offset-md-2 col-md-8">
        <div class="page-header" align="center">
          <h3 class="heading-1" ><span> {% trans 'Reactive management' %}  </span></h3>
        </div>
</div>
</div>

<div class="row">
<div class="col-md-12">
    <div class="add-container float-end">
        <a class="btn btn-outline-success" href="{% url 'laboratory:sustance_add' lab_pk=laboratory %}"><i class="fa fa-plus" title="{% trans 'Add new Substance' %}"></i> {% trans 'Add' %}</a>
    </div>
    <br>
  <table id="sustancetable" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th> </th>
                <th>{% trans 'Name' %}</th>
                <th>{% trans 'Cas code' %}</th>
                <th>{% trans 'Actions' %}</th>

            </tr>
        </thead>
        <tbody>
        </tbody>
  </table>
</div>
</div>
{% endblock %}

{% block js %}
{{block.super}}

<script>

(function(){
    $("#sustancetable").DataTable({
        "processing": true,
        "serverSide": true,
        "ajax": "{% url 'laboratory:sustance_list_json' pk=laboratory %}",
        "language": {
            "url": "{% get_datatables_translation %}"
        }
    });
})(jQuery);
</script>



{% endblock %}