{% extends 'base.html' %}
{% load static i18n bootstrap %}

{% block content %}
<div class="container">
<div class="row">
    <form class="form-horizontal" action="{% url 'laboratory:sustance_manage'%}" method="POST">
    {% csrf_token %}
    <div class="row">
      <div class="col-md-5">
            {{ objform|bootstrap }}
      </div>
      <div class="col-md-5">
        {{ suschacform|bootstrap }}

      </div>
    </div>
    <div class="row">
      <input type="submit" value="Submit">
    </div>
    </form>

</div>
</div>

{% endblock %}