{% extends 'base.html' %}
{% load static i18n bootstrap %}

{% block content %}
<div class="container">
    <a href="{% url 'laboratory:sustance_list' %}" class="btn btn-danger">Volver</a>
    <div class="row"
    style="margin-left:25%">
        <h2 style="color:#337ab7">{% trans 'Substance Management' %}</h2>
    </div>
    <form class="form-horizontal" action="{% url 'laboratory:sustance_manage'%}" method="POST">
    {% csrf_token %}
    <div class="row-md-10">
        <div class="col-md-4">
            {{ objform|bootstrap }}
        </div>
        <div class="col-md-5 col-md-offset-1">
            {{ suschacform|bootstrap }}
        </div>
    </div>
    </form>
    <div class="col-md-11" style="display:inline-block">
    <input type="submit" class="btn btn-info" value="Submit">
    <a role="button" class="collapsed" data-toggle="collapse" href="#collapseExample"
       aria-expanded="false" aria-controls="collapseExample" style="float:right;font-size:30px;"><i class="glyphicon glyphicon-question-sign" title="{% trans 'Help' %}"></i></a>
    <br>
    </div>
    <div class="col-md-10 jumbotron collapse" id="collapseExample" aria-expanded="false">
        <div class="section" id="representing-chemical-substances-in-pyeql">
            <h2>{% trans 'Representing Chemical Substances in pyEQL' %} </h2>
            <p>{% blocktrans %}pyEQL interprets the chemical formula of a substance to calculate its molecular
            weight and formal charge. The formula is also used as a key to search the
            database for parameters (e.g. diffusion coefficient) that are used in subsequent
            calculations.{% endblocktrans %}</p>
            <div class="section" id="how-to-enter-valid-chemical-formulas">
            <h3>{% trans 'How to Enter Valid Chemical Formulas' %}</h3>
            <p>{% blocktrans %}Generally speaking, type the chemical formula of your solute the “normal” way
            and pyEQL should be able to interpret it. Here are some examples:{% endblocktrans %}</p>
            <ul class="simple">
            <li>{% trans 'Sodium Chloride - NaCl' %}</li>
            <li>{% trans 'Sodium Sulfate - Na(SO4)2' %}</li>
            <li>{% trans 'Methanol - CH4OH or CH5O' %}</li>
            <li>{% trans 'Magnesium Ion - Mg+2' %}</li>
            <li>{% trans 'Chloride Ion - Cl-' %}</li>
            </ul>
            <p>{% trans 'Formula Rules:' %}</p>
            <ol class="arabic simple">
            <li>{% trans 'Are composed of valid atomic symbols that start with capital letters' %}</li>
            <li>{% trans 'Contain no non-alphanumeric characters other than ‘(‘, ‘)’, ‘+’, or ‘-‘' %}</li>
            <li>{% blocktrans %}If a ‘+’ or ‘-‘ is present, the formula must contain ONLY ‘+’ or ‘-‘
            (e.g. ‘Na+-‘ is invalid) and the formula must end with either a series of
            charges (e.g. ‘Fe+++’) or a numeric charge (e.g. ‘Fe+3’){% endblocktrans %}</li>
            <li>{% trans 'Formula must contain matching numbers of ‘(‘ and ‘)’' %}</li>
            <li>{% trans 'Open parentheses must precede closed parentheses' %}</li>
            </ol>
            </div>

        </div>
    </div>

</div>

{% endblock %}