{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load urlname_tags %}
{% load gtsettings %}
{% block pre_head %}
	{% define_urlname_action 'laboratory_process_list' %}
{% endblock %}

{% block title %}{% trans 'Laboratory Processes View' %}{% endblock %}

{% block content %}
	<h1 class="text-center">{% trans 'Laboratory Processes List' %}</h1>

	<div class="row">
		<table class="table table-striped w-100 table-responsive" id="process_table"></table>
	</div>

	{% url "laboratory:api-laboratory-process-list" org_pk lab_pk as list_obj_url %}
	{% trans 'Create process' as create_obj_tittle %}
	{% include 'gentelella/blocks/modal_template.html' with form=create_form id="create_obj_modal" title=create_obj_tittle form_id="create_obj_form" url=list_obj_url principal_class="modal-lg" %}

	{% url "laboratory:api-laboratory-process-detail" org_pk lab_pk 0 as detail_obj_url %}
	{% trans 'Update process' as update_obj_tittle %}
	{% include 'gentelella/blocks/modal_template.html' with form=update_form id="update_obj_modal" title=update_obj_tittle form_id="update_obj_form" url=detail_obj_url principal_class="modal-lg" %}

	{% include 'gentelella/blocks/modal_template_delete.html' with form=delete_form id="delete_obj_modal" form_id="delete_obj_form" url=detail_obj_url %}

{% endblock %}
{% block js %}
{{ block.super }}
<script>
	const has_perm = {{ perms.laboratory.add_laboratoryprocess|yesno:"true,false" }};
	var object_urls = {
		list_url: "{% url 'laboratory:api-laboratory-process-list' org_pk lab_pk %}",
		create_url: "{% url 'laboratory:api-laboratory-process-list' org_pk lab_pk %}",
		destroy_url: "{% url "laboratory:api-laboratory-process-detail" org_pk lab_pk 0 %}",
		update_url: "{% url "laboratory:api-laboratory-process-detail" org_pk lab_pk 0 %}"
	}
</script>
<script src="{% static 'laboratory/js/laboratory_proccess.js' %}?v={% get_organilab_version"></script>
{% endblock %}
