{% load static i18n %}

<label class="fw-bold">{% trans 'SECTION 2: Hazard identification' %}</label>
<br>
<label class="fw-bold">2.1 {% trans 'Classification of the substance or mixture' %}</label>
<div class="container">
    <label class="fw-bold">{% trans 'Classification according to Regulation (CE) 1272/2008' %}</label>
    <br>
    <label>{% if leaf.regulation_classification %} {{leaf.regulation_classification }} {% else %} {% trans 'no data available' %} {% endif %}</label>
    <br>
    <label class="fw-bold">{% trans 'Classification according to EU Directives 67/548/CEE or 1999/45/CE' %}</label>
    <br>
    <label>{% if leaf.directives_classification %} {{leaf.directives_classification }} {% else %} {% trans 'no data available' %} {% endif %}</label>
</div>
<label class="fw-bold">2.2 {% trans 'Label elements'%}</label>
<div class="container">
    <label class="fw-bold">{% trans 'Labeling in accordance with Regulation (EC) 1272/2008' %}</label>
    <div class="row">
        <div class="col-3"><label>{% trans 'Pictograms'%}</label></div>
        <div class="col-9">: {% for pictogram in component.pictograms.all %}<img style="max-width:30px" src="{% if pictogram.image %}{{pictogram.image.url}}{%endif%}" alt="">{% endfor %}</div>
    </div>
    <div class="row">
        <div class="col-3"><label>{% trans 'Warning Word' %}</label></div>
        <div class="col-9">: {% if component.warningword.name %}{{component.warningword.name}} {% else %} {% trans 'data not available' %} {% endif %}</div>
    </div>

    <div class="row">
        <div class="col-12"><label>{% trans 'Danger indication' %}</label></div>
    </div>
    {% for danger_indication in component.danger_indication.all %}
        <div class="row">
            <div class="col-3"><label>{% if danger_indication.code %}{{danger_indication.code}} {% else %} {% trans 'data not available' %} {% endif %}</label></div>
            <div class="col-9">: {% if danger_indication.description %}{{danger_indication.description}} {% else %} {% trans 'data not available' %} {% endif %}</div>
        </div>
    {% endfor %}

    <div class="row">
        <div class="col-12"><label>{% trans 'Prudence advice' %}</label></div>
    </div>
    {% for prudence_advice in component.prudence_advice.all %}
        <div class="row">
            <div class="col-3"><label>{% if prudence_advice.code %}{{prudence_advice.code}} {% else %} {% trans 'data not available' %} {% endif %}</label></div>
            <div class="col-9">: {% if prudence_advice.name %}{{prudence_advice.name}} {% else %} {% trans 'data not available' %} {% endif %}</div>
        </div>
    {% endfor %}

</div>
<label class="fw-bold">2.3 {% trans 'Other dangers' %}</label>
<div class="container">
    <label>{% if component.other_dangers %}{{component.other_dangers}} {% else %} {% trans 'data not available' %} {% endif %}</label>
</div>
