{% extends 'base.html' %}
{% load i18n %}
{% load urlname_tags %}
{% block pre_head %}
	{% define_urlname_action 'msds_msdsobject_create' %}
{% endblock %}
{% block content %}
<div class="row justify-content-center">
	<div class="col-md-6">
		<legend class="text-center">{% trans 'Add new MSDS' %}</legend>
		<form method="post" action="{% url 'msds:msds_msdsobject_create' org_pk %}" enctype="multipart/form-data" role="form">
			{% csrf_token %}
			{{ form }}
			<div class="form-group d-flex justify-content-center">
				<button type="submit" class="btn btn-success">{% trans 'Submit' %}</button>
			</div>
		</form>
	</div>
</div>


{% endblock %}
