{% extends 'base.html' %}
{% load i18n %}
{% load urlname_tags %}
{% block pre_head %}
	{% define_urlname_action 'msds_msdsobject_create' %}
{% endblock %}
{% block content %}
<div class="row">
	<div class="col-md-offset-3 col-md-6">
		<form method="post" action="{% url 'msds:msds_msdsobject_create' %}" enctype="multipart/form-data" role="form">
			<legend>{% trans 'Add new MSDS' %}</legend>
			{% csrf_token %}
			{{ form.as_horizontal }}
			<div class="form-group">
				<button type="submit" class="btn btn-primary">{% trans 'Submit' %}</button>
			</div>
		</form>
	</div>
</div>


{% endblock %}