{% extends 'base.html' %}
{% load i18n %}
{% load urlname_tags %}
{% block pre_head %}
	{% define_urlname_action 'msds_msdsobject_delete' %}
{% endblock %}
{% block content %}
<div class="row">
<div class="col-md-offset-3 col-md-6" >
  <h1 class="heading text-center">{% trans "Remove" %} {{ object }}?</h1>

  <form action="{{ url_delete }}{{getparams}}" method="POST">
    {% csrf_token %}

    <p style="text-align: center">
      <button type="submit" class="btn btn-danger">{% trans "Confirm remove" %}</button>
    </p>
  </form>
</div>
</div>
{% endblock %}
