{% extends 'base.html' %}
{% load i18n static %}


{% block content %}

<style>
.pdfobject-container { height: 30rem; border: 1rem solid rgba(0,0,0,.1); }
</style>
<div class="row">
<div class="col-md-offset-3 col-md-6" >
	
    <h1 class="heading text-center"> 
        {{object.product}} <br> <small>{% trans 'by ' %} {{object.provider}} </small> 
    </h1>
   <center> <a href="{{object.file.url}}" target="_blank"
    class="btn btn-success"> {% trans 'Download' %}</a></center>
    <br><br>
</div>
</div>
<div class="row">
	<div class="col-md-12" >
		<div id="pdffile" style="min-height: 600px"></div>
	</div>
</div>

{% endblock %}

{% block js %}
{{ block.super }}
<script src="{% static 'vendors/pdfobject/pdfobject.min.js' %}"></script>
<script>PDFObject.embed("{{object.file.url}}", "#pdffile");</script>
{% endblock %}