{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans 'Feedback' %}{% endblock %}

{% block content %}
<div class='row'>
  <div class='col-md-12'>
    <h1>{% trans 'Feedback' %}</h1>
    <p>{% trans 'If you had some problem using Organilab, please let us know about it' %}</p>
    <form action="{% url 'feedback' %}{% if laboratory %}?lab_pk={{laboratory}}{% endif %}"
          method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_horizontal }}
      <button class='btn btn-primary' type='submit'>
        {% trans 'Send' %}
        <i class="fa fa-paper-plane" aria-hidden="true"></i>
      </button>
    </form>
  </div>
</div>
{% endblock %}
