{% extends "base.html" %}
{% load static i18n gtsettings %}
{% load urlname_tags %}
{% block pre_head %}
    {% define_true  "use_datatables" %}
    {% if 'warning_words' in url %}
        {% define_urlname_action 'add_warning_words' %}
    {% elif 'danger_indication' in url %}
        {% define_urlname_action 'add_danger_indication' %}
    {% else %}
        {% define_urlname_action 'add_prudence_advice' %}
    {% endif %}
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-sm-7 offset-md-1">
        <a class="btn btn-danger" href="{{view_url}}"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
        <div class="card-body">
            <div class="card-title">
                <h1 class="text-center">{{title}}</h1>
            </div>
            <form action="{{url}}" method="post">
                {% csrf_token %}
                {{form.as_inline}}
                <button class="btn btn-success float-end" type="submit">
                    <i class="fa fa-floppy-o" aria-hidden="true"></i>
                    {% trans 'Save' %}
                </button>
            </form>
        </div>
    </div>
    <div class="col-sm-4">
        <h2 class="text-center">
            <span class="text-danger">{% trans 'Important' %}: </span><br> {% trans 'Changing de code field create new instance' %}
        </h2>

    </div>
</div>
{% endblock %}