html {
    position: relative;
    min-height: 100%;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}

.dropdown-submenu .caret {
    transform: rotate(270deg);
}

.container {
    width: auto;
    padding: 0 15px;
}

.container .text-muted {
    margin: 20px 0;
}

p.help-block {
    display: none;
}

.access_item {
    margin: 5px 0;
}

.pdfbuttons {
    position: fixed;
    bottom: 5em;
    right: 5em;
}

#mytab {
	border: solid 1px #333;
	
	background: #cccccc;
}

img {
    padding:1px;
    border:1px solid #021a40;
 }

.boxmargin{
    margin: 0px 10px;
}



#page-wrapper{
    padding: 20px 30px!important;
}

.prior_1{background-color: #B5192C!important;}
.prior_2{background-color: #D54C1A!important;}
.prior_3{background-color: #F7A208!important;}
.prior_4{background-color: #d48d0b!important;}
.prior_5{background-color: #d4bd0b!important;}
.prior_6{background-color: #98d40b!important;}
.prior_7{background-color: #5fa742!important;}
.prior_8{background-color: #42a77e!important;}
.prior_9{background-color: #427ca7!important;}
.prior_10{background-color: #5242a7!important;}

.add-container{
    float: right;
    font-size: 24px;
}


