html {
    position: relative;
    min-height: 100%;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}

.dropdown-submenu .caret {
    transform: rotate(270deg);
}

.container .text-muted {
    margin: 20px 0;
}

p.help-block {
    display: none;
}

.access_item {
    margin: 5px 0;
}

.pdfbuttons {
    position: fixed;
    bottom: 5em;
    right: 5em;
}

#mytab {
	border: solid 1px #333;
	
	background: #cccccc;
}

img {
    padding:1px;
    border:1px solid #021a40;
 }

.boxmargin{
    margin: 0px 10px;
}



#page-wrapper{
    padding: 20px 30px!important;
}

.prior_1{background-color: #B5192C!important;}
.prior_2{background-color: #D54C1A!important;}
.prior_3{background-color: #F7A208!important;}
.prior_4{background-color: #d48d0b!important;}
.prior_5{background-color: #d4bd0b!important;}
.prior_6{background-color: #98d40b!important;}
.prior_7{background-color: #5fa742!important;}
.prior_8{background-color: #42a77e!important;}
.prior_9{background-color: #427ca7!important;}
.prior_10{background-color: #5242a7!important;}

.add-container{
    float: right;
    font-size: 24px;
}

.fa-blank {
    visibility:hidden !important;
}

.bs-callout {
 padding:1.25rem;
 margin-top:1.25rem;
 border:1px solid #e9ecef;
 border-left-width:.25rem;
 border-radius:.25rem;
}
.bs-callout h4 {
 margin-top:0;
 margin-bottom:5px
}
.bs-callout p:last-child {
 margin-bottom:0
}
.bs-callout code {
 border-radius:3px
}
.bs-callout+.bs-callout {
 margin-top:-5px
}
.bs-callout-danger {
 border-left-color:#d9534f;
}
.bs-callout-danger h4 {
 color:#ce4844
}
.bs-callout-warning {
 border-left-color:#f0ad4e;
}
.bs-callout-warning h4 {
 color:#aa6708
}
.bs-callout-info {
 border-left-color:#5bc0de;
}
.bs-callout-info h4 {
 color:#1b809e;
}

.bs-callout-default {
 border-left-color:#337ab7;
}
.bs-callout-default h4 {
 color:#337ab7;
}

.center_block_content{
    width: 60%;
    margin-left: 20%;
    height: 60%;
    margin-top: 5%;
}



.btedit span {
    font-color: #169F85!important;
    font-size: 0.9em;
    color: darkgoldenrod;
}

.btdel span {
    font-color: #169F85!important;
    font-size: 0.7em;
    color: tomato;
    margin-left: 10px;
}

.top_nav .dropdown-menu li a {
  width: 100 %;
  padding: 2px 2px;
}

.login_title{
    background: #2A3F54;
    display: grid;
     grid-template-columns: auto auto auto;
    height: 6em;
}

.login_wrapper {
  right: 0px;
  margin: 0px auto;
  max-width: 350px;
  position: relative;
}

.withoutsidebar {
    width: auto!important;
    color: #ECF0F1 !important;

}

.furnituredescriptor i {
    font-size: 1.3em;
}

.furnituredescriptor {
    display: inline;
}
.profile_info {

    overflow: hidden;
}
.left_col {
    max-width: 200px;
}