{% load i18n laboratory %}

{%  has_perms "laboratory.add_shelf" as perm_add_shelf  %}

{% if perm_add_shelf %}
<a data-ajax="true" data-success="processResponse"
href="{% url 'laboratory:shelf_create' %}"> {% trans 'Add Shelf' %} </a>
<div class="modal fade" id="myModal" role="dialog">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					&times;
				</button>
				<h4 class="modal-title">{% trans 'Add Shelf' %}</h4>
			</div>
			<div class="modal-body">
				<p>
					{% for shelves in object_list %}
					<li>
						{{shelves.type}}
					</li>
					{% endfor %}
				</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">
					{% trans 'Close' %}
				</button>
			</div>
		</div>
	</div>
</div>
</div>
{% endif %}