{% load static %}
{% load i18n lab_data_retriever %}

<div class="col-sm-4">
    <div class="card">
        <div class="card-body">
        <div class="row card-title titles">
            <div class="col-12 text-center">
            <a href="{% url 'laboratory:labindex' org_pk lab.pk %}" title="{% trans 'View laboratory' %}">
               <h5>{{ lab.name }}</h5></a>
            </div>
        </div>

            <p class="text-muted"><small>{% trans "Organization" %}: {{ lab.organization.name }}</small></p>

            <h5>{% trans "Available for use" %}</h5>
            <p>{% trans "Materials" %}: <span class="badge bg-secondary pull-right">{{ lab|get_materiales_lab }}</span></p>
            <p>{% trans "Equipment" %}: <span class="badge bg-secondary pull-right">{{ lab|get_equipo_lab }}</span></p>
            <p>{% trans "Reactives" %}: <span class="badge bg-secondary pull-right">{{ lab|get_reactivos_lab }}</span></p>
        </div>
        <a href="{% url 'laboratory:labindex' lab_pk=lab.pk org_pk=org_pk %}">
            <div class="card-footer text-center">
                <h5>{{ lab.location }}</h5>
            </div>
        </a>
    </div>
    <div class="mt-2"></div>
</div>
