{% load static i18n gtsettings %}
<div id="panelobservaciones" class="row p-5">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <p class="float-start" style="color:red"><strong>{% trans 'List of comments' %}</strong></p>
                <button class="btn btn-success float-end" onclick="save_comment()"><i class="fa fa-plus" aria-hidden="true"></i></button>
                <div class="clearfix"></div>
            </div>
            <div class="card-body">
                <div class="row" id="listado" style="overflow-y: scroll; max-height:600px;">
                    <ul class="list-unstyled msg_list">
                        {% for observation in observations %}
                        <div data-pk="{{comment.pk}}" data-manage="{% if comment.creator == request.user %}1{%else%}0{%endif%}"   class="observacionklass">  <li style="border-radius: 5px;">
                                    <a style="width: 100%;">
                                    <div class="row">
                                        <div class="{% if comment.creator == request.user %}col-sm-7{% else %} col-sm-8 {% endif %}">

                                            <div class="row" style="font-weight: bold;">
                                                {% if comment.creator %}
                                                {% else %} Desconocido {% endif %}
                                            </div>
                                        </div>
                                        <div class="col-sm-4 text-right">
                                            <div class="observacion_fecha">{% if comment.create_at %} {{comment.create_at}} {% else %} Fecha y hora desconocida {% endif %}</div>
                                        </div>
                                        {% if observation.creator == user %}
                                            <div class="beditbtn col-sm-1 text-right">
                                                <i class="fa fa-edit"></i>
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="row message" style="width:100%; font-size: 13px;">{% if comment.comment %} {{comment.comment}} {% else %} Sin descripción {% endif %}</div>
                        </a>
                                </li>
                            </div>
                        {% empty %}
                            <div class="col-md-9" style="text-align:center;margin-top:15%;margin-left:10%">
                                <div class="list-group-item list-group-item-danger">
                                  <h2 style="display:inline-block">No hay Comentarios registrados.</h2>
                                </div>
                            </div>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
