{% extends 'base.html' %}
{% load static i18n %}

{% block extra_css %}
    <link rel="stylesheet" href="https://cdn.form.io/formiojs/formio.full.min.css">
{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <h1 id="form_name"> </h1>
    </div>

    <div class="page-content">
        <div class="container">

            <form id="inform_form">
                            {% csrf_token %}

          <div id="formio">
          </div>
                {% if inform.status == 'Eraser' %}
                <button type="button"  class="btn btn-success" onclick="saveForm('In Review')">{% trans 'Send for review' %}</button>
                {% endif %}
                {% if inform.status == 'In Review' %}
                <button type="button"  class="btn btn-danger" onclick="saveForm('Finalized')">{% trans 'Finalize' %}</button>
                {% endif %}
                </form>
        </div>
      </div>

{% endblock %}

{% block js %}
    <script src="https://cdn.form.io/formiojs/formio.full.min.js"></script>
    <script type="text/javascript">
        const urls ={
            edit:"{% url 'laboratory:complete_inform' laboratory inform.pk %}",
            list: "{% url 'laboratory:get_informs' laboratory %}"
        };
        var schema = {{ schema | safe }};
        document.getElementById("form_name").textContent = "{{inform.name}}";

        var components = { components: schema["components"] };

        window.onload = function(schema) {
            Formio.createForm(document.getElementById('formio'), components);
            }
        let status = "{{inform.status}}"
        let title = status == 'Eraser'?"{% trans 'Do you want to send the report for review?' %}":"{% trans 'Do you want to finish the report?' %}";
        var message ={
        title:title,
        text: "{% trans 'Discarding cannot be undone.' %}",
        icon: "warning",
        deny: "{% trans 'Cancel' %}",
        confirm: "{% trans 'Save' %}",

        }
        const result ={
        title:"{% trans 'Saved' %}",
        text: "{% trans 'Discarding cannot be undone.' %}",
        icon: "success",
        }

    </script>
<script src="{% static 'js/formio.js'%}"></script>
{% endblock %}

</html>