{% extends 'base.html' %}
{% load bootstrap  i18n  laboratory %}


{% block content %}
   {%  has_perms "laboratory.change_laboratory" as perm_change_lab  %}
	  <h1 align="center">{% trans 'Laboratory Management' %}</h1>
	  
	{% if perm_change_lab %}
	  <div class="row">
	    <div class="col-md-4 col-md-offset-3">
	      <form action="{% if form.instance.pk %}{% url 'laboratory:laboratory_update' form.instance.pk %}{% else %}{% url 'laboratory:laboratory_create' %} {% endif %}"
	            method="post">{% csrf_token %}
	        {{ form|bootstrap }}
	        <input class="btn btn-info" type="submit" value="{% trans 'Save' %}">
	      </form>
	    </div>

	  </div>

	{% else %} 
       {% include 'laboratory/action_denied.html' %} 
    {% endif %}
 {% endblock %}

{% block js %}

 {{ form.media }}

{% endblock %}