{% load i18n laboratory %}

<div class="row">
  <div class="col-md-offset-2 col-md-8">
        <div class="page-header col-xs-13" align="center">
          <h3 class="heading-1"><span> {% trans 'Furniture' %}</span></h3>
        </div>
  </div>
</div>
<div class="row">
  <ul class="list-group" style="margin: 0px 10px;">
    {% for furniture in object_list %}
      <li class="list-group-item">
        <a id="furniture_{{furniture.id}}" onclick="function_name_shelf({{ furniture.id }})" href="#">
          {{ furniture.name }}
        </a>
        {% if perms.laboratory.do_report %} 
        <a class=" pull-right"
           href="{% url 'laboratory:reports_furniture' laboratory %}?pk={{ furniture.pk }}">
          <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
          {% trans "PDF" %}
        </a>
        {% endif %}
      </li>
    {% endfor %}
    </ul>
</div>
