{% extends 'base.html' %}

{% load i18n static shelf_position laboratory %}
{% block title %}
	{% if request.user.is_authenticated %}
		{% get_laboratory_name %}
	{% else %}
		{% trans 'Select laboratory' %}
	{% endif %}
{% endblock %}
{% block css %}
<link href="{% static 'laboratory/css/bootstrap-tour.css' %}"
	rel="stylesheet">
<link href="{% static 'laboratory/css/bootstrap-tour.docs.css' %}"
	rel="stylesheet">
{% endblock %}
{% block js %}
<script type="text/javascript"
	src="{% static 'laboratory/js/bootstrap-tour.js' %}"></script>

<script type="text/javascript" src="{% static 'laboratory/js/tour.js' %}"></script>
{% endblock %}

{% load i18n static %}
{% block content %}
{% if request.user.is_authenticated %}
{% include 'laboratory/search_widget.html' %}

{% index_permissions as userperms %}


<div class="row">
         {% if userperms.show_labview %}
        <div id="index_labview_id" class="col-md-4">
        <h3 class="text-center">
          <strong>{% trans 'Laboratory view' %}</strong>
        </h3>
        </div>
		{% endif %}
        {% if userperms.admin_lab %}
      <div id="index_manage_id" class="col-md-4"><h3 class="text-center">
        <strong>{% trans 'Laboratory administration' %}</strong></h3></div>
        {% endif %}
        {% if userperms.show_reports %}
      <div id="index_report_id" class="col-md-4">
      <h3 class="text-center"><strong>{% trans 'Reports' %}</strong></h3>
      </div>
      {% endif %}
    </div>

		<br><br>

    <div class="row">
      {% if userperms.show_labview  %}
        <div class="col-md-4 text-center">
          <div class="row">
            <img src="{% static 'images/laboratory.png' %}"
                 alt="{% trans 'Laboratory view' %}"
                 class="img-rounded" height="100">
          </div>
          <br>
          <div class="row">

            <ul class="list-group">
              {% if userperms.view_laboratory %}
              <li class="list-group-item">
                <a href="{% url 'laboratory:rooms_list' laboratory %}">
                <strong>{% trans 'Laboratory view' %}</strong></a>
                </li>
               {% endif %}
              {% if userperms.view_procedure %}
              <li class="list-group-item">
              <a href="{% url 'academic_procedure_list' %}">
                <strong>{% trans 'Procedures' %}</strong></a>
              </li>
               {% endif %}
               {% if userperms.view_solutions %}
			   <li class="list-group-item">
               <a href="{% url 'laboratory:solution_list' laboratory %}">
                <strong>{% trans 'Dissolution calculator' %}</strong></a>
                </li>
               {% endif %}

            </ul>
          </div>
        </div>
		 {% endif %}
	 {% if userperms.admin_lab %}
      <div class="col-md-4 text-center">
        <div class="row">
          <img src="{% static 'images/management.png' %}"
               alt="{% trans 'Laboratory administration' %}"
               class="img-rounded" height="100">
        </div>
        <br>
        <div class="row">

          <ul class="list-group">
            {% if userperms.add_laboratory %}
              <li class="list-group-item"><a
                href="{% url 'laboratory:rooms_create' laboratory %}"><strong>{% trans 'Laboratory' %}</strong></a></li>
              {% endif %}

              {% if userperms.add_object %}                         
              <li class="list-group-item"><a
                href="{% url 'laboratory:objectview_create' laboratory %}"><strong>{% trans 'Objects' %}</strong></a>
              </li>
               {% endif %}
               {% if userperms.add_features %}
              <li class="list-group-item"><a
                href="{% url 'laboratory:object_feature_create' laboratory %}"><strong>{% trans 'Object features' %}</strong></a>
              </li>
              {% endif %}
               {% if userperms.manage_laboratory %}               
			   <li class="list-group-item">
              <a href="">
                <strong>{% trans 'Access list' %}</strong></a>
                </li>
               {% endif %}
          </ul>

        </div>
      </div>
   {% endif %}
         {% if userperms.show_reports %}
      <div class="col-md-4 text-center">
        <div class="row">
          <img src="{% static 'images/report.png' %}"
               alt="{% trans 'Reports' %}"
               class="img-rounded" height="100">
        </div>
        <br>
        <div class="row">

          <ul class="list-group">
               {% if userperms.do_reports %}
              <li class="list-group-item"><a
                href="{% url 'laboratory:reports_laboratory' laboratory %}"><strong>{% trans 'Laboratory' %}</strong></a>
              </li>
               {% endif %}
                              
              <li class="list-group-item"><a
                href="{% url 'laboratory:reports_furniture' laboratory %}"><strong>{% trans 'Furnitures' %}</strong></a>
              </li>

              <li class="list-group-item"><a
                href="{% url 'laboratory:reports_objects' laboratory %}"><strong>{% trans 'Objects' %}</strong></a></li>
          </ul>
        </div>
      </div>
       {% endif %}
    </div>


  {% else %}
    <div class="row">
      <div class="col-md-offset-2 col-md-8">
        <div class="jumbotron">
          <h1>ORGANILAB</h1>
          <p class="lead">
            {% trans "Welcome to the Simple laboratory organizer" %}
          </p>
          <br/>
          <p class="text-center">
            <a class="btn btn-lg btn-success" href="{% url 'login' %}"
               role="button">{% trans "Login" %}</a>
          </p>
        </div>
      </div>
    </div>
  {% endif %}

{% endblock %}
