{% extends 'base.html' %}
{% load i18n static shelf_position laboratory %}
{% load urlname_tags %}
{% block title %}
	{% if request.user.is_authenticated %}
		{% get_laboratory_name %}
	{% else %}
		{% trans 'Select laboratory' %}
	{% endif %}
{% endblock %}
{% block pre_head %}
    {% define_urlname_action 'labindex' %}
{% endblock %}

{% load i18n static %}
{% block content %}
  {% if request.user.is_authenticated %}
    {% include 'laboratory/search_widget.html' %}

    <div class="row">
      {% if perms.academic.view_procedure or perms.laboratory.view_laboratory %}
        <div id="index_labview_id" class="col-md-4">
        <h3 class="text-center">
          <strong>{% trans 'Laboratory view' %}</strong>
        </h3>
        </div>
		  {% endif %}
      {% if perms.laboratory.add_laboratory or perms.laboratory.change_laboratory or perms.laboratory.add_furniture or perms.laboratory.add_object or perms.laboratory.add_objectfeatures %}
        <div id="index_manage_id" class="col-md-4">
          <h3 class="text-center">
            <strong>{% trans 'Laboratory administration' %}</strong>
          </h3>
        </div>
      {% endif %}
      {% if perms.laboratory.do_report or perms.laboratory.view_report %}
        <div id="index_report_id" class="col-md-4">
          <h3 class="text-center"><strong>{% trans 'Reports' %}</strong></h3>
        </div>
      {% endif %}
    </div>

		<br><br>

    <div class="row">
      {% if perms.academic.view_procedure or perms.laboratory.view_laboratory %}
        <div class="col-md-4 text-center">
          <div class="row">
            <img src="{% static 'images/laboratory.png' %}"
              alt="{% trans 'Laboratory view' %}"
              class="img-rounded" height="100">
          </div>
          <br>
          <div class="row">

            <ul class="list-group">
              {% if perms.laboratory.view_laboratory %}
                <li class="list-group-item">
                  <a href="{% url 'laboratory:rooms_list' laboratory %}">
                    <strong>{% trans 'Laboratory view' %}</strong>
                  </a>
                </li>
              {% endif %}
              {% if perms.academic.view_procedure %}
                <li class="list-group-item">
                  <a href="{% url 'procedure_list' laboratory%}">
                    <strong>{% trans 'Procedures' %}</strong>
                  </a>
                </li>
              {% endif %}

            </ul>
          </div>
        </div>
		  {% endif %}
	    {% if perms.laboratory.add_laboratoryroom or perms.laboratory.change_laboratory or perms.laboratory.add_furniture or perms.laboratory.add_object or perms.laboratory.add_objectfeatures %}
        <div class="col-md-4 text-center">
          <div class="row">
            <img src="{% static 'images/management.png' %}"
              alt="{% trans 'Laboratory administration' %}"
              class="img-rounded" height="100">
          </div>
          <br>
          <div class="row">

            <ul class="list-group">
              {% if perms.laboratory.add_laboratoryroom %}
                <li class="list-group-item">
                  <a href="{% url 'laboratory:rooms_create' laboratory %}">
                    <strong>{% trans 'Laboratory' %}</strong>
                  </a>
                </li>
              {% endif %}

                {% if perms.laboratory.add_object %}
                <li class="list-group-item">
                    <a  href="{% url 'laboratory:sustance_list' lab_pk=laboratory %}"><strong>{% trans 'Reactive' %}</strong></a>
                    /  <a  href="{% url 'laboratory:objectview_list' laboratory %}?type_id=1"><strong>{% trans 'Material' %}</strong></a>
                    /  <a  href="{% url 'laboratory:objectview_list' laboratory %}?type_id=2"><strong>{% trans 'Equipment' %}</strong></a>
                </li>
              {% endif %}
              {% if perms.laboratory.add_objectfeatures %}
                <li class="list-group-item">
                  <a href="{% url 'laboratory:object_feature_create' laboratory %}"><strong>{% trans 'Object features' %}</strong></a>
                </li>
              {% endif %}
              {% if perms.laboratory.change_profile %}
                <li class="list-group-item">
                  <a href="{% url 'laboratory:lab_profiles' laboratory %}"><strong>{% trans 'Profiles' %}</strong></a>
                </li>
              {% endif %}

              {% if perms.laboratory.view_tranferobject %}
             <li class="list-group-item">
                  <a href="{% url 'laboratory:transfer_objects' laboratory %}?lab={{laboratory}}"><strong>{% trans 'Transfers' %}</strong></a>
                </li>
              {% endif %}

            {% if perms.laboratory.add_provider %}
            <li class="list-group-item">
                  <a href="{% url 'laboratory:list_provider' laboratory %}"><strong>{% trans 'Providers' %}</strong></a>
                </li>
            {% endif %}
            </ul>
          </div>
        </div>
      {% endif %}
      {% if perms.laboratory.do_report or perms.laboratory.view_report %}
        <div class="col-md-4 text-center">
          <div class="row">
            <img src="{% static 'images/report.png' %}"
              alt="{% trans 'Reports' %}"
              class="img-rounded" height="100">
          </div>
          <br>
          <div class="row">

          <ul class="list-group">
              {% if perms.laboratory.do_report %}
                <li class="list-group-item">
                  <a href="{% url 'laboratory:reports_laboratory' laboratory %}"><strong>{% trans 'Laboratory' %}</strong></a>
                </li>
              {% endif %}
                              
              <li class="list-group-item">
                <a href="{% url 'laboratory:reports_furniture' laboratory %}"><strong>{% trans 'Furnitures' %}</strong></a>
              </li>

              <li class="list-group-item">
                <a href="{% url 'laboratory:reports_objects' laboratory %}"><strong>{% trans 'Objects' %}</strong></a>
              </li>
            </ul>
          </div>
        </div>
      {% endif %}
    </div>
  {% else %}
    <div class="row">
      <div class="col-md-offset-2 col-md-8">
        <div class="jumbotron">
          <h1>ORGANILAB</h1>
          <p class="lead">
            {% trans "Welcome to the Simple laboratory organizer" %}
          </p>
          <br/>
          <p class="text-center">
            <a class="btn btn-lg btn-success" href="{% url 'login' %}" role="button">{% trans "Login" %}</a>
          </p>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}
