
{% load static %}
{% load i18n lab_data_retriever %}

<div class="col-sm-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="" style="position:left;display:inline-block;">
                 <a class="" href="{% url 'laboratory:laboratory_update' lab.pk %}">
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                </a>
 | - <a class="text-center" href="{% url  'laboratory:labindex' lab.pk %}" title="{% trans 'Edit laboratory'%}">
     {{ lab.name }}  </a>

            </div>
            {% if perm_change_laboratory %}
                <div class="" style="position:absolute;display:inline-block;top:0;right:0;margin-right:6%;margin-top:2%">
                    <a class="btn btn-danger btn-sm"  href="{% url 'laboratory:laboratory_delete' lab.pk %}"
                       title="{% trans 'Delete laboratory'%}"  style="font-size:13px;text-align:left">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                </div>
            {% endif %}
        </div>
        <div class="panel-body">
            <h5>A disposicion de uso</h5>
            <p>Materiales: <span class="badge pull-right">{{lab|get_materiales_lab }}</span></p>
            <p>Equipo: <span class="badge pull-right">{{lab|get_equipo_lab}}</span></p>
            <p>Reactivos: <span class="badge pull-right">{{lab|get_reactivos_lab}}</span></p>
        </div>
        <a href="{% url  'laboratory:labindex' lab.pk %}" >
        <div class="panel-footer">
            <h5>{{ lab.location }}</h5>
        </div>
            </a>
    </div>
</div>