
{% load static %}
{% load i18n lab_data_retriever %}

<div class="col-sm-4">
    <div class="card">
        <div class="card-body">
        <div class="row card-title titles">
            <div class="col-10 text-center">
            <a href="{% url  'laboratory:labindex' lab.pk %}" title="{% trans 'Edit laboratory'%}">
               <h5>{{ lab.name }}</h5>  </a>
            </div>

             <div class="col-2">
                <div class="btn-group" role="group" aria-label="">
             {% if perms.laboratory.change_laboratory %}
                 <a class="btn-outline-info btn-sm btedit" title="{% trans 'Edit' %}" href="{% url 'laboratory:laboratory_update' lab.pk %}">
                <span class="fa fa-edit" aria-hidden="true"></span>
                </a>
            {% endif %}
            {% if perms.laboratory.delete_laboratory %}
                    <a class="btn-outline-danger btn-sm btdel"  href="{% url 'laboratory:laboratory_delete' lab.pk %}"
                       title="{% trans 'Delete laboratory'%}">
                    <span class="fa fa-remove" aria-hidden="true"></span></a>
             {% endif %}
                </div>
             </div>
        </div>

            <h5>A disposicion de uso</h5>
            <p>Materiales: <span class="badge bg-secondary pull-right">{{lab|get_materiales_lab }}</span></p>
            <p>Equipo: <span class="badge bg-secondary pull-right">{{lab|get_equipo_lab}}</span></p>
            <p>Reactivos: <span class="badge bg-secondary pull-right">{{lab|get_reactivos_lab}}</span></p>
        </div>
        <a href="{% url  'laboratory:labindex' lab.pk %}" >
            <div class="card-footer text-center">
                <h5>{{ lab.location }}</h5>
            </div>
        </a>
    </div>
    <div class="mt-2"></div>
</div>