{% extends 'base.html' %}
{% load i18n shelf_position static laboratory %}
{% load urlname_tags %}
{% block pre_head %}
	{% define_urlname_action 'rooms_list' %}
	{% define_urlname_action 'furniture_list' %}
	{% define_urlname_action 'list_shelf' %}
	{% define_urlname_action 'list_shelfobject' %}
	{% define_urlname_action 'edit_object' %}
	{% define_urlname_action 'get_object_detail' %}
{% endblock %}
{% block title %}{% trans 'Laboratory rooms' %}{% endblock %}
{# Container #}
{% block container %}container-fluid{% endblock %}

{# Content #}
{% block content %}
    {% include 'laboratory/search_widget.html' %}
    {% include 'laboratory/reservation_modal.html' %}
    <h1 class="text-center">{% get_laboratory_name %}</h1>


    {# Nav #}
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs" id="labmenues" role="tablist">
                {% if perms.laboratory.view_laboratoryroom %}
                    {% for LaboratoryRoom in object_list %}
                        <li class="nav-item" role="presentation">
                            <a LaboratoryRoom.id aria-controls={{
                                    data-argument="{{ LaboratoryRoom.id }}"
                                    data-bs-toggle="tab"
                                    class="nav-link text-muted"
                                    href="#idlab" id="room_{{ LaboratoryRoom.id }}" onclick="function_name_furniture('{{ LaboratoryRoom.id }}')" role="tab"}}>
                                {{ LaboratoryRoom.name }}
                            </a>
                        </li>
                    {% endfor %}
                {% endif %}
            </ul>
        </div>
    </div>

    {# Furniture panel #}
    <div class="row">
        <div class="col-md-12">
            <div class="tab-content">
                {% if perms.laboratory.view_furniture %}
                    {% for LaboratoryRoom in object_list %}
                        <div class="tab-pane fade" id="idlab" role="tab-panel">
                            <div class="col-md-3">
                                <div id="furnitures">
                                </div>
                            </div>

                            <div class="col-md-9">
                                <div id="shelf">
                                </div>
                                <div class="d-none" id="prototype_shelf_field">
                                    <h2>{% trans 'Please click over furniture items' %}<br>
                                        <small> {% trans 'Shelves will be displayed here' %} </small>
                                    </h2>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>

    {% include 'laboratory/shelfobjectUpdate_modal.html' %}
{% endblock %}

{% block js %}
    <script>
        document.furniture_list = '{% url "laboratory:furniture_list" laboratory %}';
        document.shelf_list = '{% url "laboratory:list_shelf" laboratory %}';
        document.shelfobject_list = '{% url "laboratory:list_shelfobject" laboratory %}';
        document.api_modal = '{% url "laboratory:api_reservation_create"%}';
        document.date_validation_script_url = '{% url "laboratory:date_validator"%}';
        const view_search = false;

    </script>
    <script src="{% static 'js/shelfobjectedit.js' %}"></script>
    <script src="{% static 'js/reservationmodal.js' %}"></script>

    <script>
        (function () {
        $("#labmenues").find("a").first().click();
        see_prototype_shelf_field();
        })();
    </script>

    <script>
        window.onload = load_self_from_uls();
    </script>
{% endblock %}