{% extends 'base.html' %}
{% load gtsettings i18n shelf_position static laboratory %}
{% load urlname_tags %}
{% load organilab_tags %}
{% load furniture_tags %}

{% block pre_head %}
    {% define_true  "use_datatables" %}
    {% define_urlname_action 'laboratory_view_principal' %}
{% endblock %}
{% block title %}{% trans 'Laboratory rooms' %}{% endblock %}
{# Container #}
{% block container %}container-fluid{% endblock %}

{% block content %}
<input type="hidden" name="organization" id="id_organization" value="{{org_pk}}">
<input type="hidden" name="laboratory" id="id_laboratory" value="{{laboratory}}">
<input type="hidden" name="shelf" id="id_shelf" value="">
<input type="hidden" name="container" id="id_container" value="">
<input type="hidden" name="shelfobject" id="id_shelfobject" value="">


{#   {% include 'laboratory/reservation_modal.html' %} #}
{% include 'laboratory/shelfobject/action_modal.html' %}

<h1 class="text-center">{% get_laboratory_name %}</h1>
<div class="alert alert-secondary alert-dismissible fade" role="alert">
    <div id="alert_msg"></div>
  <button type="button" class="btn-close" id="hide_alert"></button>
</div>
<div class="input-group m-0">
    <div class="input-group-text">
        <a class="w-100" data-bs-toggle="collapse" href="#collapselabroom" role="button" aria-expanded="false"
           aria-controls="collapselabroom">
            <i class="fa fa-compress"></i>
        </a>
    </div>
    <input name="tags-search" type="text" class="form-control">
    <div class="input-group-text">
        <a class="w-100" id="btnremovealltags" type="button" title="{% trans 'Remove All Tags' %}">
            <i class="fa fa-trash red"></i>
        </a>
    </div>
    <div class="input-group-text">
        <a class="w-100" id="" type="button" data-bs-toggle="tooltip" data-bs-html="true" title="{{colors_tooltip}}">
            <i class="fa fa-info-circle"></i>
        </a>
    </div>
</div>
<div class="w-100 overflow-auto border border-top-0 border-1 rounded-bottom pt-2" style="max-height: 350px !important;">

    <div id="collapselabroom" class="collapse show">
        <ul class="ullabroom fs-6">

            {% for LaboratoryRoom in object_list %}
            <li>
                <div class="representation_obj labroom_color" title="{% trans 'Laboratory Room' %}"></div>
                {% get_laboratory_view_url LaboratoryRoom as labindex %}
                {% get_qr_svg_img LaboratoryRoom organization=org_pk icon=True url=labindex %}
                <span class="box" id="labroom_{{LaboratoryRoom.pk}}">{{LaboratoryRoom.pk}}: {{LaboratoryRoom}} </span>
                <ul class="nested ulfurnuture">

                    {% for furniture in LaboratoryRoom.furniture_set.all %}
                    <li>
                        <div class="representation_obj furniture_color" title="{% trans 'Furniture' %}"></div>
                        {% get_laboratory_view_url LaboratoryRoom furniture as furnutureurl %}
                        {% get_qr_svg_img furniture organization=org_pk icon=True url=furnutureurl style="color: {{furniture.color}}" %}

                        <a href="{% url 'laboratory:reports_furniture_detail' org_pk=org_pk lab_pk=laboratory %}?laboratory={{laboratory}}&furniture={{furniture.pk}}"
                           target="_blank" style="color: {{furniture.color}}"> <i class="fa fa-file-pdf-o"
                                                                                  aria-hidden="true"></i> </a>

                        <span class="box furnitureroot" id="furniture_{{furniture.pk}}"
                              style="color: {{furniture.color}}">{{furniture.pk}}: {{furniture}}</span>
                        <ul class="nested">

                            <li>
                                {% display_furniture furniture %}
                            </li>
                        </ul>
                    </li>
                    {% endfor %}

                </ul>
            </li>
            {% endfor %}
        </ul>
    </div>

</div>
<div class="row">
    <table class="table table-striped" id="shelfobjecttable"></table>
</div>


{% include 'laboratory/shelfobjectUpdate_modal.html' %}
{% include 'laboratory/shelfobject/delete_shelfobject_modal.html' %}

<div id="shelfdetailmodal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div id="shelfdetailmodalbody" class="modal-content">

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<div id="closemodal"></div>
{% endblock %}

{% block css %}
<link href="{% static 'laboratory/css/laboratory.css' %}?v={% get_organilab_version %}" rel="stylesheet">
{% endblock %}

{% block js %}
{{block.super}}
{{search_by_url|json_script:"search_by_url"}}
{{suggestions_tag|json_script:"suggestions_tag"}}
<script>
document.urls = {
    shelfobject_create: "{% url 'laboratory:shelfobject_create' lab_pk=laboratory org_pk=org_pk  %}",
    shelf_availability_information: '{% url "laboratory:api-shelfobject-shelf-availability-information" lab_pk=laboratory org_pk=org_pk %}',
    transfer_list: '{% url "laboratory:api-shelfobject-transfer-available-list" org_pk=org_pk lab_pk=laboratory %}',
    transfer_in_deny: '{% url "laboratory:api-shelfobject-transfer-in-deny" org_pk=org_pk lab_pk=laboratory%}',
    search_labview: '{% url "laboratory:api-search-labview-get" org_pk=org_pk lab_pk=laboratory %}',
    transfer_in_approve: '{% url "laboratory:api-shelfobject-transfer-in-approve" org_pk=org_pk lab_pk=laboratory%}',
    edit_shelfobject: '{% url "laboratory:api-shelfobject-edit-reactive-shelfobject" org_pk=org_pk lab_pk=laboratory pk=0 %}',
    get_shelfobject_data: '{% url "laboratory:api-shelfobject-get-reactive-edit-data" org_pk=org_pk lab_pk=laboratory pk=0 %}',
    edit_material_shelfobject: '{% url "laboratory:api-shelfobject-edit-material-shelfobject" org_pk=org_pk lab_pk=laboratory pk=0 %}',
    get_shelfobject_limits: '{% url "laboratory:api-shelfobject-get-shelfobject-limits" org_pk=org_pk lab_pk=laboratory pk=0 %}'
}
document.furniture_list = '{% url "laboratory:furniture_list" lab_pk=laboratory org_pk=org_pk %}';
document.shelfobject_list = '{% url "laboratory:list_shelfobject" lab_pk=laboratory org_pk=org_pk %}';
document.url_shelfobject = '{% url "laboratory:api-shelfobjecttable-list" org_pk laboratory %}';
document.url_status = '{% url "laboratory:api-shelfobject-create-status" org_pk=org_pk lab_pk=laboratory %}';
const view_search = false;
document.search_by_url = JSON.parse(document.getElementById('search_by_url').textContent);
document.suggestions_tag = JSON.parse(document.getElementById('suggestions_tag').textContent);
document.url_container_list = "{% url 'laboratory:shelf_containers' org_pk=org_pk lab_pk=laboratory %}";
</script>

<script src="{% static 'js/shelfobjectedit.js' %}?v={% get_organilab_version %}"></script>
<script type="text/javascript"
        src="{% static 'laboratory/js/shelfobject_utils.js'%}?v={% get_organilab_version %}"></script>
<script type="text/javascript"
        src="{% static 'laboratory/js/base_modal_management.js'%}?v={% get_organilab_version %}"></script>
<script type="text/javascript" src="{% static 'laboratory/js/laboratory.js'%}?v={% get_organilab_version %}"></script>
<script type="text/javascript"
        src="{% static 'laboratory/js/detail_modal_creation.js' %}?v={% get_organilab_version %}"></script>

<script>
    window.onload = load_self_from_uls();
</script>

{% endblock %}
