{% extends 'base.html' %}
{% load i18n laboratory %}
{% load urlname_tags %}
{% block pre_head %}
	{% if object_list %}
		{% define_urlname_action 'rooms_create' %}
		{% define_urlname_action 'rooms_update' %}
		{% define_urlname_action 'rooms_delete' %}
		{% define_urlname_action 'furniture_create' %}
		{% define_urlname_action 'furniture_update' %}
	{% else %}
		{% define_urlname_action 'rooms_create' %}
	{% endif %}
{% endblock %}
{% block title %}{% trans 'Laboratory room management' %}{% endblock %}
{% block content %}
	{% if perms.laboratory.view_laboratoryroom or perms.laboratory.add_laboratoryroom or  perms.laboratory.change_laboratoryroom or perms.laboratory.delete_laboratoryroom %}
<div class="row">
	<div class="page-header col-xs-13" align="center">
		<h3 class="heading-1"><span>{% trans 'Laboratory room management' %}</span></h3>
	</div>
</div>
<div class="row">
	<div class="container-fluid">
		{% if perms.laboratory.add_laboratoryroom or perms.laboratory.change_laboratoryroom %}
			<form class="form-horizontal " action="" method="post">{% csrf_token %}
				{{ form.as_horizontal }}
				<div class="form-group row justify-content-end">
					<div class="col-md-9">
						<button type="submit"
								class="btn btn-sm {% if form.instance.pk %}btn-outline-warning{% else %}btn-outline-success{% endif %} float-end me-0">
							{% if form.instance.pk %}
								<span class="fa fa-edit" aria-hidden="true"></span> {% trans 'Update' %}
							{% else %}
								<span class="fa fa-plus" aria-hidden="true"></span> {% trans 'New' %}
							{% endif %}
						</button>
					</div>
				</div>
			</form>
		{% endif %}
		<div class="row">
		<ul class="list-group list-group-vertical ms-1">
			{% for object in object_list %}
				<li class="list-group-item">
					<div class="row">
					<div class="col-md-9">
						<div class="row">
							<div class="col-md-4">
								{% get_qr_svg_img object width='40px' organization=org_pk %}
								{{ object }}
							</div>
							<div class="col-md-4"></div>
							<div class="col-md-4">
								<div class="btn-group" role="group" aria-label="...">
									<div id="f{{object.pk}}" class="hidden">
										<ul class="list-group">
											{% for furniture in object.furniture_set.all %}
												<li class="list-group-item">
													<a href="{% url 'laboratory:furniture_update' lab_pk=laboratory pk=furniture.pk org_pk=org_pk %}" > {{furniture}} </a>
												</li>
											{% endfor %}
										</ul>
									</div>

									{% if perms.laboratory.view_furniture %}
									<button type="button" class="btn btn-sm btn-outline-success"
											data-bs-container="body" data-bs-toggle="popover"
											data-content="f{{object.pk}}"
											data-bs-html=true>
										{{ object.furniture_set.count }}
									</button>
									{% endif %}

									{% if perms.laboratory.add_furniture and perms.laboratory.change_furniture %}
									<button type="button" class="btn btn-sm btn-outline-dark" title="{% trans 'Create Furniture' %}"
											data-bs-toggle="modal" data-bs-target="#furnitureModal"
											data-href="{% url 'laboratory:furniture_create' lab_pk=laboratory labroom=object.pk org_pk=org_pk %}">
										+ <span  class="fa fa-bed" aria-hidden="true"></span>
									</button>
									{% endif %}

								</div>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="btn-group float-end" role="group">
							{% if perms.laboratory.change_laboratoryroom %}
								<a href="{% url 'laboratory:rooms_update' lab_pk=laboratory pk=object.pk org_pk=org_pk %}" class="btn btn-sm btn-outline-warning">
									<i class="fa fa-edit" aria-hidden="true"> </i> {% trans 'Update' %}
								</a>
							{% endif %}
							{% if perms.laboratory.delete_laboratoryroom %}
								<a href="{% url 'laboratory:rooms_delete' lab_pk=laboratory pk=object.pk org_pk=org_pk %}" class="btn btn-sm btn-outline-danger">
									<i class="fa fa-trash" aria-hidden="true"> </i> {% trans 'Delete' %}
								</a>
							{% endif %}
						</div>
						</div>
					</div>
				</li>
			{% endfor %}
		</ul>
	</div>
	</div>

	{% else %} 
		{% include 'laboratory/action_denied.html' %} 
	{% endif %}

	{% if perms.laboratory.change_laboratoryroom %}
	<a class="btn btn-success mt-4" href="{% url 'laboratory:rebuild_laboratory_qr' lab_pk=laboratory org_pk=org_pk %}">{% trans 'Rebuild QR' %}</a>
	{% endif %}

	{% if perms.laboratory.add_furniture and perms.laboratory.change_furniture %}
		<div class="modal " id="furnitureModal" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="exampleModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<form method="post" action="">
						<div class="modal-header">
							<h4 class="modal-title" id="exampleModalLabel">{% trans 'Create Furniture' %}</h4>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							{% csrf_token %}
							{{furniture_form.as_horizontal}}
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-danger" data-bs-dismiss="modal">{% trans 'Close' %}</button>
							<button type="submit" class="btn btn-primary">{% trans 'Create Furniture' %}</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	{% endif %}
</div>
{% endblock %}

{% block js %}
		<script>
		$(function () {
			$('[data-bs-toggle="popover"]').each( function(i){
				var idelem="#"+$(this).data('content');
				var content=$(idelem).html();
				$(this).attr('data-bs-content', content);
				$(idelem).remove();
			});

			$('[data-bs-toggle="popover"]').popover();

			{% if perms.laboratory.add_furniture and perms.laboratory.change_furniture %}

				$('#furnitureModal').on('show.bs.modal', function (event) {
					var button = $(event.relatedTarget) // Button that triggered the modal
					var url = button.data('href');
					var modal = $(this);
					modal.find('.modal-content form').attr('action', url);
					modal.find('.modal-content form').attr('method', 'post');
				});
			{% endif %}
		});
	</script>
{% endblock %}