{% extends 'base.html' %}
{% load i18n laboratory %}
{% load urlname_tags %}
{% block pre_head %}
	{% if object_list %}
		{% define_urlname_action 'rooms_create' %}
		{% define_urlname_action 'rooms_update' %}
		{% define_urlname_action 'rooms_delete' %}
		{% define_urlname_action 'furniture_create' %}
		{% define_urlname_action 'furniture_update' %}
	{% else %}
		{% define_urlname_action 'rooms_create' %}
	{% endif %}
{% endblock %}
{% block title %}{% trans 'Laboratory room management' %}{% endblock %}

{% block content %}
	{% if perms.laboratory.view_laboratoryroom or perms.laboratory.add_laboratoryroom or  perms.laboratory.change_laboratoryroom or perms.laboratory.delete_laboratoryroom %}
	<div class="row">
		<div class="">
			<div class="page-header col-xs-13" align="center">
				<h3 class="heading-1"><span>{% trans 'Laboratory room management' %}</span></h3>
			</div>
		</div>
	</div>
	<div class="row ">
		<div class="container-fluid">
			{% if perms.laboratory.add_laboratoryroom or perms.laboratory.change_laboratoryroom %}
			<div class="" style="padding: 15px;">
				<form class="form-horizontal " action="" method="post">{% csrf_token %}
					{{ form.as_horizontal }}
					<button class="btn btn-sm btn-outline-success" type="submit" style="width:90px; float: right; ">
						{% if form.instance.pk %}
							<span class="fa fa-plus" aria-hidden="true"></span>{% trans 'Update' %}
						{% else %}
							<span class="fa fa-plus" aria-hidden="true"></span>{% trans 'New' %}
						{% endif %}
					</button>
				</form>
				{% endif %}
			</div>
		</div>
		<div class="row">
			<ul class="list-group" style="margin: 0px 10px;">
				{% for object in object_list %}
					<li class="row list-group-item">
						<div class="col-md-10">
							<div class="row">
								<div class="col-md-4">{{ object }} </div>
								<div class="col-md-4"></div>
								<div class="col-md-4" style="font-size: 1.5em">
									<div class="btn-group" role="group" aria-label="...">
										<div id="f{{object.pk}}" class="hidden">
											<ul class="list-group">
												{% for furniture in object.furniture_set.all %}
													<li class="list-group-item">
														<a href="{% url 'laboratory:furniture_update' laboratory furniture.pk %}" > {{furniture}} </a>
													</li>
												{% endfor %}
											</ul>
										</div>
										<button type="button" class="btn btn-outline-success" style="width:60px"
												data-bs-container="body" data-bs-toggle="popover" 5
												data-content="f{{object.pk}}"
												data-bs-html=true>
											{{ object.furniture_set.count }}
										</button>
										<button type="button" class="btn btn-outline-dark" title="{% trans 'Create Furniture' %}"
												data-bs-toggle="modal" data-bs-target="#furnitureModal"
												data-href="{% url 'laboratory:furniture_create' laboratory object.pk %}">
											+ <span  class="fa fa-bed" aria-hidden="true"></span>
										</button>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-2">
							<div class="btn-group" role="group" aria-label="...">
								{% if perms.laboratory.change_laboratoryroom %}
									<a href="{% url 'laboratory:rooms_update' laboratory object.pk %}" class="btn btn-outline-warning">
										<span class="fa fa-edit" aria-hidden="true"> </span>{% trans 'Update' %}
									</a>
								{% endif %}
								{% if perms.laboratory.delete_laboratoryroom %}
									<a href="{% url 'laboratory:rooms_delete' laboratory object.pk %}" class="btn btn-outline-danger">
										<span class="fa fa-trash" aria-hidden="true"> </span>{% trans 'Delete' %}
									</a>
								{% endif %}
							</div>
						</div>
					</li>
				{% endfor %}
			</ul>
		</div>
	{% else %} 
		{% include 'laboratory/action_denied.html' %} 
	{% endif %}
	{% if perms.laboratory.add_laboratoryroom or perms.laboratory.change_laboratoryroom %}
		<div class="modal " id="furnitureModal" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="exampleModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<form method="post" action="">
						<div class="modal-header">
							<h4 class="modal-title" id="exampleModalLabel">{% trans 'Create furniture' %}</h4>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							{% csrf_token %}
							{{furniture_form.as_horizontal}}
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-danger" data-bs-dismiss="modal">{% trans 'Close' %}</button>
							<button type="submit" class="btn btn-primary">{% trans 'Create furniture' %}</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	{% endif %}
{% endblock %}

{% block js %}
		<script>
		$(function () {
			$('[data-bs-toggle="popover"]').each( function(i){
				var idelem="#"+$(this).data('content');
				var content=$(idelem).html();
				$(this).attr('data-bs-content', content);
				$(idelem).remove();
			});

			$('[data-bs-toggle="popover"]').popover();

			{% if perms.laboratory.add_laboratoryroom or perms.laboratory.change_laboratoryroom %}

				$('#furnitureModal').on('show.bs.modal', function (event) {
					var button = $(event.relatedTarget) // Button that triggered the modal
					var url = button.data('href');
					var modal = $(this);
					modal.find('.modal-content form').attr('action', url);
					modal.find('.modal-content form').attr('method', 'post');
				});
			{% endif %}
		});
	</script>
{% endblock %}