{% extends 'base.html' %}
{% load i18n laboratory %}

{% block content %}
  {%  has_perms "laboratory.change_laboratory" as perm_change_laboratory %}
  {%  has_perms "laboratory.delete_laboratory" as perm_delete_laboratory %}

  <label for="searchbox">Buscar Laboratorio</label>
  <form id="searchform"  method="get" action="" accept-charset="utf-8">
    <div class="row">
        <div class="col-sm-4">
            <div class="input-group">
              <input id="searchbox" name="search_fil" type="text" class="form-control" style="height:40px">
              <span class="input-group-btn" style="height:40px">
                <button class="btn btn-primary" type="submit">Buscar</button>
              </span>
            </div>
        </div>
      </div>
  </form>
  <br>
  <div class="row">
    {% for lab in object_list %}
    {% include 'laboratory/lab_card.html' with lab=lab  perm_change_laboratory=perm_change_laboratory  perm_change_laboratory=perm_change_laboratory %}
    {% endfor %}
  </div>

  {% if is_paginated %}
    <nav aria-label="...">
      <ul class="pager">
        {% if page_obj.has_previous %}
          <li>
            <a href="?page={{ page_obj.previous_page_number }}">{% trans 'Previous' %}</a>
          </li>
        {% endif %}

        <li>
          {% trans 'Page' %} {{ page_obj.number }} -- {{ page_obj.paginator.num_pages }}.
        </li>

        {% if page_obj.has_next %}
          <li>
            <a href="?page={{ page_obj.next_page_number }}">{% trans 'Next' %}</a>
          </li>
        {% endif %}
      </ul>
    </nav>

  {% endif %}

{% endblock %}