{% extends 'base.html' %}
{% load i18n laboratory %}
{% load urlname_tags %}
{% block pre_head %}
    {% define_urlname_action 'create_lab' %}
{% endblock %}
{% block content %}

  <div class="row">
    <div class="offset-md-2 col-md-8">
      <div class="page-header text-center" align="center">
        <h3 class="heading-1"><span>{% trans 'Create laboratory' %}</span></h3>
      </div>
    </div>
  </div>
  {% if perms.laboratory.add_laboratory %}
  <div class="row">
      <form method="POST" action="{% url 'laboratory:create_lab' org_pk=org_pk %}" class="form-horizontal"> {% csrf_token %}
        <div class="body">
          {{ form.as_horizontal }}
        </div>
        <button type="submit" name="action" value="createlab" class="save btn btn-danger">{% trans 'Create' %}</button>
      </form>
  </div>
  {% else %} 
    {% include 'laboratory/action_denied.html' %} 
  {% endif %}	
{% endblock%}

{% block js %}
   {{ form.media }}
{% endblock %}