{% extends 'base.html' %}
{% load i18n laboratory %}
{% load urlname_tags %}
{% block pre_head %}
    {% define_urlname_action 'create_lab' %}
{% endblock %}
{% block content %}

<h1 class="heading-1" align="center"><span>{% trans 'Create laboratory' %}</span></h1>
  <div class="row" style="justify-content: center;">
			<div class="p-5">
      <form method="POST" action="{% url 'laboratory:create_lab' org_pk=org_pk %}">
							{% csrf_token %}
          {{ form.as_grid }}
        <button type="submit" name="action" value="createlab" class="save btn btn-success">{% trans 'Create' %}</button>
      </form>
			</div>
  </div>
{% endblock%}

{% block js %}
   {{ form.media }}
{% endblock %}
