{% extends 'base.html' %}
{% load i18n laboratory %}
{% load urlname_tags %}
{% block pre_head %}
	{% define_urlname_action 'objectview_list' %}
{% endblock %}
{% block title %}
	{% if type_id == "0" %}
		{% trans 'Reactive management' %}
		{% elif type_id == "1" %}
		{% trans 'Material management' %}
		{% elif type_id == "2" %}
		{% trans 'Equipment management' %}
	{% else %}
		{% trans 'Object management' %}
	{% endif %}
{% endblock %}

{% block content %}
	<div class="col-md-offset-1 col-md-10">
		<div class="page-header col-xs-12" align="center">
			<h3 class="heading-1">
        <span>
          {% if type_id == "0" %}
											{% trans 'Reactive management' %}
											{% elif type_id == "1" %}
											{% trans 'Material management' %}
											{% elif type_id == "2" %}
											{% trans 'Equipment management' %}
										{% else %}
											{% trans 'Object management' %}
										{% endif %}
        </span>
			</h3>
		</div>
	</div>

	{% if perms.laboratory.view_object or perms.laboratory.add_object or perms.laboratory.change_object  or perms.laboratory.delete_object %}




	{% else %}
		{% include 'laboratory/action_denied.html' %}
	{% endif %}
{% endblock %}
