{% extends 'base.html' %}
{% load i18n laboratory %}

{% block title %}{% trans 'Delete object' %}{% endblock %}

{% block content %}
{%  has_perms "laboratory.delete_object" as perm_delete_object %}

  {% if perm_delete_object %}
	  <form action="" method="post">{% csrf_token %}
	    <p>{% trans 'Are you sure you want to delete' %} "{{ object }}"?</p>
	    <input class="btn btn-danger" type="submit" value="Confirm"/>
	  </form>
	  <br> <br>
   {% else %} 
       {% include 'laboratory/action_denied.html' %} 
  {% endif %}
{% endblock %}