{% extends 'base.html' %}
{% load static i18n gtsettings %}

{% block pre_head %}
{% define_true  "use_datatables" %}
{% endblock %}



{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card-title col-sm-13" >
            <h3 class="text-center">{% trans 'Changes on Objects' %}</h3>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-sm-12">
            <form method="get">
                {{ form.as_horizontal }}
                <button type="submit" class="btn btn-success">
                    {% trans 'Filter' %}
                    <i class="fa fa-filter" aria-hidden="true"></i>
                </button>
            </form>
        <div class="table-responsive mt-2">
            <table id="logtable" class="table table-sm table-striped table-bordered">
                <thead>
                <tr>
                    <th class="text-center">{% trans 'User' %}</th>
                    <th class="text-center">{% trans 'Laboratory' %}</th>
                    <th class="text-center">{% trans 'Object' %}</th>
                    <th class="text-center">{% trans 'Day' %}</th>
                    <th class="text-center">{% trans 'Old' %}</th>
                    <th class="text-center">{% trans 'New' %}</th>
                    <th class="text-center">{% trans 'Difference' %}</th>
                    <th class="text-center">{% trans 'Unit' %}</th>
                    <th class="text-center">{% trans 'Precursor' %}</th>
                </tr>
                </thead>
                <tbody>
                {% for obj in object_list %}
                <tr>

                    <td class="text-center">{{obj.laboratory}}</td>
                    <td class="text-center">{{obj.object}}</td>
                    <td class="text-center">{{obj.update_time|date:"SHORT_DATETIME_FORMAT"}}</td>
                    <td class="text-center">{{obj.old_value }}</td>
                    <td class="text-center">{{obj.new_value}}</td>
                    <td class="text-center">{{obj.diff_value}}</td>
                    <td class="text-center">{{obj.measurement_unit}}</td>
                    {% if obj.precursor %}
                    <td class="text-center">{% trans 'Precursor'%}</td>
                    {% else %}
                    <td></td>
                    {% endif %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
{{block.super}}


<script>

(function(){
    $("#logtable").DataTable({responsive: true });
})(jQuery);
</script>



{% endblock %}