{% extends 'base.html' %}
{% load bootstrap staticfiles i18n laboratory %}

{% block title %}{% trans 'Object features management' %}{% endblock %}

{% block content %}
{%  has_perms "laboratory.view_objectfeatures" as perm_objectfeatures %}
{%  has_perms "laboratory.add_objectfeatures" as perm_add_objectfeatures %}
{%  has_perms "laboratory.change_objectfeatures" as perm_change_objectfeatures %}
{%  has_perms "laboratory.delete_objectfeatures" as perm_delete_objectfeatures %}

{% if perm_objectfeatures or perm_add_objectfeatures or perm_change_objectfeatures or perm_delete_objectfeatures %}
  <div class="row">
    <h1 align="center">{% trans 'Object features management' %}</h1>
   {% if  perm_add_objectfeatures and  perm_change_objectfeatures or not create and perm_change_objectfeatures or create and  perm_add_objectfeatures%}
    <div class="col-md-8 col-md-offset-2">
      <form class="form-horizontal" action="" method="post">{% csrf_token %}
        {{ form|bootstrap_horizontal }}

        <div class="form-group">
          <div class="col-sm-10 col-sm-offset-2">
            <button class="btn btn-success" type="submit">
              {% if create %}
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> {% trans 'Save' %}
              {% else %}
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> {% trans 'Edit' %}
              {% endif %}
            </button>
          </div>
        </div>
      </form>
    </div>
    {% endif %}
  </div>

  {% if create  %}
    <div class="row">
      <div class="list-group">
        {% for object in object_list %}
          <li class="row list-group-item">
            <div class="col-md-3">{{ object }}</div>
            <div class="col-md-6">{{ object.description }}</div>
            <div class="col-md-3">
              <div class="btn-group" role="group" aria-label="...">
                 {% if perm_change_objectfeatures %}
                <a href="{% url 'laboratory:object_feature_update' laboratory object.pk %}" class="btn btn-info">
                  <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>{% trans 'Edit' %}</a>
                 {% endif %} 
                 {% if perm_delete_objectfeatures %}                 
                <a href="{% url 'laboratory:object_feature_delete' laboratory object.pk %}" class="btn btn-danger">
                  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>{% trans 'Delete' %}</a>
                {% endif %}  
              </div>
            </div>
          </li>
        {% empty %}
          <div class="row text-center"><i>{% trans 'No object features' %}</i></div>
        {% endfor %}
      </div>
      <div class="row text-center">
        <div class="pagination">
        <span>
            {% if object_list.has_previous %}
              <a href="?page={{ object_list.previous_page_number }}"> {% trans 'Previous' %}</a>
            {% endif %}

          <span class="current">
               {% trans 'Page' %} {{ object_list.number }} {% trans 'of' %} {{ object_list.paginator.num_pages }}.
            </span>

          {% if object_list.has_next %}
            <a href="?page={{ object_list.next_page_number }}">{% trans 'Next' %}</a>
          {% endif %}
        </span>
        </div>
      </div>
    </div>
  {% endif %}
 {% else %} 
       {% include 'laboratory/action_denied.html' %} 
 {% endif %}  
{% endblock %}