{% extends 'base.html' %}
{% load static i18n laboratory %}

{% block title %}{% trans 'Object features management' %}{% endblock %}

{% block content %}
  {% if perms.laboratory.view_objectfeatures or perms.laboratory.add_objectfeatures or perms.laboratory.change_objectfeatures or perms.laboratory.delete_objectfeatures %}
    <div class="col-md-offset-2 col-md-8">
      <div class="page-header col-xs-13" align="center">
        <h3 class="heading-1" ><span>{% trans 'Object features management' %}</span></h3>
      </div>
    </div>
    <div class="row">
      {% if perms.laboratory.add_objectfeatures and perms.laboratory.change_objectfeatures or not create and perms.laboratory.change_objectfeatures or create and  perms.laboratory.add_objectfeatures%}
        <div class="col-md-8 col-md-offset-2">
          <form class="form-horizontal" action="" method="post">{% csrf_token %}
            {{ form.as_horizontal }}
            <div class="form-group">
              <div class="col-sm-8 col-sm-offset-3">
                <button class="btn btn-success" type="submit">
                  {% if create %}
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> {% trans 'Save' %}
                  {% else %}
                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> {% trans 'Edit' %}
                  {% endif %}
                </button>
              </div>
            </div>
          </form>
        </div>
      {% endif %}
    </div>

    {% if create  %}
      <div class="row">
        <div class="list-group boxmargin">
          {% for object in object_list %}
            <li class="row list-group-item">
              <div class="col-md-3">{{ object }}</div>
              <div class="col-md-6">{{ object.description }}</div>
              <div class="col-md-3">
                <div class="btn-group" role="group" aria-label="...">
                  {% if perms.laboratory.change_objectfeatures %}
                  <a href="{% url 'laboratory:object_feature_update' laboratory object.pk %}" class="btn btn-info">
                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>{% trans 'Edit' %}</a>
                  {% endif %} 
                  {% if perms.laboratory.delete_objectfeatures %}                 
                  <a href="{% url 'laboratory:object_feature_delete' laboratory object.pk %}" class="btn btn-danger">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>{% trans 'Delete' %}</a>
                  {% endif %}  
                </div>
              </div>
            </li>
          {% empty %}
            <div class="row text-center"><i>{% trans 'No object features' %}</i></div>
          {% endfor %}
        </div>
        <div class="row text-center">
          <div class="pagination">
          <span>
              {% if object_list.has_previous %}
                <a href="?page={{ object_list.previous_page_number }}"> {% trans 'Previous' %}</a>
              {% endif %}

            <span class="current">
                {% trans 'Page' %} {{ object_list.number }} {% trans 'of' %} {{ object_list.paginator.num_pages }}.
              </span>

            {% if object_list.has_next %}
              <a href="?page={{ object_list.next_page_number }}">{% trans 'Next' %}</a>
            {% endif %}
          </span>
          </div>
        </div>
      </div>
    {% endif %}
  {% else %} 
    {% include 'laboratory/action_denied.html' %} 
  {% endif %}  
{% endblock %}