{% extends 'base.html' %}
{% load static i18n gtsettings %}

{% block pre_head %}
    {% define_true  "use_datatables" %}
{% endblock %}



{% block content %}
<div class="row">
<div class="col-md-offset-2 col-md-8">
        <div class="page-header col-xs-13" align="center">
          <h3 class="heading-1" ><span> {% trans 'Precursors Report' %}  </span></h3>
        </div>
</div>
</div>

<div class="row">
<div class="col-md-12 col-xs-12">
    <div >
        <form method="get">
        {{form.as_horizontal}}
            <button type="submit" class="btn btn-success">{% trans 'Filter' %}</button>
        </form>
    </div>
    </div>
</div>
{% endblock %}

{% block js %}
{{block.super}}


<script>

(function(){
    $("#logtable").DataTable({responsive: true });
})(jQuery);
</script>



{% endblock %}