{% extends 'base.html' %}
{% load static i18n gtsettings %}

{% load urlname_tags %}
{% block pre_head %}
    {% define_true  "use_datatables" %}
    {% define_urlname_action 'precursor_report' %}
{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <h3 class="text-center">{% trans 'Precursor Report' %}</h3>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="table-responsive">
            <table id="logtable" class="table table-sm table-striped table-bordered text-center">
                <thead >
                <tr>
                    <th class="text-center">{% trans 'Consecutive' %}</th>
                    <th class="text-center">{% trans 'Month' %}</th>
                    <th class="text-center">{% trans 'Export' %}</th>
                </tr>
                </thead>
                <tbody>
                {% for report in datalist %}
                <tr>
                    <td class="text-center">{{report.consecutive}}</td>
                    <td class="text-center">{{report.get_month_display}} {{report.year}}</td>
                    <td class="text-center"><a class="btn btn-outline-success" href="{% url 'laboratory:precursor_report' lab_pk=laboratory org_pk=org_pk %}?format=xlsx&pk={{report.pk}}"><i class="fa fa-download" ></i> {% trans 'Download'%}</a></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
{{block.super}}


<script>

(function(){
    $("#logtable").DataTable({responsive: true,
         order: [[0, 'desc']]});
})(jQuery);
</script>



{% endblock %}
