{% extends 'base.html' %}
{% load i18n laboratory %}
{% load gtsettings %}
{% load urlname_tags %}
{% block pre_head %}
    {% define_true  "use_datatables" %}
	{% define_urlname_action 'create_lab' %}
{% endblock %}
{% block title %}{% trans 'Lab profiles management' %}{% endblock %}

{% block content %}
  	<div class="page-header"><h1>{% trans ' Laboratory Profiles' %}</h1></div>
		<br><br>
		{% if perms.laboratory.view_profile  %}
			<table id="profilestable" class="table">
				<thead>
					<tr>
						<th class="text-center">{% trans "Name:" %}</th>
						<th class="text-center">{% trans "Last Name:" %}</th>
						<th class="text-center">{% trans "Id Card:" %}</th>
						<th class="text-center">{% trans "Job Position:" %}</th>
						<th class="text-center">{% trans 'Manage Profile' %}</th>
					</tr>
				</thead>
				<tbody>
					{% for obj in profiles %}
						<tr>
							<td class="text-center">{{ obj.user.first_name }}</td>
							<td class="text-center">{{ obj.user.last_name }}</td>
							<td class="text-center">{{ obj.id_card }}</td>
							<td class="text-center">{{ obj.job_position }}  </td>
							<td class="text-center"> <a class="btn btn-md btn-success"
									href="{% url 'laboratory:update_lab_profile' pk=lab_pk profile_pk=obj.pk %}" title="{% trans 'Manage' %}"><i class="fa fa-cogs" aria-hidden="true"></i></a>
							</td>
						</tr>
					{% empty %}
						<tr><td colspan="6"> {% trans "No objects" %}</td> </tr>
					{% endfor %}
				</tbody>
			</table>
		{% else %}
			{% include 'laboratory/action_denied.html' %}
		{% endif %}
		<div>
	</div>
{% endblock %}

{% block js %}
	{{block.super}}
	<script>
		$("#profilestable").DataTable();
	</script>
{% endblock %}

