{% extends 'base.html' %}
{% load i18n laboratory %}

{% block content %}
	<div class="row">
		<h1 style="text-align:center;">{% trans 'Profile Management' %}</h1>
		{% if perms.laboratory.change_profile  %}
			<form method="POST">
				{% csrf_token %}
				{{ profile_form.as_horizontal  }}
				<div class="form-group row" >
					<label class="col-sm-3">{% trans 'Roles' %}:</label>
					<div class="col-sm-9">
						<select name="roles" data-widget="SelectMultiple" multiple class="form-control" required>
							{% for rol in roles %}
							{% if rol in pp %}
							<option value="{{rol.id}}" selected>{{rol.name}}</option>
							{% else %}
							<option value="{{rol.id}}">{{rol.name}}</option>
							{% endif %}
							{% endfor %}
						</select>
					</div>
				</div>
				<input type="submit" class="btn btn-success" value="{% trans 'Save' %}">
			</form>
		{% else %}
			{% include 'laboratory/action_denied.html' %}   
		{% endif %}
	</div>
{% endblock %}



  
  

