{% extends 'base.html' %}
{% load i18n laboratory %}
{% load urlname_tags %}
{% block pre_head %}
    {% define_urlname_action 'add_provider' %}
{% endblock %}
{% block content %}
<a class="btn btn-outline-danger" href="{% url 'laboratory:list_provider' org_pk laboratory %}"><i class="fa fa-caret-left" aria-hidden="true"></i> {% trans 'Back' %}</a>
  <div class="row">
    <div class="offset-md-2 col-md-8 pb-2">
      <div class="page-header" align="center">
        <h3 class="heading-1" center=""><span>{% trans 'Create Provider' %}</span></h3>
      </div>
    </div>
  </div>
  {% if perms.laboratory.add_provider %}
    <div class="row">
      <form method="POST"  class="form-horizontal">
          {% csrf_token %}
        <div class=" body ">
          {{ form.as_horizontal }}
        </div>
        <button type="submit" name="action" class="save btn btn-success"><i class="fa fa-save" aria-hidden="true"></i> {% trans 'Create' %}</button>
      </form>
    </div>
{% endif %}
{% endblock%}

{% block js %}
   {{ form.media }}
{% endblock %}