{% extends 'base.html' %}
{% load i18n laboratory %}
{% load urlname_tags %}
{% block pre_head %}
	{% define_urlname_action 'reactive_precursor_object_list' %}
	{% define_urlname_action 'reports_objects' %}
	{% define_urlname_action 'reports_reactive_precursor_objects' %}
{% endblock %}
{% block title %}{% trans 'Reactive precursor objects' %}{% endblock %}

{% block content %}
  <div class="page-header"><h1>{% trans 'Reactive precursor objects' %}</h1>
    <a href="?all_labs=1">{% trans 'Not found? include all laboratories' %}</a>
  </div>
  {% if perms.laboratory.do_report and perms.laboratory.view_object  %}
	  <div class="float-end">
	  <div class="btn-group dropup">
	  <button type="button" class="btn btn-danger">
	   <i class="fa fa-download" aria-hidden="true"></i>
	   {% trans 'Download'%}</button>

	  <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

	    <span class="caret"></span>
	    <span class="sr-only">{% trans 'Toggle Dropdown'%} </span>
	  </button>
	  <ul class="dropdown-menu">
		  <li>
			  <a class="dropdown-item" href="{% url 'laboratory:reports_reactive_precursor_objects' lab_pk=laboratory org_pk=org_pk %}?all_labs={{ all_labs }}&format=pdf">{% trans "PDF" %} </a>
		  </li>
		  <li>
			  <a class="dropdown-item" href="{% url 'laboratory:reports_reactive_precursor_objects' lab_pk=laboratory org_pk=org_pk %}?all_labs={{ all_labs }}&format=ods">{% trans "Ods" %} </a>
		  </li>
		  <li>
			  <a class="dropdown-item" href="{% url 'laboratory:reports_reactive_precursor_objects' lab_pk=laboratory org_pk=org_pk %}?all_labs={{ all_labs }}&format=xls">{% trans "Xls" %} </a>
		  </li>
		  <li>
			  <a class="dropdown-item" href="{% url 'laboratory:reports_reactive_precursor_objects' lab_pk=laboratory org_pk=org_pk %}?all_labs={{ all_labs }}&format=xlsx">{% trans "Xlsx" %} </a>
		  </li>
	  </ul>
	</div>
	
	 </div>
 {% endif %}
<br><br>
 {% if perms.laboratory.view_object  %}
	  {% for obj in object_list %}
	    <h3 class="alert alert-info">
	      {{ obj.code }}
	      {% if perms.laboratory.do_report %}
		      <a class="btn btn-sm btn-danger float-end"
		         title="{{ obj.name }}"
		         href="{% url 'laboratory:reports_objects' org_pk laboratory %}?pk={{ obj.pk }}">
		       <i class="fa fa-download" aria-hidden="true"></i>
		        {% trans "PDF" %}</a>
	       {% endif %}
	    </h3>
	    <ul>
	      <li><label class="fw-bold">{% trans "Name:" %}</label> {{ obj.name }}</li>
	      <li><label class="fw-bold">{% trans "Type:" %}</label> {{ obj.get_type_display }} </li>
	
	      <li><label class="fw-bold">{% trans "Features:" %}</label>
		  <ul>
	        {% for features in obj.features.all %}
	            <li> {{ features.name }}  </li>
	        {% empty %}
				  <li>{% trans "No object features" %}</li>
	        {% endfor %}
		  </ul>
	      </li>
	
	      <li><label class="fw-bold">{% trans "Quantity:" %}</label>
	        {% for shelfobj in obj.shelfobject_set.all %}
	          <ul>
	            <li>
	              {{ shelfobj.shelf }}:
	              {{ shelfobj.quantity }}
	              {{ shelfobj.get_measurement_unit_display }}
	            </li>
	          </ul>
	        {% empty %}
	          {% trans "No Data" %}
	        {% endfor %}
	      </li>
{% if obj.h_code.exists %}
    <li>
     <label class="fw-bold">{% trans "Danger indication:" %}</label>
      <ul>
      {% for code in obj.h_code.all %}
        <li>{{code}} </li>
      {% endfor %}
      </ul>
    </li>
{% endif %}

	      <li><label class="fw-bold">{% trans "Description:" %}</label> {{ obj.description }}</li>
			<li><label class="fw-bold">{% trans 'Molecular formula:' %}</label> <code>{{ obj.sustancecharacteristics.molecular_formula | default:'-' }}</code></li>
			<li><label class="fw-bold">{% trans 'CAS ID Number:' %}:</label> {{ obj.sustancecharacteristics.cas_id_number | default:'Undefined' }}</li>
	      {% if obj.clinventory_entry %}
			<li><label class="fw-bold">{% trans 'Inventario C&L:' %}</label> {{ obj.clinventory_entry.name | safe }} (<a
	            href="{{ obj.clinventory_entry.url }}">{% trans 'Reference link' %}</a>)
	        </li>
	      {% endif %}
	    </ul>
	   {% empty %}
	    {% trans "No objects" %}
	   {% endfor %}
 {% else %}
   {% include 'laboratory/action_denied.html' %}
 {% endif %}
  
  <div>
    {% if perms.laboratory.do_report and perms.laboratory.view_object  %}
	    <a class="btn btn-primary float-end" title="{% trans 'All objects' %}"
	       href="{% url 'laboratory:reports_reactive_precursor_objects' org_pk laboratory %}?all_labs={{ all_labs }}">
	     <i class="fa fa-download" aria-hidden="true"></i>
	      {% trans "All objects in PDF" %}
	    </a>
	    <br> <br>
    {% endif %}
  </div>
{% endblock %}
