{% load i18n %}
<!-- Modal -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 30px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}
</style>
<input type="hidden" id="edit_url" value="{% url 'laboratory:add_object' pk=laboratory %}">
<div aria-hidden="true" aria-labelledby="model-reservation-form-title" class="modal fade" id="modal_reservation" role="dialog"
     tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="model_reservation_form_title">{% trans 'Reservations' %}</h5>
                <button aria-label="{% trans 'Close' %}" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="alert" id="alert_message" style="display: none;">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                    <strong id="error_message">The initial date is already been added for this object</strong>
                </div>
                <form id="modal_reservation_form" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label>Type Action</label>
                        <select id="option"  name="options" data-widget="Select" onchange="choose_action()">
                            {% for option in options %}
                            <option value="{{forloop.counter}}">{{option}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div id="content">
                    <div id="reserved">
                    <div class="form-group">
                        <label>Amount Required</label>
                        <div class="input-group">
                        {{modal_form_reservation.amount_required}}
                            <span class="input-group-addon" id="unit">L</span>
                    </div>
                    </div>
                             <div class="form-group">
                        <label>Initial Date</label>
                        {{modal_form_reservation.initial_date}}
                    </div>
                      <div class="form-group">
                        <label>Final Date</label>
                        {{modal_form_reservation.final_date}}

                    </div>
                   </div>
                    <div  id="add" style="display:none;" class="form-group">
                        {{add_object.as_p}}
                    </div>
                    <div id="tranfer" style="display:none;" class="form-group">
                        {{tranfer_form.as_p}}
                    </div>
</div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal" type="button">{% trans 'Close' %}</button>
                <button class="btn btn-primary" type="button" onclick="add_reservation()">{% trans 'Save changes' %}</button>
            </div>
        </div>
    </div>
</div>