{% load i18n %}

<!-- Modal -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 30px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}
</style>
<input type="hidden" id="edit_url" value="{% url 'laboratory:edit_object' pk=laboratory %}">
<input type="hidden" id="detail_url" value="{% url 'laboratory:get_object_detail' %}">
<div aria-hidden="true" aria-labelledby="model-reservation-form-title" class="modal fade" id="modal_reservation" role="dialog"
     tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="model_reservation_form_title">{% trans 'Reservations' %}</h5>
                <button aria-label="{% trans 'Close' %}" class="btn-close" data-bs-dismiss="modal" type="button">
                </button>
            </div>
            <div class="modal-body">
                <div class="alert" id="alert_message" style="display: none;">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                    <strong id="error_message">The initial date is already been added for this object</strong>
                </div>
                <div class="alert" id="alert_message_objects" style="display: none;">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                    <strong id="error_message_object">{% trans 'Complete the fields' %}</strong>
                </div>
                <form id="modal_reservation_form" method="POST">
                    {% csrf_token %}
                    <input type="hidden" value="{{laboratory}}" name="lab">
                    <label class="float-end" id="obj"></label>
                    <div class="form-group">
                        <label>{% trans 'Action'%}</label>
                        <select id="option" name="options" data-widget="Select" >
                            {% for option in options %}
                            <option value="{{forloop.counter}}">{% trans option %}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div id="content">
                    <div id="reserved">
                    <div class="form-group">
                        <label>{% trans 'Amount Required' %}</label>
                        <div class="input-group">
                        {{modal_form_reservation.amount_required}}
                            <span class="input-group-text unit" ></span>
                    </div>
                        {{modal_form_reservation.amount_required.help_text}}
                    </div>
                             <div class="form-group">
                        <label>{% trans 'Initial Date' %}</label>
                        {{modal_form_reservation.initial_date}}
                    </div>
                      <div class="form-group">
                        <label>{% trans 'Final Date' %}</label>
                        {{modal_form_reservation.final_date}}

                    </div>
                   </div>
                    <div  id="add" style="display:none;" class="form-group">
                        {% for field in add_object_form %}
                            {% if 'amount' in field.label_tag %}
                                <div class="form-group">
                                     {{field.label_tag}}
                                 <div class="input-group">
                                        {{ field }}
                                <span class="input-group-text unit"></span>
                                 </div>
                                        {{field.help_text}}
                                </div>
                            {% else %}
                                      {{field.label_tag}}
                                          {{field}}
                        {% endif %}
                        {% endfor %}
                    </div>
                    <div id="tranfer" style="display:none;" class="form-group">
                             {% for field in tranfer_object_form %}
                            {% if 'amount_send' in field.label_tag %}
                                <div class="form-group">
                                     {{field.label_tag}}
                                 <div class="input-group">
                                        {{ field }}
                                <span class="input-group-text unit"></span>
                                 </div>
                                        {{ field.help_text }}
                                </div>
                            {% else %}
                              {{field.label_tag}}
                                {{field}}
                        {% endif %}
                        {% endfor %}
                    </div>
                    <div id="subtract" style="display:none;" class="form-group">
                        {% for field in subtract_object_form %}
                            {% if 'discount' in field.label_tag %}
                                <div class="form-group">
                                     {{field.label_tag}}
                                 <div class="input-group">
                                        {{ field }}
                                <span class="input-group-text unit"></span>
                                 </div>
                                        {{field.help_text}}
                                </div>
                            {% else %}
                                      {{field.label_tag}}
                                          {{field}}
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">{% trans 'Close' %}</button>
                <button class="btn btn-primary" type="button" onclick="add_reservation()">{% trans 'Save changes' %}</button>
            </div>
        </div>
    </div>
</div>