{% load i18n laboratory %}
{% get_search_form as search_form %}
{% if perms.laboratory.view_laboratory %}
<div class="row">
  <div class="col-md-10 pt-4">
      {% if laboratory %}
      <form method="get" action="{% url 'laboratory:search' lab_pk=laboratory org_pk=org_pk %}">
        {% else %}
        <form method="get" action="{% url 'laboratory:search' org_pk=org_pk %}">
          {% endif %}

          <div class="col-md-10">
            {{search_form.as_horizontal}}
          </div>

          <div class="col-md-2">
            <button type="submit" class="btn btn-secondary">
              {% trans 'Search' %}
              <i class="fa fa-search" aria-hidden="true"></i>
            </button>
          </div>
        </form>
  </div>
</div>
{% endif %}