{% load i18n laboratory %}

{%  has_perms "laboratory.view_laboratory" as perm_laboratory %}
{% get_search_form as search_form %}
{% if perm_laboratory %}
<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <div class="col-md-12" style="padding-top: 3%; padding-bottom: 5%">
      {% if laboratory %}
        <form method="get" action="{% url 'laboratory:search' laboratory %}">
      {% else %}
        <form method="get" action="{% url 'laboratory:search' %}">
      {% endif %}
      
      <div class="col-md-7">
      	{{search_form.q}}
      </div>
      
      <div class="col-md-3">
	      <div class="checkbox">
	      {{search_form.all_labs}} {% trans 'In all laboratories' %}
	      </div>
      </div>
      
      <div class="col-md-2">
        <button type="submit" class="btn btn-default">
          <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
          {% trans 'Search' %}
        </button>
      </div>
      </form>
    </div>
  </div>
</div>
<script>
jq162 = jQuery.noConflict( true );
</script>
{{ search_form.media }}
<script>
$ = jq162;
</script>
{% endif %}