{% extends 'base.html' %}
{% load laboratory static i18n %}
{% block content %}
<input type="hidden" id="edit_url" value="{% url 'laboratory:edit_object' pk=laboratory %}">
<input type="hidden" id="detail_url" value="{% url 'laboratory:get_object_detail' %}">
{% include 'laboratory/search_widget.html' %}
<div class="accordion border-0" id="accordionExample">
{% for object in object_list%}
  <div class="accordion-item">
    <h2 class="accordion-header" id="heading{{object.pk}}">
      <button class="accordion-button"  data-bs-toggle="collapse" data-bs-target="#collapse{{object.pk}}" aria-expanded="true" aria-controls="collapseOne">
		<div class="row w-100">
			<div class="col-md-1">
				<a target='_blank' href="{% url 'laboratory:rooms_list' object.shelf.furniture.labroom.laboratory_set.first.pk %}#labroom={{object.shelf.furniture.labroom.pk}}&furniture={{object.shelf.furniture.pk}}&shelf={{object.shelf.pk}}"><i class="fa fa-eye" aria-hidden="true"></i></a>
			</div>
			<div class="col-md-11">
                <div class="row">
                    <div class="col-md-4"><p class="text-success">{% trans 'Laboratory Room' %}: {{object.shelf.furniture.labroom.name}}</p></div>
                    <div class="col-md-3"><p class="text-info">{% trans 'Furniture' %}:{{object.shelf.furniture.name}} -- {% trans 'Shelf' %}:{{object.shelf.name}}</p></div>
                    <div class="col-md-4">{% trans 'Object' %}: {{object.object.name}} </div>
                </div>
			</div>
        </div>
	  </button>
    </h2>
    <div id="collapse{{object.pk}}" class="accordion-collapse collapse {% if forloop.counter == 1 %} show {% endif %}" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body card-body">
          <div class="row">
              <div class="col-md-4">
                  {% if perms.reservations_management.add_reservedproducts %}
                    <a data-bs-toggle="modal"
                       data-bs-target="#modal_reservation"
                       style="margin-right: 10px;" onclick="initialize_reservation_modal({{object.pk}},{{ object.object.pk}},{{request.user.id}},'{{object.get_measurement_unit_display}}')"
                       class="btn btn-danger"><i class="fa fa-book" aria-hidden="true"></i> {% trans "Reserve object" %}
                    </a>
                  {% endif %}
              </div>
          </div>
          <div class="row">
              <div class="col-md-4">
                  <h3> {% trans 'Information' %} </h3>
                  <strong>{% trans 'Code' %}: </strong>{{object.object.code}} <br>
                  <strong>{% trans 'Type' %}: </strong>{{object.object.get_type_display}} <br>
                  <div id="o{{object.pk}}">
                      {% include 'laboratory/shelfObject.html' %}
                  </div>
                  <h3>{% trans 'Characteristic' %}</h3>
                  <ul class="list-group">
                      {% for feature in object.object.features.all %}
                        <li class="list-group-item" title="{{feature.description}}">{{feature.name}}</li>
                      {% endfor %}
                  </ul>
              </div>
              <div class="col-md-8">
                  <h3>{% trans "Description" %}</h3>{{object.object.description}}
              </div>
          </div>
      </div>
    </div>
      {% empty %}
      <div class="alert alert-danger"> {% trans 'Not found' %} </div>
	{% endfor %}
  </div>

<div aria-hidden="true" aria-labelledby="model-reservation-form-title" class="modal fade" id="modal_reservation" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="model_reservation_form_title">{% trans 'Reservations' %}</h5>
                <button aria-label="{% trans 'Close' %}" class="btn-close" data-bs-dismiss="modal" type="button"></button>
            </div>
            <div class="modal-body">
                <form id="modal_reservation_form" method="POST">
                    {% csrf_token %}
                    <label class="float-end" id="obj"></label>
                    {{modal_form_reservation.options}}
                    {% for form in modal_form_reservation.visible_fields %}
                        {% if form.label == 'Amount required' %}
                            <div class="form-group">
                                <label>{% trans form.label %}</label>
                                <div class="input-group">
                                    {{form}}
                                    <span class="input-group-text unit"></span>
                                </div>
                                {{form.help_text}}
                            </div>
                        {% else %}
                        <div class="form-group">
                            <label>{% trans form.label %}</label>
                            {{form}}
                        </div>
                        {% endif %}
                    {% endfor %}
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" data-bs-dismiss="modal" type="button">{% trans 'Close' %}</button>
                <button class="btn btn-success" type="button" onclick="create_reservation()">{% trans 'Add' %}</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}
{{block.super}}
<script>
    document.api_modal = '{% url "laboratory:api_reservation_create"%}';
    document.date_validation_script_url = '{% url "laboratory:date_validator"%}';
</script>
<script src="{% static 'js/reservationmodal.js' %}"></script>
<script>
	jq162 = jQuery.noConflict( true );
</script>
	{{ search_form.media }}
<script>
	$ = jq162;
</script>
{% endblock %}