{% extends 'base.html' %}
{% load laboratory static i18n %}

{%  has_perms "reservation.add_reservation" as perm_add_reservation %}

{% block content %}
{% include 'laboratory/search_widget.html' %}
{% include 'laboratory/reservation_modal.html' %}

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
{% for object in object_list%}
  <div class="panel panel-default">
	<div class="panel-heading" role="tab" id="heading{{object.pk}}">
	  <h4 class="panel-title">
	      
	<div class="row">
		<div class="col-md-1">
		
		 <a target='_blank' href="{% url 'laboratory:rooms_list' object.shelf.furniture.labroom.laboratory_set.first.pk %}#labroom={{object.shelf.furniture.labroom.pk}}&furniture={{object.shelf.furniture.pk}}&shelf={{object.shelf.pk}}"> <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> </a>
		</div>
		<div class="col-md-11">
		        <a class="collapsed" role="button" data-toggle="collapse" 
		        data-parent="#accordion" href="#collapse{{object.pk}}" 
		        aria-expanded="false" aria-controls="collapse{{object.pk}}">
		        
				<div class="row">
				
				  <div class="col-md-4"><p class="text-success">{{object.shelf.furniture.labroom.name}}</p></div>
				  <div class="col-md-3"><p class="text-info">{{object.shelf.furniture.name}}
				  -- {{object.shelf.name}}	
				  </p></div>
				  <div class="col-md-4">{{object.object.name}} </div>
				</div>
		
		        </a>   
		</div>    
	</div> 
	      </h4>
	   
	    </div>
	    <div id="collapse{{object.pk}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{object.pk}}">
	      <div class="panel-body">

		 <div class="row">
		 	 <div class="col-md-4">
		 	<a data-toggle="modal"
           data-target="#model_reservation_form"
           style="margin-right: 10px;" onclick="get_ids({{object.pk}},{{request.user.id}})" 
		 	class="btn btn-danger"> {% trans "Reserve object" %}</a>
		 	</div>
		 </div>

	 <div class="row">
	  <div class="col-md-4">
	  	<h3> {% trans 'Information' %} </h3>
		<strong>{% trans 'Code' %}: </strong>{{object.object.code}} <br>
		<strong>{% trans 'Type' %}: </strong>{{object.object.get_type_display}} <br>
		
		<div id="o{{object.pk}}"> 
		{% include 'laboratory/shelfObject.html' %}		
		</div>
		<h3>{% trans 'Characteristic' %}</h3>
		
	<ul class="list-group">
		{% for feature in object.object.features.all %}
		<a href="#" class="list-group-item" data-toggle="tooltip" data-placement="right" title="{{feature.description}}">{{feature.get_name_display}}</a>
		{% endfor %}
	</ul>
	  </div>
	  <div class="col-md-8">
	  	<h3>{% trans "Description" %}</h3>
	  	{{object.object.description}}</div>
	</div>     	
	      	
	      </div>
	    </div>
	  </div>
	  {% empty %}
	  <div class="alert alert-danger"> {% trans 'Not found' %} </div>
{% endfor %}
</div>


{% endblock %}
{% block js %}
{{block.super}}
<script>
    document.api_modal = '{% url "laboratory:api_reservation"%}';
</script>
<script src="{% static 'js/reservationmodal.js' %}"></script>
<script>
jq162 = jQuery.noConflict( true );
</script>
{{ search_form.media }}
<script>
$ = jq162;
</script>
{% endblock %}