{% load i18n laboratory %}
 
<form data-ajax-submit="" onsubmit="return false;"
		data-success="processResponseshelfobject"
		action="{% url 'laboratory:shelfobject_delete' lab_pk=laboratory pk=object.pk org_pk=org_pk %}" method="post">
	{% csrf_token %}
	<div class="modal-body">

		<p>
			{% trans 'Are you sure that do you want delete this object' %}
			<br />
			{{object}} ?
		</p>

	</div>
	<div class="modal-footer">
	   {% if perms.laboratory.delete_shelfobject %}
			<button type="submit" class="btn btn-primary">
				{% trans 'Delete' %}
			</button>
        {% endif %}
		{% if not form.instance.pk %}
		<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
			{% trans 'Close' %}
		</button>{%endif%}
		<input name ="row" value="{{row}}" type="hidden" />
		<input name ="col" value="{{col}}" type="hidden" />
	</div>
</form>
