{% load laboratory %}

<div class="container" ><div class="row">

    {% for col in data %}
        {% if col %}
          <div class="col ">
            {% for row in col %}
              <div class="row ">
                 {% for item in row %}
                    <div class="input-group" >
                    <div class="input-group-text" style="background-color: {{item.color}}">
                        <input type="radio" name="shelfselected" id="shelf_{{item.pk}}" class="form-check-input  shelf"  data-refuse="{{item.discard}}"  value="{{item.pk}}">
                    </div>
                    <div class="card">
                        <div class="card-body">{{item.name}}<br>
                          {{item.description|safe}}
                        </div>
                        <div class="card-footer">
                    {% if item.discard %}
                            <i class="fa fa-trash" aria-hidden="true"></i>
                    {% endif %}
                            {% if item.measurement_unit %}
                            {{item.measurement_unit}}
                            {% endif %}

                    {% get_laboratory_view_url laboratoryroom furniture item as itemurl %}
                    {% get_qr_svg_img item organization=org_pk icon=True url=itemurl  %}

                    <a href="#commingsoon" target="_blank"> <i class="fa fa-tags" aria-hidden="true"></i></a>

                  </div>
                    </div>

                </div>
                 {% endfor %}
              </div>
            {% endfor %}
          </div>
        {% endif %}
    {% endfor %}

</div></div>