<div class="container" ><div class="row">

    {% for col in data %}
        {% if col %}
          <div class="col ">
            {% for row in col %}
              <div class="row ">
                 {% for item in row %}
                    <div class="input-group" >
                    <div class="input-group-text" style="background-color: {{item.color}}">
                        <input type="radio" name="shelfselected"   class="form-check-input  shelf"   value="{{item.pk}}">
                    </div>
                    <div class="card">
                        <div class="card-body">{{item.name}}<br>
                          {{item.description}}
                        </div>
                        <div class="card-footer">
                    {% if item.discard %}
                            <i class="fa fa-trash" aria-hidden="true"></i>
                    {% endif %}
                            {% if item.measurement_unit %}
                            {{item.measurement_unit}}
                            {% endif %}
                    <a href="#bingi" target="_blank"> <i class="fa fa-qrcode" aria-hidden="true"></i></a>
                    <a href="#bingi" target="_blank"> <i class="fa fa-tags" aria-hidden="true"></i></a>

                  </div>
                    </div>

                </div>
                 {% endfor %}
              </div>
            {% endfor %}
          </div>
        {% endif %}
    {% endfor %}

</div></div>