{% load laboratory i18n %}

<div class="container" >

	<div class="row shelfrow">

    {% for col in data %}
          <div class="row">
            {% for row in col %}
              <div class="col shelves_rows">
                 {% for item in row %}

                    <div class="input-group">
																							<div class="input-group-text" style="background-color: {{item.color}}">
																											<input type="radio" name="shelfselected" id="shelf_{{item.pk}}" class="form-check-input shelf hideshelves"  data-refuse="{{item.discard}}"  value="{{item.pk}}">
																							</div>
																							<div class="card">
																											<div class="card-body">
																													<div class="representation_obj shelf_color" title="{% trans 'Shelf' %}"></div>
																																{{item.pk}}: {{item.name}}<br>
																																{{item.description|safe}}
																											</div>
																											<div class="card-footer">
																															{% if item.discard %}
																																		<i class="fa fa-trash" aria-hidden="true"></i>
																															{% endif %}
																															{% if item.measurement_unit %}
																																			{{item.measurement_unit}}
																															{% endif %}
																															{% get_laboratory_view_url laboratoryroom furniture item as itemurl %}
																															{% get_qr_svg_img item organization=org_pk icon=True url=itemurl  %}

																															<a href="{% url 'laboratory:rooms_list' org_pk=org_pk lab_pk=laboratory %}?labroom={{laboratoryroom.pk}}&furniture={{furniture.pk}}&shelf={{item.pk}}"
																																		target="_blank"> <i class="fa fa-tags" aria-hidden="true"></i></a>
																											</div>
																							</div>
																				</div>
                 {% endfor %}
              </div>
											{% endfor %}
										</div>
	{% endfor %}
</div>
</div>
