 {% load i18n laboratory %}
 {% load static %}

 {% if perms.laboratory.add_shelfobject or perms.laboratory.change_shelfobject %}
	 <form data-ajax-submit="" onsubmit="return false;" method="post"
			{% if insearch %}
				action="{% url 'laboratory:shelfobject_searchupdate' lab_pk=laboratory pk=form.instance.pk org_pk=org_pk %}"
			{% else %}
				data-success="processResponseshelfobject"
				action="{%if not form.instance.pk %}{% url 'laboratory:shelfobject_create' lab_pk=laboratory org_pk=org_pk %}{%else%}{% url 'laboratory:shelfobject_edit' lab_pk=laboratory pk=object.pk org_pk=org_pk %}{% endif %}"
			{% endif %} >
		
		<div class="modal-body">
		  {% csrf_token %}
		  {{ form.as_horizontal }}

			<div class="modal-footer">
				{%if not form.instance.pk %}<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans 'Close' %}</button>{%endif%}
				<button type="submit" class="btn btn-primary">{% trans 'Save changes' %}</button>
			</div>
			{% if q %}
				<input type="hidden" name="q" value="{{q}}" />
			{% endif %}
	</form>
 	<script>delete window.autocompleteselect2;</script>
 	<script>
		if($("#shelfobjectCreate").length>0) {
			document.formset.push(gt_find_initialize($("#shelfobjectCreate")));
		}
		if($("#shelfobjectUpdate").length>0) {
			document.formset.push(gt_find_initialize($("#shelfobjectUpdate")));
		}
	</script>
{% else %} 
	{% include 'laboratory/action_denied.html' %}  	
{% endif %}
  
  





 



