{% load i18n laboratory %}

{% if perms.laboratory.view_shelfobject %}
	<div class="card" style="margin-top:3.3rem">
		<div class="card-header">{% trans 'Shelves' %}</div>
		<div class="card-body">
			<div class="table-responsive">
				<table class="table table-bordered">
					{% for row in object_list %}
						<tr>
							{% for col in row%}
								<td >
									{% if col%}
										{% for data in col %}
									<div style="background-color: {{data.color }};">
											{% if perms.laboratory.add_shelfobject %}
												<a data-ajax="true" data-success="processResponseshelfobjectCreate" href="{% url 'laboratory:shelfobject_create' org_pk=org_pk lab_pk=laboratory %}?shelf={{data.pk}}&row={{forloop.parentloop.parentloop.counter0}}&col={{forloop.parentloop.counter0}}">
													<i class="fa fa-plus" aria-hidden="true"></i>
												</a>
											{% endif %}
											<a id="shelf_view_{{data.pk}}" role="button" data-bs-toggle="collapse" href="#body_{{data.pk}}" aria-expanded="false" aria-controls="collapseExample">
												<i class="fa fa-eye" aria-hidden="true"></i>
											</a>
											<span > {{data.name}} </span>
											<div class="collapse" id="body_{{data.pk}}">
												<div style="opacity: 0.8;" id="row_{{forloop.parentloop.parentloop.counter0}}_col_{{forloop.parentloop.counter0}}_shelf_{{data.pk}}">
													{% include 'laboratory/shelfObject_list.html' with col=forloop.parentloop.counter0 row=forloop.parentloop.parentloop.counter0 %}
												</div>
											</div> 
											{% if not forloop.last %}<hr>{% endif %}
										</div>
										{% endfor %}
									{% endif %}
								</td>
							{% endfor %}
						</tr>
					{% endfor %}
				</table>
			</div>
		</div>
	</div>
	<div id="closemodal"></div>
{% endif %}
