{% load shelf_position i18n laboratory %}

<form data-ajax-submit="" onsubmit="return false;" data-success="function(){return true;}"
		action="{% if form.instance.pk is None %}{% url 'laboratory:shelf_create' org_pk laboratory %}{%else%}{% url 'laboratory:shelf_edit' laboratory form.instance.pk form.row.value form.col.value %}{%endif%}" method="post">
	<div class="modal-body">
		{% if form.errors %}
		<div class="alert alert-warning">
			{{form.errors}}
		</div>
		{% endif %}
		
		{% csrf_token %}
		{{ form.as_horizontal }}
	</div>
	
	<div class="modal-footer">
        <button type="button" class="btn btn-default cdismiss" data-bs-dismiss="modal">{% trans 'Close' %}</button>
        {% if perms.laboratory.change_shelf or perms.laboratory.add_shelf %}
          	<button type="submit" class="btn btn-primary" > {% trans 'Save' %} </button>
        {% endif  %}
	</div>
</form>
