{% load laboratory i18n %}
{% load static %}
<div style="background-image: url({% static 'img/logo_organilab.png' %}) no-repeat 0 0;"></div>
<ul class="list-group">
    {% if perms.laboratory.view_shelfobject %}
    {% for shelfobject in data.shelfobject_set.all %}
    <li class="list-group-item">
        <label> {% if shelfobject.marked_as_discard %} <i class="fa fa-trash text-danger" aria-hidden="true"></i>{% endif %}
            <a id="shelfobject_view_{{shelfobject.pk}}" href="{% url 'laboratory:shelfobject_detail' lab_pk=laboratory pk=shelfobject.pk org_pk=org_pk  %}"
               data-ajax="true" data-success="displayShelfobjectFunction" >
            <i class="fa fa-eye text-success" aria-hidden="true"></i></a>
        {{ shelfobject.object.code }}
        {{ shelfobject.object.name }}
        {{ shelfobject.quantity }}
        {{ shelfobject.get_measurement_unit_display }}</label>
        {% if perms.laboratory.delete_shelfobject %}
        <a class="float-end" data-ajax="true"
           data-success="processResponseshelfobjectDelete"
           href="{% url 'laboratory:shelfobject_delete' lab_pk=laboratory pk=shelfobject.pk org_pk=org_pk %}?shelf={{ data.pk }}&row={{ row }}&col={{ col }}"
           style="margin-left: 10px; color:red">
           <i class="fa fa-close" aria-hidden="true"></i> </a>
        {% endif %}

        {% if perms.laboratory.do_report %}
        <a class="float-end" href="{% url 'laboratory:reports_shelf_objects' lab_pk=laboratory org_pk=org_pk pk=shelfobject.pk %}"
           style="margin-right: 10px;">
           <i class="fa fa-download" aria-hidden="true"></i>
        </a>
        {% endif %}
        {% if perms.reservations_management.add_reservedproducts %}
        <a class="float-end"
           data-bs-toggle="modal"
           data-bs-target="#modal_reservation"
           style="margin-right: 10px;" onclick="initialize_reservation_modal(this,{{shelfobject.pk}},{{ shelfobject.object.pk}}, {{request.user.id}},'{{shelfobject.get_measurement_unit_display}}','{{shelfobject.shelf.discard}}')">
            <i class="fa fa-book" aria-hidden="true" title="{% trans 'Reserve/Add/Transfer/Substract' %}"></i>
        </a>
        {% endif %}
    </li>
    {% endfor %}
    {% endif %}
</ul>