{% load laboratory i18n %}
{%  has_perms "laboratory.view_shelfobject" as perm_shelfobject %}
{%  has_perms "laboratory.delete_shelfobject" as perm_delete_shelfobject %}
{%  has_perms "laboratory.change_shelfobject" as perm_change_shelfobject %}
{%  has_perms "laboratory.do_report" as perm_do_report %}
.{%  has_perms "reservations.add_reservation" as perm_add_reservation %}


<ul class="list-group">
    {% if perm_shelfobject %}
    {% for shelfobject in data.shelfobject_set.all %}
    <li class="list-group-item">
        {{ shelfobject.object.code }}
        {{ shelfobject.object.name }}
        {{ shelfobject.quantity }}
        {{ shelfobject.get_measurement_unit_display }}
        {% if perm_delete_shelfobject %}
        <a class="pull-right" data-ajax="true"
           data-success="processResponseshelfobjectDelete"
           href="{% url 'laboratory:shelfobject_delete' laboratory shelfobject.pk %}?shelf={{ data.pk }}&row={{ row }}&col={{ col }}"
           style="margin-left: 10px; color:red">
            <span aria-hidden="true" class="glyphicon glyphicon-trash"></span> </a>
        {% endif %}
        {% if perm_change_shelfobject %}
        <a class="pull-right"
           data-ajax="true"
           data-success="processResponseshelfobjectUpdate"
           href="{% url 'laboratory:shelfobject_edit' laboratory shelfobject.pk %}?shelf={{ data.pk }}&row={{ row }}&col={{ col }}">
            <span aria-hidden="true" class="glyphicon glyphicon-pencil"></span> </a>
        {% endif %}
        {% if perm_do_report %}
        <a class=" pull-right" href="{% url 'laboratory:reports_shelf_objects' laboratory %}?pk={{ shelfobject.pk }}"
           style="margin-right: 10px;">
            <span aria-hidden="true" class="glyphicon glyphicon-download-alt"></span>
        </a>
        {% endif %}
        {% if perm_add_reservation %}
        <a class="pull-right"
           data-toggle="modal"
           data-target="#model_reservation_form"
           style="margin-right: 10px;" onclick="reserve_product({{shelfobject.pk}})">
            <span aria-hidden="true" class="glyphicon glyphicon-book" title="{% trans 'Reserve' %}"></span>
        </a>
        {% endif %}
    </li>
    {% endfor %}
    {% endif %}
</ul>