{% load i18n laboratory %}
{% load gtpermissions %}
{% any_permission_required 'laboratory.can_manage_disposal' 'laboratory.can_add_disposal' 'laboratory.can_view_disposal' as anyperm %}
{% if perms.laboratory.view_shelfobject %}
	<div class="card" style="margin-top:3.3rem">
		<div class="card-header">{% trans 'Shelves' %}    <div class="float-end">   {% get_qr_svg_img furniture width="32px" %}</div></div>
		<div class="card-body">
			<div class="table-responsive">
				<table class="table table-bordered">
					{% for row in object_list %}
						<tr>
							{% for col in row %}
								<td >
									{% if col %}
										{% for data in col %}

											{% if data.discard %}
													{% if anyperm %}
														{% include 'laboratory/components/shelf_list_discard.html' with col=forloop.parentloop.counter0 row=forloop.parentloop.parentloop.counter0 data=data anyperm=anyperm %}
													{% endif %}
											{% else %}
													{% include 'laboratory/components/shelf_list.html' with col=forloop.parentloop.counter0 row=forloop.parentloop.parentloop.counter0 data=data %}
											{% endif %}
										{% endfor %}
									{% endif %}
								</td>
							{% endfor %}
						</tr>
					{% endfor %}
				</table>
			</div>
		</div>
	</div>
	<div id="closemodal"></div>
{% endif %}
