{% extends 'base.html' %}
{% load i18n laboratory %}

{% block title %}{% trans 'Dissolution list' %}{% endblock %}

{% block content %}
{%  has_perms "laboratory.view_solution" as perm_solution %}

 {% if perm_solution%}
	  <a class="btn btn-info"
	     href="{% url 'laboratory:solution_calculator' lab_pk %}">
	    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> {% trans 'Calculate new dissolution' %} </a>
	
	  <br><br>
	  <ul class="list-group">
	    {% for object in object_list %}
	      <li class="row list-group-item">
	        <div class="col-md-9"> {{ object }}</div>
	        <div class="col-md-3 text-right">
	          <a class="btn btn-success" href="{% url 'laboratory:solution_detail' lab_pk object.pk %}">
	            <span class="glyphicon glyphicon-check" aria-hidden="true"></span> {% trans 'Check dissolution' %}
	          </a>
	        </div>
	      </li>
	    {% empty %}
	      <li class="row list-group-item">{% trans 'No solutions yet' %}</li>
	    {% endfor %}
	  </ul>
 {% endif %}  
{% endblock %}