{% extends 'base.html' %}
{% load static i18n gtsettings %}
{% load i18n laboratory %}
{% load urlname_tags %}
{% load organilab_tags %}
{% block title %}{% trans 'My Transfers' %}{% endblock %}
{% block pre_head %}
    {% define_true 'use_datatables' %}
    {% define_urlname_action 'update_transfer' %}
    {% define_urlname_action 'transfer_objects' %}
    {% define_urlname_action 'delete_transfer' %}
    {% define_urlname_action 'get_shelfs' %}
{% endblock %}
{% block content %}

{% include 'laboratory/transfer_object_modal.html' %}
    <div class="offset-md-2 col-md-8">
            <div class="page-header" align="center">
              <h3 class="heading-1" ><span> {% trans 'Transfer of objects' %}  </span></h3>
            </div>
    </div>
    <table id="table_id" class="display table table-striped table-bordered text-center" style="width:100%">
        <thead>
            <tr>
                <th>{% trans 'Object' %}</th>
                <th>{% trans 'Amount' %}</th>
                <th>{% trans 'Laboratory send' %}</th>
                <th>{% trans 'Laboratory received' %}</th>
                <th>{% trans 'Date' %}</th>
                <th>{% trans 'Status' %}</th>
                <th>{% trans 'Action' %}</th>
            </tr>
        </thead>
        <tbody>
        {% for obj in object_list%}
            <tr id="table_data">
                <td>{{obj.object.object}}</td>
                <td>{{obj.quantity}}  {{obj.object.measurement_unit}}</td>
                <td>{{obj.laboratory_send}}</td>
                <td>{{obj.laboratory_received}}</td>
                <td>{{obj.update_time}}</td>
                <td>{{obj.get_status_display}}</td>
                <td>{% if laboratory|to_int == obj.laboratory_received.pk and obj.status == 0 %}
                        <button data-bs-toggle="modal" class="btn btn-success"
                                data-bs-target="#add_tranfer_object"
                                aria-label="{% trans 'add' %}" type="button" onclick="init_add_object({{obj.id}},{{obj.object.pk}},'{{obj.object.object.name}}',{{obj.laboratory_received.pk}}, this)"
                                data-url="{% url 'laboratory:update_transfer' org_pk laboratory obj.pk 0 %}">
                            <i class="fa fa-check-circle" aria-hidden="true"></i>
                        </button>
                    {% endif %}
                    {% if obj.status == 0  and perms.laboratory.delete_tranferobject %}
                        <button class="btn btn-danger"  onclick="delete_transfer({{obj.id}})">
                           <i class="fa fa-trash" aria-hidden="true"></i>
                        </button>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% include 'laboratory/transfer_object_modal.html' %}
{% endblock %}

{% block js %}
{{block.super}}
<script>
     document.get_shelfs = '{% url "laboratory:get_shelfs" %}';
     document.remove_transfer = '{% url "laboratory:delete_transfer" laboratory %}';
     (function(){
    $("#table_id").DataTable({responsive: true });
    })(jQuery);
    $('#shelf_list').select2({
        dropdownParent: $('#add_tranfer_object')
    })
</script>
<script src="{% static 'js/transfer_objects.js' %}?v={% get_organilab_version %}"></script>
{% endblock %}
