{% extends 'base.html' %}
{% load static i18n gtsettings %}
{% load urlname_tags %}
{% block pre_head %}
    {% define_true  "use_datatables" %}
{% define_urlname_action 'protocol_list' %}
	{% define_urlname_action 'protocols_list' %}
{% define_urlname_action 'protocol_delete' %}
{% endblock %}
{% block content %}
<style>
    .link {
        font-size: 1.5em;
        color: #198754;
    }
</style>
<h4 class="text-center">  {% trans 'Search Protocol' %}
  {% if perms.laboratory.add_protocol %}
        <a class="btn btn-outline-success float-end" href="{% url 'laboratory:protocol_create' lab_pk %}">
        {% trans 'Upload your Protocol' %}
        </a>
  {% endif %}
</h4>

<table id="protocolTable" class="display">
</table>

{% endblock %}
{% block js %}
<script>

function get_columns_protocol(){
    var columns = [
        {data: "name", name: "name", title: "{% trans 'Name' %}", type: "string", visible: true},
        {data: "short_description", name: "product", title: "{% trans 'Short Description' %}", type: "string", visible: true},
        {data: "file", name: "file", title: "{% trans 'Download' %}", type: "string", visible: true, render: objshowlink},
        {data: "action", name: "action", title: "{% trans 'Action' %}", type: "string", visible: true}
    ];
    return columns;
}

$(document).ready(function() {
   document.protocolTable=createDataTable("#protocolTable", "{% url 'laboratory:api-protocol-list' %}",{
          'columns': get_columns_protocol(),
          ajax: {
            url: "{% url 'laboratory:api-protocol-list' %}",
            type: 'GET',
            data: function(dataTableParams, settings) {
                var data = formatDataTableParams(dataTableParams, settings);
                data['lab_pk']={{lab_pk}};
                return data;
            }
        }
    });
} );
</script>
{% endblock %}