{% load static i18n %}
<label class="fw-bold">{% trans 'SECTION' %} 10: {% trans 'Stability and Reactivity' %}</label>
<br>
<label class="fw-bold">10.1 {% trans 'Reactivity' %}</label>
<div class="container">
    <label>{% if leaf.reactivity %} {{leaf.reactivity }} {% else %} {% trans 'no data available' %} {% endif %}</label>
</div>
<label class="fw-bold">10.2 {% trans 'Chemical stability' %}</label>
<div class="container">
    <label>{% if leaf.chemical_stability %} {{leaf.chemical_stability }} {% else %} {% trans 'no data available' %} {% endif %}</label>
</div>
<label class="fw-bold">10.3 {% trans 'Possibility of hazardous reactions' %}</label>
<div class="container">
    <label>{% if leaf.dangerous_reactions %} {{leaf.dangerous_reactions }} {% else %} {% trans 'no data available' %} {% endif %}</label>
</div>
<label class="fw-bold">10.4 {% trans 'Conditions to avoid' %}</label>
<div class="container">
    <label>{% if leaf.conditions_avoid %} {{leaf.conditions_avoid }} {% else %} {% trans 'no data available' %} {% endif %}</label>
</div>
<label class="fw-bold">10.5 {% trans 'Incompatible materials' %}</label>
<div class="container">
    <label>{% if leaf.incompatible_materials %} {{leaf.incompatible_materials }} {% else %} {% trans 'no data available' %} {% endif %}</label>
</div>
<label class="fw-bold">10.6 {% trans 'Hazardous decomposition products' %}</label>
<div class="container">
    <label>{% if leaf.dangerous_decomposition_products %} {{leaf.dangerous_decomposition_products }} {% else %} {% trans 'no data available' %} {% endif %}</label>
</div>
<hr>