{% load static i18n %}
<label class="fw-bold">{% trans 'SECTION 5: Fire Fighting Measures' %}</label>
<br>
<label class="fw-bold">5.1 {% trans 'Extinguishing media' %}</label>
<div class="container">
    <label class="fw-bold">{% trans 'Suitable extinguishing media' %}</label>
    <br>
    <label>{% if leaf.appropriate%} {{leaf.appropriate}} {% else %} {% trans 'no data available' %} {% endif %} </label>
    <br>
    <label class="fw-bold">{% trans 'Unsuitable extinguishing media' %}</label>
    <br>
    <label>{% if leaf.no_appropriate%} {{leaf.no_appropriate}} {% else %} {% trans 'no data available' %} {% endif %} </label>
</div>
<br>
<label class="fw-bold">5.2 {% trans 'Specific hazards arising from the substance or mixture' %}</label>
<br>
<div class="container">
    <label>{% if leaf.specific_dangers %} {{leaf.specific_dangers}} {% else %} {% trans 'no data available' %} {% endif %} </label>
    <br>
    <label class="fw-bold">{% trans 'Hazardous Combustion Products' %}</label>
    <br>
    <label>{% if leaf.combustion_products%} {{leaf.combustion_products}} {% else %} {% trans 'no data available' %} {% endif %} </label>
    <br>
</div>

<label class="fw-bold">5.3 {% trans 'Recommendations for firefighters' %}</label>
<br>
<div class="container">
    <label>{% if leaf.recomendations %} {{leaf.recomendations}} {% else %} {% trans 'no data available' %} {% endif %} </label>
</div>
<br>
<label class="fw-bold">5.4 {% trans 'Other Information' %}</label>
<br>
<div class="container">
    <label>{% if leaf.other_info %} {{leaf.other_info}} {% else %} {% trans 'no data available' %} {% endif %} </label>
    <br>
</div>
<hr>