{% load static i18n %}
<label class="fw-bold">{% trans 'SECTION' %} 15: {% trans 'Regulatory information' %}</label>
<div class="container">
    <label class="fw-bold">15.1 {% trans 'Regulations and legislation on safety, health and the environment specific to the substance or mixture' %}</label>
    <br>
    <label>{% if leaf.regulations_legislation %} {{leaf.regulations_legislation }} {% else %} {% trans 'no data available' %} {% endif %}</label>
    <br>
    <label class="fw-bold">15.2 {% trans 'Chemical Safety Assessment' %}</label>
</div>
<hr>