{% load i18n %}
<p>{% trans 'Hi,' %}</p>
<br>
<p>{% trans 'You have received this email because you are in charge of a laboratory in the Organilab system.' %}</p>
<p>{% trans 'This message is to notify you that one of the shelf objects of your laboratory has reached its limit' %}</p>

<h4>{% trans 'This are the details of the product:' %}</h4>

<strong>{% trans 'Shelf:' %}</strong> {{ shelf_object.shelf }}
<strong>{% trans 'Object:' %}</strong> {{ shelf_object.object }}
<strong>{% trans 'Material quantity:' %}</strong> {{ shelf_object.quantity }}
<strong>{% trans 'Limit material quantity:' %}</strong> {{ shelf_object.limit_quantity }}
<strong>{% trans 'Measurement unit:' %}</strong> {{ shelf_object.measurement_unit }}

<br><br>
<p>{% trans 'Please refill this product or contact the people that reserved it to balance the current quantity.' %}</p>
<p>
{% trans "If you don't want to recieve notifications of this object, please use" %}<a href="{{domain}}" >
	{% trans 'this link' %}</a>.
</p>
<p>
{% blocktrans %}if your email service block links then copy and paste this url in a new tab{% endblocktrans %}
<br> {{domain}}</p>
</p>
<br>
{% trans 'Thanks,' %}
<br> <br>
{% trans 'Organilab system' %}
