{% extends 'base.html' %}
{% load static i18n gtsettings %}
{% load urlname_tags %}
{% block pre_head %}
    {% define_true  "use_datatables" %}
{% define_urlname_action 'manage_register_user_qrcode' %}
{% endblock %}
{% block content %}

<table id="logEntryTable" class="display table dataTable no-footer dtr-inline"></table>

{% endblock %}
{% block js %}
<script>

function get_columns_logentry(){
    var columns = [
        {data: "action_time", name: "action_time", title: "{% trans 'Date' %}", type: "date", visible: true},
        {data: "user", name: "user", title: "{% trans 'User' %}", type: "string", visible: true},
        {data: "action_flag", name: "action_flag", title: "{% trans 'Action' %}", type: "select",  choices: [
        [1, "{% trans "Register" %}"],
        [2, "{% trans "Login" %}"]
        ], visible: true},
    ];
    return columns;
}

$(document).ready(function() {
document.table_default_dom = "<'row'<'col-sm-6 col-md-6 p-0' f>" +
             "<'col-sm-11 col-md-11 mt-1 p-0 d-flex align-items-center justify-content-start'l>" +
             "<'col-sm-1 col-md-1 mt-1 d-flex align-items-center justify-content-end 'B>>" +
             "<'row'<'col-sm-12'tr>><'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>";

   document.protocolTable=createDataTable("#logEntryTable", "{% url 'laboratory:api-logentry-list' %}", {
          'columns': get_columns_logentry(),
          ajax: {
            url: "{% url 'laboratory:api-logentry-list' %}",
            type: 'GET',
            data: function(dataTableParams, settings) {
                var data = formatDataTableParams(dataTableParams, settings);
                data['qr_obj']="{{qr_obj}}";
                return data;
            }
        }
    }, addfilter=true);
} );
</script>
{% endblock %}
