{% extends 'base.html' %}
{% load static i18n %}
{% block title %}{% trans 'Register User' %}{% endblock %}
{% block content_block_wrap %}{% endblock %}
{% block body_class %}login{% endblock body_class %}
{% block body %}
<div class="container">
    <div class="row">
        <div class='col-md-6'>
            <form action="{% url 'laboratory:create_user_qr' org_pk lab_pk %}" method="POST">
                {% csrf_token %}
                <h2 class="text-center" style="margin-bottom: 10%;"> {% trans 'Register User' %} </h2>
                {{ register_form.as_horizontal }}
                <div class="form-group">
                    <input type="submit" class="btn btn-success text-center" value="{% trans 'Save' %}"/>
                </div>
            </form>
        </div>
        <div class='col-md-6'>
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}">
                <h2 class="text-center" style="margin-bottom: 10%;"> {% trans 'Login' %} </h2>
                <div>
                    {% if login_form.errors %}
                    <p class="text-warning">{% trans "Your username and password didn't match. Please try again." %}</p>
                    {% endif %}

                    {% if next %}
                        {% if user.is_authenticated %}
                        <p>{% blocktrans %}Your account doesn't have access to this page. To proceed,
                        please login with an account that has access.{% endblocktrans %}</p>
                        {% else %}
                        <p class="text-warning">{% trans "Please login to see this page." %}</p>
                        {% endif %}
                    {% endif %}

                </div>
                {{login_form.as_horizontal}}
                <div class="form-group">
                    <input type="submit" class="btn btn-success text-center" value="{% trans 'Log in' %}"/>
                </div>
            </form>
        </div>
    </div>
    <div class="clearfix"></div>
    <footer class="vertical-bottom footer_nosidebar" style="top: 90%;">
          {% include "gentelella/app/footer.html" %}
    </footer>
</div>
{% endblock %}