{% extends 'base.html' %}
{% load i18n laboratory %}
{% load urlname_tags %}
{% block pre_head %}
	{% define_urlname_action 'manage_register_user_qrcode' %}
{% endblock %}
{% block title %}{% trans 'Manage QR Code' %}{% endblock %}

{% block content %}

<div class="container">
    <form action="" method="POST">
        {% csrf_token %}
        <div class="row">
            <div class='{% if obj %}col-md-6{% else %}col-md-6 offset-md-3{% endif %}'>
                <h2 class="text-center"> {% if obj %}{% trans 'Edit Register QR' %}{% else %}{% trans 'Create Register QR' %}{% endif %} </h2>
                {{ form.as_horizontal }}
                <div class="form-group row justify-content-end">
                    <div class="col-4">
                        <input type="submit" class="btn btn-success" value="{% trans 'Save' %}"/>
                    </div>
                </div>
            </div>
            {% if obj %}
                <div class='col-md-6'>
                    <img src="{{obj.register_user_qr.url}}" alt="">
                </div>
            {% endif %}
        </div>
    </form>

</div>
{% endblock %}
{% block css %}
<style>
    form h2 {
        margin-bottom: 10%;
    }
    form .form-group input.btn {
    float: right;
    margin-right: -1%;
    }
    img {
        width: 60%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
</style>
{% endblock %}