{% extends 'base.html' %}
{% load static i18n %}
{% load gtsettings %}
{% load urlname_tags %}
{% block pre_head %}
	{% define_urlname_action 'manage_register_user_qrcode' %}
{% endblock %}

{% block title %}{% trans 'Register User QR Code List' %}{% endblock %}

{% block content %}
        <div class="float-end">
            <div class="btn-group btn-group-sm" role="group" aria-label="Button actions">

        {% if perms.laboratory.add_registeruserqr %}
                <a title="{% trans 'Add Register User' %}" href="{% url 'laboratory:manage_register_qr' org_pk laboratory 0 %}"
                        class="btn btn-outline-primary" >{% trans 'Add Register User' %}</a>
        {% endif %}
            </div>
        </div>
<div class="card-title titles">
    <div class="row" >

        <div class="col-md-6" >
            <h1 >
                {% trans 'Register User QR Code' %}
            </h1>
        </div>

    </div>
</div>
<br>

<div align="center">
    <div id="forms" style="width: 90%;">
        {% csrf_token %}
        <table class="table table-hover table" id="form_table">
            <thead>
            <tr>
                <th>
                    {% trans 'Creation Date' %}
                </th>
                <th>
                    {% trans 'Last Update' %}
                </th>
                <th>
                    {% trans 'Created by' %}
                </th>
                <th>
                    {% trans 'Organization register' %}
                </th>

                <th>
                    &nbsp;
                </th>
            </tr>
            </thead>
            <tbody>

            {% for obj in object_list %}
            <tr>
                <td>
                    {{obj.creation_date}}
                </td>
                <td>
                    {{obj.last_update}}
                </td>
                <td>
                    {% if obj.created_by.get_full_name %}{{ obj.created_by.get_full_name }}{% else %}{{ obj.created_by.username }}{% endif %}
                </td>
                <td>
                    {{obj.organization_register.name}}
                </td>

                <td style="width: 120px">
                    <a title="{% trans 'Download' %}" class="btn btn-sm btn-outline-info" href="{% url 'laboratory:get_pdf_register_user_qr' org_pk laboratory %}"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
                    <a title="{% trans 'Edit' %}" class="btn btn-sm btn-outline-warning" href="{% url 'laboratory:manage_register_qr' org_pk laboratory obj.pk %}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                    <a title="{% trans 'Delete' %}" class="btn btn-sm btn-outline-danger" href="{% url 'laboratory:delete_register_qr' org_pk laboratory obj.pk %}"><i class="fa fa-trash-o" aria-hidden="true"></i></a>

                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}


{% block js %}
<script>
</script>
{% endblock %}