ul, #ullabroom {
  list-style-type: none;
}

#ullabroom {
  margin: 0;
  padding: 0;
}

.box {
  cursor: pointer;
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
}

.box::before {
  content: "\2610";
  color: black;
  display: inline-block;
  margin-right: 4px;
}

.check-box::before {
  content: "\2611";
  color: dodgerblue;
}

.nested {
  display: none;
}

.active {
  display: block;
}

.laboratoryfilter{
    max-height: 300px;
    overflow: scroll;
    background-color: #e9ecef;
   border-radius: 0% 0% 5% 5%;
}
.nomargin{
    margin-bottom: 0px;
}

#shelfobjecttable_filter{
    display: none;
}

.shelfobject_list_elem{
    padding: 0;
}

.shelfobject_titles{
    font-weight: bold;
}

