ul, #ullabroom {
  list-style-type: none;
}

#ullabroom {
  margin: 0;
  padding: 0;
}

.box {
  cursor: pointer;
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
}

.box::before {
  content: "\2610";
  color: black;
  display: inline-block;
  margin-right: 4px;
}

.check-box::before {
  content: "\2611";
  color: dodgerblue;
}

.nested {
  display: none;
}

.active {
  display: block;
}

.laboratoryfilter{
    max-height: 300px;
    overflow: scroll;
    background-color: #e9ecef;
   border-radius: 0% 0% 5% 5%;
}
.nomargin{
    margin-bottom: 0px;
}


.shelfobject_list_elem{
    padding: 0;
    list-style-type: square;
}

.shelfobject_titles{
    font-weight: bold;
}

#detail_modal_container{
    margin: 0;
}

.qr_img{
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div.representation_obj{
    height: 12px;
    width: 12px;
    display: inline-block;
    border-radius: 6px;
}

div.labroom_color{
    background-color: #b8e4ff;
}

div.furniture_color{
    background-color: #ff85d5;
}

div.shelf_color{
    background-color: #ffe180;
}

div.shelfobject_color{
    background-color: #95fab9;
}

div.object_color{
    background-color: #f4fab4;
}

ul.colors_list {
    text-align: left;
    margin-left: 0%;
    padding-left: 0%;
}

.alert {
    color: #5A738E;
    background-color: #e9ecef;
}

.shelfinfocontainer .card{
    border-color: #dee2e6;
}
