{% load i18n %}

{% if perms.ambiental.view_measurementpoint or perms.ambiental.view_consumptionrecord or perms.ambiental.view_normalizationbase %}
	<li>
		<a>
			<i class="fa fa-leaf" aria-hidden="true"></i>
			{% trans 'Environmental management' %}
			<span class="fa fa-chevron-down"></span>
		</a>
		<ul class="nav child_menu">
			{% if perms.ambiental.view_consumptionrecord %}
				<li>
					<a href="{% url 'ambiental:consumptionrecord_list' org_pk %}"
						title="{% trans 'Consumption records' %}">
						<i class="fa fa-tint" aria-hidden="true"></i>
						{% trans 'Consumption records' %}</a>
				</li>
			{% endif %}
			{% if perms.ambiental.view_measurementpoint %}
				<li>
					<a href="{% url 'ambiental:measurementpoint_list' org_pk %}"
						title="{% trans 'Measurement points' %}">
						<i class="fa fa-tachometer" aria-hidden="true"></i>
						{% trans 'Measurement points' %}</a>
				</li>
			{% endif %}
			{% if perms.ambiental.view_normalizationbase %}
				<li>
					<a href="{% url 'ambiental:normalizationbase_list' org_pk %}"
						title="{% trans 'Normalization bases' %}">
						<i class="fa fa-balance-scale" aria-hidden="true"></i>
						{% trans 'Normalization bases' %}</a>
				</li>
			{% endif %}
			{% if perms.ambiental.view_consumptionrecord and perms.laboratory.do_report %}
				<li>
					<a href="{% url 'ambiental:report_consumption_detail' org_pk %}"
						title="{% trans 'Consumption detail report' %}">
						<i class="fa fa-file-text" aria-hidden="true"></i>
						{% trans 'Consumption detail report' %}</a>
				</li>
				<li>
					<a href="{% url 'ambiental:report_consumption_summary' org_pk %}"
						title="{% trans 'Consumption summary report' %}">
						<i class="fa fa-file-text" aria-hidden="true"></i>
						{% trans 'Consumption summary report' %}</a>
				</li>
				<li>
					<a href="{% url 'ambiental:report_consumption_cost' org_pk %}"
						title="{% trans 'Consumption cost report' %}">
						<i class="fa fa-money" aria-hidden="true"></i>
						{% trans 'Consumption cost report' %}</a>
				</li>
			{% endif %}
		</ul>
	</li>
{% endif %}
