{% load i18n %}

{% if perms.derb.add_customform or perms.academic.view_procedure %}
    <li>
        <a>
                <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
                {% trans 'Reports Informs and Procedures' %}
            <span class="fa fa-chevron-down"></span>
        </a>
        <ul class="nav child_menu">
            <li>
    <a class="nav-link" href="{% url 'laboratory:reports' org_pk %}"
        title="{% trans 'Report List' %}">
            <i class="fa fa-child"></i>
            {% trans 'Report List' %}
                </a>
            </li>
									{% if perms.derb.add_customform %}
            <li>
                <a class="nav-link" href="{% url 'derb:form_list' org_pk %}"  title="{% trans 'Report List' %}">
            <i class="fa fa-child"></i>
            {% trans 'Inform template' %}
                </a>
            </li>
									{% endif %}
              {% if perms.academic.view_procedure %}
                <li class="list-group-item">
                  <a href="{% url 'academic:procedure_list' org_pk=org_pk %}">
                    <i class="fa fa-list-alt" aria-hidden="true"></i> {% trans 'Procedure templates' %}
                  </a>
                </li>
														{% endif %}

								</ul>
    </li>
{% endif %}

