{% load i18n laboratory %}

{% if laboratory %}
  <div class="menu_section">
    <h3>{% trans 'Laboratory' %}</h3>
    <ul class="nav side-menu">
      {% if laboratory.view_laboratoryroom %}
        <li>
          <a href="{% url 'laboratory:rooms_list' laboratory %}">
          <strong>{% trans 'Laboratory view' %}</strong></a>
        </li>
      {% endif %}
      {% if academic.view_procedure %}
        <li >
          <a href="{% url 'academic_procedure_list' %}">{% trans 'Procedures' %}</a>
        </li>
      {% endif %}
      {% if laboratory.change_laboratory %}
        <li>
          <a href="{% url 'laboratory:laboratory_update' laboratory %}">
            {% trans 'Edit laboratory' %}
          </a>
        </li>
      {% endif %}
    </ul>
  </div>
{% endif %}