{% load i18n  %}

{% if perms.risk_management.view_riskzone %}
<li>
<a>
    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>

    {% trans 'Risk Management' %}
    <span class="fa fa-chevron-down"></span>
</a>
<ul class="nav child_menu">
    <li>
        <a href="{% url 'riskmanagement:riskzone_list' org_pk %}">
            {% trans 'Risk zones' %}</a>
    </li>
    <li><a id='reports' href="{% url 'laboratory:h_code_reports' %}"
           title="{% trans 'Report View' %}">
        {% trans 'H code Reports' %}</a>
    </li>
</ul>
</li>
{% endif %}