{% load i18n  %}

{% if perms.risk_management.view_riskzone %}
<li>
<a>
    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>

    {% trans 'Risk Management' %}
    <span class="fa fa-chevron-down"></span>
</a>
<ul class="nav child_menu">
    <li>
        <a href="{% url 'riskmanagement:riskzone_list' org_pk %}">
            {% trans 'Risk zones' %}</a>
    </li>
    <li><a id='reports' href="{% url 'laboratory:h_code_reports' org_pk %}"
           title="{% trans 'Report View' %}">
        {% trans 'H code Reports' %}</a>
    </li>
	{% if perms.risk_management.view_buildings %}

	    <li><a href="{% url 'riskmanagement:buildings_list' org_pk %}"
           title="{% trans 'Manage buildings' %}">
        {% trans 'Manage buildings' %}</a>
    </li>
	{% endif %}

	{% if perms.risk_management.view_structure %}
	<li><a href="{% url 'riskmanagement:structures_list' org_pk %}"
           title="{% trans 'Manage structure' %}">
        {% trans 'Manage structure' %}</a>
</li>
	{% endif %}

	{% if perms.risk_management.view_regent %}
	    <li><a href="{% url 'riskmanagement:regents' org_pk %}"
           title="{% trans 'Manage regents' %}">
        {% trans 'Manage regents' %}</a>
    </li>
	{% endif %}
	<li><a href="{% url 'riskmanagement:zone_dashboard' org_pk %}"
								title="{% trans 'Dashboard' %}">
		{% trans 'Dashboard' %}</a>
	</li>
</ul>

</li>
{% endif %}
