{% load i18n %}
{% if perms.sga.view_label and perms.auth_and_perms.institution_can_access %}

<li>
    <a>
        <i class="fa fa-tag"></i>
        {% trans 'SGA' %}
        <span class="fa fa-chevron-down">
    </span>
    </a>
    <ul class="nav child_menu">
						{% if perms.sga.add_sustancecharacteristics %}
        <li>
            <a href="{% url 'sga:create_sustance' org_pk=org_pk %}">
                {% trans 'Create Substances' %}
            </a>
        </li>
					{% endif %}
					{% if perms.sga.view_substance %}
        <li>
            <a href="{% url 'sga:get_substance' org_pk=org_pk %}">
                {% trans 'My Substances' %}
            </a>
        </li>
					{% endif %}

					{% if perms.sga.change_substance %}
        <li>
            <a href="{% url 'sga:approved_substance' org_pk=org_pk %}">
                {% trans 'Check of Substances' %}
            </a>
        </li>
					{% endif %}

    </ul>

</li>

{% endif %}
