{% load i18n %}
{% if perms.sga.view_label %}
<li>
    <a>
        <i class="fa fa-tags"></i>
        {% trans 'SGA Components' %}
        <span class="fa fa-chevron-down">
    </span>
    </a>
    <ul class="nav child_menu">
        <li>
            <a href="{% url 'academic:warning_words' org_pk %}">
                {% trans 'Warning Words' %}
            </a>
        </li>
        <li>
            <a href="{% url 'academic:danger_indications' org_pk %}">
                {% trans 'Danger Indication' %}
            </a>
        </li>
        <li>
            <a href="{% url 'academic:prudence_advices' org_pk %}">
                {% trans 'Prudence Advice' %}
            </a>
        </li>
        {% if perms.sga.view_pictogram %}
        <li>
            <a href="{% url 'sga:pictograms_list' org_pk %}">
                {% trans 'Pictograms' %}
            </a>
        </li>
        {% endif %}
    </ul>
</li>
{% endif %}
