{% load i18n %}
{% if perms.sga.view_label %}
<li>
    <a>
        <i class="fa fa-tags"></i>
        {% trans 'SGA' %}
        <span class="fa fa-chevron-down">
    </span>
    </a>
    <ul class="nav child_menu">
        <li>
            <a href="{% url 'academic:create_sustance' org_pk=org_pk organilabcontext='academic' %}">
                {% trans 'Create Substances' %}
            </a>
        </li>
        <li>
            <a href="{% url 'academic:get_substance' org_pk=org_pk organilabcontext='academic' %}">
                {% trans 'My Substances' %}
            </a>
        </li>

        <li>
            <a href="{% url 'academic:approved_substance' org_pk=org_pk organilabcontext='academic' %}">
                {% trans 'Check of Substances' %}
            </a>
        </li>

    </ul>

</li>

{% endif %}