{% load i18n shelf_position laboratory %}
<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav in" id="side-menu">
            <li class="sidebar-search">
                <form metod="get" action="/weblog/search/">
                    <div class="input-group custom-search-form">

                        <input class="form-control" name="pattern"
                            placeholder="{% trans 'Search...' %}" type="text">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-default" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>

                    </div>
                </form>
                <!-- /input-group -->
            </li>
            <li>
                <a href="/"><i class="fa fa-dashboard 
fa-fw"></i> 
                {% trans "Dashboard" %}</a>
            </li>
            
            {% include 'partials/laboratories_menu.html'%}
            <li>
                <a href="#">
                    <i class="fa fa-bar-chart-o fa-fw"></i>
                    {% trans 'SGA Management' %}  <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level ">
                <li>
                    <a href="{% url 'msds:index_msds'%}" >
                            {% trans 'MSDS: Security sheets' %}</a>
                </li>
                    <li>
                        <a   href="{% url 'sga:index_sga' %}" title="{% trans 'GHS' %}" >
                            {% trans 'SGA Labeling' %} </a> 
                    </li>
                    <li>
                        <a   href="{% url 'sga:editor' %}" title="{% trans 'Editor' %}" >
                            {% trans 'Editor' %} </a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>

            <li>
                <a class="nav-link" href="{% url 'zinnia:entry_archive_index' %}" title="{% trans 'blog entries' %}">
                    <i class="fa fa-edit fa-fw"></i>  {% trans 'Blog' %}
                </a>
            </li>
            <li>
                <a class="nav-link" href="{% url 'msds:regulation_docs' %}" title="{% trans 'Regulation documents' %}">
                    <i class="fa fa-flag fa-fw"></i>  {% trans 'Regulation documents' %}
                </a>
            </li>
             <li>
                 <a class="nav-link" href="{% url 'feedback' %}{% if laboratory %}?lab_pk={{laboratory}}{%endif%}">
                 <i class="fa fa-wrench fa-fw"></i>  {% trans 'Feedback' %}</a>
             </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>
