{% extends 'base.html' %}
{% load staticfiles %}
{% load static i18n datasets %}
{% load bootstrap recaptcha2 i18n %}


{% block css %} {% recaptcha_init 'es' %}
<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="{% static 'css/registerPrint.css' %}" rel="stylesheet">
{{form.media}}
{% endblock %}

{% block content %}

<body>
    <div class="row">
        <div class="container">
            <center>
                <p class="title">Complete the fields to register your print</p>
            </center>
            <div class="login-register-form-section">
                <ul class="nav nav-tabs" role="tablist">
                </ul>
                <div class="tab-content">
                </div>
                <div role="tabpanel" class="tab-pane fade in active" id="register">
                    {% csrf_token %}
                    <form class="form-horizontal" method="post" action="">
                        <div class="form-group has-errors text-danger small">
                            {{field.errors}}
                        </div>
                        <div class="form-group has-errors text-danger small">
                        </div>
                        {% for field in form %}

                        <div class="form-group">
                            <div class="register-size">
                                <div class="input-group">
                                    <!-- Icon for the field-->
                                    {% if field.name == 'name' %}
                                    <div class="input-group-addon"><i class="fa fa-user"></i></div>
                                    {% elif field.name == 'email' %}
                                    <div class="input-group-addon"><i class="fa fa-envelope"></i></div>
                                    {% elif field.name == 'logo' %}
                                    <label for="image_uploads">Choose the logo of your company </label>
                                    {% endif %}

                                    {% if field.name != 'location' %}
                                    {{field}}
                                    {% endif %}
                                </div>
                                {% if field.name == 'location' %}
                                <center>{{field}}</center>
                                {% endif %}
                            </div>
                        </div>
                        {% endfor %}
                        <center><input type="submit" value="Register" class="btn btn-success btn-custom"></center>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>

</body>

</html>
{% endblock %}