{% extends 'base.html' %}
{% load staticfiles %}
{% load static i18n datasets %}
{% load bootstrap recaptcha2 i18n %}


{% block css %} {% recaptcha_init 'es' %}
<link href="{% static 'css/registerPrint.css' %}" rel="stylesheet">
<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
    crossorigin="anonymous">

{{form.media}}
{% endblock %}

{% block content %}

<body>
    <div class="row">
        <div class="container">
            <center>
                <p class="title">Complete the fields to register your print</p>
            </center>
            <div class="login-register-form-section">
                <ul class="nav nav-tabs" role="tablist">
                </ul>
                <div class="tab-content">
                </div>
                <div role="tabpanel" class="tab-pane fade in active" id="register">
                    <form class="form-horizontal" method="post" action="">
                        {% csrf_token %}
                        {% for field in form %}
                        {% if field.errors %}
                        <div class="form-group has-error">
                            {% else %}
                            <div class="form-group">
                                {% endif %}
                                <!-- Label for the field-->
                                {% if field.name == 'name' %}
                                <label class="labelFont" for="name">Print name</label>
                                {% elif field.name == 'email' %}
                                <label class="labelFont" for="email">Print email address</label>
                                {% elif field.name == 'logo' %}
                                <label class="labelFont" for="email">Print logo</label>
                                {% elif field.name == 'description' %}
                                <label class="labelFont" for="description">Description of your print</label>
                                {% elif field.name == 'location' %}
                                <label class="labelFont" for="location">Print location</label>
                                {% elif field.name == 'phone' %}
                                <label class="labelFont" for="phone">Print phone number</label>
                                {% endif %} <div class="input-group">
                                    <!-- Icon for the field-->
                                    {% if field.name == 'name' %}
                                    <div class="input-group-addon primary"><i class="fas fa-city"></i></div>
                                    {% elif field.name == 'email' %}
                                    <div class="input-group-addon"><i class="fa fa-envelope"></i></div>
                                    {% elif field.name == 'phone' %}
                                    <div class="input-group-addon"><i class="fas fa-phone"></i></div>
                                    {% elif field.name == 'logo' %}
                                    <!--<div class="input-group-addon"><i class="fas fa-images"></i></div>-->
                                    {% elif field.name == 'description' %}
                                    {% endif %}

                                    {% if field.name != 'location' %}
                                    <center>{{field}}</center>
                                    {% endif %}
                                </div>
                            </div>
                            {% if field.name == 'location' %}
                            <center>{{field}}</center>
                            {% endif %}
                            <div class="form-group has-errors text-danger small">
                                {{field.errors}}
                            </div>
                            {% endfor %}
                            <center><input type="submit" value="Register" class="btn btn-success btn-custom"></center>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>

</html>
{% endblock %}