{% extends 'base.html' %}
{% load staticfiles %}
{% load static i18n datasets %}
{% load bootstrap recaptcha2 i18n %}


{% block css %} {% recaptcha_init 'es' %}
<link href="{% static 'css/registerPrint.css' %}" rel="stylesheet">
<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
    crossorigin="anonymous">

{{form.media}}
{% endblock %}

{% block content %}

<body>
    <div class="row">
        <div class="container">
            <a class="btn btn-info pull-left" href="{% url 'printOrderManager:index_printManager' %}" >
                <span class='glyphicon glyphicon-chevron-left' aria-hidden='true'></span>&nbsp;
                {% trans 'Print List Page'%}
            </a>
            <br>
            <h1 class="header text-center title2">
                {% trans 'Print Manager' %}
            </h1>
            <div>
                <span class="subtitle">
                    <center>{% trans 'Complete the fields to register your print' %}</center>
                </span>
            </div>

            <center>
                <small id="titleHelp" class="form-text text-muted">
                    {% trans "All the given information will be used only in this site" %}</small>
            </center>
            <div class="login-register-form-section">
                <ul class="nav nav-tabs" role="tablist">
                </ul>
                <div class="tab-content">
                </div>
                <div role="tabpanel" class="tab-pane fade in active" id="register">
                    <form class="form-horizontal" method="post" enctype="multipart/form-data" action="" role="form">
                        {% csrf_token %}
                        {% if form.errors %}
                        <center>
                            <p class="error">
                                {% trans "The form has errors, check the fields" %}</p>
                        </center>
                        {% endif %}
                        {% for field in form %}
                        {% if field.errors %}
                        <div class="form-group has-error">
                            {% else %}
                            <div class="form-group">
                                {% endif %}
                                <!-- Label for the field-->
                                {% if field.name == 'name' %}
                                <label class="labelFont" for="name">{% trans "Print name*" %}</label>
                                {% elif field.name == 'email' %}
                                <label class="labelFont" for="email">{% trans "Print email address*" %}</label>
                                {% elif field.name == 'logo' %}
                                <label class="labelFont" for="email">{% trans "Print logo*" %}</label>
                                <br>
                                <small id="logoHelp" class="form-text text-muted">
                                    {% trans "Choose only jpg, .jpeg, .png or .gif files*" %}</small>
                                <br>
                                <br>
                                {% elif field.name == 'description' %}
                                <label class="labelFont" for="description">{% trans "Description of your print*" %}</label>
                                <br>
                                <small id="descriptionHelp" class="form-text text-muted">
                                    {% trans "Briefly describe your services" %}</small>
                                <br>
                                <br>
                                {% elif field.name == 'location' %}
                                <label class="labelFont" for="location">{% trans "Print location*" %}</label>
                                {% elif field.name == 'phone' %}
                                <label class="labelFont" for="phone">{% trans "Print phone number*" %}</label>
                                <br>
                                <small id="phoneHelp" class="form-text text-muted">
                                    {% trans "Enter the phone number with your country code," %}
                                    {% trans "if you don't know it visit" %}
                                    <a href="https://countrycode.org/" target="_blank">this site</a>
                                </small>
                                <br>
                                <br>
                                {% elif field.name == 'captcha' %}
                                <label class="labelCaptcha" for="captcha">{% trans "Captcha*" %}</label>
                                {% endif %}
                                <div class="input-group">
                                    <!-- Icon for the field-->
                                    {% if field.name == 'name' %}
                                    <div class="input-group-addon primary colorIcon"><i class="fas fa-city"></i></div>
                                    {% elif field.name == 'email' %}
                                    <div class="input-group-addon colorIcon"><i class="fa fa-envelope"></i></div>
                                    {% elif field.name == 'phone' %}
                                    <div class="input-group-addon colorIcon"><i class="fas fa-phone"></i></div>
                                    {% elif field.name == 'logo' %}
                                    <!--<div class="input-group-addon"><i class="fas fa-images"></i></div>-->
                                    {% elif field.name == 'description' %}
                                    {% endif %}

                                    {% if field.name != 'location' %}
                                    {% if field.name != 'captcha' %}
                                    {% if field.name != 'description' %}
                                    <center>{{field}}</center>
                                    {% endif %}
                                    {% endif %}
                                    {% endif %}
                                </div>
                                {% if field.name == 'location' %}
                                <small id="locationHelp" class="form-text text-muted">
                                    {% trans "Locate your print on the map" %}</small>
                                {% endif %}
                                {% if field.name == 'captcha' %}
                                <center>{{field}}</center>
                                <br>
                                {% endif %}
                                {% if field.name == 'description' %}
                                <center>{{field}}</center>
                                {% endif %}
                            </div>
                            {% if field.name == 'location' %}
                            <center>{{field}}</center>
                            {% endif %}
                            <div class="form-group has-errors text-danger small">
                                {{ field.errors}}
                            </div>
                            {% endfor %}
                            {% trans "Register" as register %}
                            <center><input type="submit" value="{{ register }}" class="btn btn-success btn-custom"></center>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>

{% block js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<script src="{% static 'js/registerPrint.js' %}"></script>

{% endblock %}

</html>
{% endblock %}