{% extends 'base.html' %}
{% load urlname_tags %}
{% load organilab_tags %}
{% load i18n %}
{% load static %}

{% block pre_head %}
	{% define_urlname_action 'ambiental_measurementpoint' %}
{% endblock %}

{% block title %}{% trans 'Measurement points' %}{% endblock %}
{% block content %}
	<input type="hidden" value="{{ org_pk }}" id="org">
	<div class="card mt-2">
		<div class="card-body">
			<div class="card-title titles">
				<h1 class="text-center">{% trans 'Measurement points' %}</h1>
				<p class="text-center text-muted">
					{% trans 'Meters, tanks and collection points of each building. Consumption is recorded against them.' %}
				</p>
			</div>
			<div class="row mt-3">
				<div class="col-12">
					<table class="table table-hover table-striped w-100 table-responsive" id="table-measurementpoint">
					</table>
				</div>
			</div>
		</div>
	</div>

	{% url "ambiental:api-measurementpoint-list" org_pk as list_obj_url %}
	{% trans 'Register measurement point' as create_obj_title %}
	{% include 'gentelella/blocks/modal_template.html' with form=form_create form_id="create_obj_form" id="create_obj_modal" title=create_obj_title principal_class='modal-md' url=list_obj_url %}

	{% url "ambiental:api-measurementpoint-detail" org_pk 0 as detail_obj_url %}
	{% trans 'Update measurement point' as update_obj_title %}
	{% include 'gentelella/blocks/modal_template.html' with form=form_update form_id="update_obj_form" id="update_obj_modal" title=update_obj_title principal_class='modal-md' url=detail_obj_url %}

	{% trans 'Delete measurement point' as delete_obj_title %}
	{% include 'gentelella/blocks/modal_template_delete.html' with form_id="delete_obj_form" id="delete_obj_modal" title=delete_obj_title url=detail_obj_url %}
{% endblock %}

{% block js %}
	{{ block.super }}
	<script>
		const has_perm = {
			create: {{ perms.ambiental.add_measurementpoint|yesno:"true,false" }},
		};
		const object_urls = {
			list_url: "{% url 'ambiental:api-measurementpoint-list' org_pk %}",
			create_url: "{% url 'ambiental:api-measurementpoint-list' org_pk %}",
			get_values_for_update_url: "{% url 'ambiental:api-measurementpoint-get-values-for-update' org_pk 0 %}",
			update_url: "{% url 'ambiental:api-measurementpoint-detail' org_pk 0 %}",
			destroy_url: "{% url 'ambiental:api-measurementpoint-detail' org_pk 0 %}",
		};
		const selects2_url = {
			building_url: "{% url 'ambiental_buildings-list' %}?org_pk={{ org_pk }}",
			laboratory_url: "{% url 'ambiental_laboratories-list' %}?org_pk={{ org_pk }}",
		};
	</script>
	<script src="{% static 'ambiental/js/crud.js' %}?v={% get_organilab_version %}"></script>
	<script src="{% static 'ambiental/js/measurementpoint.js' %}?v={% get_organilab_version %}"></script>
{% endblock %}
