/*

Created by Luis Felipe Castro Sanchez
Universidad Nacional de Costa Rica 
Practica Profesional Supervisada (Julio - Noviembre 2018)
GitHub User luisfelipe7

*/

.title {
    color: rgb(78, 137, 189) !important;
    size: 40;
    font-size: 20px !important;
}

.subtitle {
    font-size: 200%;
    color: #284675;
}

.colorIcon {
    color: white !important;
    background-color: #93c3eb !important;
}

.colorStatic {
    color: #4894d3 !important;
}

.colorError {
    color: rgb(185, 8, 8) !important;
}

#ex4 .p1[data-count]:after{
    position:absolute;
    right:5%;
    top:0%;
    content: attr(data-count);
    font-size:90%;
    padding:.2.5em;
    border-radius:50%;
    line-height:1em;
    color: white;
    background:rgba(2, 5, 204, 0.85);
    text-align:center;
    min-width: 1em;
    font-weight:bold;
  }