{% load i18n shelf_position laboratory %}
{% load urlname_tags %}
{% if org_pk %}
 <li class="dropdown ">
  <a id='laboratory_id' href="#" role="button" class="dropdown-toggle" data-bs-toggle="dropdown"
     aria-haspopup="true" aria-expanded="false">
   {% trans 'Laboratory' %}<span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
   {% if perms.laboratory.view_laboratory %}
    <li><a href="{% url 'laboratory:rooms_list' lab_pk=laboratory org_pk=org_pk %}">
     {% trans 'Laboratory view' %}</a></li>
    <li>
     <hr class="dropdown-divider">
    </li>
   {% endif %}

   {% if perms.academic.view_myprocedure %}
    <li><a href="{% url 'academic:get_my_procedures' org_pk=org_pk lab_pk=laboratory %}">
     {% trans 'My procedures' %}</a></li>
    <li>
     <hr class="dropdown-divider">
    </li>
   {% endif %}

   {% if perms.laboratory.view_laboratoryprocess %}
    <li><a href="{% url 'laboratory:laboratory_process_list' org_pk=org_pk lab_pk=laboratory %}">
     {% trans 'Processes' %}</a></li>
    <li>
     <hr class="dropdown-divider">
    </li>
   {% endif %}

   {% if perms.laboratory.view_protocol %}
    <li><a href="{% url 'laboratory:protocol_list' org_pk=org_pk lab_pk=laboratory %}">
     {% trans 'Protocols' %}</a></li>
    <li>
     <hr class="dropdown-divider">
    </li>
   {% endif %}

   {% if perms.laboratory.view_registeruserqr %}
    <li><a href="{% url 'laboratory:list_register_user_qr' org_pk=org_pk lab_pk=laboratory %}">
     {% trans 'Register user' %}</a></li>
    <li>
     <hr class="dropdown-divider">
    </li>
   {% endif %}

  </ul>
 </li>
 <li>
  <hr class="dropdown-divider">
 </li>
{% endif %}
