{% load i18n shelf_position laboratory static %}
{% block css %}
  <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
{% endblock %}
<div class="col-md-3 left_col">
<div class="left_col scroll-view">
    <div class="main_menu_side hidden-print main_menu" id="sidebar-menu">
    <div class="menu_section">
        <ul class="nav side-menu">
            <li class="sidebar-search">
                <form method="get" action="/weblog/search/">
                    <div class="input-group custom-search-form">

                        <input class="form-control" name="pattern"
                            placeholder="{% trans 'Search...' %}" type="text">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-default" >
                                <i class="fa fa-search"></i>
                            </button>
                        </span>

                    </div>
                </form>
                <!-- /input-group -->
            </li>

            <li>
                <a href="/">
                    <i class="fa fa-dashboard fa-fw"></i>
                    {% trans "Dashboard" %}
                </a>
            </li>
            
            {% include 'partials/laboratories_menu.html'%}
            <li>
                <a>
                    <i class="fa fa-tags"></i>
                    {% trans 'SGA Management' %}
                    <span class="fa fa-chevron-down">
                    </span>
                </a>
                <ul class="nav child_menu">
                    <li>
                        <a href="{% url 'msds:index_msds'%}" >
                            {% trans 'MSDS: Security sheets' %}
                        </a>
                    </li>
                    <!--
                    {% if user.is_authenticated%}
                    <li>
                        <a   href="{% url 'sga:index_sga' %}" title="{% trans 'GHS' %}" >
                            {% trans 'SGA Labeling' %} </a> 
                    </li>
                    {% endif %}
                    -->
                </ul>
                <!-- /.nav-second-level -->
            </li>

            <li>
                <a>
                    <i class="fa fa-tasks fa-fw"></i>
                        {% trans 'Risk Management' %}
                    <span class="fa fa-chevron-down"></span>
                </a>
                <ul class="nav child_menu">
                    <li>
                        <a href="{% url 'riskmanagement:riskzone_list' %}" >
                                {% trans 'Risk zones' %}</a>
                    </li>
                    <li><a id='reports' href="{% url 'laboratory:h_code_reports' %}" title="{% trans 'Report View' %}">
                       {% trans 'H code Reports' %}</a>
                    </li>
                </ul>

            </li>
            <li>
                <a class="nav-link" href="{% url 'zinnia:entry_archive_index' %}" title="{% trans 'blog entries' %}">
                    <i class="fa fa-edit fa-fw"></i>  {% trans 'Blog' %}
                </a>
            </li>
            <li>
                <a class="nav-link" href="{% url 'msds:regulation_docs' %}" title="{% trans 'Regulation documents' %}">
                    <i class="fa fa-flag fa-fw"></i>  {% trans 'Regulation documents' %}
                </a>
            </li>
             <li>
                 <a class="nav-link" href="{% url 'feedback' %}{% if laboratory %}?lab_pk={{laboratory}}{%endif%}">
                 <i class="fa fa-wrench fa-fw"></i>  {% trans 'Feedback' %}</a>
             </li>
        </ul>
    </div>
    </div>

    <!-- /.sidebar-collapse -->
</div>
</div>