{% load i18n shelf_position laboratory %}
{% load urlname_tags %}
<nav class="nav_menu">

<div class="container-fluid">
    <div class="nav toggle" style="margin-top:9px;">
        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
    </div>
    {% if laboratory %}

        <ul class="nav navbar-nav float-start">
            <li><a href="{% url 'laboratory:rooms_list' laboratory %}">{% show_laboratory_name %}</a></li>
        </ul>
    {% endif %}

    <ul class="nav navbar-nav float-end flex-row-reverse">
        {% if request.user.is_authenticated %}
        {% include 'gentelella/app/top_navigation_user_authenticated.html' %}
        {% endif %}

        {% if org_pk %}

            <li id="tutorials">
                <a href="{% url 'tutorials' org_pk %}"><strong>{% trans 'Tutorials' %}</strong></a>
            </li>

        {% endif %}

        {% if not request.user.is_authenticated %}
        <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">{% trans "Log in" %}</a></li>
        {% endif %}

    </ul>
    </div>
    <div class="clearfix"></div>
</nav>
