{% load i18n shelf_position laboratory %}
<nav class="nav_menu">
  <div class="nav toggle">
    <a id="menu_toggle"><i class="fa fa-bars"></i>
  </a>
</div>
{% if laboratory %}
  <ul class="nav navbar-nav navbar-left">
      <li><a href="{% url 'laboratory:rooms_list' laboratory %}">{% show_laboratory_name %}</a></li>
  </ul>
{% endif %}
<ul class="nav navbar-nav navbar-right">
  {% if perms.laboratory.add_laboratory %}
    <li><a id='add_lab' href="{% url 'laboratory:create_lab' %}?lab={{laboratory|get_lab_pk}}" title="{% trans 'Add Laboratory' %}">
      <span class="fa fa-plus"></span></a>
    </li>
  {% endif %}
  {% if request.user.is_authenticated %}
    {% get_user_labs as mylabs %}
    <li>
      <a href="{% url 'laboratory:mylabs' %}" title="{% trans 'My laboratories' %}">
        <strong>{% trans 'My laboratories' %}</strong>
      </a>
    </li>
    {% if laboratory %}
      {% if perms.laboratory.add_laboratory or perms.laboratory.change_laboratory or perms.laboratory.add_furniture or perms.laboratory.add_object or perms.laboratory.add_features %}
        <li class="dropdown">
          <a id='management_id' href="#" class="dropdown-toggle" data-toggle="dropdown"
              role="button" aria-haspopup="true" aria-expanded="false">
            {% trans 'Administration' %}<span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            {% if  perms.laboratory.delete_laboratory %}
              <li><a href="{% url 'laboratory:mylabs' %}">
                  {% trans 'My Laboratories' %} </a>
              </li>
            {% endif %}
            {% if perms.laboratory.add_laboratory %}
              <li><a href="{% url 'laboratory:rooms_create' laboratory %}">
              {% trans 'Laboratory management' %} </a></li>
            {% endif %} 

            {% if perms.laboratory.add_object %} 
              <li class="dropdown-submenu">
                <a class="sub-menu" tabindex="-1" href="#">{% trans 'Object management' %}<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a tabindex="-1" href="{% url 'laboratory:sustance_list' laboratory %}" >{% trans 'Reactive' %}</a></li>
                  <li><a tabindex="-1" href="{% url 'laboratory:objectview_list' laboratory %}?type_id=1">{% trans 'Material' %}</a></li>
                  <li><a tabindex="-1" href="{% url 'laboratory:objectview_list' laboratory %}?type_id=2">{% trans 'Equipment' %}</a></li>
                </ul>
              </li>
            {% endif %} 
            {% if perms.laboratory.add_features %} 
              <li><a href="{% url 'laboratory:object_feature_create' laboratory %}">
              {% trans 'Object features management' %}</a></li>
            {% endif %} 
            {% if perms.laboratory.view_solutions %} 
              <li><a href="{% url 'laboratory:solution_list' laboratory %}">
              {% trans 'Dissolution management' %}</a></li>
            {% endif %} 
          </ul>
        </li>
      {% endif %} 
      {% if perms.laboratory.view_report or perms.laboratory.do_report %} 
        <li class="dropdown">
          <a id='reports_id' href="#" class="dropdown-toggle" data-toggle="dropdown"
              role="button" aria-haspopup="true" aria-expanded="false">
            {% trans 'Reports' %}<span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            {% if perms.laboratory.do_report %}
              <li class="dropdown-submenu">
                <a class="sub-menu" tabindex="-1" href="#">{% trans 'Laboratory' %}<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a tabindex="-1" href="{% url 'laboratory:reports_laboratory' laboratory %}">{% trans 'Objects' %}</a></li>
                    <li><a tabindex="-1" href="{% url 'laboratory:reports_organization' laboratory  %}">{% trans 'Principal Technician' %}</a></li>
                </ul>
              </li>
            {% endif %}
            <li>
              <a href="{% url 'laboratory:reports_furniture_detail' laboratory %}">
                {% trans 'Furnitures' %}
              </a>
            </li>
            <li class="dropdown-submenu">
              <a class="sub-menu" tabindex="-1" href="#">{% trans 'Objects' %}<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a tabindex="-1" href="{% url 'laboratory:reports_objects_list' laboratory %}?type_id=0">{% trans 'Reactive' %}</a></li>
                <li><a tabindex="-1" href="{% url 'laboratory:reports_objects_list' laboratory %}?type_id=1">{% trans 'Material' %}</a></li>
                <li><a tabindex="-1" href="{% url 'laboratory:reports_objects_list' laboratory %}?type_id=2">{% trans 'Equipment' %}</a></li>
              </ul>
            </li>

            <li>
              <a href="{% url 'laboratory:reactive_precursor_object_list' laboratory %}">
                {% trans 'Reactive precursor objects' %}
              </a>
            </li>
            <li>
              <a href="{% url 'laboratory:object_change_logs' laboratory %}">
                {% trans 'Object changes' %}
              </a>
            </li>
            <li>
              <a href="{% url 'laboratory:reports_limited_shelf_objects_list' laboratory %}">
                {% trans 'Limited shelf objects' %}
              </a>
            </li>
            <li>
            <a href="{% url 'laboratory:precursor_report' laboratory%}">{% trans 'Precursor Report' %}</a>
            </li>
          </ul>
        </li>
      {% endif %}

		  {% if perms.djreservation.add_reservation %}
        <li id="reservation_list_id"><a
          href="{% url 'laboratory:my_reservations' laboratory %}">{% trans 'My reservations' %}  </a>
        </li>
      {% endif %}
	  {% endif %}
  {% endif %}

  <li id="tutorials">
    <a href="{% url 'tutorials' %}"><strong>{% trans 'Tutorials' %}</strong></a>
  </li>

  {% if not request.user.is_authenticated %}
    <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">{% trans "Log in" %}</a></li>
  {% endif %}
  </ul>
</nav>