{% extends 'base.html' %}
{% load laboratory static i18n  %}
{% load urlname_tags %}
{% block pre_head %}
    {% define_urlname_action 'incident_create' %}
    {% define_urlname_action 'incident_update' %}
{% endblock %}
{% block title %}{% trans 'Incident Management' %}{% endblock %}
{% block content %}



<div class="row">
    <div class="offset-md-1 col-md-3">
        <a class="btn btn-sm btn-outline-danger" href="{% url 'riskmanagement:incident_list' org_pk building.pk %}"> <i class="fa fa-chevron-circle-left" aria-hidden="true"></i> {% trans 'Laboratory incidents' %}</a>
    </div>

</div>

<div class="offset-md-2 col-md-8">
        <div class="page-header" align="center">
          <h3 class="heading-1" center=""><span>{% trans 'Incident Management' %}</span></h3>
        </div>
</div>

<div class="offset-md-2 col-md-8">
  <br>
    <form class="form" action="" method="post">
      {% csrf_token %}
      {{ form.as_horizontal }}
      <div class="form-group row justify-content-end">
          <div class="col-sm-9">
              <button class="btn btn-sm btn-outline-success float-end" type="submit">
                <i class="fa fa-floppy-o" aria-hidden="true"></i> {% trans 'Save' %}
              </button>
          </div>
      </div>
    </form>
</div>
<div class="clearfix">  </div>
{% endblock %}

