{% extends 'report/base_pdf.html' %}
{% load i18n %}
{% block extra_css %}
.incident_table tr {
	font-family: "Arial", "sans-serif";
	font-size: 0.8em;
}
{% endblock %}
{% block pdf_content %}
<table>
	<thead>
	<tr>
		<th>
			<h2 style="margin-left: 34%;">{{title}}</h2>
		</th>
	</tr>
	</thead>
</table>
{% for object in object_list %}
<table class="incident_table">
	<tr><td>
		<b>{% trans 'Short Description' %}:</b>
		<br>
		<br>
	</td></tr>
	<tr style="margin-bottom: 15%;">
		<td>{{object.short_description}}
		<br>
		<br>
		</td>
	</tr>
</table>
<table class="incident_table">
	<tr style="margin-bottom: 15%;"><td>
		<b>{% trans 'Incident Date' %}:</b>
	<br>
		<br>
	</td></tr>
	<tr style="margin-bottom: 15%;"><td>
		{{object.incident_date|date}}
	<br>
		<br>
	</td></tr>
	</table>
	<table class="incident_table">
	<tr>
		<td style="margin-bottom: 15%;"><b>{% trans 'Laboratories' %}:</b>
		<br>
		<br>
		</td>
		</tr>
		</table>
		<table class="incident_table">
				{% for lab in object.laboratories.all %}
				<tr><td>* {{lab}}</td></tr>
				{% endfor %}
		</table>
		<table class="incident_table">
	<tr>
		<td>
			<br>
			<b>{% trans 'Incident Causes' %}:</b></td>
		</tr>
	<tr>
		<td>{{object.causes|safe}}</td>
	</tr>
	<tr>
		<td><b>{% trans 'Infraestructure Impact' %}:</b></td>
			</tr>
	<tr>
		<td>{{object.infraestructure_impact|safe}}</td>
	</tr>
	<tr>
		<td><b>{% trans 'People Impact(Employees, visitors, affected community)' %}:</b></td>
			</tr>
	<tr>
		<td>{{object.people_impact|safe}}</td>
	</tr>
	<tr>
		<td><b>{% trans 'Environment Impact' %}:</b></td>
			</tr>
	<tr>
		<td>{{object.environment_impact|safe }}</td>
	</tr>
	<tr>
		<td><b>{% trans 'Result of the implementation of prevention, preparation and response plans for chemical accidents' %}:</b></td>
			</tr>
	<tr>
		<td>{{object.result_of_plans|safe }}</td>
	</tr>
	<tr>
		<td><b>{% trans 'Adopted measures for correct the situation and mitigate its effects' %}:</b></td>
			</tr>
	<tr>
		<td>{{object.mitigation_actions|safe }}</td>
	</tr>
	<tr>
		<td><b>{% trans 'Recommendations which describes the measures to do for mitigate risks similar accidents and its produces again' %}:</b></td>
			</tr>
	<tr>
		<td>{{object.recomendations|safe }}</td>
	</tr>
</table>
{% endfor %}
{% endblock %}

