{% extends 'pdf/base_pdf.html' %}
{% load i18n %}

{% block extra_css %}
.label{
    font-size: 1.3em;
    display: block;
    color: blue;
}
.response{
    display: block;
}
{% endblock%}

{% block pdf_content %}
    {% for object in object_list %}
        <h1>{{object.short_description}}</h1>
        <br><br>
        <div class="label">{% trans 'Fecha del incidente' %}</div>
        <div class="response">{{object.incident_date|date }}</div>
        <div class="label">{% trans 'Laboratories' %} </div>
        <div class="response">
            <ul>
                {% for lab in object.laboratories.all %}
                <li>{{lab}}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="label">{% trans 'Causas del accidente' %}</div>
        <div class="response">{{object.causes|safe  }}</div>
        <div class="label">{% trans 'Impacto a la infraestructura' %}</div>
        <div class="response">{{object.infraestructure_impact|safe  }}</div>
        <div class="label">{% trans 'Impacto a las personas (empleados, visitantes y comunidad afectada)' %}</div>
        <div class="response">{{object.people_impact|safe  }}</div>
        <div class="label">{% trans 'Impacto ambiental' %}</div>
        <div class="response">{{object.environment_impact|safe  }}</div>
        <div class="label">{% trans 'Resultado de la implementación del Plan de Prevención, Preparación y Respuesta ante Accidentes Químicos.' %}</div>
        <div class="response">{{object.result_of_plans|safe  }}</div>
        <div class="label">{% trans 'Medidas adoptadas para corregir la situación y para atenuar sus efectos.' %}</div>
        <div class="response">{{object.mitigation_actions|safe  }}</div>
        <div class="label">{% trans 'Recomendaciones que describan en detalle las medidas que se vayan a llevar a cabo para reducir el riesgo de que accidentes similares vuelvan a producirse.' %}</div>
        <div class="response">{{object.recomendations|safe  }}</div>
    {% endfor %}
{% endblock %}