{% extends 'base.html' %}
{% load i18n laboratory %}
{% load urlname_tags %}
{% block pre_head %}
    {% define_urlname_action 'incident_list' %}
    {% define_urlname_action 'incident_delete' %}
    {% define_urlname_action 'incident_detail' %}
    {% define_urlname_action 'incident_update' %}
{% endblock %}
{% block content %}
  {%  has_perms "risk_management.change_riskzone" as perm_change_riskzone %}
  {%  has_perms "risk_management.add_riskzone" as perm_add_riskzone %}
  {%  has_perms "risk_management.delete_riskzone" as perm_delete_riskzone %}

<div class="row">
<div class="offset-md-2 col-md-8">
        <div class="page-header" align="center">
          <h3 class="heading-1" center=""><span>{% trans 'Incidents Management'  %}
                  {% if perm_add_riskzone %}
          <a class="btn btn-success" href="{% url 'riskmanagement:incident_create' laboratory org_pk %}"> <i class="fa fa-plus"></i> </a>
        {% endif %}</span></h3>

        </div>
</div>
</div>
<div class="container">
    <div class="row">
        <div class="offset-md-9 col-md-3">
            <form metod="get" action="">
                <div class="input-group">
                    <input class="form-control" name="q" value="{{q}}" placeholder="Search..." type="text">
                    <button type="submit" class="btn btn-secondary input-group-btn">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <ul class="list-group">
                {% for object in object_list %}
                <li class="row list-group-item">
                    <div class="col-md-9">
                        <span class="prior_{{object.priority}} badge">{{object.laboratories.all.count}}</span>
                        <a href="{% url 'riskmanagement:incident_detail' laboratory object.pk org_pk %}">{{ object }}</a></div>
                    <div class="col-md-3">
                        {% if perm_change_riskzone %}
                        <a class="btn btn-warning" href="{% url 'riskmanagement:incident_update' laboratory object.pk org_pk %}">
                            <i class="fa fa-pencil"></i> {% trans 'Edit' %}</a>
                        {% endif %}
                        {% if perm_change_riskzone %}
                        <a class="btn btn-danger" href="{% url 'riskmanagement:incident_delete' laboratory object.pk org_pk %}">
                            <i class="fa fa-trash"></i> {% trans 'Delete' %}</a>
                        {% endif %}
                    </div>
                </li>
                {% endfor %}
            </ul>
            {% if is_paginated %}
            <nav aria-label="...">
                <ul class="pager">
                    {% if page_obj.has_previous %}
                    <li>
                        <a href="{{pgparams}}page={{ page_obj.previous_page_number }}">{% trans 'Previous' %}</a>
                    </li>
                    {% endif %}
                    <li>
                        {% trans 'Page' %} {{ page_obj.number }} -- {{ page_obj.paginator.num_pages }}.
                    </li>
                    {% if page_obj.has_next %}
                    <li>
                        <a href="{{pgparams}}page={{ page_obj.next_page_number }}">{% trans 'Next' %}</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}