{% extends 'base.html' %}
{% load laboratory static i18n  %}
{% load urlname_tags %}
{% block pre_head %}
    {% define_urlname_action 'incident_create' %}
    {% define_urlname_action 'incident_update' %}
{% endblock %}
{% block title %}{% trans 'Incident Management' %}{% endblock %}
{% block content %}



<div class="row">
    <div class="offset-md-1 col-md-3">
        <a href="{% url 'riskmanagement:incident_list' org_pk laboratory %}"> << {% trans 'Laboratory incidents' %}</a>
    </div>

</div>

<div class="offset-md-2 col-md-8">
        <div class="page-header" align="center">
          <h3 class="heading-1" center=""><span>{% trans 'Incident Management' %}</span></h3>
        </div>
</div>

<div class="offset-md-2 col-md-8">
  <br>
    {{ form.errors }}
    <form class="form" action="" method="post">

      {% csrf_token %}
	      <div class="row">
	          {{ form.as_horizontal }}
	        <div id="save_button1" class="col-md-1">
	          <button class="btn btn-success" type="submit">
	            <span class="glyphicon glyphicon-save" aria-hidden="true"></span>{% trans 'Save' %}
	          </button>
	        </div>
	      </div>
    </form>
</div>
<div class="clearfix">  </div>
{% endblock %}

