{% extends 'base.html' %}
{% load i18n laboratory %}
{% load urlname_tags %}
{% block pre_head %}
    {% define_urlname_action 'incident_list' %}
    {% define_urlname_action 'incident_delete' %}
    {% define_urlname_action 'incident_detail' %}
    {% define_urlname_action 'incident_update' %}
{% endblock %}
{% block content %}
  {%  has_perms "risk_management.change_riskzone" as perm_change_riskzone %}
  {%  has_perms "risk_management.add_riskzone" as perm_add_riskzone %}
  {%  has_perms "risk_management.delete_riskzone" as perm_delete_riskzone %}

<div class="row">
<div class="offset-md-2 col-md-8">
    <div class="page-header" align="center">
        <h3 class="heading-1" center="">{% trans 'Incidents Management'  %}</h3>
    </div>
</div>
</div>
<div class="row mt-3">
    <div class="container-fluid">
        <form metod="get" action="">
                <div class="form-group row justify-content-end">
                    <div class="col-md-9">
                        <div class="input-group input-group-sm">
                        <input class="form-control" name="q" value="{{q}}" placeholder="{% trans 'Search...' %}" type="text">
                         <span class="input-group-btn">
                            <button id="btnsearch" type="submit" class="btn btn-md btn-outline-secondary">
                            <i class="fa fa-search"></i>
                            </button>
                         </span>
                    </div>
                    </div>
                </div>
                {% if perm_add_riskzone %}
                <div class="form-group row justify-content-end">
                    <div class="col-md-9">
                        <a id="btn_manage_obj" class="btn btn-sm btn-outline-success float-end" href="{% url 'riskmanagement:incident_create' org_pk laboratory %}">
                    <i class="fa fa-plus" aria-hidden="true"></i> {% trans 'New' %} </a>
                    </div>
                </div>
            {% endif %}
            </form>
        <div class="row">
        <ul class="list-group list-group-vertical ms-1">
            {% for object in object_list %}
            <li class="list-group-item">
                <div class="col-md-9">
                    <span class="prior_{{object.priority}} badge">{{object.laboratories.all.count}}</span>
                    <a href="{% url 'riskmanagement:incident_detail' org_pk laboratory object.pk %}">{{ object }}</a></div>
                <div class="col-md-3">
                    <div class="btn-group btn-group-sm float-end" role="group">
                        {% if perm_change_riskzone %}
                        <a class="btn btn-outline-warning" href="{% url 'riskmanagement:incident_update' org_pk laboratory object.pk %}">
                            <i class="fa fa-edit"></i> {% trans 'Update' %}</a>
                        {% endif %}
                        {% if perm_change_riskzone %}
                        <a class="btn btn-outline-danger" href="{% url 'riskmanagement:incident_delete' org_pk laboratory object.pk %}">
                            <i class="fa fa-trash"></i> {% trans 'Delete' %}</a>
                        {% endif %}
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
        {% if is_paginated %}
        <nav aria-label="...">
            <ul class="pager">
                {% if page_obj.has_previous %}
                <li>
                    <a href="{{pgparams}}page={{ page_obj.previous_page_number }}">{% trans 'Previous' %}</a>
                </li>
                {% endif %}
                <li>
                    {% trans 'Page' %} {{ page_obj.number }} -- {{ page_obj.paginator.num_pages }}.
                </li>
                {% if page_obj.has_next %}
                <li>
                    <a href="{{pgparams}}page={{ page_obj.next_page_number }}">{% trans 'Next' %}</a>
                </li>
                {% endif %}
            </ul>
        </nav>
        {% endif %}
    </div>
    </div>
</div>
{% endblock %}