{% extends 'base.html' %}
{% load i18n laboratory %}
{% load urlname_tags %}
{% block pre_head %}
    {% define_urlname_action 'riskzone_list' %}
    {% define_urlname_action 'riskzone_create' %}
    {% define_urlname_action 'riskzone_delete' %}
    {% define_urlname_action 'riskzone_detail' %}
    {% define_urlname_action 'riskzone_update' %}
{% endblock %}
{% block content %}
  {%  has_perms "risk_management.change_riskzone" as perm_change_riskzone %}
  {%  has_perms "risk_management.add_riskzone" as perm_add_riskzone %}
  {%  has_perms "risk_management.delete_riskzone" as perm_delete_riskzone %}

<div class="row justify-content-center">
<div class="col-md-8">
        <div class="page-header" align="center">
          <h3 class="heading-1" ><span>{% trans 'Risk Zone Management'  %}
                  </span></h3>

        </div>
    {% if perm_add_riskzone %}
          <a class="btn btn-success float-end" href="{% url 'riskmanagement:riskzone_create' org_pk %}">
              <i class="fa fa-plus" aria-hidden="true"></i> {% trans 'Add' %} </a>
        {% endif %}
</div>
</div>

<div class="row justify-content-center">
    <div class="col-md-8">
<form metod="get" action="">
    <div class="input-group custom-search-form">

        <input class="form-control input-group" name="q" value="{{q}}" placeholder="Search..." type="text">
        <span class="input-group-btn">
            <button type="submit"  class="btn btn-secondary">
                <i class="fa fa-search"></i>
            </button>
        </span>

    </div>
</form>

    </div>
</div>



<div class="row">
<div class="col-md-12">
  <ul class="list-group">
    {% for object in object_list %}
      <li class="row list-group-item">
        <div class="col-md-9 mb-2 ">
            <span class="fs-6 prior_{{object.priority}} badge">{{object.laboratories.all.count}}</span>
            <a href="{% url 'riskmanagement:riskzone_detail' object.pk org_pk %}">{{ object }}</a></div>
        <div class="col-md-3 d-flex justify-content-center">
         {% if perm_change_riskzone %}
          <a class="btn btn-warning text-white"
             href="{% url 'riskmanagement:riskzone_update' object.pk org_pk %}">
          <i class="fa fa-pencil-square-o" aria-hidden="true"></i> {% trans 'Edit' %}</a>
         {% endif %}
         {% if perm_change_riskzone %}
          <a class="btn btn-danger text-white"
             href="{% url 'riskmanagement:riskzone_delete' object.pk org_pk %}">
           <i class="fa fa-times" aria-hidden="true"></i> {% trans 'Delete' %}</a>
         {% endif %}
        </div>
      </li>
    {% endfor %}
  </ul>

  {% if is_paginated %}
    <nav aria-label="...">
      <ul class="pager">
        {% if page_obj.has_previous %}
          <li>
            <a href="{{pgparams}}page={{ page_obj.previous_page_number }}">{% trans 'Previous' %}</a>
          </li>
        {% endif %}

        <li>
          {% trans 'Page' %} {{ page_obj.number }} -- {{ page_obj.paginator.num_pages }}.
        </li>

        {% if page_obj.has_next %}
          <li>
            <a href="{{pgparams}}page={{ page_obj.next_page_number }}">{% trans 'Next' %}</a>
          </li>
        {% endif %}
      </ul>
    </nav>

  {% endif %}
</div>
</div>
{% endblock %}