{% extends 'base.html' %}
{% load laboratory static i18n  %}

{% block title %}{% trans 'Risk Zone Management' %}{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-offset-1 col-md-3">
        <a href="{% url 'riskmanagement:riskzone_list' %}">
            <i class="fa fa-backward" aria-hidden="true"></i> {% trans 'Zone list' %}</a>
    </div>

</div>

<div class="col-md-offset-2 col-md-8">
        <div class="page-header col-sm-13 text-center">
          <h3 class="heading-1"><span>{% trans 'Risk Zone Management' %}</span></h3>
        </div>
</div>

<div class="col-md-offset-2 col-md-8">
  <br>
    {{ form.errors }}
    <form class="form" action="" method="post">

      {% csrf_token %}
	      <div class="row">
	          {{ form.as_horizontal }}
	        <div id="save_button1" class="col-md-3">
	          <button class="btn btn-md btn-success" type="submit">
	            <i class="fa fa-floppy-o" aria-hidden="true"></i> {% trans 'Save' %}
	          </button>
	        </div>
	      </div>
    </form>
</div>

{% endblock %}

{% block js %}

    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
     <script > $(document).ready(function() {  $('select[name="laboratories"]').select2(); });
    </script>
{% endblock %}
