{% extends 'base.html' %}
{% load i18n laboratory %}
{% load urlname_tags %}
{% load static i18n gtsettings %}

{% block pre_head %}
    {% define_urlname_action 'riskzone_list' %}
    {% define_urlname_action 'riskzone_create' %}
    {% define_urlname_action 'riskzone_delete' %}
    {% define_urlname_action 'riskzone_detail' %}
    {% define_urlname_action 'riskzone_update' %}
    {% define_true 'use_datatables' %}
{% endblock %}
{% block content %}
  {%  has_perms "risk_management.change_riskzone" as perm_change_riskzone %}
  {%  has_perms "risk_management.add_riskzone" as perm_add_riskzone %}
  {%  has_perms "risk_management.delete_riskzone" as perm_delete_riskzone %}


<div class="row justify-content-center">
<div class="col-md-11">
        <div class="page-header" align="center">
          <h3 class="heading-1" ><span>{% trans 'Risk Zone Management'  %}
                  </span></h3>

        </div>
    {% if perm_add_riskzone %}
          <a class="btn btn-success float-end" href="{% url 'riskmanagement:riskzone_create' %}">
              <i class="fa fa-plus" aria-hidden="true"></i> {% trans 'Add' %} </a>
        {% endif %}
</div>
</div>


<div class="row">
<div class="col-md-12">
      <table id="risk_zone_table" class="display table table-striped table-bordered"></table>
</div>
</div>
  {% include 'risk_management/update_zone_risk_modal.html' %}

{% endblock %}
{% block js %}
{{ block.super }}
<script>
  document.risk_zone_url='{% url "risk_zone-list" %}'
  document.risk_zoneRetrieve='{% url "risk_zone_update-detail" 0 %}'
</script>
<script src="{% static 'riskzone/js/riskzone.js' %}"></script>
{% endblock %}