{% extends 'base.html' %}
{% load laboratory static i18n  %}
{% load urlname_tags %}
{% block pre_head %}
    {% define_urlname_action 'riskzone_create' %}
    {% define_urlname_action 'riskzone_list' %}
{% endblock %}
{% block title %}{% trans 'Risk Zone Management' %}{% endblock %}
{% block content %}
<div class="row">
    <div class="offset-md-1 col-md-3">
        <a href="{% url 'riskmanagement:riskzone_list' org_pk %}" class="btn btn-sm btn-outline-danger">
            <i class="fa fa-caret-left" aria-hidden="true"></i> {% trans 'Zone list' %}</a>
    </div>

</div>

<div class="offset-md-2 col-md-8">
        <div class="page-header text-center">
          <h3 class="heading-1"><span>{% trans 'Risk Zone Management' %}</span></h3>
        </div>
</div>

<div class="offset-md-2 col-md-8">
  <br>
    {{ form.errors }}
    <form class="form" action="" method="post">

      {% csrf_token %}
        {{ form.as_horizontal }}
        <div class="form-group row justify-content-end">
            <div class="col-sm-9">
              <button id="btnsave" class="btn btn-sm btn-outline-success float-end me-0" type="submit">
                <i class="fa fa-floppy-o" aria-hidden="true"></i> {% trans 'Save' %}
              </button>
            </div>
        </div>
    </form>
</div>

{% endblock %}

{% block js %}

{% endblock %}
