{% load i18n %}
<!-- Modal -->
<div class="modal fade" id="update_zone_type_modal"
     role="dialog" >

    <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">{% trans 'Zone Type Management' %}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body" id="modal-body">

          </div>
        </div>
    </div>

</div>

