<div role="tabpanel" class="tab-pane" id="custom">
        <div class="row">
        {% if barcode_file_url %}
            <div class="col-md-4">
                <a class="genericitem" id="{{ barcode_file_url }}"  title="{{ barcode_file_url }}" data-ftype="image" href="#"> <img width="64px" height="64px"
                      src="{{ barcode_file_url}}" alt="{{ barcode_file_url }}" class="img-rounded"> </a>
            </div>
        {% endif%}
        {% if logo_file_url %}
            <div class="col-md-4">
                 <a class="genericitem" id="{{ logo_file_url }}"  title="{{ logo_file_url }}" data-ftype="image" href="#"> <img width="64px" height="64px"
                          src="{{ logo_file_url}}" alt="{{ logo_file_url }}" class="img-rounded"> </a>
            </div>
        {%  endif %}
    </div>
</div>