{% load i18n %}
  <div role="tabpanel" class="tab-pane" id="generic">
        <ul>
            <li>
                <p class="genericitem text_content"  id="warningword" data-ftype="itext" >
                {% trans 'Warning Word' %}</p>
            </li>
            <li>
                <p class="genericitem text_content"  id="dangerindication"  data-ftype="textbox"> {% trans 'Danger Indication' %}</p>
            </li>
            <li>
                <p class="genericitem text_content"  id="prudenceadvice" data-ftype="textbox"> {% trans 'Prudence Advice' %}</p>
            </li>
            <li>
                <p class="genericitem text_content"  id="substancename"  data-ftype="itext" > {% trans 'Substance Name' %} </p>
            </li>
            <li>
                <p class="genericitem text_content"  id="uipa"  data-ftype="itext" > {% trans 'UIPA Name' %} </p>
            </li>
            <li>
                <p class="genericitem text_content"  id="casnumber"  data-ftype="itext" > {% trans 'Cas number' %} </p>
            </li>

            <li>
                <p class="genericitem text_content"  id="selername" data-ftype="itext"  href="#"> {% trans 'Seler name' %}</p>
            </li>
            <li>
                <p class="genericitem text_content" id="selerphone" data-ftype="itext"  href="#"> {% trans 'Seler phone' %}</p>
            </li>
            <li>
                <p class="genericitem text_content" id="seleraddress" data-ftype="textbox" href="#"> {% trans 'Seler address' %} </p>
            </li>
            <li>
                <p class="genericitem text_content"  id="commercialinformation"  data-ftype="textbox"  href="#"> {% trans 'Commercial Information' %}  </p>
            </li>
        </ul>
    </div>