{% load i18n %}
<div class="card">
    <div class="card-body">
    <label><b>{% trans 'Warning Word' %}</b></label>
    <ul>
        <li><p class="genericitem text_content"  id="{{complement.warningword}}"  title="{{complement.warningword}}" data-ftype="danger-itext"  >{{complement.warningword}}</p></li>
    </ul>
    <label><b>{% trans 'Prudence Advice' %}</b></label>
    <ul>
        {% for prudence_advice in complement.prudence_advice.all %}
          <li><p class="genericitem text_content"  id="{{prudence_advice}}"  title="{{prudence_advice}}" data-ftype="danger-itext"  >{{prudence_advice}}</p></li>
        {% endfor %}
    </ul>
    <label><b>{% trans 'Danger Indication' %}</b></label>
    <ul>
        {% for danger_indication in complement.danger_indication.all %}
          <li><p class="genericitem text_content"  id="{{danger_indication}}"  title="{{danger_indication}}" data-ftype="danger-itext"  >{{danger_indication}}</p></li>
        {% endfor %}
        {% if complement.other_dangers %}
        <li><p class="genericitem text_content"  id="other_dangers" title="{% trans 'Other Dangers' %}" data-ftype="danger-itext" >
            {{complement.other_dangers}}
        </p></li>
        {% endif %}
    </ul>
    {% if  label.builderInformation %}
    <label><b>{% trans 'Company Information' %}</b></label>
    <ul>

        <li><p class="genericitem text_content"  id="builderinfo_name" title="label.builderInformation.name"
               data-ftype="danger-itext" >{{label.builderInformation.name}}</p></li>
         <li><p class="genericitem text_content"  id="builderinfo_phone" title="label.builderInformation.phone"
               data-ftype="danger-itext" >{{label.builderInformation.phone}}</p></li>
        <li><p class="genericitem text_content"  id="builderinfo_address" title="label.builderInformation.address"
               data-ftype="danger-itext" >{{label.builderInformation.address}}</p></li>
        <li><p class="genericitem text_content"  id="builderinfo_commercial_information" title="label.builderInformation.commercial_information"
               data-ftype="danger-itext" >{{label.builderInformation.commercial_information}}</p></li>
    </ul>
    {% endif %}
    <label><b>{% trans 'Graphics' %}</b></label>
    <ul>
        {% if sgalabel.logo %}
        <li><img src="{{sgalabel.logo.url}}" />  </li>
        {% endif %}
        {% if sgalabel.barcode %}
        <li><img src="{% url  'sga:barcode_from_number' sgalabel.barcode %}" />  </li>
        {% endif %}
    </ul>
</div>
</div>