{% extends 'base.html' %}
{% load static i18n %}
{% block title %}{% trans 'Login' %}{% endblock %}

{% block content_block_wrap %}{% endblock %}
{% block body_class %}login{% endblock body_class %}
{% block body %}
<div class="navbar  login_title">
        <a href="/" class="site_title"><i class="fa fa-flask"></i> <strong id="brand_id">ORGANILAB</strong></a>
</div>
<div class="center-container">
  <div class="row">
   <div class="col-xs-12 col-md-12">
    <a class="hiddenanchor" id="signup"></a>
    <a class="hiddenanchor" id="signin"></a>
    <div class="login_wrapper ">

            <section class="login_content">
                <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                    <input type="hidden" name="next" value="{{ next }}">
                    <h1>{% trans 'Login' %}</h1>
                <div>
                    {% if form.errors %}
                    <p class="text-warning">{% trans "Your username and password didn't match. Please try again." %}</p>
                    {% endif %}

                    {% if next %}
                        {% if user.is_authenticated %}
                        <p>{% blocktrans %}Your account doesn't have access to this page. To proceed,
                        please login with an account that has access.{% endblocktrans %}</p>
                        {% else %}
                        <p class="text-warning">{% trans "Please login to see this page." %}</p>
                        {% endif %}
                    {% endif %}

                </div>
                    <div>
                        <input type="text" class="form-control" name="username" placeholder="{% trans 'Username' %}" required="" />
                    </div>
                    <div>
                        <input type="password" class="form-control" name="password" placeholder="{% trans 'Password' %}" required="" />
                    </div>
                    <div>
                        <button type="submit" class="btn btn-outline-success submit" >
                            <i class="fa fa-sign-in" aria-hidden="true"></i> {% trans 'Log in' %}</button>
                        <a class="reset_pass" href="{% url 'password_reset' %}">{% trans 'Lost your password?' %}</a>


                    </div>


                </form>
            </section>
        </div>

    </div>
    <div class="center-block" align="center" >
        <a  class="btn btn-outline-danger"  style="font: normal 25px Helvetica, Arial, sans-serif;" href="{% url 'auth_and_perms:register_user_to_platform' %}">
            <i class="fa fa-user-circle" aria-hidden="true"></i>
{% trans 'Register to platform' %}</a>
    </div>
  </div>
        <div class="clearfix"></div>
    <footer class="vertical-bottom footer_nosidebar" >
          {% include "gentelella/app/footer.html" %}
    </footer>
</div>

{% endblock %}