{% extends 'base_without_sidebar.html' %}
{% load static i18n %}
{% block title %}{% trans 'Password Reset' %}{% endblock %}
{% block body_class %}login{% endblock body_class %}


{% block content %}
<div class="row m-auto mt-5 mb-5 h-75">
    <div class="col"></div>
  <div class="col hp-75">

                <form method="post" action="{% url 'password_reset' %}">
                {% csrf_token %}
                    <input type="hidden" name="next" value="{{ next }}">
                    <h1>{% trans 'Reset password' %}</h1>
                    <div>
                        {% trans 'Please insert the user email registered in platform' %}
                        <br><br>
                    </div>
                    {{ form.as_p }}
                     <div>
                        {% trans 'We will send you a email to verify you are were you say you are' %}
                        <br><br>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-outline-success submit" >{% trans 'Send email' %}</button>
                    </div>
                    <div class="clearfix"></div>
                </form>
            </section>
        </div>
 <div class="col"></div>
</div>


{% endblock %}