{% extends 'base_without_sidebar.html' %}
{% load static i18n %}
{% block title %}{% trans 'Password change' %}{% endblock %}
{% block body_class %}login{% endblock body_class %}


{% block content %}
<div class="row">

    <div class="login_wrapper">
        <div class="animate form login_form">
            <div class="login_content">
{% if validlink %}

<form method="post" action="">

  {% csrf_token %} 
  {{ form.as_p }}

  <input  class="btn btn-success" type="submit" value="{% trans 'Submit' %}" />
</form>

{% else %}

<p>{% trans "Password reset failed" %}</p>

{% endif %}
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
{% endblock %}
