{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans 'Reset password' %}{% endblock %}
{% block content_title %}<h1 align="center">{% trans 'Reset password' %}</h1>{% endblock %}

{% block content %}
  </br>
  <div class="row">
    <p align="center">
      {% trans "We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly." %}
    </p>
  </br>
    <p align="center">
      {% trans "If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder." %}
    </p>
    <center>
    <a href="/" class="btn btn-success btn-large text-center"> Inicio </a> </center>
    
  </div>
{% endblock %}
