{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans 'Reset password' %}{% endblock %}

{% block content %}

  <div class="row">
      <div class="col-md-offset-4 col-md-4">
        {% if validlink %}
          <div class="page-header" align="center"><h2>{% trans "Change password" %}</h2></div>

          <form method="post">
                {% csrf_token %}

                {{ form.new_password1.errors }}
                <label for="{{ form.new_password1.id_for_label }}" class="sr-only">{{ form.new_password1.name }}</label>
                <input type="password" id="{{ form.new_password1.id_for_label }}" name="{{ form.new_password1.name }}"
                       class="form-control"
                       placeholder="{% trans "Password" %}" />
                <br/>

                {{ form.new_password2.errors }}
                <label for="{{ form.new_password2.id_for_label }}" class="sr-only">{{ form.new_password2.name }}</label>
                <input type="password" id="{{ form.new_password2.id_for_label }}" name="{{ form.new_password2.name }}"
                       class="form-control"
                       placeholder="{% trans "Password confirm" %}" />
                <br/>

                <button class="btn btn-lg btn-primary btn-block" type="submit">{% trans "Change password" %}</button>
            </form>

        {% else %}
          <p>
            
            {% trans 'The password reset link was invalid, possibly because it has already been used.
            Please request a new password reset.' %}

          </p>
        {% endif %}
        <br>
      </div>
  </div>

{% endblock %}
