{% load i18n %}{% autoescape off %}
{% blocktrans %}
You're receiving this email because you requested a password reset for your user account at Organilab.

Please go to the following page and choose a new password:
{% endblocktrans %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'laboratory:password_reset_confirm' uidb64=uid token=token %}
{% endblock %}

{% trans "Your username, in case you've forgotten:" %} {{ user.get_username }}
{% blocktrans %}
If clicking the link above doesn't work, please copy and paste the URL in a new browser
window instead.

Thanks for using Organilab!

Sincerely,{% endblocktrans %}
<a href="https://solvosoft.com" target="_blak">Solvosoft</a>

{% endautoescape %}
