{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans 'Reset password' %}{% endblock %}

{% block content %}

  <div class="row">
      <div class="col-md-offset-4 col-md-4">
          <div class="page-header" align="center"><h2>{% trans "Forgot password" %}</h2></div>
          <form method="post" action="{% url 'laboratory:password_reset' %}">
              {% csrf_token %}

              {{ form.email.errors }}
              <label for="{{ form.email.id_for_label }}" class="sr-only">{{ form.email.name }}</label>
              <input type="text" id="{{ form.email.id_for_label }}" name="{{ form.email.name }}"
                     class="form-control"
                     placeholder="E-mail" autofocus/>
              <br/>

              <button class="btn btn-lg btn-primary btn-block" type="submit">{% trans "Submit" %}</button>
          </form>
          <br>
      </div>
  </div>

{% endblock %}
